{% extends 'salah_admin/base.html' %}
{% load staticfiles %}
{% load html_tags %}

{% block title %}
    Teams
{% endblock %}

{% block braed %}
    <div class="breadcrumb-label text-light-gray">You are here:</div>
    <li><a href="#">Users</a></li>
    <li class="active"><a href="#">Edit</a></li>
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
                        <p>{{ message }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <div class="row">
        {% for key, itemsArr in items.items %}
            <div class="col-sm-10 col-sm-offset-1">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-horizontal" role="form" enctype="multipart/form-data"
                              method="POST" action="{% url 'admin-salah-post-update' key.id %}">
                            {% csrf_token %}
                            <!-- Rank -->
                            <legend>League {{ key }}</legend>
                            {% for item in itemsArr %}
                                <div class="form-group">
                                <label class="col-md-4 control-label">
                                    {{ item.key }}
                                </label>

                                <div class="col-md-6">
                                    <input step="0.1" type="number" placeholder="{{ item.key }}"
                                           class="form-control" name="{{ item.key }}"
                                           value="{{ item.val }}">
                                </div>
                            </div>
                            {% endfor %}

                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-4">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-btn fa-check"></i>Update
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}