
@font-face {
    font-family: UniSansLight;
    src: url(../fonts/UniSansLight.ttf);
}
@font-face {
    font-family: UniSansHeavy;
    src: url(../fonts/UniSansHeavy.ttf);
}
@font-face {
    font-family: UniSansThin;
    src: url(../fonts/UniSansThin.ttf);
}
@font-face {
    font-family: UniSansSemiBold;
    src: url(../fonts/UniSansSemiBold.ttf);
}
@font-face {
    font-family: UniSans;
    src: url(../fonts/UniSans.ttf);
}
@font-face {
    font-family: UniSansItalic;
    src: url(../fonts/UniSansItalic.ttf);
}
@font-face {
    font-family: UniSansBold;
    src: url(../fonts/UniSansBold.ttf);
}
@font-face {
    font-family: UniSansBoldItalic;
    src: url(../fonts/UniSansBoldItalic.ttf);
}
@font-face {
    font-family: UniSansLightItalic;
    src: url(../fonts/UniSansLightItalic.ttf);
}
.UniSansLight{
	font-family: 'UniSansLight';
}
.UniSansHeavy{
	font-family: 'UniSansHeavy';
}
.UniSansThin{
	font-family: 'UniSansThin';
}
.UniSansSemiBold{
	font-family: 'UniSansSemiBold';
}
.UniSans{
	font-family: 'UniSans';
}
.white{
	color: #fff;
}
.watch-now{
    color: #fff;
    font-family: 'UniSansSemiBold';
    font-size: 15px;
    background-color: #9b59b6;
    border-color: #9b59b6;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 1px;
    padding: 11px 38px 9px 38px;
}
.watch-now img{
	margin-right: 3px;
}
.watch-now:hover,
.watch-now:active,
.watch-now:focus{
	color: #fff;
	background-color: #793a93;
	border-color: #793a93;
	outline: none;
}

.watched-it{
	margin-top: 10px;
    color: #413812;
    font-family: 'UniSansSemiBold';
    font-size: 15px;
    background-color: #f1c40f;
    border-color: #f1c40f;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 1px;
    padding: 11px 38px 9px 38px;
}
.watched-it:hover,
.watched-it:active,
.watched-it:focus{
	color: #413812;
	background-color: #bd9907;
	border-color: #bd9907;
	outline: none;
}
.btn-watch{
	margin-top: 10px;
    color: #fff;
    font-family: 'UniSansSemiBold';
    font-size: 15px;
    background-color: transparent;
    border-color: transparent;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 1px;
    padding: 0 0;
}
.btn-watch img{
	margin-right: 3px;
}
.btn-watch:hover,
.btn-watch:active,
.btn-watch:focus{
	color: #fff;
	background-color: transparent;
	border-color: transparent;
	outline: none;
}
.watch-later{
	margin-top: 10px;
    color: #fff;
    font-family: 'UniSansSemiBold';
    font-size: 15px;
    background-color: transparent;
    border-color: #f1c40f;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 1px;
    padding: 11px 38px 9px 38px;
}
.watch-later img{
	margin-right: 3px;
}
.watch-later:hover,
.watch-later:active,
.watch-later:focus{
	color: #fff;
	background-color: rgba(241,196,15,0.1);
    border-color: #f1c40f;
    outline: none;
}

.btn-default{
	color: #fff;
    font-family: 'UniSansSemiBold';
    font-size: 17px;
    background-color: #9b59b6;
    border-color: #9b59b6;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 1px;
}
.btn-default:hover,
.btn-default:active,
.btn-default:focus{
	color: #fff;
	background-color: #793a93;
	border-color: #793a93;
	outline: none;
}
.btn-followed{
	color: #221c03;
    font-family: 'UniSansSemiBold';
    font-size: 17px;
    background-color: #f1c40f;
    border-color: #f1c40f;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 1px;
}
.btn-followed:hover,
.btn-followed:active,
.btn-followed:focus{
	color: #221c03;
	background-color: #f1c40f;
	border-color: #f1c40f;
	outline: none;
}

.btn-facebook{
    color: #fff;
    font-family: 'UniSans';
    font-size: 14px;
    background-color: #3b5998;
    border-color: #3b5998;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 1px;
    padding: 9px 40px;
}
.btn-facebook:hover,
.btn-facebook:active,
.btn-facebook:focus{
	color: #fff;
	background-color: #2a4680;
	border-color: #2a4680;
	outline: none;
}
.c-rating__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 24px;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 24px;
  background: url("../images/stars.svg");
  background-position: 0 0;
  cursor: pointer;
}

.movie-name{
	font-family: 'UniSansHeavy';
	font-size: 34px;
	text-transform: uppercase;
	color: #fff;
}
.movie-name a{
	color: #fff;
	text-decoration: none;
}
.movie-year{
	font-family: 'UniSans';
	font-size: 24px;
	color: #fff;
}
.movie-description{
	font-family: 'UniSansLight';
	font-size: 16px;
	color: #fff;
	margin-bottom: 40px;
}
.movie-time{
	font-family: 'UniSansItalic';
	font-size: 14px;
	color: #fff;
}
.clear{
	clear: both;
}
.movies a{
	text-decoration: none;
}
.movies .thumbnail{
	background-color: transparent;
    padding: 0;
    border: none;
}
.movies .thumbnail img{
    width: 165px;
    height: 239px;
	border: 4px solid #ac85b5;
}
.movies .thumbnail .movie-name{
	font-size: 17px;
	text-align: center;
	margin: 0;
}
.movies .thumbnail .movie-year{
	font-size: 18px;
	text-align: center;
}
.fixed{
	position: fixed;
	top: 0;
}
.tag{
	list-style-type: none;
    margin-top: 10px;
    padding: 0;
}
.tag li{
	font-family: 'UniSansLightItalic';
    font-size: 18px;
    color: #fff;
    background-color: #9b59b6;
    padding: 3px 10px 2px 10px;
    border-radius: 39px;
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 4px;
}
.tag li span a{
	color: #fff;
}


/* ========= Header =========*/
header .container{
	padding-top: 10px;
}
header .navbar-default{
	background-color: transparent;
	border: none;
	border-radius: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}
header .navbar{

}
header .navbar-brand{
	height: auto;
	padding: 0;
}
header .navbar-brand img{

}
header .navbar-default .navbar-form{
	margin-left: 250px;
}
header.logged .navbar-default .navbar-form{
	margin-left: 196px;
}
header .navbar-default .navbar-form input[type='search']{
	background: transparent url(../images/Search.png) no-repeat right 13px center;
	background-size: 18px 18px;
	border-color: #bf95c8;
	padding: 6px 35px 6px 12px;
	border-radius: 35px;
	font-family: 'UniSansLight';
	font-size: 16px;
	color: #fff;
	width: 250px;
}
header .navbar-default .navbar-nav{

}
header .navbar-default .navbar-nav>li>a{
	font-family: 'UniSansLight';
	font-size: 19px;
	color: #fff;
	padding: 15px 30px;
}
header .navbar-default .navbar-nav>li>a:hover,
header .navbar-default .navbar-nav>li>a:focus{
	color: #9b59b6;
}
header .navbar-default .navbar-nav>li.active>a{
	background-color: transparent;
	color: #9b59b6;
}
header .navbar-default .navbar-nav>li.active>a:hover,
header .navbar-default .navbar-nav>li.active>a:focus,
header .navbar-default .navbar-nav>li.active>a:visited{
	background-color: transparent;
	color: #9b59b6;
}

header .navbar-default .navbar-nav.navbar-right>li>a{
	font-family: 'UniSansHeavy';
	font-size: 19px;
	color: #9b59b6;
}
header .navbar-default .navbar-nav>.open>a, 
header .navbar-default .navbar-nav>.open>a:focus, 
header .navbar-default .navbar-nav>.open>a:hover{
	color: #9b59b6;
	background-color: transparent;
}
header #notification{
	left: 50%;
    right: auto;
    transform: translate(-50%, 0);
    padding: 0;
    background-color: #23112b;
}
.new-notification{
    width: 10px;
    height: 10px;
    background-color: #9B59B6;
    display: inline-block;
    border-radius: 70%;
    position: absolute;
    left: 41px;
    top: 13px;
}
header #notification.dropdown-menu>li>a{
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
}
header #notification.dropdown-menu>li.media{
    height: 87px;
}
header #notification.dropdown-menu>li>a .profile{
    padding-top: 25px;
}
header #notification.dropdown-menu>li>a .profile .media-object{
    overflow: hidden;
    border-radius: 70%;
    width: 36px;
    height: 36px;
    border: 2px solid #fff;
}
header #notification.dropdown-menu>li>a .media-body{
	padding-top: 23px;
}
header #notification.dropdown-menu>li>a .media-body h4{
	color: #fff;
	font-family: 'UniSansHeavy';
	font-size: 16px;
}
header #notification.dropdown-menu>li>a .media-body p{
	color: #fff;
	font-family: 'UniSansLight';
	font-size: 18px;
}
header #notification.dropdown-menu>li>a .media-body p span{
	font-family: 'UniSansHeavy';
}
header #notification.dropdown-menu>li{
	border-bottom: 1px solid #793a93; 
	margin-top: 0;
}
header #notification.dropdown-menu>li:last-child{
	border-bottom: none;
}
header #notification.dropdown-menu>li>a:focus, 
header #notification.dropdown-menu>li>a:hover{
	background-color: transparent;
}
header #notification.dropdown-menu>li>a .movie .media-object{
	width: 56px;
	height: 86px;
}
header #profile{
    width: 210px;
}
header #profile > a{
	padding-top: 7px;
	padding-bottom: 7px;
}
header #profile .media-object{
    overflow: hidden;
    width: 35px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 30px;
}
header #profile .media-body h4{
    color: #fff;
    font-family: 'UniSansHeavy';
    font-size: 16px;
    margin-top: 10px;
}
header #profile ul.dropdown-menu{
	left: 50%;
    right: auto;
    transform: translate(-50%, 0);
    padding: 0;
    background-color: rgba(0,0,0,0.5);
}
header #profile ul.dropdown-menu>li>a{
    font-family: 'UniSansLight';
    font-size: 16px;
    color: #fff;
    text-align: center;
    padding: 9px 0px;
}
header #profile ul.dropdown-menu>li>a:focus, 
header #profile ul.dropdown-menu>li>a:hover{
	color: #ab64c8;
	background-color: transparent;
}

/* ========= /Header =========*/


/* ========= footer =========*/
footer{
	background-color: #1f0e22;
	padding: 50px 0 0px 0;
}
footer .bottom{
	width: 100%;
	height: 40px;
	background-color: #150918;
}
footer h3{
	font-family: 'UniSansBold';
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
}
footer p{
	font-family: 'UniSansLight';
	font-size: 18px;
	color: #fff;
}
footer #mobile{
    position: absolute;
    top: -125px;
    right: 0;
}
footer .r1{
	padding: 23px 0 45px 0;
}
footer .r2{
	padding: 30px 0;
}
footer .hr{

}
footer .hr hr{
	border-color: #793a93;
}
footer ul{
	list-style-type: none;
	padding: 0;
}
footer li{
	padding: 5px 0; 
}
footer li a{
	font-family: 'UniSansLight';
	font-size: 14px;
	color: #fff;
}
footer li a:hover,
footer li a:active,
footer li a:focus,
footer li.active a{
	color: #793a93;
}
footer ul.social{
	padding-top: 10px;
}
footer ul.social li{
	display: inline-block;
	margin-right: 10px;
	padding: 0;
}
footer ul.social li a{
	color: #26122b;
    display: block;
    background-color: #793a93;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 20px;
    padding: 2px;
    font-size: 16px;
}
/* ========= /footer =========*/

/* ========= intro =========*/
#intro{
	padding-top: 80px;
	background: #9b59b6 url(../images/BG.png) no-repeat;
	background-size: 100% 100%;
	/*height: 768px;*/
	min-height: 100vh;
}
#intro .map{
	padding-top: 120px;
}
#intro .map img{
	width: 100%;
}
#intro .map p{
    font-size: 17px;
    margin-top: 20px;
}
#intro .login{
	background: rgba(189, 101, 207, 0.2);
	padding: 20px 50px;
}
#intro .login h2{
	font-family: 'UniSansLight';
	font-size: 43px;
	color: #fff;
	margin-bottom: 30px;
}
#intro .login input{
	font-family: 'UniSansLight';
	font-size: 16px;
	color: #cda1d6;	
	-webkit-box-shadow: none;
    box-shadow: none;
}
#intro .login input:focus{
	outline: none;
	-webkit-box-shadow: none;
    box-shadow: none;
}
#intro .login .email{
	background: transparent url(../images/E-mail.png) no-repeat left 4px center;
    background-size: 18px 18px;
    border: none;
    padding: 6px 12px 6px 28px;
}
#intro .login .password{
	background: transparent url(../images/Password.png) no-repeat left 4px center;
    background-size: 18px 18px;
    border: none;
    padding: 6px 12px 6px 28px;
}
#intro .login .forget a{
	font-family: 'UniSansThin';
	font-size: 15px;
	color: #fff;
	opacity: 0.5;
}
#intro .login button[type='submit']{
	padding: 12px 66px 10px 66px;
	margin: 10px 0;
}

#intro .login .dont{
	font-family: 'UniSansThin';
	font-size: 17px;
	color: #fff;
	margin-bottom: 40px;
}
#intro .login .dont a{
	font-family: 'UniSansSemiBold';
	color: #fff;
}

/* ========= sign up =========*/

#intro .signup{
    background: rgba(189, 101, 207, 0.2);
    padding-top: 20px;
    padding-bottom: 20px;
}
#intro .signup h2{
	font-family: 'UniSansLight';
	font-size: 43px;
	color: #fff;
	margin-bottom: 30px;
}
.lh{
	width: 100%;
	margin-top: -16px;
}
#intro .signup input{
	font-family: 'UniSansLight';
	font-size: 16px;
	color: #cda1d6;	
	-webkit-box-shadow: none;
    box-shadow: none;
}
#intro .signup input:focus{
	outline: none;
	-webkit-box-shadow: none;
    box-shadow: none;
}
#intro .signup .name{
	background: transparent url(../images/First-name.png) no-repeat left 4px center;
    background-size: 16px 16px;
    border: none;
    padding: 6px 12px 6px 28px;
}

#intro .signup .email{
	background: transparent url(../images/E-mail.png) no-repeat left 4px center;
    background-size: 17px 12px;
    border: none;
    padding: 6px 12px 6px 28px;
}
#intro .signup .username{
	background: transparent url(../images/Username.png) no-repeat left 4px center;
    background-size: 14px 15px;
    border: none;
    padding: 6px 12px 6px 28px;
}
#intro .signup .password{
	background: transparent url(../images/Password.png) no-repeat left 4px center;
    background-size: 16px 16px;
    border: none;
    padding: 6px 12px 6px 28px;
}
#intro .signup .date{
	background: transparent url(../images/Date-of-birth.png) no-repeat left 4px center;
    background-size: 16px 16px;
    border: none;
    padding: 6px 12px 6px 28px;
}
#intro .signup button[type='submit']{
	padding: 9px 23px 7px 23px;
}
#intro .signup .back{
	color: #fff;
	font-family: 'UniSansLight';
	font-size: 17px;
}
#intro .signup .back a{
	color: #fff;
	font-family: 'UniSansSemiBold';
}
#intro .login .back{
	margin-top: 50px;
}
#intro .login .back a{
	color: #fff;
	font-family: 'UniSansLight';
	font-size: 17px;
}

/* ========= /intro =========*/
#body{
	/*padding-top: 80px;*/
	background: #9b59b6 url(../images/body.png) no-repeat;
	background-size: 100% 100%;
	/*min-height: 400vh;*/
	padding-bottom: 100px;

	-webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}


/* ========= Home =========*/

/* ========= suggestBtn =========*/
#suggestBtn{
	padding: 160px 0 80px 0;
}
#suggestBtn h6{
	font-family: 'UniSansHeavy';
	font-size: 20px;
	color: #9b58b6;
}
#suggestBtn h4{
	font-family: 'UniSansHeavy';
	font-size: 36px;
	color: #fff;
	text-transform: uppercase;
}
#suggestBtn p{
	font-family: 'UniSans';
	font-size: 16px;
	color: #fff;
}
#suggestBtn .media-body{
    padding-left: 25px;
    padding-top: 50px;
}

/* ========= suggested =========*/
#suggested{
	/*background: #9b59b6 url(../images/Layer-7.png) no-repeat;
	background-size: 100% 100%;*/
	padding: 150px 0;
	position: relative;
}
#suggested .left img{
    width: 210px;
    height: 330px;
}
#movie-cover{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0.3;
}
#suggested .movie-name{
	font-family: 'UniSansHeavy';
	font-size: 34px;
	text-transform: uppercase;
	color: #fff;
}
#suggested .movie-year{
	font-family: 'UniSans';
	font-size: 24px;
	color: #fff;
}
#suggested .movie-description{
	font-family: 'UniSansLight';
	font-size: 16px;
	color: #fff;
	margin-bottom: 40px;
}
#suggested .movie-time{
	font-family: 'UniSansItalic';
	font-size: 14px;
	color: #fff;
}
#suggested .right{
    text-align: center;
    padding-top: 40px;
}


/* ========= featured =========*/

#featured{

}
#featured h1{
	font-family: 'UniSansBold';
    font-size: 34px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
    margin-left: -10px;
}
#featured .cell-1{
	padding: 0 5px;
	overflow: hidden;
    margin-bottom: 10px;
}
#featured .cell-1 img{
    width: 477px;
    height: 604px;
}
#featured .cell-2{
	padding: 0 5px;
	margin-bottom: 10px;
	overflow: hidden;
}
#featured .cell-2 img{
    width: 672px;
    height: 299px;
}
#featured .cell-3{
	padding: 0 5px;
	overflow: hidden;
    margin-bottom: 10px;
}
#featured .cell-3 img{
    width: 331px;
    height: 295px;
}
#featured .cell-4{
	padding: 0 5px;
	overflow: hidden;
    margin-bottom: 10px;
}
#featured .cell-4 img{
    width: 331px;
    height: 295px;
}
#featured .hover-layer{
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    top: 0;
    left: 0;
    margin: 0 5px;
    width: 477px;
    height: 604px;
}
.hover-rating{
    position: absolute;
    top: 160px;
    left: 206px;
	width: 95px;
	height: 95px;
	opacity: 0;
}
#featured .bottom-bar{
    padding: 0 25px;
    position: absolute;
    bottom: 0;
    width: 100%;
	background: -moz-linear-gradient(bottom, rgba(0,0,0,0.65) 12%, rgba(0,0,0,0.15) 80%, rgba(0,0,0,0.03) 96%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.65) 12%,rgba(0,0,0,0.15) 80%,rgba(0,0,0,0.03) 96%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to top, rgba(0,0,0,0.65) 12%,rgba(0,0,0,0.15) 80%,rgba(0,0,0,0.03) 96%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#featured .cell-1 .movie-name{
	font-size: 28px;
}
#featured .cell-1 .movie-year{
	font-size: 23px;
	float: right;
}
#featured .cell-2 .hover-rating{
    width: 75px;
    height: 75px;
    top: 40px;
    left: 304px;
}
#featured .cell-2 .hover-layer{
	width: 672px;
    height: 299px;
}

#featured .cell-2 .movie-name{
	font-size: 28px;
}
#featured .cell-2 .movie-year{
	font-size: 23px;
	float: right;
}
#featured .cell-3 .hover-layer,
#featured .cell-4 .hover-layer{
	width: 331px;
    height: 295px;
}
#featured .cell-3 .movie-name,
#featured .cell-4 .movie-name{
	font-size: 28px;
	text-align: center;
}
#featured .cell-3 .movie-time,
#featured .cell-4 .movie-time{
	text-align: center;
}
#featured .cell-3 .movie-year,
#featured .cell-4 .movie-year{
	font-size: 23px;
	text-align: center;
}
#featured .cell-3 .hover-rating,
#featured .cell-4 .hover-rating{
	width: 75px;
    height: 75px;
    top: 43px;
    left: 140px;
}

#featured .hover-layer,
#featured .movie-time,
#featured .movie-description{
	display: none;
}
#featured .cell-1:hover .hover-rating{
	opacity: 1;
    transition: 0.5s;
}
#featured .cell-1:hover .hover-layer,
#featured .cell-1:hover .movie-time,
#featured .cell-1:hover .movie-description{
	display: block;
	transition: 0.5s;
}

#featured .cell-2:hover .hover-rating{
	opacity: 1;
    transition: 0.5s;
}
#featured .cell-2:hover .hover-layer,
#featured .cell-2:hover .movie-time,
#featured .cell-2:hover .movie-description{
	display: block;
	transition: 0.5s;
}

#featured .cell-3:hover .hover-rating,
#featured .cell-4:hover .hover-rating{
	opacity: 1;
    transition: 0.5s;
}
#featured .cell-3:hover .hover-layer,
#featured .cell-3:hover .movie-time,
#featured .cell-3:hover .movie-description,
#featured .cell-4:hover .hover-layer,
#featured .cell-4:hover .movie-time,
#featured .cell-4:hover .movie-description{
	display: block;
	transition: 0.5s;
}


/* ========= top-week =========*/

#top-week{
	padding: 50px 0;
}
#top-week .container > .row{
	background-color: rgba(0, 0, 0, 0.2);
    margin-right: -10px;
    margin-left: -10px;
}
#top-week .left{
	padding: 0;
}
#top-week .left img{
    width: 386px;
    height: 412px;
}
#top-week h1{
	font-family: 'UniSansHeavy';
	font-size: 38px;
	color: #f1c40f;
	text-transform: uppercase;
}
#top-week .movie-name{
	font-size: 25px;
}
#top-week .right{
	padding: 0 40px;
}
#top-week .watch-now{
	margin-top: 10px;
}


/* ========= comming-soon =========*/
#comming-soon{
	padding: 20px 0;
}
#comming-soon .container > .row{
	margin-right: -10px;
    margin-left: -10px;
    position: relative;
}
#comming-soon img{
    width: 1160px;
    height: 478px;
}
#comming-soon h1{
	font-family: 'UniSansBold';
	font-size: 25px;
	color: #fff;
	text-transform: uppercase;
}
#comming-soon .bottom-bar{
	position: absolute;
    bottom: 0;
    width: 100%;
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0.65) 12%, rgba(0,0,0,0.15) 80%, rgba(0,0,0,0.03) 96%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.65) 12%,rgba(0,0,0,0.15) 80%,rgba(0,0,0,0.03) 96%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to top, rgba(0,0,0,0.65) 12%,rgba(0,0,0,0.15) 80%,rgba(0,0,0,0.03) 96%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#comming-soon .bottom-bar h3{
	font-family: 'UniSansBold';
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}
#comming-soon .bottom-bar p{
	font-family: 'UniSansLight';
	font-size: 18px;
	color: #fff;
	text-align: center;
}

/* ========= /Home =========*/

/* ========= PopUps =========*/

/* ========= watch-now =========*/
#watch-now .modal-content{
	border-radius: 0;
	background-color: #412a40;
	text-align: center;
	padding: 20px 0;
}
#watch-now .modal-content h3{
	font-family: 'UniSansBold';
	font-size: 25px;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 50px;
}
#watch-now .modal-content ul{
	list-style-type: none;
	padding: 0;
}
#watch-now .modal-content li{
	display: inline-block;
}
#watch-now .modal-content li a{
	font-family: 'UniSans';
	font-size: 17px;
	color: #fff;
	text-align: center;
	padding: 0 20px;
	display: block;
	text-align: center;
}
#watch-now .modal-content li a:hover,
#watch-now .modal-content li a:active,
#watch-now .modal-content li a:focus{
	color: #9b59b6;
	text-decoration: none;
}
#watch-now .modal-content li a p{
	margin-top: 10px;
}
#watch-now .modal-footer{
	border: none;
	text-align: center;
}
#watch-now .modal-footer button{
	padding: 9px 24px 8px 24px;
    font-size: 14px;
}
#watch-now .modal-footer button i{
	font-size: 18px;
}

/* ========= trailer =========*/
#trailer .modal-content{
	border-radius: 0;
	background-color: #412a40;
	padding: 20px;
}
#trailer .modal-content .media-object{
	width: 59px;
	height: 93px;
}
#trailer .modal-content canvas{
	height: 90px!important;
	width: 90px!important;
    margin: 0 auto;
    display: block;
}
#trailer .modal-content .btn-default{
    padding: 10px 38px;
    margin: 26px auto 0 auto;
    display: block;
}
#trailer .modal-header{
	border-color: #9b59b6;
}
#trailer .modal-body iframe{
	max-width: 100%;
	margin: 0 auto;
	display: block;
}

/* ========= review =========*/

#review .modal-content{
	border-radius: 0;
	background-color: #412a40;
	padding: 20px;
}
#review .modal-content h3{
	font-family: 'UniSansSemiBold';
	font-size: 25px;
	color: #fff;
    text-align: center;
    letter-spacing: 1px;
}
#review .modal-content #stars{
	color: #fff;
	margin: 0 0 30px 0;
}
#review .modal-content #stars #rateYo{
	display: block;
	margin: 0 auto;
}
#review .modal-content .title{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    font-family: 'UniSansLightItalic';
    color: #7b5879;
    padding: 6px 12px;
    font-size: 18px;
}
#review .modal-content textarea{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    font-family: 'UniSansLightItalic';
    color: #7b5879;
    padding: 6px 12px;
    font-size: 18px;
    max-width: 100%;
}
#review .modal-content .text{
	background-color: #3a2539;
    padding: 20px 20px;
}
#review .modal-content .sub{
	text-align: center;
	margin-top: 20px;
}
#review .modal-content .sub button{
	padding: 12px 40px 10px 40px;
}
#review .modal-content .canc{
	text-align: center;
	margin-top: 40px;
}
#review .modal-content .canc a{
	font-family: 'UniSansSemiBold';
	font-size: 17px;
	color: #fff;
    text-transform: uppercase;
}


/* ========= recommend =========*/
#recommend .modal-content{
	border-radius: 0;
	background-color: #412a40;
	padding: 20px;
}
#recommend .modal-content h3{
	font-family: 'UniSansSemiBold';
	font-size: 25px;
	color: #fff;
    text-align: center;
    letter-spacing: 1px;
}

#recommend .modal-content .sub{
	text-align: center;
	margin-top: 20px;
}
#recommend .modal-content .sub button{
	padding: 12px 40px 10px 40px;
}
#recommend .modal-content .canc{
	text-align: center;
	margin-top: 40px;
}
#recommend .modal-content .canc a{
	font-family: 'UniSansSemiBold';
	font-size: 17px;
	color: #fff;
    text-transform: uppercase;
}

#recommend .media .media-object{
	width: 44px;
	height: 44px;
    border: 2px solid #fff;
    border-radius: 31px;
    overflow: hidden;
}
#recommend .media .media-body h4{
	font-family: 'UniSansHeavy';
	font-size: 20px;
	color: #fff;
	padding-top: 10px;
}
#recommend .media .media-body h4 a{
	color: #fff;
	text-decoration: none;
}

#recommend .control {
	font-size: 18px;
	position: relative;
	display: block;
	margin-bottom: 15px;
	padding-left: 30px;
	cursor: pointer;
}

.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.control__indicator {
	position: absolute;
	top: 10px;
	left: 0;
	width: 20px;
	height: 20px;
    background: transparent;
    border: 2px solid #b56db2;
}

.control--radio .control__indicator {
	border-radius: 50%;
}
/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
	background: transparent;
}

/* Checked state */
.control input:checked ~ .control__indicator {
	background: #b56db2;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
	background: #b56db2;
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
	pointer-events: none;
	opacity: .6;
	background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
	display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
	top: 4px;
	left: 8px;
	width: 3px;
	height: 8px;
	transform: rotate(45deg);
	border: solid #412a40;
	border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
	border-color: #7b7b7b;
}

/* ========= share =========*/

#share .modal-content{
	border-radius: 0;
	background-color: #412a40;
	padding: 20px;
}
#share .modal-content h3{
	font-family: 'UniSansSemiBold';
	font-size: 25px;
	color: #fff;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
#share .modal-content .text{
	background-color: #3a2539;
    padding: 20px 20px;
}
#share .modal-content .sub{
	text-align: center;
	margin-top: 20px;
}
#share .modal-content .sub button{
	padding: 12px 40px 10px 40px;
}
#share .modal-content .canc{
	text-align: center;
	margin-top: 40px;
}
#share .modal-content .canc a{
	font-family: 'UniSansSemiBold';
	font-size: 17px;
	color: #fff;
    text-transform: uppercase;
}
#share .media a{
	text-decoration: none;
}
#share .media .media-body h4{
	font-family: 'UniSans';
	font-size: 18px;
	color: #fff;
	padding-top: 10px;
	text-transform: uppercase;
}
#share .media .object.facebook{
    width: 70px;
    height: 70px;
    padding: 22px 27px;
    background-color: #3b5998;
    color: #fff;
    border-radius: 38px;
}
#share .media .object.twitter{
    width: 70px;
    height: 70px;
    padding: 22px 22px;
    background-color: #55acee;
    color: #fff;
    border-radius: 38px;
}


/* ========= /PopUps =========*/

/* ========= SEARCH =========*/
#search{
    padding: 160px 0 80px 0;
}
#search .top-search{

}
#search .top-search input{
	background: transparent url(../images/Search.png) no-repeat right 13px center;
	background-size: 18px 18px;
	border-color: #bf95c8;
	padding: 6px 35px 6px 12px;
	border-radius: 35px;
	font-family: 'UniSansLight';
	font-size: 16px;
	color: #fff;
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
}
#search .search-field{
	text-align: center;
}
#search .search-field label{
	font-family: 'UniSans';
	font-size: 18px;
	color: #fff;
	letter-spacing: 1px;
}
#search .search-field label img{
	margin-right: 5px;
}
#search .search-field input{
	background-color: transparent;
	border-color: #bf95c8;
	padding:6px 12px;
	border-radius: 35px;
	font-family: 'UniSansLight';
	font-size: 16px;
	color: #fff;
	-webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
}
#search .search-field textarea{
	display: none;
}
#search .search-field ul{
	margin-top: 10px;
	background-color: transparent;
	border: none;
}
#search .search-field ul .tag-editor-tag{
	background-color: #9b59b6;
    border-radius: 22px 0 0 22px;
    font-family: 'UniSansLightItalic';
    color: #fff;
    font-size: 18px;
    padding: 5px 4px 3px 10px;
}
#search .search-field ul .tag-editor-delete{
	background-color: #9b59b6;
    border-radius: 0 22px 22px 0;
    font-family: 'UniSansLightItalic';
    color: #fff;
    font-size: 18px;
    padding: 5px 10px 3px 0px;
}
#search .search-field .tag-editor .tag-editor-delete i:before{
	font-family: 'UniSansLightItalic';
    color: #fff;
    font-size: 18px;
}
#search .movies a{
	text-decoration: none;
}
#search .movies .thumbnail{
	background-color: transparent;
    padding: 0;
    border: none;
}
#search .movies .thumbnail img{
    width: 165px;
    height: 239px;
	border: 4px solid #ac85b5;
}
#search .movies .thumbnail .movie-name{
	font-size: 17px;
	text-align: center;
	margin: 0;
}
#search .movies .thumbnail .movie-year{
	font-size: 18px;
	text-align: center;
}


/* ========= /SEARCH =========*/

/* ========= MOVIE =========*/

/* ========= top-movie =========*/
#top-movie{
	padding: 120px 0;
	position: relative;
	overflow: hidden;
}

#top-movie .right1{
	text-align: right;
}
#top-movie .right1 p {
    margin-right: 20px;
}
#top-movie .left2 img{
	width: 255px;
	height: 401px;
}
#top-movie .movie-description {
    font-family: 'UniSans';
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.pg{
	font-family: 'UniSans';
    font-size: 18px;
    color: #fff;
    display: inline-block;
    border: 2px solid #fff;
    padding: 6px 15px 5px 15px;
    border-radius: 22px;
}
.pg a{
	color: #fff;
	text-decoration: none;
}
#top-movie .movie-name{
	font-family: 'UniSansBold'
}
#top-movie .movie-year{
	font-family: 'UniSansLight';
	margin-bottom: 0;
}
.genres{
	list-style-type: none;
	margin-bottom: 30px;
	padding: 0;
}
.genres li{
	display: inline-block;
}
.genres li a{
    display: block;
    font-family: 'UniSansLightItalic';
    font-size: 17px;
    color: #fff;
    background-color: #3b3b3b;
    text-decoration: none;
    padding: 4px 10px 3px 10px;
    border-radius: 24px;
}
#top-movie .right2{
	text-align: center;
}
#top-movie .avg{
	margin-top: 10px;
}
.avg, .reviews{
	font-family: 'UniSansSemiBold';
	font-size: 16px;
	color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.avg i{
	color: #f1c40f;
}

/* ========= body-movie =========*/

#body-movie{

}
#body-movie h2{
	font-family: 'UniSansBold';
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
}
#body-movie .Activity .ac{
	background-color: rgba(0, 0, 0, 0.3);
	padding: 20px 15px;
}
#body-movie hr{
	border-color: #9b59b6;
}

#body-movie .media .media-object{
	width: 44px;
	height: 44px;
    border: 2px solid #fff;
    border-radius: 31px;
    overflow: hidden;
}
#body-movie .media .media-body h4{
	font-family: 'UniSansHeavy';
	font-size: 16px;
	color: #fff;
}
#body-movie .media .media-body h4 a{
	color: #fff;
	text-decoration: none;
}
#body-movie .media .media-body p{
	font-family: 'UniSansLight';
	font-size: 16px;
	color: #fff;
}
#body-movie .media .media-body p span{
	font-family: 'UniSansHeavy';
	text-transform: uppercase;
}
#body-movie .media .avg{
    width: 65px;
    margin-top: 10px;
}
#body-movie .btn-default{
    margin: 10px auto 0 auto;
    padding: 11px 25px 10px 25px;
    font-size: 16px;
}
#body-movie .Reviews-movie .ac{
	background-color: rgba(0, 0, 0, 0.3);
	padding: 20px 30px;
}
#body-movie .Reviews-movie p.date{
	font-family: 'UniSansItalic';
	font-size: 14px;
	color: #fff;
	opacity: 0.3;
	letter-spacing: 2px;
}
#body-movie .Reviews-movie p{
	font-family: 'UniSansLight';
    font-size: 16px;
    color: #fff;
}

#body-movie .Reviews-movie .avg{
	margin-bottom: 4px;
}
.review-bar{
	list-style-type: none;
	padding: 0;
	text-align: right;
}
.review-bar li{
	display: inline-block;
	margin-left: 10px;
}
.review-bar li a{
	display: block;
	color: #633b61;
	text-decoration: none;
	font-size: 20px;
}
#body-movie .Reviews-movie .delete{
	font-family: 'UniSansBold';
	text-transform: uppercase;
}
#body-movie .Reviews-movie .delete span{
	font-family: 'UniSans';
	color: #633b61;
	float: right;
}
#body-movie .Reviews-movie .delete span a{
	text-decoration: none;
	font-family: 'UniSans';
	color: #633b61;
}

/* ========= Similars =========*/
#Similars{

}
#Similars h2{
	font-family: 'UniSansBold';
	font-size: 25px;
	color: #fff;
	text-transform: uppercase;
}
#Similars .map img{
	max-width: 100%;
    margin: 10px auto;
    display: block;
}


/* ========= /MOVIE =========*/

/* ========= PROFILE =========*/

/* ========= top-profile =========*/
#top-profile{
	padding: 130px 0 30px 0;
}
#top-profile p{
	font-family: 'UniSansSemiBold';
	font-size: 18px;
	color: #fff;
	text-align: center;
}
#top-profile .row p:first-child{
	margin-top: 40px;
}
#top-profile p.number{
	font-family: 'UniSansHeavy';
}
#top-profile img{
	width: 118px;
	height: 118px;
	display: block;
	margin: 0 auto;
    border: 3px solid #fff;
    border-radius: 70%;
}
#top-profile h2{
	font-family: 'UniSansHeavy';
	font-size: 20px;
	color: #fff;
	text-align: center;
}
#top-profile p.desctiption{
	font-family: 'UniSans';
}
#top-profile .btn-default{
	font-family: 'UniSansSemiBold';
	font-family: 16px;
	padding: 8px 27px;
}
#top-profile hr{
	border-color: #bf95c8;
	margin: 30px 0;
}
/* ========= bottom-profile =========*/

#bottom-profile, body{
	position: relative;
}
#bottom-profile h2{
	font-family: 'UniSansBold';
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 30px;
}
#bottom-profile .Activity .ac{
	background-color: rgba(0, 0, 0, 0.3);
	padding: 20px 15px;
}
#bottom-profile hr{
	border-color: #9b59b6;
    margin: 20px 20%;
}

#bottom-profile .media .media-object{
	width: 44px;
	height: 44px;
    border: 2px solid #fff;
    border-radius: 31px;
    overflow: hidden;
}
#bottom-profile .media .media-body h4{
	font-family: 'UniSansHeavy';
	font-size: 16px;
	color: #fff;
}
#bottom-profile .media .media-body h4 a{
	color: #fff;
	text-decoration: none;
}
#bottom-profile .media .media-body p{
	font-family: 'UniSansLight';
	font-size: 16px;
	color: #fff;
}
#bottom-profile .media .media-body p.title{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 5px;
}
#bottom-profile .media .media-body p span{
	font-family: 'UniSansHeavy';
	text-transform: uppercase;
}
#bottom-profile .media .avg{
    width: 65px;
    margin-top: 10px;
}
#bottom-profile .btn-default{
    margin: 10px auto 0 auto;
    padding: 11px 25px 10px 25px;
    font-size: 16px;
}
#bottom-profile .Reviews-movie .ac{
	background-color: rgba(0, 0, 0, 0.3);
	padding: 20px 30px;
	margin-bottom: 10px;
}
#bottom-profile .Reviews-movie p.date{
	font-family: 'UniSansItalic';
	font-size: 14px;
	color: #fff;
	opacity: 0.3;
	letter-spacing: 2px;
}
#bottom-profile .Reviews-movie p{
	font-family: 'UniSansLight';
    font-size: 16px;
    color: #fff;
}

#bottom-profile .Reviews-movie .avg{
	margin-bottom: 4px;
}

#bottom-profile .Reviews-movie .delete{
	font-family: 'UniSansBold';
	text-transform: uppercase;
}
#bottom-profile .Reviews-movie .delete span{
	font-family: 'UniSans';
	color: #633b61;
	float: right;
}
#bottom-profile .Reviews-movie .delete span a{
	text-decoration: none;
	font-family: 'UniSans';
	color: #633b61;
}

#bottom-profile .nav-tabs{
	border: none;
	margin-bottom: 40px;
}
#bottom-profile .nav-tabs li a{
	font-family: 'UniSansLightItalic';
	font-size: 16px;
	color: #fff;
	background-color: #9b59b6;
    border: none;
    border-radius: 37px;
    padding: 6px 20px 5px 20px;
}
#bottom-profile .nav-tabs>li{
	margin-right: 5px;
	margin-bottom: 5px;
}
#bottom-profile .nav-tabs>li>a:focus, 
#bottom-profile .nav-tabs>li>a:hover{
	background-color: #f1c40f;
	color: #181403;
}
#bottom-profile .nav-tabs>li.active>a, 
#bottom-profile .nav-tabs>li.active>a:focus, 
#bottom-profile .nav-tabs>li.active>a:hover{
	background-color: #f1c40f;
	color: #181403;
}
#bottom-profile #top-movies,
#bottom-profile #Activity{
	margin-bottom: 100px;
}

#bottom-profile .side-bar ul{
	list-style-type: none;
}
#bottom-profile .side-bar li{
	margin-bottom: 30px;
}
#bottom-profile .side-bar li>a{
	font-family: 'UniSansHeavy';
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}
#bottom-profile .side-bar li>a:focus, 
#bottom-profile .side-bar li>a:hover{
	color: #bf95c8;
	background-color: transparent;
}
#bottom-profile .side-bar li.active>a, 
#bottom-profile .side-bar li.active>a:focus, 
#bottom-profile .side-bar li.active>a:hover{
	color: #bf95c8;
	background-color: transparent;
}



/* ========= /PROFILE =========*/


/* ========= edit-profile =========*/

#edit-profile{
	padding: 170px 0 30px 0;
}
#edit-profile input{
	font-family: 'UniSansLight';
	font-size: 16px;
	color: #cda1d6;	
	-webkit-box-shadow: none;
    box-shadow: none;
}
#edit-profile input:focus{
	outline: none;
	-webkit-box-shadow: none;
    box-shadow: none;
}
#edit-profile .name{
	background: transparent url(../images/First-name.png) no-repeat left 4px center;
    background-size: 16px 16px;
    border: none;
    padding: 6px 12px 6px 28px;
}
#edit-profile .playlist{
	background: transparent url(../images/Note.png) no-repeat left 4px center;
    background-size: 16px 16px;
    border: none;
    padding: 6px 12px 6px 28px;
}
#upload{
	width: 140px;
	height: 140px;
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
	display: block;
	border-radius: 70%;
}
#edit-profile p{
	font-family: 'UniSans';
	font-size: 18px;
	color: #fff;
	text-align: center;
}
#edit-profile .right1 label{
    width: 100px;
    padding: 10px 0px 10px 28px;
    margin: 0 auto;
    display: block;
    position: relative;
    font-family: 'UniSans';
	font-size: 18px;
	color: #fff;
}
#edit-profile textarea{
    font-family: 'UniSansItalic';
    font-size: 16px;
    color: #cda1d6;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
    background-size: 16px 16px;
    border: none;
    padding: 6px 12px;
    max-width: 100%;
}
#edit-profile h2{
	font-family: 'UniSansHeavy';
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
}

#edit-profile ul{
    padding-left: 30px;
}
#edit-profile ul li{
	margin-bottom: 5px;
}
#edit-profile .r2 ul{
	list-style-type: none;
	margin-top: 10px;
}
#edit-profile .r2 ul li{
    display: inline-block;
    margin-right: 5px;
}

#edit-profile .r2 ul li label{
	margin: 0;
	font-family: 'UniSansLightItalic';
    font-size: 18px;
    color: #fff;
    background-color: #9b59b6;
    padding: 6px 10px 5px 10px;
    border-radius: 39px;
}
#edit-profile .r2 li input{
	display: none;
}
#edit-profile .r2 li span a{
	color: #fff;
}
#edit-profile .r2 li input[type="radio"]:checked ~ label {
    background-color:#f1c40f;
    color: #231d05;
}
#edit-profile .r2 li input[type="radio"]:checked ~ label span a{
	color: #231d05;
}
#edit-profile .r2 .movie{
	margin-top: 30px;
	font-family: 'UniSansLightItalic';
	font-size: 16px;
	color: #cda1d6;	
	-webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
    background-size: 16px 16px;
    border: none;
    padding: 18px 17px 17px 17px;
    border: 2px solid #9b59b6;
    border-radius: 50px;
}
#edit-profile .r2 ul.mo li{
	font-family: 'UniSansLightItalic';
    font-size: 18px;
    color: #fff;
    background-color: #9b59b6;
    padding: 6px 10px 5px 10px;
    border-radius: 39px;
}
#edit-profile .r3 p{
	font-family: 'UniSansLight';
	font-size: 20px;
}
#edit-profile .r3{
	padding-top: 20px;
	padding-bottom: 20px;
}
#edit-profile .suggested h2{
	font-family: 'UniSansBold';
	text-align: left;
	font-size: 18px;
}
#edit-profile .r4 button{
    padding: 10px 30px 9px 30px;
    margin-right: 10px;
}
#edit-profile .r4 a{
	font-family: 'UniSansSemiBold';
	font-size: 16px;
	color: #fff;
}
/* ========= /edit-profile =========*/

/* ========= friends =========*/
#friends{

}
#friends h2{
	font-family: 'UniSansBold';
	font-size: 25px;
	color: #fff;
	margin-bottom: 20px;
	margin-left: 45px;
	text-transform: uppercase;
}
#friends .media{
	margin-bottom: 10px;
}
#friends .media .media-object{
	width: 44px;
	height: 44px;
    border: 2px solid #fff;
    border-radius: 31px;
    overflow: hidden;
}
#friends .media .media-body h4{
	font-family: 'UniSansHeavy';
	font-size: 16px;
	color: #fff;
	margin-top: 12px;
}
#friends .media .media-body h4 a{
	color: #fff;
	text-decoration: none;
}
#friends .media .media-body p{
	font-family: 'UniSansLight';
	font-size: 16px;
	color: #fff;
}
#friends .media .media-body p span{
	font-family: 'UniSansHeavy';
	text-transform: uppercase;
}
#friends .media.social a{
	text-decoration: none;
}
#friends .media.social .media-body h4{
	font-family: 'UniSans';
	font-size: 18px;
	color: #fff;
	padding-top: 10px;
}
#friends .media.social .object.facebook{
    width: 70px;
    height: 70px;
    padding: 22px 27px;
    background-color: #3b5998;
    color: #fff;
    border-radius: 38px;
}
#friends hr{
    border-color: #bf95c8;
    margin: 30px 0 50px 0;
}
#friends .profiles .media{
	margin-bottom: 30px;
}
#friends .profiles .media .media-body h4{
	margin-top: 0;
}
#friends .profiles .btn-default,
#friends .profiles .btn-followed{
	font-size: 12px;
	padding: 9px 15px 8px 15px;
}

/* ========= /friends =========*/

/* ========= explore =========*/
#explore{
	padding: 130px 0;
}
#explore .nav-tabs{
	border: none;
	text-align: center;
}
#explore .nav-tabs li{
	margin-left: 5px;
	float: none;
	display: inline-block;
}
#explore .nav-tabs{
	border: none;
	margin-bottom: 40px;
}
#explore .nav-tabs li a{
	font-family: 'UniSansLightItalic';
	font-size: 16px;
	color: #fff;
	background-color: #9b59b6;
    border: none;
    border-radius: 37px;
    padding: 6px 20px 5px 20px;
}
#explore .nav-tabs>li{
	margin-right: 5px;
	margin-bottom: 5px;
}
#explore .nav-tabs>li>a:focus, 
#explore .nav-tabs>li>a:hover{
	background-color: #f1c40f;
	color: #181403;
}
#explore .nav-tabs>li.active>a, 
#explore .nav-tabs>li.active>a:focus, 
#explore .nav-tabs>li.active>a:hover{
	background-color: #f1c40f;
	color: #181403;
}

/* ========= /explore =========*/

/* ========= featured-page =========*/
#featured.page{
	padding: 130px 0;
}
#featured.page h1{
	text-align: center;
	font-family: 'UniSansLight';
	margin-bottom: 60px;
}

/* ========= /featured-page =========*/


/* ========= watchlist =========*/
#watchlist{
	padding: 120px 0;
}
#watchlist h1{
	font-family: 'UniSansLight';
	font-size: 35px;
	color: #fff;
	text-align: center;
	margin-bottom: 50px;
}
#watchlist .bookmark{
    background: rgba(0,0,0,0.4) url(../images/Group-15.png) no-repeat center center;
    background-size: 28px 28px;
    width: 55px;
    height: 55px;
    border-radius: 30px;
    position: absolute;
    top: 19px;
    right: 28px;
    border: 2px solid #fff;
}
#watchlist .movie-item .bookmark.checked{
	background: #f1c40f url(../images/Group-14.png) no-repeat center center;
	border-color: #f1c40f;
}
#watchlist .movie-item{
	margin-bottom: 30px;
}
#watchlist .movie-item img{
	width: 443px;
	height: 604px;
}
#watchlist .movie-item .bottom-bar{
	padding: 0 25px;
    position: absolute;
    bottom: 0;
    left: 15px;
    width: 443px;
	background: -moz-linear-gradient(bottom, rgba(0,0,0,0.65) 12%, rgba(0,0,0,0.15) 80%, rgba(0,0,0,0.03) 96%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.65) 12%,rgba(0,0,0,0.15) 80%,rgba(0,0,0,0.03) 96%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to top, rgba(0,0,0,0.65) 12%,rgba(0,0,0,0.15) 80%,rgba(0,0,0,0.03) 96%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#watchlist .movie-item .movie-name{
	font-size: 25px;
	margin-top: 0;
}
#watchlist .movie-item .movie-name span{
	text-align: right;
}
#watchlist .movie-item .pg{
	font-size: 15px;
    border: 2px solid #fff;
}
#watchlist .movie-item .movie-year{
	font-size: 22px;
	margin-top: 15px;
}


/* ========= /watchlist =========*/



/* ========= Responsive =========*/

/* ========= lg =========*/

@media (min-width: 1200px) {

}

/* ========= /lg =========*/

/* ========= md =========*/

@media (min-width: 992px) and (max-width: 1199px) {
	header .navbar-default .navbar-form{
		margin-left: 150px;
	}
	header.logged .navbar-default .navbar-form {
	    margin-left: 90px;
	}
	header .navbar-default .navbar-nav>li>a {
	    padding: 15px 22px;
	}
	header #profile {
	    width: 175px;
	}
	#suggestBtn h4 {
	    font-size: 29px;
	}
	#suggested .left img {
	    width: 166px;
	    height: 261px
	}

	#featured .cell-1 .hover-rating{
		left: 156px;
	}

	#featured .cell-2 .hover-rating{
	    top: 22px;
	    left: 254px;
	}

	#featured .cell-3 .hover-rating{
	    left: 106px;
	}
	#featured .cell-4 .hover-rating{
		left: 106px;
	}
	#top-week .left img{
	    width: 320px;
	    height: 341px;
	}
	#top-week .right{
		text-align: center;
	}
	#comming-soon img{
	    width: 960px;
	    height: 396px
	}
	#top-movie .left2 img {
	    width: 205px;
	    height: 322px;
	}
	#watchlist .movie-item img {
	    width: 359px;
	    height: 490px;
	}
	#watchlist .movie-item .bottom-bar{
		width: 359px;
		padding: 0 10px;
	}
	#watchlist .movie-item .movie-time {
	    font-size: 13px;
	}
	#watchlist .movie-item .movie-year {
	    font-size: 20px;
	    margin-top: 8px;
	}
	#watchlist .movie-item .movie-name {
	    font-size: 20px;
	    margin-top: 0;
	}
}

/* ========= /md =========*/

/* ========= sm =========*/

@media (min-width: 768px) and (max-width: 991px) {
	header .navbar-default .navbar-form{
		margin-left: 55px;
	}
	header .navbar-default .navbar-nav>li>a{
		padding: 15px;
	}
	header.logged .navbar-default .navbar-form {
	    margin-left: 5px;
	}
	header .navbar-default .navbar-nav>li>a {
	    padding: 15px 9px;
	}
	header #profile {
	    width: 148px;
	}
	.new-notification{
		left: 20px;
	}
	#suggested .left img {
	    width: 120px;
	    height: 189px;
	}
	#suggested .movie-name{
		margin-top: 5px;
	}
	#suggested .watch-later{
		margin-left: -41px;
	}
	#featured .cell-1{
		margin-bottom: 10px;
	}
	#featured .cell-1 img{
		width: 740px;
	    height: 835px;
	}
	#featured .hover-layer{
		width: 740px;
	    height: 835px;
	}
	#featured .cell-1 .hover-rating{
		top: 30%;
		left: 45%;
	}

	#featured .cell-2 img{
		width: 740px;
	    height: 330px;
	}
	#featured .cell-2 .hover-layer{
		width: 740px;
	    height: 330px;
	}
	#featured .cell-2 .hover-rating{
		left: 45%;
	}

	#featured .cell-3 img,
	#featured .cell-4 img{
		width: 365px;
	    height: 324px;
	}
	#featured .cell-3 .hover-layer,
	#featured .cell-4 .hover-layer{
		width: 365px;
	    height: 324px;
	}
	#featured .cell-3 .hover-rating,
	#featured .cell-4 .hover-rating{
	    left: 164px;
	}
	#top-week .left img{
	    width: 740px;
	    height: 552px;
	}
	#top-week .right{
		text-align: center;
	}
	#top-week .container > .row{
		padding-bottom: 10px;
	}
	#comming-soon img {
	        width: 740px;
    height: 305px;
	}
	#top-movie .left2 img {
        width: 150px;
	    height: 236px;
	}
	#top-movie .watch-later{
	    margin-left: -22px;
	}
	#watchlist .movie-item img {
	    width: 330px;
	    height: 450px;
	}
	#watchlist .movie-item .bottom-bar {
	    width: 330px;
	    padding: 0;
	}
	#watchlist .movie-item .movie-time {
	    font-size: 13px;
	}
	#watchlist .movie-item .movie-year {
	    font-size: 20px;
	    margin-top: 8px;
	}
	#watchlist .movie-item .movie-name {
	    font-size: 20px;
	    margin-top: 0;
	}
}

/* ========= /sm =========*/

/* ========= xs =========*/

@media (max-width: 767px) {
	.fixed{
		position: relative;
	}
	header .navbar-default .navbar-form{
		margin-left: 0;
	}
	#bs-example-navbar-collapse-1{
		background: rgba(189, 101, 207, 0.2);
	}
	.navbar-default .navbar-toggle .icon-bar{
		background-color: #fff;
	}
	.navbar-default .navbar-toggle:focus, 
	.navbar-default .navbar-toggle:hover{
		background-color: #614167;
	    color: #fff;
	}
	#intro .map{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.btn-facebook{
		padding: 9px 23px;
	}
	#intro{
		padding-bottom: 20px;
	}

	header.logged .navbar-default .navbar-form{
		margin-left: 0;
	}
	header #notification {
	    left: auto;
	    right: auto;
	    transform: none;
	    padding: 0;
	}
	header #profile ul.dropdown-menu {
	    left: auto;
	    right: auto;
	    transform: none;
	    padding: 0;
	}
	#suggestBtn .media-body {
	    display: block;
	    width: 100%;
	}
	#suggestBtn .media-left{
		display: block;
	}
	#suggestBtn .media-left .media-object{
		margin: 0 auto;
	}
	#suggested{
		overflow: hidden;
	}
	#movie-cover {
	    width: 200vw;
	    height: 200vh;
	}
	#suggested{
		text-align: center;
	}
	#watch-now .modal-content li a{
		padding: 0 25px;
	}
	#trailer .modal-content .media-left{
		display: block;
	}
	#trailer .modal-content .media-object{
		margin: 0 auto;
	}
	#suggested .movie-name{
		font-size: 24px;
	}
	#suggested {
	    padding: 150px 0 70px 0;
	}
	#featured h1{
	    font-size: 24px;
	    margin-top: 40px;
	}
	#featured .cell-1 img{
		width: 100%;
		height: auto;
	}
	#featured .hover-layer{
		width: 100%;
		height: 100%;
	}
	#featured .cell-1 .hover-rating{
		top: 20%;
		left: 45%;
	}
	#featured .cell-1 .movie-name{
		font-size: 22px;
	}
	#featured .cell-1 .movie-description{
		font-size: 14px;
		margin-bottom: 10px;
	}
	#featured .cell-2 img{
		width: 100%;
		min-height: 400px;
	}
	#featured .cell-2 .hover-layer{
		width: 100%;
		height: 100%;
	}
	#featured .cell-2 .hover-rating{
		left: 45%;
	}
	#featured .cell-3 img,
	#featured .cell-4 img{
		width: 100%;
		height: auto;
	}
	#featured .cell-3 .hover-layer, 
	#featured .cell-4 .hover-layer{
		width: 100%;
		height: 100%;
	}
	#featured .cell-3 .hover-rating, 
	#featured .cell-4 .hover-rating{
		top: 21%;
		left: 45%;
	}
	#top-week .left img{
		width: 100%;
	}
	#top-week .right {
	    padding: 0 40px 30px 40px;
	    text-align: center;
	}
	#top-week .movie-time{
		margin-top: 10px;
	}

	#comming-soon{
		overflow: hidden;
	}
	#comming-soon img {
	    width: 200vw;
	    height: 100vh;
	    margin: 0 -50%;
	}
	footer #mobile {
	    top: -7px;
	}

	#top-movie #movie-cover {
	    width: 300vw;
	    height: 300vh;
	}
	#top-movie .left1,
	#top-movie .left2,
	#top-movie .center,
	#top-movie .right1{
		text-align: center;
	}
	#watchlist .movie-item img{
		width: 100%;
		height: auto;
	}
	#watchlist .movie-item .bottom-bar{
		width: 100%;
		text-align: center;
	}


}

/* ========= /xs =========*/

/* ========= /Responsive =========*/

