{% extends 'salah_admin/base.html' %}
{% load static %}


{% block content %}
    <div class="page-header">
        <div class="row">
            <!-- Page header, center on small screens -->
            <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-dashboard page-header-icon"></i>&nbsp;&nbsp;Dashboard
            </h1>

            <div class="col-xs-12 col-sm-8">
                <div class="row">
                    <hr class="visible-xs no-grid-gutter-h">
                    <!-- "Create project" button, width=auto on desktops -->
                    <div class="pull-right col-xs-12 col-sm-auto">
                        <a href="{% url 'admin-users-add' %}" class="btn btn-primary btn-labeled"
                                                                     style="width: 100%;"><span
                            class="btn-label icon fa fa-plus"></span>New Match</a></div>

                    <!-- Margin -->
                    <div class="visible-xs clearfix form-group-margin"></div>

                    <!-- Search field -->
                    <form action="{% url 'admin-users-list' %}" class="pull-right col-xs-12 col-sm-6">
                        <div class="input-group no-margin">
                                <span class="input-group-addon"
                                      style="border:none;background: #fff;background: rgba(0,0,0,.05);"><i
                                        class="fa fa-search"></i></span>
                            <input type="text" placeholder="Search..." name="title"
                                   class="form-control no-padding-hr"
                                   style="border:none;background: #fff;background: rgba(0,0,0,.05);">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- / .page-header -->


    {% if messages %}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-{% if message.tags %} {{ message.tags }} {% endif %}">
                        {% for message in messages %}
                        <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

    {% include 'salah_admin/home/first_row.html' %}
    <div class="row hide">

        <!-- 10. $SUPPORT_TICKETS ==========================================================================

                    Support tickets
        -->
        <!-- Javascript -->
        <script>
            init.push(function () {
                $('#dashboard-support-tickets .panel-body > div').slimScroll({
                    height: 300,
                    alwaysVisible: true,
                    color: '#888',
                    allowPageScroll: true
                });
            })
        </script>
        <!-- / Javascript -->

        <div class="col-md-6">
            <div class="panel panel-success widget-support-tickets" id="dashboard-support-tickets">
                <div class="panel-heading">
                    <span class="panel-title"><i class="panel-title-icon fa fa-bullhorn"></i>Support Tickets</span>

                    <div class="panel-heading-controls">
                        <div class="panel-heading-text"><a href="#">15 new tickets</a></div>
                    </div>
                </div>
                <!-- / .panel-heading -->
                <div class="panel-body tab-content-padding">
                    <!-- Panel padding, without vertical padding -->
                    <div class="panel-padding no-padding-vr">

                        <div class="ticket">
                            <span class="label label-success ticket-label">Completed</span>
                            <a href="#" title="" class="ticket-title">Server unavaible<span>[#201798]</span></a>
								<span class="ticket-info">
									Opened by <a href="#" title="">Timothy Owens</a> today
								</span>
                        </div>
                        <!-- / .ticket -->

                        <div class="ticket">
                            <span class="label label-warning ticket-label">Pending</span>
                            <a href="#" title="" class="ticket-title">Mobile App Problem<span>[#201797]</span></a>
								<span class="ticket-info">
									Opened by <a href="#">Denise Steiner</a> 2 days ago
								</span>
                        </div>
                        <!-- / .ticket -->

                        <div class="ticket">
                            <span class="label label-info ticket-label">In progress</span>
                            <a href="#" title="" class="ticket-title">
                                <i class="fa fa-warning text-danger"></i>PayPal issue<span>[#201796]</span>
                            </a>
								<span class="ticket-info">
									Opened by <a href="#">Robert Jang</a> 3 days ago
								</span>
                        </div>
                        <!-- / .ticket -->

                        <div class="ticket">
                            <span class="label label-danger ticket-label">Rejected</span>
                            <a href="#" title="" class="ticket-title">IE8 problem<span>[#201795]</span></a>
								<span class="ticket-info">
									Opened by <a href="#">Robert Jang</a> 4 days ago
								</span>
                        </div>
                        <!-- / .ticket -->

                        <div class="ticket">
                            <span class="label label-success ticket-label">Completed</span>
                            <a href="#" title="" class="ticket-title">Server unavaible<span>[#201794]</span></a>
								<span class="ticket-info">
									Opened by <a href="#">Timothy Owens</a> 5 days ago
								</span>
                        </div>
                        <!-- / .ticket -->

                        <div class="ticket">
                            <span class="label label-success ticket-label">Completed</span>
                            <a href="#" title="" class="ticket-title">Server unavaible<span>[#201798]</span></a>
								<span class="ticket-info">
									Opened by <a href="#" title="">Timothy Owens</a> today
								</span>
                        </div>
                        <!-- / .ticket -->

                        <div class="ticket">
                            <span class="label label-warning ticket-label">Pending</span>
                            <a href="#" title="" class="ticket-title">Mobile App Problem<span>[#201797]</span></a>
								<span class="ticket-info">
									Opened by <a href="#">Denise Steiner</a> 2 days ago
								</span>
                        </div>
                        <!-- / .ticket -->

                        <div class="ticket">
                            <span class="label label-info ticket-label">In progress</span>
                            <a href="#" title="" class="ticket-title">
                                <i class="fa fa-warning text-danger"></i>PayPal issue<span>[#201796]</span>
                            </a>
								<span class="ticket-info">
									Opened by <a href="#">Robert Jang</a> 3 days ago
								</span>
                        </div>
                        <!-- / .ticket -->

                        <div class="ticket">
                            <span class="label label-danger ticket-label">Rejected</span>
                            <a href="#" title="" class="ticket-title">IE8 problem<span>[#201795]</span></a>
								<span class="ticket-info">
									Opened by <a href="#">Robert Jang</a> 4 days ago
								</span>
                        </div>
                        <!-- / .ticket -->

                        <div class="ticket">
                            <span class="label label-success ticket-label">Completed</span>
                            <a href="#" title="" class="ticket-title">Server unavaible<span>[#201794]</span></a>
								<span class="ticket-info">
									Opened by <a href="#">Timothy Owens</a> 5 days ago
								</span>
                        </div>
                        <!-- / .ticket -->

                        <div class="ticket">
                            <span class="label label-success ticket-label">Completed</span>
                            <a href="#" title="" class="ticket-title">Server unavaible<span>[#201798]</span></a>
								<span class="ticket-info">
									Opened by <a href="#" title="">Timothy Owens</a> today
								</span>
                        </div>
                        <!-- / .ticket -->

                        <div class="ticket">
                            <span class="label label-warning ticket-label">Pending</span>
                            <a href="#" title="" class="ticket-title">Mobile App Problem<span>[#201797]</span></a>
								<span class="ticket-info">
									Opened by <a href="#">Denise Steiner</a> 2 days ago
								</span>
                        </div>
                        <!-- / .ticket -->

                        <div class="ticket">
                            <span class="label label-info ticket-label">In progress</span>
                            <a href="#" title="" class="ticket-title">
                                <i class="fa fa-warning text-danger"></i>PayPal issue<span>[#201796]</span>
                            </a>
								<span class="ticket-info">
									Opened by <a href="#">Robert Jang</a> 3 days ago
								</span>
                        </div>
                        <!-- / .ticket -->

                        <div class="ticket">
                            <span class="label label-danger ticket-label">Rejected</span>
                            <a href="#" title="" class="ticket-title">IE8 problem<span>[#201795]</span></a>
								<span class="ticket-info">
									Opened by <a href="#">Robert Jang</a> 4 days ago
								</span>
                        </div>
                        <!-- / .ticket -->

                        <div class="ticket">
                            <span class="label label-success ticket-label">Completed</span>
                            <a href="#" title="" class="ticket-title">Server unavaible<span>[#201794]</span></a>
								<span class="ticket-info">
									Opened by <a href="#">Timothy Owens</a> 5 days ago
								</span>
                        </div>
                        <!-- / .ticket -->
                    </div>
                </div>
                <!-- / .panel-body -->
            </div>
            <!-- / .panel -->
        </div>
        <!-- /10. $SUPPORT_TICKETS -->

        <!-- 11. $RECENT_ACTIVITY ==========================================================================

                    Recent activity
        -->
        <!-- Javascript -->
        <script>
            init.push(function () {
                $('#dashboard-recent .panel-body > div').slimScroll({
                    height: 300,
                    alwaysVisible: true,
                    color: '#888',
                    allowPageScroll: true
                });
            })
        </script>
        <!-- / Javascript -->

        <div class="col-md-6">


            <div class="panel panel-warning" id="dashboard-recent">
                <div class="panel-heading">
                    <span class="panel-title"><i class="panel-title-icon fa fa-fire text-danger"></i>Recent</span>
                    <ul class="nav nav-tabs nav-tabs-xs">
                        <li class="active">
                            <a href="#dashboard-recent-comments" data-toggle="tab">Comments</a>
                        </li>
                        <li>
                            <a href="#dashboard-recent-threads" data-toggle="tab">Forum threads</a>
                        </li>
                    </ul>
                </div>
                <!-- / .panel-heading -->
                <div class="tab-content">

                    <!-- Comments widget -->

                    <!-- Without padding -->
                    <div class="widget-comments panel-body tab-pane no-padding fade active in"
                         id="dashboard-recent-comments">
                        <!-- Panel padding, without vertical padding -->
                        <div class="panel-padding no-padding-vr">
                            <div class="comment">
                                <img src="{{image_host}}{% static 'salah_admin/demo/avatars/5.jpg' %}" alt=""
                                     class="comment-avatar">

                                <div class="comment-body">
                                    <div class="comment-by">
                                        <a href="#" title="">Denise Steiner</a> commented on <a href="#" title="">Article
                                        Name</a>
                                    </div>
                                    <div class="comment-text">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore.
                                    </div>
                                    <div class="comment-actions">
                                        <a href="#"><i class="fa fa-pencil"></i>Edit</a>
                                        <a href="#"><i class="fa fa-times"></i>Remove</a>
                                        <span class="pull-right">2 hours ago</span>
                                    </div>
                                </div>
                                <!-- / .comment-body -->
                            </div>
                            <!-- / .comment -->

                            <div class="comment">
                                <img src="{{image_host}}{% static 'salah_admin/demo/avatars/3.jpg' %}" alt=""
                                     class="comment-avatar">

                                <div class="comment-body">
                                    <div class="comment-by">
                                        <a href="#" title="">Michelle Bortz</a> commented on <a href="#" title="">Article
                                        Name</a>
                                    </div>
                                    <div class="comment-text">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore.
                                    </div>
                                    <div class="comment-actions">
                                        <a href="#"><i class="fa fa-pencil"></i>Edit</a>
                                        <a href="#"><i class="fa fa-times"></i>Remove</a>
                                        <span class="pull-right">2 hours ago</span>
                                    </div>
                                </div>
                                <!-- / .comment-body -->
                            </div>
                            <!-- / .comment -->

                            <div class="comment">
                                <img src="{{image_host}}{% static 'salah_admin/demo/avatars/2.jpg' %}" alt=""
                                     class="comment-avatar">

                                <div class="comment-body">
                                    <div class="comment-by">
                                        <a href="#" title="">Robert Jang</a> commented on <a href="#" title="">Article
                                        Name</a>
                                    </div>
                                    <div class="comment-text">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore.
                                    </div>
                                    <div class="comment-actions">
                                        <a href="#"><i class="fa fa-pencil"></i>Edit</a>
                                        <a href="#"><i class="fa fa-times"></i>Remove</a>
                                        <span class="pull-right">2 hours ago</span>
                                    </div>
                                </div>
                                <!-- / .comment-body -->
                            </div>
                            <!-- / .comment -->

                            <div class="comment">
                                <img src="{{image_host}}{% static 'salah_admin/demo/avatars/4.jpg' %}" alt=""
                                     class="comment-avatar">

                                <div class="comment-body">
                                    <div class="comment-by">
                                        <a href="#" title="">Timothy Owens</a> commented on <a href="#" title="">Article
                                        Name</a>
                                    </div>
                                    <div class="comment-text">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore.
                                    </div>
                                    <div class="comment-actions">
                                        <a href="#"><i class="fa fa-pencil"></i>Edit</a>
                                        <a href="#"><i class="fa fa-times"></i>Remove</a>
                                        <span class="pull-right">2 hours ago</span>
                                    </div>
                                </div>
                                <!-- / .comment-body -->
                            </div>
                            <!-- / .comment -->

                            <div class="comment">
                                <img src="{{image_host}}{% static 'salah_admin/demo/avatars/5.jpg' %}" alt=""
                                     class="comment-avatar">

                                <div class="comment-body">
                                    <div class="comment-by">
                                        <a href="#" title="">Denise Steiner</a> commented on <a href="#" title="">Article
                                        Name</a>
                                    </div>
                                    <div class="comment-text">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore.
                                    </div>
                                    <div class="comment-actions">
                                        <a href="#"><i class="fa fa-pencil"></i>Edit</a>
                                        <a href="#"><i class="fa fa-times"></i>Remove</a>
                                        <span class="pull-right">2 hours ago</span>
                                    </div>
                                </div>
                                <!-- / .comment-body -->
                            </div>
                            <!-- / .comment -->

                            <div class="comment">
                                <img src="{{image_host}}{% static 'salah_admin/demo/avatars/3.jpg' %}" alt=""
                                     class="comment-avatar">

                                <div class="comment-body">
                                    <div class="comment-by">
                                        <a href="#" title="">Michelle Bortz</a> commented on <a href="#" title="">Article
                                        Name</a>
                                    </div>
                                    <div class="comment-text">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore.
                                    </div>
                                    <div class="comment-actions">
                                        <a href="#"><i class="fa fa-pencil"></i>Edit</a>
                                        <a href="#"><i class="fa fa-times"></i>Remove</a>
                                        <span class="pull-right">2 hours ago</span>
                                    </div>
                                </div>
                                <!-- / .comment-body -->
                            </div>
                            <!-- / .comment -->

                            <div class="comment">
                                <img src="{{image_host}}{% static 'salah_admin/demo/avatars/2.jpg' %}" alt=""
                                     class="comment-avatar">

                                <div class="comment-body">
                                    <div class="comment-by">
                                        <a href="#" title="">Robert Jang</a> commented on <a href="#" title="">Article
                                        Name</a>
                                    </div>
                                    <div class="comment-text">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore.
                                    </div>
                                    <div class="comment-actions">
                                        <a href="#"><i class="fa fa-pencil"></i>Edit</a>
                                        <a href="#"><i class="fa fa-times"></i>Remove</a>
                                        <span class="pull-right">2 hours ago</span>
                                    </div>
                                </div>
                                <!-- / .comment-body -->
                            </div>
                            <!-- / .comment -->

                            <div class="comment">
                                <img src="{{image_host}}{% static 'salah_admin/demo/avatars/4.jpg' %}" alt=""
                                     class="comment-avatar">

                                <div class="comment-body">
                                    <div class="comment-by">
                                        <a href="#" title="">Timothy Owens</a> commented on <a href="#" title="">Article
                                        Name</a>
                                    </div>
                                    <div class="comment-text">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore.
                                    </div>
                                    <div class="comment-actions">
                                        <a href="#"><i class="fa fa-pencil"></i>Edit</a>
                                        <a href="#"><i class="fa fa-times"></i>Remove</a>
                                        <span class="pull-right">2 hours ago</span>
                                    </div>
                                </div>
                                <!-- / .comment-body -->
                            </div>
                            <!-- / .comment -->

                            <div class="comment">
                                <img src="{{image_host}}{% static 'salah_admin/demo/avatars/2.jpg' %}" alt=""
                                     class="comment-avatar">

                                <div class="comment-body">
                                    <div class="comment-by">
                                        <a href="#" title="">Robert Jang</a> commented on <a href="#" title="">Article
                                        Name</a>
                                    </div>
                                    <div class="comment-text">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore.
                                    </div>
                                    <div class="comment-actions">
                                        <a href="#"><i class="fa fa-pencil"></i>Edit</a>
                                        <a href="#"><i class="fa fa-times"></i>Remove</a>
                                        <span class="pull-right">2 hours ago</span>
                                    </div>
                                </div>
                                <!-- / .comment-body -->
                            </div>
                            <!-- / .comment -->

                            <div class="comment">
                                <img src="{{image_host}}{% static 'salah_admin/demo/avatars/4.jpg' %}" alt=""
                                     class="comment-avatar">

                                <div class="comment-body">
                                    <div class="comment-by">
                                        <a href="#" title="">Timothy Owens</a> commented on <a href="#" title="">Article
                                        Name</a>
                                    </div>
                                    <div class="comment-text">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore.
                                    </div>
                                    <div class="comment-actions">
                                        <a href="#"><i class="fa fa-pencil"></i>Edit</a>
                                        <a href="#"><i class="fa fa-times"></i>Remove</a>
                                        <span class="pull-right">2 hours ago</span>
                                    </div>
                                </div>
                                <!-- / .comment-body -->
                            </div>
                            <!-- / .comment -->
                        </div>
                    </div>
                    <!-- / .widget-comments -->

                    <!-- Threads widget -->

                    <!-- Without padding -->
                    <div class="widget-threads panel-body tab-pane no-padding fade" id="dashboard-recent-threads">
                        <div class="panel-padding no-padding-vr">
                            <div class="thread">
                                <img src="{{image_host}}{% static 'salah_admin/demo/avatars/2.jpg' %}" alt=""
                                     class="thread-avatar">

                                <div class="thread-body">
                                    <span class="thread-time">14h</span>
                                    <a href="#" class="thread-title">Lorem ipsum dolor sit amet</a>

                                    <div class="thread-info">started by <a href="#" title="">Robert Jang</a> in <a
                                            href="#" title="">Forum name</a></div>
                                </div>
                                <!-- / .thread-body -->
                            </div>
                            <!-- / .thread -->

                            <div class="thread">
                                <img src="{{image_host}}{% static 'salah_admin/demo/avatars/3.jpg' %}" alt=""
                                     class="thread-avatar">

                                <div class="thread-body">
                                    <span class="thread-time">14h</span>
                                    <a href="#" class="thread-title">Lorem ipsum dolor sit amet</a>

                                    <div class="thread-info">started by <a href="#" title="">Michelle Bortz</a> in
                                        <a href="#" title="">Forum name</a></div>
                                </div>
                                <!-- / .thread-body -->
                            </div>
                            <!-- / .thread -->

                            <div class="thread">
                                <img src="{{image_host}}{% static 'salah_admin/demo/avatars/4.jpg' %}" alt=""
                                     class="thread-avatar">

                                <div class="thread-body">
                                    <span class="thread-time">14h</span>
                                    <a href="#" class="thread-title">Lorem ipsum dolor sit amet</a>

                                    <div class="thread-info">started by <a href="#" title="">Timothy Owens</a> in <a
                                            href="#" title="">Forum name</a></div>
                                </div>
                                <!-- / .thread-body -->
                            </div>
                            <!-- / .thread -->

                            <div class="thread">
                                <img src="{{image_host}}{% static 'salah_admin/demo/avatars/5.jpg' %}" alt=""
                                     class="thread-avatar">

                                <div class="thread-body">
                                    <span class="thread-time">14h</span>
                                    <a href="#" class="thread-title">Lorem ipsum dolor sit amet</a>

                                    <div class="thread-info">started by <a href="#" title="">Denise Steiner</a> in
                                        <a href="#" title="">Forum name</a></div>
                                </div>
                                <!-- / .thread-body -->
                            </div>
                            <!-- / .thread -->

                            <div class="thread">
                                <img src="{{image_host}}{% static 'salah_admin/demo/avatars/2.jpg' %}" alt=""
                                     class="thread-avatar">

                                <div class="thread-body">
                                    <span class="thread-time">14h</span>
                                    <a href="#" class="thread-title">Lorem ipsum dolor sit amet</a>

                                    <div class="thread-info">started by <a href="#" title="">Robert Jang</a> in <a
                                            href="#" title="">Forum name</a></div>
                                </div>
                                <!-- / .thread-body -->
                            </div>
                            <!-- / .thread -->

                            <div class="thread">
                                <img src="{{image_host}}{% static 'salah_admin/demo/avatars/2.jpg' %}" alt=""
                                     class="thread-avatar">

                                <div class="thread-body">
                                    <span class="thread-time">14h</span>
                                    <a href="#" class="thread-title">Lorem ipsum dolor sit amet</a>

                                    <div class="thread-info">started by <a href="#" title="">Robert Jang</a> in <a
                                            href="#" title="">Forum name</a></div>
                                </div>
                                <!-- / .thread-body -->
                            </div>
                            <!-- / .thread -->

                            <div class="thread">
                                <img src="{{image_host}}{% static 'salah_admin/demo/avatars/3.jpg' %}" alt=""
                                     class="thread-avatar">

                                <div class="thread-body">
                                    <span class="thread-time">14h</span>
                                    <a href="#" class="thread-title">Lorem ipsum dolor sit amet</a>

                                    <div class="thread-info">started by <a href="#" title="">Michelle Bortz</a> in
                                        <a href="#" title="">Forum name</a></div>
                                </div>
                                <!-- / .thread-body -->
                            </div>
                            <!-- / .thread -->

                            <div class="thread">
                                <img src="{{image_host}}{% static 'salah_admin/demo/avatars/4.jpg' %}" alt=""
                                     class="thread-avatar">

                                <div class="thread-body">
                                    <span class="thread-time">14h</span>
                                    <a href="#" class="thread-title">Lorem ipsum dolor sit amet</a>

                                    <div class="thread-info">started by <a href="#" title="">Timothy Owens</a> in <a
                                            href="#" title="">Forum name</a></div>
                                </div>
                                <!-- / .thread-body -->
                            </div>
                            <!-- / .thread -->

                            <div class="thread">
                                <img src="{{image_host}}{% static 'salah_admin/demo/avatars/5.jpg' %}" alt=""
                                     class="thread-avatar">

                                <div class="thread-body">
                                    <span class="thread-time">14h</span>
                                    <a href="#" class="thread-title">Lorem ipsum dolor sit amet</a>

                                    <div class="thread-info">started by <a href="#" title="">Denise Steiner</a> in
                                        <a href="#" title="">Forum name</a></div>
                                </div>
                                <!-- / .thread-body -->
                            </div>
                            <!-- / .thread -->

                            <div class="thread">
                                <img src="{{image_host}}{% static 'salah_admin/demo/avatars/2.jpg' %}" alt=""
                                     class="thread-avatar">

                                <div class="thread-body">
                                    <span class="thread-time">14h</span>
                                    <a href="#" class="thread-title">Lorem ipsum dolor sit amet</a>

                                    <div class="thread-info">started by <a href="#" title="">Robert Jang</a> in <a
                                            href="#" title="">Forum name</a></div>
                                </div>
                                <!-- / .thread-body -->
                            </div>
                            <!-- / .thread -->
                            <div class="thread">
                                <img src="{{image_host}}{% static 'salah_admin/demo/avatars/2.jpg' %}" alt=""
                                     class="thread-avatar">

                                <div class="thread-body">
                                    <span class="thread-time">14h</span>
                                    <a href="#" class="thread-title">Lorem ipsum dolor sit amet</a>

                                    <div class="thread-info">started by <a href="#" title="">Robert Jang</a> in <a
                                            href="#" title="">Forum name</a></div>
                                </div>
                                <!-- / .thread-body -->
                            </div>
                            <!-- / .thread -->

                            <div class="thread">
                                <img src="{{image_host}}{% static 'salah_admin/demo/avatars/3.jpg' %}" alt=""
                                     class="thread-avatar">

                                <div class="thread-body">
                                    <span class="thread-time">14h</span>
                                    <a href="#" class="thread-title">Lorem ipsum dolor sit amet</a>

                                    <div class="thread-info">started by <a href="#" title="">Michelle Bortz</a> in
                                        <a href="#" title="">Forum name</a></div>
                                </div>
                                <!-- / .thread-body -->
                            </div>
                            <!-- / .thread -->

                            <div class="thread">
                                <img src="{{image_host}}{% static 'salah_admin/demo/avatars/4.jpg' %}" alt=""
                                     class="thread-avatar">

                                <div class="thread-body">
                                    <span class="thread-time">14h</span>
                                    <a href="#" class="thread-title">Lorem ipsum dolor sit amet</a>

                                    <div class="thread-info">started by <a href="#" title="">Timothy Owens</a> in <a
                                            href="#" title="">Forum name</a></div>
                                </div>
                                <!-- / .thread-body -->
                            </div>
                            <!-- / .thread -->

                            <div class="thread">
                                <img src="{{image_host}}{% static 'salah_admin/demo/avatars/5.jpg' %}" alt=""
                                     class="thread-avatar">

                                <div class="thread-body">
                                    <span class="thread-time">14h</span>
                                    <a href="#" class="thread-title">Lorem ipsum dolor sit amet</a>

                                    <div class="thread-info">started by <a href="#" title="">Denise Steiner</a> in
                                        <a href="#" title="">Forum name</a></div>
                                </div>
                                <!-- / .thread-body -->
                            </div>
                            <!-- / .thread -->

                            <div class="thread">
                                <img src="{{image_host}}{% static 'salah_admin/demo/avatars/2.jpg' %}" alt=""
                                     class="thread-avatar">

                                <div class="thread-body">
                                    <span class="thread-time">14h</span>
                                    <a href="#" class="thread-title">Lorem ipsum dolor sit amet</a>

                                    <div class="thread-info">started by <a href="#" title="">Robert Jang</a> in <a
                                            href="#" title="">Forum name</a></div>
                                </div>
                                <!-- / .thread-body -->
                            </div>
                            <!-- / .thread -->
                        </div>
                    </div>
                    <!-- / .panel-body -->
                </div>
            </div>
            <!-- / .widget-threads -->
        </div>
        <!-- /11. $RECENT_ACTIVITY -->
    </div>

    <!-- Page wide horizontal line -->
    <hr class="no-grid-gutter-h grid-gutter-margin-b no-margin-t">

    <div class="row hide">

        <!-- 12. $NEW_USERS_TABLE ==========================================================================

                    New users table
        -->
        <div class="col-md-7">
            <div class="panel panel-dark panel-light-green">
                <div class="panel-heading">
                    <span class="panel-title"><i class="panel-title-icon fa fa-smile-o"></i>New users</span>

                    <div class="panel-heading-controls">
                        <ul class="pagination pagination-xs">
                            <li><a href="#">«</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">»</a></li>
                        </ul>
                        <!-- / .pagination -->
                    </div>
                    <!-- / .panel-heading-controls -->
                </div>
                <!-- / .panel-heading -->
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th>Full Name</th>
                        <th>E-mail</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody class="valign-middle">
                    <tr>
                        <td>1</td>
                        <td>
                            <img src="{{image_host}}{% static 'salah_admin/demo/avatars/2.jpg' %}" alt=""
                                 style="width:26px;height:26px;" class="rounded">&nbsp;&nbsp;<a href="#"
                                                                                                title="">@rjang</a>
                        </td>
                        <td>Robert Jang</td>
                        <td>rjang@example.com</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>
                            <img src="{{image_host}}{% static 'salah_admin/demo/avatars/3.jpg' %}" alt=""
                                 style="width:26px;height:26px;" class="rounded">&nbsp;&nbsp;<a href="#" title="">@mbortz</a>
                        </td>
                        <td>Michelle Bortz</td>
                        <td>mbortz@example.com</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>
                            <img src="{{image_host}}{% static 'salah_admin/demo/avatars/4.jpg' %}" alt=""
                                 style="width:26px;height:26px;" class="rounded">&nbsp;&nbsp;<a href="#" title="">@towens</a>
                        </td>
                        <td>Timothy Owens</td>
                        <td>towens@example.com</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>
                            <img src="{{image_host}}{% static 'salah_admin/demo/avatars/5.jpg' %}" alt=""
                                 style="width:26px;height:26px;" class="rounded">&nbsp;&nbsp;<a href="#" title="">@dsteiner</a>
                        </td>
                        <td>Denise Steiner</td>
                        <td>dsteiner@example.com</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>
                            <img src="{{image_host}}{% static 'salah_admin/demo/avatars/2.jpg' %}" alt=""
                                 style="width:26px;height:26px;" class="rounded">&nbsp;&nbsp;<a href="#"
                                                                                                title="">@rjang</a>
                        </td>
                        <td>Robert Jang</td>
                        <td>rjang@example.com</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>
                            <img src="{{image_host}}{% static 'salah_admin/demo/avatars/3.jpg' %}" alt=""
                                 style="width:26px;height:26px;" class="rounded">&nbsp;&nbsp;<a href="#" title="">@mbortz</a>
                        </td>
                        <td>Michelle Bortz</td>
                        <td>mbortz@example.com</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>
                            <img src="{{image_host}}{% static 'salah_admin/demo/avatars/4.jpg' %}" alt=""
                                 style="width:26px;height:26px;" class="rounded">&nbsp;&nbsp;<a href="#" title="">@towens</a>
                        </td>
                        <td>Timothy Owens</td>
                        <td>towens@example.com</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- / .panel -->
        </div>
        <!-- /12. $NEW_USERS_TABLE -->

        <!-- 13. $RECENT_TASKS =============================================================================

                    Recent tasks
        -->
        <div class="col-md-5">
            <!-- Javascript -->
            <script>
                init.push(function () {
                    $('.widget-tasks .panel-body').pixelTasks().sortable({
                        axis: "y",
                        handle: ".task-sort-icon",
                        stop: function (event, ui) {
                            // IE doesn't register the blur when sorting
                            // so trigger focusout handlers to remove .ui-state-focus
                            ui.item.children(".task-sort-icon").triggerHandler("focusout");
                        }
                    });
                    $('#clear-completed-tasks').click(function () {
                        $('.widget-tasks .panel-body').pixelTasks('clearCompletedTasks');
                    });
                });
            </script>
            <!-- / Javascript -->

            <div class="panel widget-tasks panel-dark-gray">
                <div class="panel-heading">
                    <span class="panel-title"><i class="panel-title-icon fa fa-tasks"></i>Recent tasks</span>

                    <div class="panel-heading-controls">
                        <button class="btn btn-xs btn-primary btn-outline dark" id="clear-completed-tasks"><i
                                class="fa fa-eraser text-success"></i> Clear completed tasks
                        </button>
                    </div>
                </div>
                <!-- / .panel-heading -->
                <!-- Without vertical padding -->
                <div class="panel-body no-padding-vr">

                    <div class="task">
                        <span class="label label-warning pull-right">High</span>

                        <div class="fa fa-arrows-v task-sort-icon"></div>
                        <div class="action-checkbox">
                            <label class="px-single"><input type="checkbox" name="" value="" class="px"><span
                                    class="lbl"></span></label>
                        </div>
                        <a href="#" class="task-title">A very important task<span>1 hour left</span></a>
                    </div>
                    <!-- / .task -->

                    <div class="task completed">
                        <span class="label label-warning pull-right">High</span>

                        <div class="fa fa-arrows-v task-sort-icon"></div>
                        <div class="action-checkbox">
                            <label class="px-single"><input type="checkbox" name="" value="" class="px"
                                                            checked="checked"><span class="lbl"></span></label>
                        </div>
                        <a href="#" class="task-title">A very important task<span>58 minutes left</span></a>
                    </div>
                    <!-- / .task -->

                    <div class="task completed">
                        <div class="fa fa-arrows-v task-sort-icon"></div>
                        <div class="action-checkbox">
                            <label class="px-single"><input type="checkbox" name="" value="" class="px"
                                                            checked="checked"><span class="lbl"></span></label>
                        </div>
                        <a href="#" class="task-title">A regular task</a>
                    </div>
                    <!-- / .task -->

                    <div class="task">
                        <div class="fa fa-arrows-v task-sort-icon"></div>
                        <div class="action-checkbox">
                            <label class="px-single"><input type="checkbox" name="" value="" class="px"><span
                                    class="lbl"></span></label>
                        </div>
                        <a href="#" class="task-title">A regular task</a>
                    </div>
                    <!-- / .task -->

                    <div class="task">
                        <div class="fa fa-arrows-v task-sort-icon"></div>
                        <div class="action-checkbox">
                            <label class="px-single"><input type="checkbox" name="" value="" class="px"><span
                                    class="lbl"></span></label>
                        </div>
                        <a href="#" class="task-title">A regular task</a>
                    </div>
                    <!-- / .task -->

                    <div class="task">
                        <span class="label pull-right">Low</span>

                        <div class="fa fa-arrows-v task-sort-icon"></div>
                        <div class="action-checkbox">
                            <label class="px-single"><input type="checkbox" name="" value="" class="px"><span
                                    class="lbl"></span></label>
                        </div>
                        <a href="#" class="task-title">An unimportant task</a>
                    </div>
                    <!-- / .task -->

                    <div class="task">
                        <span class="label pull-right">Low</span>

                        <div class="fa fa-arrows-v task-sort-icon"></div>
                        <div class="action-checkbox">
                            <label class="px-single"><input type="checkbox" name="" value="" class="px"><span
                                    class="lbl"></span></label>
                        </div>
                        <a href="#" class="task-title">An unimportant task</a>
                    </div>
                    <!-- / .task -->

                    <div class="task">
                        <div class="fa fa-arrows-v task-sort-icon"></div>
                        <div class="action-checkbox">
                            <label class="px-single"><input type="checkbox" name="" value="" class="px"><span
                                    class="lbl"></span></label>
                        </div>
                        <a href="#" class="task-title">A regular task</a>
                    </div>
                    <!-- / .task -->

                    <div class="task">
                        <span class="label pull-right">Low</span>

                        <div class="fa fa-arrows-v task-sort-icon"></div>
                        <div class="action-checkbox">
                            <label class="px-single"><input type="checkbox" name="" value="" class="px"><span
                                    class="lbl"></span></label>
                        </div>
                        <a href="#" class="task-title">An unimportant task</a>
                    </div>
                    <!-- / .task -->
                </div>
                <!-- / .panel-body -->
            </div>
            <!-- / .panel -->
        </div>
        <!-- /13. $RECENT_TASKS -->

    </div>
{% endblock %}