{% extends 'salah_admin/base.html' %}
{% load staticfiles %}
{% load html_tags %}

{% block title %}
    Career Update
{% endblock %}

{% block braed %}
    <div class="breadcrumb-label text-light-gray">You are here:</div>
    <li><a href="{% url 'admin-careers-list' %}">Awards</a></li>
    <li class="active"><a href="#">Edit</a></li>
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
                        <p>{{ message }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

 <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" role="form" enctype="multipart/form-data"
                          method="POST" action="">
                        {% csrf_token %}

                        <!--Title-->

                        <div class="form-group {% if form.title.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.title.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="text" placeholder="{{ form.title.label }}"
                                       class="form-control" name="{{form.title.html_name}}" value="{{form.title.value}}">

                                {% if form.title.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.title.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.title.help_text %}
                                            <li class="help">{{ form.title.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.title.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.title.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>

                        <!--Description-->

                         <div class="form-group {% if form.description.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.description.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <textarea type="text" placeholder="{{ form.description.label }}" class="form-control" name="{{form.description.html_name}}">{{form.description.value}}</textarea>
                                {% if form.description.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.description.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.description.help_text %}
                                            <li class="help">{{ form.description.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.description.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.description.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                        <!--Year-->

                         <div class="form-group {% if form.year.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.year.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
<input type="number" placeholder="{{ form.year.label }}" class="form-control" name="{{form.year.html_name}}" value="{{form.year.value}}">

                                {% if form.year.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.year.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.year.help_text %}
                                            <li class="help">{{ form.year.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.year.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.year.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>




                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-btn fa-check"></i>Update
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}