@import url(../../website/css/bootstrap.min.css);

@import url("https://fonts.googleapis.com/css?family=Cairo:400,700");
/* line 4, ../sass/rtl.scss */
* {
  direction: rtl;
}

/* line 5, ../sass/rtl.scss */
body {
  font-family: "Cairo", sans-serif;
  text-align: right;
}

/* line 10, ../sass/rtl.scss */
header .logo {
  float: right;
}
/* line 13, ../sass/rtl.scss */
header .menu {
  float: left;
}

/* line 19, ../sass/rtl.scss */
.post .thumb time {
  left: auto;
  right: 20px;
  right: 2rem;
  padding-right: 0;
  padding-left: 10px;
}
/* line 25, ../sass/rtl.scss */
.post .thumb time span.red {
  margin-right: 0;
  margin-left: 10px;
}
/* line 33, ../sass/rtl.scss */
.post.oneFourth .thumb time {
  left: auto;
  right: 10px;
  right: 1rem;
  padding-right: 0;
  padding-left: 5px;
}
/* line 37, ../sass/rtl.scss */
.post.oneFourth .thumb time span.red {
  margin-right: 0;
  margin-left: 5px;
}

/* line 43, ../sass/rtl.scss */
#featured h2 {
  margin-left: auto;
  margin-right: 8px;
}
/* line 47, ../sass/rtl.scss */
#featured .post {
  background-color: #fff;
}
