/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 21, ../sass/screen.scss */
html {
  font-size: 62.5%;
}

/* line 22, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 23, ../sass/screen.scss */
h1 {
  font-size: 48px;
  font-size: 4.8rem;
  line-height: 1.2;
}

/* line 24, ../sass/screen.scss */
h2 {
  font-size: 30px;
  font-size: 3rem;
  line-height: 1.2;
}

/* line 25, ../sass/screen.scss */
h3 {
  font-size: 18px;
  font-size: 1.8rem;
}

/* line 26, ../sass/screen.scss */
h4 {
  font-size: 16px;
  font-size: 1.6rem;
}

/* line 27, ../sass/screen.scss */
h4 {
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 28, ../sass/screen.scss */
p {
  margin-bottom: 1rem;
}

/* line 29, ../sass/screen.scss */
strong {
  font-weight: bold;
}

/* line 30, ../sass/screen.scss */
a {
  color: #bc0015;
  text-decoration: none;
}

/* line 31, ../sass/screen.scss */
a:active, button:active, input:active, a:focus, button:focus, input:focus, textarea:focus, textarea:active {
  outline: none;
}

/* line 32, ../sass/screen.scss */
body {
  background: #d9d9d9;
  font-size: 12px;
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  color: #666;
  line-height: 1.6 !important;
  position: relative;
  padding-top: 75px;
}

/* line 43, ../sass/screen.scss */
.container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  width: 94%;
  overflow: hidden;
}
/* line 12, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 44, ../sass/screen.scss */
header {
  height: 75px;
  line-height: 75px;
  vertical-align: middle;
  background: #ee0012;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
/* line 53, ../sass/screen.scss */
header .logo {
  float: left;
  padding-top: 8px;
}
/* line 55, ../sass/screen.scss */
header .logo img {
  width: 175px;
  height: 31px;
}
/* line 57, ../sass/screen.scss */
header .menu {
  color: #fff;
  float: right;
  font-size: 21px;
}

/* line 64, ../sass/screen.scss */
.post .thumb {
  display: block;
  position: relative;
  line-height: 1;
}
/* line 68, ../sass/screen.scss */
.post .thumb img {
  width: 100%;
}
/* line 71, ../sass/screen.scss */
.post .thumb time {
  position: absolute;
  height: 30px;
  bottom: 20px;
  bottom: 2rem;
  left: 20px;
  left: 2rem;
  background-color: #fff;
  line-height: 30px;
  padding-right: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #bc0015;
}
/* line 84, ../sass/screen.scss */
.post .thumb time span.red {
  display: inline-block;
  padding: 0 10px;
  height: 30px;
  background: #bc0015;
  color: #fff;
  font-size: 18px;
  margin-right: 10px;
}
/* line 95, ../sass/screen.scss */
.post a {
  color: #666;
}
/* line 96, ../sass/screen.scss */
.post datetime {
  font-weight: bold;
}
/* line 99, ../sass/screen.scss */
.post.oneFourth .thumb time {
  font-size: 14px;
  height: 25px;
  bottom: 10px;
  bottom: 1rem;
  left: 10px;
  left: 1rem;
  padding-right: 5px;
  line-height: 25px;
}
/* line 105, ../sass/screen.scss */
.post.oneFourth .thumb time span.red {
  height: 25px;
  margin-right: 5px;
  padding: 0 5px;
}
/* line 108, ../sass/screen.scss */
.post.oneFourth .body {
  padding: 5px;
}

/* line 113, ../sass/screen.scss */
#highlight {
  padding: 30px 0;
  padding: 3rem 0;
  background: #bc0015;
  color: #fff;
}
/* line 118, ../sass/screen.scss */
#highlight a {
  color: #fff;
}
/* line 121, ../sass/screen.scss */
#highlight p.desc {
  font-size: 18px;
  font-size: 1.8rem;
}

/* line 127, ../sass/screen.scss */
#main .post {
  background-color: #fff;
}

/* line 131, ../sass/screen.scss */
#featured {
  padding: 50px 0;
  padding: 5rem 0;
  background-color: #bc0015;
}
/* line 135, ../sass/screen.scss */
#featured h2 {
  color: #fff;
  margin-left: 8px;
}
/* line 139, ../sass/screen.scss */
#featured .post {
  background-color: #fff;
}

/* line 144, ../sass/screen.scss */
.half .body {
  padding: 20px;
}

/* line 148, ../sass/screen.scss */
footer {
  background-color: #fff;
  padding: 50px;
}
/* line 151, ../sass/screen.scss */
footer img {
  max-width: 100%;
}

/* line 155, ../sass/screen.scss */
#popup {
  display: none;
  z-index: 100;
  background: rgba(0, 0, 0, 0.85);
  width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
/* line 162, ../sass/screen.scss */
#popup .popupClose {
  color: #fff;
  font-size: 14px;
  display: block;
  text-align: center;
  padding: 30px 0;
  opacity: 0.75;
}
/* line 169, ../sass/screen.scss */
#popup .popupClose:hover {
  opacity: 1;
}
/* line 173, ../sass/screen.scss */
#popup .content {
  max-width: 700px;
  width: 82%;
  margin: 0 auto;
  vertical-align: middle;
}
/* line 178, ../sass/screen.scss */
#popup .content video {
  vertical-align: middle;
  width: 100%;
  height: auto;
}
/* line 183, ../sass/screen.scss */
#popup .content h3 {
  color: #fff;
  margin-top: 15px;
}

/* line 189, ../sass/screen.scss */
p.red {
  color: #bc0015;
}

/* line 190, ../sass/screen.scss */
.grid {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

/* line 191, ../sass/screen.scss */
.oneFourth {
  width: 22.22222%;
  float: left;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
}

/* line 192, ../sass/screen.scss */
.row {
  width: 97.22222%;
  float: left;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
}

/* line 193, ../sass/screen.scss */
.half {
  width: 47.22222%;
  float: left;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
}

/* line 195, ../sass/screen.scss */
.mb-10 {
  margin-bottom: 10px;
  margin-bottom: 1rem;
}

/* line 196, ../sass/screen.scss */
.mb-15 {
  margin-bottom: 10px;
  margin-bottom: 1.5rem;
}

/* line 197, ../sass/screen.scss */
.mb-20 {
  margin-bottom: 20px;
  margin-bottom: 2rem;
}

/* line 198, ../sass/screen.scss */
.mb-30 {
  margin-bottom: 30px;
  margin-bottom: 3rem;
}

/* line 199, ../sass/screen.scss */
.mb-60 {
  margin-bottom: 60px;
  margin-bottom: 6rem;
}

/* line 200, ../sass/screen.scss */
.mb-120 {
  margin-bottom: 120px;
  margin-bottom: 12rem;
}

/* line 201, ../sass/screen.scss */
.pt {
  padding-top: 150px;
  padding-top: 15rem;
}

/* line 202, ../sass/screen.scss */
.mt-30 {
  margin-top: 30px;
  margin-top: 3rem;
}

/* line 203, ../sass/screen.scss */
.mt-50 {
  margin-top: 50px;
  margin-top: 5rem;
}

/* line 204, ../sass/screen.scss */
.mt-60 {
  margin-top: 60px;
  margin-top: 6rem;
}

/* line 205, ../sass/screen.scss */
.lightColor {
  color: #999 !important;
}

/* line 206, ../sass/screen.scss */
.nmb {
  margin-bottom: 0;
}
