{% extends 'salah_admin/base.html' %}
{% load staticfiles %}
{% load html_tags %}

{% block title %}
    League {{object.title}}
{% endblock %}

{% block braed %}
    <div class="breadcrumb-label text-light-gray">You are here:</div>
    <li><a href="{% url 'admin-leagues-list' %}">League</a></li>
    <li class="active"><a href="#">Edit</a></li>
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
                        <p>{{ message }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

 <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" role="form" enctype="multipart/form-data"
                          method="POST" action="">
                        {% csrf_token %}

                        <!--Title-->

                        <div class="form-group {% if form.title.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.title.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="text" placeholder="{{ form.title.label }}"
                                       class="form-control" name="{{form.title.html_name}}" value="{{form.title.value}}">

                                {% if form.title.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.title.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.title.help_text %}
                                            <li class="help">{{ form.title.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.title.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.title.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                         <!--Season-->

                        <div class="form-group {% if form.season.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.season.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                {{form.season}}

                                {% if form.season.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.season.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.season.help_text %}
                                            <li class="help">{{ form.season.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.season.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.season.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        
                        
                        <!--Img_id-->

                         <div class="form-group {% if form.image.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    Image
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                {% if object.image %}
                                <img width="50px" height="50px" src="{{object.image.url}}">
                                {% endif %}

                                {{form.image}}

                                {% if form.image.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.image.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.image.help_text %}
                                            <li class="help">{{ form.image.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.image.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.image.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>




                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-btn fa-check"></i>Update
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}