.page-link {
color: white !important;
background-color: black !important;
border-color: grey !important;
}
.page-item {
background-color: black !important;
border-color: grey !important;
}

.page-item.active .page-link {
background-color: #f70010 !important;
}
.pagination {
justify-content: center;
}