{% extends 'salah_admin/base.html' %}
{% load staticfiles %}
{% load html_tags %}

{% block title %}
    Users
{% endblock %}

{% block braed %}
    <div class="breadcrumb-label text-light-gray">You are here:</div>
    <li><a href="#">Users</a></li>
    <li class="active"><a href="#">Create</a></li>
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
                        <p>{{ message }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" role="form" enctype="multipart/form-data"
                          method="POST" action="">
                        {% csrf_token %}

                        <div class="form-group {% if form.first_name.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.first_name.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="text" placeholder="{{ form.first_name.label }}"
                                       class="form-control" name="first_name" value="">

                                {% if form.first_name.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.first_name.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.first_name.help_text %}
                                            <li class="help">{{ form.first_name.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.first_name.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.first_name.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>

<!-- Last Name -->
                    <div class="form-group {% if form.last_name.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.last_name.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="text" placeholder="{{ form.last_name.label }}"
                                       class="form-control" name="last_name" value="">

                                {% if form.last_name.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.last_name.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.last_name.help_text %}
                                            <li class="help">{{ form.last_name.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.last_name.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.last_name.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>

                    <!-- Email -->
                    <div class="form-group {% if form.email.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.email.label}}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="text" placeholder="{{ form.email.label }}"
                                       class="form-control" name="email" value="">

                                {% if form.email.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.email.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.email.help_text %}
                                            <li class="help">{{ form.email.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.email.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.email.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>

                    <!-- Password -->
                    <div class="form-group {% if form.password.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.password.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="password" placeholder="{{ form.password.label }}"
                                       class="form-control" name="password" value="">

                                {% if form.password.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.password.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.password.help_text %}
                                            <li class="help">{{ form.password.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.password.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.password.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-btn fa-check"></i>Add
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}