@import url("https://fonts.googleapis.com/css?family=Lato:300,700");
@import url(../css/bootstrap.min.css);
@import url(../css/OwlCarousel/owl.carousel.min.css);
@font-face {
  font-family: 'GE-UltraLight';
  src: url(../fonts/GE_SS_Text_UltraLight.otf);
}
@font-face {
  font-family: 'GE-Bold';
  src: url(../fonts/GE_SS_Two_Bold.otf);
}
@font-face {
  font-family: 'Lato', sans-serif;
}
/***
Custom Scrollbars
***/
/* line 36, ../sass/style.scss */
::-webkit-scrollbar {
  width: 4px;
}

/* line 39, ../sass/style.scss */
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 44, ../sass/style.scss */
::-webkit-scrollbar-thumb {
  background-color: #f02c3e;
}

/* line 48, ../sass/style.scss */
::-webkit-scrollbar-thumb:hover {
  background-color: #f02c3e;
}

/* line 51, ../sass/style.scss */
::-webkit-scrollbar-track {
  border-radius: 0;
  box-shadow: none;
  border: 0;
}

/* line 56, ../sass/style.scss */
::-webkit-scrollbar-thumb {
  border-radius: 0;
  box-shadow: none;
  border: 0;
}

/* line 62, ../sass/style.scss */
body {
  font-family: "GE-UltraLight";
  color: #FFFFFF;
  overflow: hidden;
}
/* line 67, ../sass/style.scss */
body .wrapper {
  -moz-perspective: 1000;
  -webkit-perspective: 1000;
  perspective: 1000;
}
/* line 71, ../sass/style.scss */
body .main-container {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  background-image: url(../images/main-bg.jpg);
  background-position: center;
  background-size: cover;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-transform: translateX(0) rotateY(0deg) scale(1);
  -ms-transform: translateX(0) rotateY(0deg) scale(1);
  -webkit-transform: translateX(0) rotateY(0deg) scale(1);
  transform: translateX(0) rotateY(0deg) scale(1);
}
/* line 88, ../sass/style.scss */
body.menu-open .main-container {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-transform: translateX(50%) rotateY(-40deg) scale(0.9);
  -ms-transform: translateX(50%) rotateY(-40deg) scale(0.9);
  -webkit-transform: translateX(50%) rotateY(-40deg) scale(0.9);
  transform: translateX(50%) rotateY(-40deg) scale(0.9);
}

/* line 94, ../sass/style.scss */
a, button {
  outline: none !important;
  text-decoration: none !important;
}

/* line 98, ../sass/style.scss */
.btn-red {
  color: #FFFFFF;
  background-color: #a61417;
}
/* line 101, ../sass/style.scss */
.btn-red:hover {
  background-color: #360000;
}

/* line 105, ../sass/style.scss */
.container {
  max-width: 580px;
  padding: 0 10px;
}

/* line 109, ../sass/style.scss */
header {
  padding: 40px 15px;
}
/* line 111, ../sass/style.scss */
header .v-logo {
  float: right;
}
/* line 113, ../sass/style.scss */
header .v-logo img {
  width: 32px;
}
/* line 118, ../sass/style.scss */
header .menu-btn, header .return {
  float: left;
  background: none;
  border: 0;
  padding: 2px 5px;
  cursor: pointer;
}
/* line 126, ../sass/style.scss */
header .menu-btn div {
  width: 32px;
  height: 2px;
  background-color: #FFFFFF;
  margin: 6px 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/* line 135, ../sass/style.scss */
header .return {
  width: 45px;
  height: 45px;
  background-image: url(../images/icons/return.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
}

/* line 146, ../sass/style.scss */
.header-caption {
  text-align: center;
  position: relative;
}
/* line 149, ../sass/style.scss */
.header-caption:not(.with-content) {
  height: 180px;
  padding: 10px 0 0;
}
/* line 153, ../sass/style.scss */
.header-caption img {
  max-height: 170px;
}
/* line 155, ../sass/style.scss */
.header-caption img .big {
  margin-right: -20px;
  height: 100%;
}
/* line 160, ../sass/style.scss */
.header-caption h2 {
  text-align: left;
  font-size: 22px;
  position: absolute;
  bottom: 20px;
  left: 15px;
  line-height: 25px;
  margin: 0;
}

/* line 170, ../sass/style.scss */
.page-content {
  height: calc(100vh - 180px);
  overflow: auto;
}

/* line 174, ../sass/style.scss */
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #150c0c;
  padding: 40px 15px;
  z-index: 0;
  width: 100%;
  color: #FFFFFF;
}
/* line 184, ../sass/style.scss */
.menu-container > div {
  height: 100%;
}
/* line 186, ../sass/style.scss */
.menu-container > div .user {
  font-family: "Lato";
}
/* line 188, ../sass/style.scss */
.menu-container > div .user h3 {
  font-size: 18px;
  margin: 0 0 2px;
  font-weight: 700;
}
/* line 193, ../sass/style.scss */
.menu-container > div .user a {
  font-size: 14px;
  color: #FFFFFF;
  font-weight: 300;
  opacity: 0.8;
}
/* line 198, ../sass/style.scss */
.menu-container > div .user a:hover {
  color: #f02c3e;
}
/* line 203, ../sass/style.scss */
.menu-container > div ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 210, ../sass/style.scss */
.menu-container > div .menu ul li {
  margin: 10px 0;
}
/* line 212, ../sass/style.scss */
.menu-container > div .menu ul li a {
  color: #FFFFFF;
  font-size: 18px;
}
/* line 215, ../sass/style.scss */
.menu-container > div .menu ul li a:hover {
  color: #f02c3e;
}
/* line 224, ../sass/style.scss */
.menu-container > div .social ul li {
  display: inline-block;
}
/* line 226, ../sass/style.scss */
.menu-container > div .social ul li + li {
  margin-left: 20px;
}
/* line 229, ../sass/style.scss */
.menu-container > div .social ul li a {
  display: block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
/* line 238, ../sass/style.scss */
.menu-container > div .social ul li a.facebook {
  background-image: url(../images/icons/facebook.png);
}
/* line 239, ../sass/style.scss */
.menu-container > div .social ul li a.twitter {
  background-image: url(../images/icons/twitter.png);
}
/* line 240, ../sass/style.scss */
.menu-container > div .social ul li a.google {
  background-image: url(../images/icons/google.png);
}

/*********************
***** LOGIN PAGE *****
*********************/
/* line 250, ../sass/style.scss */
.login-page {
  min-height: 100vh;
  text-align: center;
}
/* line 253, ../sass/style.scss */
.login-page > div {
  position: relative;
  z-index: 1;
}
/* line 257, ../sass/style.scss */
.login-page:after {
  content: "";
  height: 25vh;
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF000000', endColorstr='#FFA80000');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC44Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.8)));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}
/* line 271, ../sass/style.scss */
.login-page .logo-container {
  margin-bottom: 50px;
  margin-right: -10px;
  position: relative;
  display: inline-block;
}
/* line 276, ../sass/style.scss */
.login-page .logo-container img {
  max-width: 100%;
  max-width: 180px;
}
/* line 280, ../sass/style.scss */
.login-page .logo-container span {
  font-size: 30px;
  line-height: 35px;
  position: absolute;
  top: 115px;
  left: -30px;
  font-family: "GE-Bold";
  text-align: right;
}
/* line 290, ../sass/style.scss */
.login-page .login-form {
  text-align: center;
  color: #FFF;
}
/* line 294, ../sass/style.scss */
.login-page .form-control {
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #FFFFFF;
  font-size: 20px;
  box-shadow: none;
  text-align: center;
  color: #FFFFFF;
  padding: 12px;
}
/* line 305, ../sass/style.scss */
.login-page .btn {
  margin: 10px 0;
  padding: 10px 60px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
/* line 310, ../sass/style.scss */
.login-page .create-account {
  color: #FFFFFF;
}

/*********************
***** HOME PAGE *****
*********************/
/* line 317, ../sass/style.scss */
.main-slider {
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.7);
}
/* line 320, ../sass/style.scss */
.main-slider h3 {
  text-align: right;
  margin: 0 0 12px;
  font-size: 22px;
}
/* line 325, ../sass/style.scss */
.main-slider .caption {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  padding: 12px;
  color: #fff;
  background-color: rgba(23, 0, 0, 0.7);
}
/* line 334, ../sass/style.scss */
.main-slider .caption.has-video {
  padding-right: 60px;
  background-image: url(../images/icons/play-red.png);
  background-position: center right 12px;
  background-size: 38px;
  background-repeat: no-repeat;
}
/* line 343, ../sass/style.scss */
.main-slider .caption h5 {
  text-align: right;
  margin: 0;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  direction: rtl;
}
/* line 353, ../sass/style.scss */
.main-slider .owl-dots {
  position: absolute;
  top: -30px;
  left: 0;
  z-index: 1;
}
/* line 358, ../sass/style.scss */
.main-slider .owl-dots > div {
  float: left;
  width: 7px;
  height: 7px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 0 2px;
  background-color: #f02c3e;
}
/* line 365, ../sass/style.scss */
.main-slider .owl-dots > div.active {
  background-color: #FFFFFF;
}

/* line 371, ../sass/style.scss */
.home-sections {
  background-color: #a61417;
}
/* line 373, ../sass/style.scss */
.home-sections .home-section {
  background-color: #280000;
  padding: 12px;
  margin: 10px 0;
  color: #FFFFFF;
  text-align: right;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 380, ../sass/style.scss */
.home-sections .home-section h4 {
  font-size: 16px;
  margin: 0;
}
/* line 384, ../sass/style.scss */
.home-sections .home-section .image-container {
  margin: 12px -12px;
  height: 12vh;
  overflow: hidden;
}
/* line 388, ../sass/style.scss */
.home-sections .home-section .image-container img {
  width: 100%;
}
/* line 392, ../sass/style.scss */
.home-sections .home-section p {
  font-size: 12px;
  margin: 0;
  height: 30px;
  line-height: 15px;
}
/* line 398, ../sass/style.scss */
.home-sections .home-section span {
  display: block;
  color: #a61417;
  font-size: 10px;
}

/*********************
***** NEWS PAGE *****
*********************/
/* line 408, ../sass/style.scss */
.news-page {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px 10px;
}
/* line 411, ../sass/style.scss */
.news-page .news-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 415, ../sass/style.scss */
.news-page .news-list > li {
  direction: rtl;
  text-align: right;
  margin: 20px 0;
}
/* line 419, ../sass/style.scss */
.news-page .news-list > li a {
  display: table;
  width: 100%;
  color: #FFFFFF;
}
/* line 423, ../sass/style.scss */
.news-page .news-list > li a:hover {
  color: #a61417;
}
/* line 427, ../sass/style.scss */
.news-page .news-list > li .image-container {
  float: right;
  width: 90px;
  height: 70px;
  padding: 0;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
/* line 433, ../sass/style.scss */
.news-page .news-list > li .image-container img {
  width: 100%;
  height: 100%;
}
/* line 438, ../sass/style.scss */
.news-page .news-list > li div {
  overflow: hidden;
  padding: 8px 20px;
}
/* line 442, ../sass/style.scss */
.news-page .news-list > li p {
  font-size: 15px;
  margin: 0;
  height: 35px;
  line-height: 18px;
}
/* line 448, ../sass/style.scss */
.news-page .news-list > li span {
  display: block;
  color: #f02c3e;
  font-size: 12px;
}

/*********************
***** VIDEOS PAGE *****
*********************/
/* line 459, ../sass/style.scss */
.videos-page {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px 10px;
}
/* line 462, ../sass/style.scss */
.videos-page .videos-list {
  list-style: none;
  padding: 0;
  margin: 0;
  direction: rtl;
  display: table;
  width: 100%;
}
/* line 469, ../sass/style.scss */
.videos-page .videos-list .col-6 {
  float: right;
  text-align: right;
  margin: 10px 0;
}
/* line 473, ../sass/style.scss */
.videos-page .videos-list .col-6 a {
  display: table;
  width: 100%;
  color: #FFFFFF;
  position: relative;
  overflow: hidden;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
/* line 480, ../sass/style.scss */
.videos-page .videos-list .col-6 a:hover {
  color: #a61417;
}
/* line 484, ../sass/style.scss */
.videos-page .videos-list .col-6 .image-container {
  height: 120px;
}
/* line 486, ../sass/style.scss */
.videos-page .videos-list .col-6 .image-container img {
  width: 100%;
  height: 100%;
}
/* line 491, ../sass/style.scss */
.videos-page .videos-list .col-6 .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  padding: 5px 12px;
  padding-left: 35px;
  background-color: rgba(108, 0, 0, 0.65);
  background-image: url(../images/icons/play.png);
  background-position: center left 14px;
  background-repeat: no-repeat;
  background-size: 15px;
}
/* line 506, ../sass/style.scss */
.videos-page .videos-list .col-6 .caption p {
  font-size: 11px;
  margin: 0;
  height: 28px;
  line-height: 15px;
}

/*********************
***** NEWS DETAILS PAGE *****
*********************/
/* line 519, ../sass/style.scss */
.news-details {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* line 526, ../sass/style.scss */
.news-details:after {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjc1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(60%, rgba(0, 0, 0, 0.75)), color-stop(100%, rgba(0, 0, 0, 0.9)));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 60%, rgba(0, 0, 0, 0.9) 100%);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 60%, rgba(0, 0, 0, 0.9) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 60%, rgba(0, 0, 0, 0.9) 100%);
}
/* line 536, ../sass/style.scss */
.news-details > div {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  color: #FFFFFF;
  z-index: 1;
  text-align: right;
  padding: 20px;
}
/* line 545, ../sass/style.scss */
.news-details > div h2 {
  margin: 0 0 10px;
  font-size: 20px;
  font-weight: bold;
}
/* line 550, ../sass/style.scss */
.news-details > div h3 {
  font-weight: bold;
  margin: 0;
  font-size: 18px;
}
/* line 555, ../sass/style.scss */
.news-details > div span.time {
  color: #f02c3e;
  font-size: 14px;
}
/* line 559, ../sass/style.scss */
.news-details > div .body {
  font-size: 18px;
  overflow: auto;
  max-height: 60vh;
  margin: 25px -10px 0;
  padding: 0 10px;
}
/* line 565, ../sass/style.scss */
.news-details > div .body p {
  margin-bottom: 20px;
}

/*********************
***** CHAMPION PAGE *****
*********************/
/* line 575, ../sass/style.scss */
.main-container .nav-pills {
  background-color: #360000;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
/* line 578, ../sass/style.scss */
.main-container .nav-pills a {
  color: #FFFFFF;
  font-size: 14px;
  padding: 12px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
/* line 583, ../sass/style.scss */
.main-container .nav-pills a.active {
  background-color: #a61417;
}
/* line 588, ../sass/style.scss */
.main-container .tab-pane {
  padding: 20px 0 0;
}
/* line 590, ../sass/style.scss */
.main-container .tab-pane .tab-title {
  text-align: center;
  font-size: 18px;
  margin: 0;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #3c3c3c;
}
/* line 598, ../sass/style.scss */
.main-container .tab-pane table {
  margin: 0;
}

/* line 603, ../sass/style.scss */
.champion-page {
  background-color: rgba(21, 12, 12, 0.8);
  padding: 25px 10px;
}
/* line 606, ../sass/style.scss */
.champion-page .league-table {
  border: 0;
  color: #FFFFFF;
  font-family: "Lato";
}
/* line 610, ../sass/style.scss */
.champion-page .league-table tbody tr:first-child {
  color: #00d062;
}
/* line 611, ../sass/style.scss */
.champion-page .league-table th, .champion-page .league-table td {
  border: 0;
  padding: 5px;
  vertical-align: middle;
}
/* line 615, ../sass/style.scss */
.champion-page .league-table th:last-child, .champion-page .league-table td:last-child {
  text-align: right;
}
/* line 616, ../sass/style.scss */
.champion-page .league-table th:first-child, .champion-page .league-table td:first-child {
  width: 35px;
}
/* line 618, ../sass/style.scss */
.champion-page .league-table th {
  font-weight: 700;
}
/* line 621, ../sass/style.scss */
.champion-page .league-table .stable {
  margin: auto;
  display: block;
  width: 7px;
  height: 7px;
  background-color: #00d062;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 629, ../sass/style.scss */
.champion-page .league-table .up, .champion-page .league-table .down {
  margin: auto;
  display: block;
  width: 15px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
/* line 640, ../sass/style.scss */
.champion-page .league-table .up {
  background-image: url(../images/icons/up.png);
}
/* line 641, ../sass/style.scss */
.champion-page .league-table .down {
  background-image: url(../images/icons/down.png);
}
/* line 643, ../sass/style.scss */
.champion-page .teams-table {
  overflow: auto;
}
/* line 645, ../sass/style.scss */
.champion-page .teams-table .table {
  border: 0;
  color: #FFFFFF;
  font-family: "Lato";
}
/* line 649, ../sass/style.scss */
.champion-page .teams-table .table th, .champion-page .teams-table .table td {
  border: 0;
  padding: 5px;
  vertical-align: middle;
}
/* line 654, ../sass/style.scss */
.champion-page .teams-table .table th {
  padding: 20px 20px 20px 0;
}
/* line 655, ../sass/style.scss */
.champion-page .teams-table .table span {
  width: 28px;
  line-height: 28px;
  height: 28px;
  text-align: center;
  text-transform: uppercase;
  display: block;
  font-size: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 664, ../sass/style.scss */
.champion-page .teams-table .table span.win {
  background-color: #00d062;
}
/* line 665, ../sass/style.scss */
.champion-page .teams-table .table span.lose {
  background-color: #f02c3e;
}
/* line 666, ../sass/style.scss */
.champion-page .teams-table .table span.draw {
  background-color: #150c0c;
}
/* line 671, ../sass/style.scss */
.champion-page .league-matches {
  color: #FFFFFF;
  font-family: "Lato";
}
/* line 675, ../sass/style.scss */
.champion-page .league-matches tr:first-child th, .champion-page .league-matches tr:first-child td {
  border: 0;
}
/* line 677, ../sass/style.scss */
.champion-page .league-matches tr, .champion-page .league-matches td {
  padding: 8px;
}
