﻿{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Subscribe Page</title>
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <link rel="stylesheet" href="{{image_host}}{% static 'website/css/style.css' %}?n=2" />
  </head>
  <body dir="ltr">
    <div id="bodyContainer"></div>
    <main class="subscribe-page subscribe-page-salah-bg">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card-wrapper">
              <div class="card-content">
                  <form method="post">
                      {% csrf_token %}
                      <input hidden name="mobile" value="{{ number }}">
                      <button class="btn btn-subscribe text-3x" type="submit">
                          اشترك الأن
                      </button>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
