{% extends 'website/base.html' %}
{% load static %}
{% block title %} شجع محمد صلاح {% endblock %}
{% block content %}

    {% include 'website/views/partial/header.html' %}
<div class="header-caption container">
	<img class="big" src="{{image_host}}{% static 'website/images/header/salah_banner2.png' %}" alt="">
</div>




{#    <button class="audio-btn strt disable-btn" id="submit" disabled>Submit</button>#}
{#    <span class="upload-comp">Uploading Complete</span>#}


<section class="page-content ask-page">
	<div class="container">
		<h3 class="title">شجع محمد صلاح</h3>
		<form enctype="multipart/form-data" class="ask-form" action="{% url 'question-add' %}" method="post">
			{% csrf_token %}
			<div class="form-group">
				<input required type="text" class="form-control text-right" placeholder="الإسم" name="{{form.title.html_name}}" value="">
			</div>
            {% if request.user_agent.os.family == 'iOS' %}

                <div class="input-container">
{#                    <input style="display: none;" name="question" type="file" accept="audio/*" id="real-input">#}
                    <input required style="display: none;" name="question" type="file" id="real-input">
                    <button class="browse-btn" type="button">
                        Browse Files
                    </button>
                    <span class="file-info">Upload a file</span>
                </div>

            {% elif request.user_agent.os.family == 'Linux' or request.user_agent.os.family == 'Windows' or 'Mac' in request.user_agent.os.family %}
                <div class="form-group" style="text-align: center">
                      <p>
                          <i class="fas fa-circle"></i>
                          من فضلك تأكد من الضغط على زر التسجيل
                      </p>
                    <p>
                        <i class="fas fa-square"></i>
                        ثم الضغط على زر الإيقاف لإتمام التسجيل
                    </p>
                    <audio style="display: inline-block" id="myAudio" class="video-js vjs-default-skin vjs-big-play-centered"></audio>
                </div>
            {% else %}
                <div class="form-group" style="text-align: center">
                    <div class="upload-btn-wrapper">
                        <button type="button" class="btn-upload">Start Recording</button>
                        <input required name="question" type="file" accept="audio/*" id="real-input" capture>
                    </div>
                </div>
            {% endif %}
{#			<div class="form-group">#}
{#				<textarea name="{{form.question.html_name}}" class="form-control text-right" placeholder="نص السؤال"></textarea>#}
{#			</div>#}

            <div class="form-group m-0 text-center">
				<button id="submit" type="submit" class="btn btn-red" name="button">حفظ التسجيل</button>
			</div>



		</form>
	</div>
</section>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'website/js/jquery.validate.js' %}" type="text/javascript"></script>
<script src="{% static 'website/js/video.min.js' %}"></script>
<script src="{% static 'website/js/RecordRTC.min.js' %}"></script>
<script src="{% static 'website/js/wavesurfer.min.js' %}"></script>
<script src="{% static 'website/js/wavesurfer.microphone.js' %}"></script>
<script src="{% static 'website/js/videojs.wavesurfer.min.js' %}"></script>
<script src="{% static 'website/js/videojs.record.min.js' %}"></script>


    <script>

        // Handle audio record and upload
        $(document).ready(function(){
            {% if request.user_agent.os.family != 'Linux' and request.user_agent.os.family != 'Windows' and 'Mac' not in request.user_agent.os.family %}
            const uploadButton = document.querySelector('.browse-btn');
            const fileInfo = document.querySelector('.file-info');
            const realInput = document.getElementById('real-input');

            uploadButton.addEventListener('click', (e) => {
                realInput.click();
            });

            realInput.addEventListener('change', () => {
                const name = realInput.value.split(/\\|\//).pop();
                const truncated = name.length > 20
                    ? name.substr(name.length - 20)
                    : name;

                fileInfo.innerHTML = truncated;
            });
            {% endif %}

            {% if request.user_agent.os.family == 'Linux' or request.user_agent.os.family == 'Windows' or 'Mac' in request.user_agent.os.family %}
            var player = videojs("myAudio", {
                controls: true,
                width: 300,
                height: 200,
                fluid: true,

                controlBar: {
                    // hide fullscreen and volume controls
                    fullscreenToggle: false,
                    recordIndicator: true,
                },


                plugins: {
                    wavesurfer: {
                        src: "live",
                        waveColor: "#36393b",
                        progressColor: "black",
                        debug: false,
                        cursorWidth: 1,
                        msDisplayMax: 20,
                        hideScrollbar: true
                    },
                    record: {
                        audio: true,
                        video: false,
                        maxLength: 60,
                        debug: false
                    }
                }
            }, function() {
                // print version information at startup
                var msg = 'Using video.js ' + videojs.VERSION +
                    ' with videojs-record ' + videojs.getPluginVersion('record') +
                    ' + videojs-wavesurfer ' + videojs.getPluginVersion('wavesurfer') +
                    ' and recordrtc ' + RecordRTC.version;
                videojs.log(msg);
            });
            // error handling
            player.on('deviceError', function() {
                console.log('device error:', player.deviceErrorCode);
            });
            player.on('error', function(error) {
                console.log('error:', error);
            });
            // user clicked the record button and started recording
            player.on('startRecord', function() {
                console.log('started recording!');
            });
            // user completed recording and stream is available
            player.on('finishRecord', function() {
                // the blob object contains the recorded data that
                // can be downloaded by the user, stored on server etc.
                console.log('finished recording: ', player.recordedData);
                $('#submit').prop('disabled', false);
                $('#submit').removeClass('disable-btn');
            });



            $('#submit').on('click', function(){
                var form =  $('.ask-form');
                form.validate()
                if (form.valid()){
                    var btn = $(this);
                    btn.html('Saving...').prop('disabled', true).addClass('disable-btn');
                    var myFile = new File([player.recordedData], 'audio.webm');
                    var csrf = $('input[name="csrfmiddlewaretoken"]').val();
                    var title = $('input[name="title"]').val();
                    var url = "{% url 'question-add' %}";
                    var data = new FormData();
                    data.append('question', myFile);
                    data.append('csrfmiddlewaretoken', csrf);
                    data.append('title', title);
                    //reader.onload = function() { callback(reader.result) };
                        $.ajax({
                            url: url,
                            method: 'post',
                            data: data,
                            success: function(data){
                                console.log(data)
                                if(data.success){
                                    window.location.href = "/?question_added";
                                }
                                else{
                                    btn.html('Error').prop('disabled', false).removeClass('disable-btn');
                                }
                            },
                            error: function($xhr,textStatus,errorThrown){
                                console.log("ERROR : ", errorThrown);
                                console.log("ERROR : ", $xhr);
                                console.log("ERROR : ", textStatus);
                            },
                            cache: false,
                            contentType: false,
                            processData: false
                        });

                    };

                return false;
            });
            {% endif %}
        });
    </script>


{% endblock %}