{% extends 'website/base.html' %}
{% load static %}
{% block title %} Career {% endblock %}
{% block content %}
{% include 'website/views/partial/header.html' %}

<div class="header-caption container">
	<img class="big" src="{{image_host}}{% static 'website/images/header/salah-1.png' %}" alt="">
</div>
<section class="page-content with-bg career-page">
	<div class="container">
		<h2 class="title">مشوار محمد صلاح</h2>

		<ul class="time-line">
			{% for career in career_list %}
			<li>
				<label class="year">{{career.year}}</label>
				<div class="content">
					{{career.description}}
				</div>
			</li>
			{% endfor %}

		</ul>
	</div>
</section>
{% endblock %}