{% extends 'website/base.html' %}
{% load static %}
{% block title %} News {% endblock %}
{% block content %}

    {% include 'website/views/partial/header.html' %}
    <div class="header-caption container">
        <img class="big" src="{{image_host}}{% static 'website/images/header/salah-1.png' %}" alt="">
    </div>

    <section class="page-content champion-page">
        <div class="container">
            <nav class="nav nav-pills nav-justified">
                <a class="nav-item nav-link active" data-toggle="pill" href="#tab-1">جدول الدوري</a>
                <a class="nav-item nav-link" data-toggle="pill" href="#tab-2">فرق الدوري</a>
                <a class="nav-item nav-link" data-toggle="pill" href="#tab-3">المباريات</a>
            </nav>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab-1">
                    <h4 class="tab-title">جدول الدورى الإنجليزى</h4>
                    <table class="league-table table">
                        <thead>
                        <tr>
                            <th>pos</th>
                            <th></th>
                            <th>Club</th>
                            <th>pld</th>
                            <th>pts</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for team in teams_objects %}
                            <tr>
                                <td>{{ team.rank }}</td>
                                <td>
                                    {% if  team.status == 'HOLD' %}
                                        <span class="stable"></span>
                                    {% elif  team.status == 'UP' %}
                                        <span class="up"></span>
                                    {% elif  team.status == 'DOWN' %}
                                        <span class="down"></span>
                                    {% else %}
                                        <span class="stable"></span>
                                    {% endif %}
                                </td>
                                <td>{{ team.team.title }}</td>
                                <td>{{ team.game_played }}</td>
                                <td>{{ team.points }}</td>
                            </tr>
                        {% endfor %}
                        <!--<tr>-->
                        <!--<td>2</td>-->
                        <!--<td><span class="up"></span></td>-->
                        <!--<td>Manchester City</td>-->
                        <!--<td>20</td>-->
                        <!--<td>45</td>-->
                        <!--</tr>-->

                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="tab-2">
                    <h4 class="tab-title">فرق الدوري الإنجليزى</h4>
                    <div class="teams-table">
                        <table class="table">

                            {% for teamName, teamStatus in matches_teams.items %}
                                <tr>
                                    <th>{{ teamName }}</th>
                                    {% for status in teamStatus %}
                                        {% if status == 'WIN' %}
                                            <td><span class="win">w</span></td>
                                        {% elif status == 'DRAW' %}
                                            <td><span class="draw">d</span></td>
                                        {% else %}
                                            <td><span class="lose">l</span></td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>

                            {% endfor %}
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-3">
                    <h4 class="tab-title">مباريات الدورى</h4>

                    <table class="league-matches table">

                        {% for match in matches %}
                            {#                            {{ match.teams.through.score }}#}
                            <tr>
                                <th>{{ match.start_date }}</th>
                                {% for team in match.teams.all %}
                                    <td>
                                        {{ team }}
                                    </td>
                                {% endfor %}
                                <td></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
