{% extends 'website/base.html' %}
{% load static %}
{% block content %}
    <div class="login-page d-flex align-items-center">
        <div class="container">
            <div class="logo-container">
                <img src="{{ image_host }}{% static 'website/images/voda-mark.png' %}" alt="Vodafone">
                <span>
				عالم
				<br>
				محمد صلاح
			</span>
            </div>
            {#            {{ form.errors }}#}
            {% if messages %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
                                {% for message in messages %}
            {% if forloop.last %}
		        <p>{{ message }}</p>
            {% endif %}
        {% endfor %}
                            </div>
                        </div>
                    </div>
            {% endif %}

            <div class="login-form">
                <form class="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" autocomplete="off" class="form-control" name="username"
                               placeholder="أدخل رقمك" value="">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-red" name="" value="إرسال كلمة السر الجديدة">
                    </div>
                    <a href="{% url 'login' %}" class="create-account">تسجيل الدخول</a>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
