{% extends 'website/base.html' %}
{% load static %}
{% block title %} {{ gallery_object.title }} {% endblock %}
{% block content %}

    <header class="fixed-top">
        <div class="clearfix">
                <a class="return" href="{% url 'gallery-list' %}"></a>

            <div class="v-logo">
                <img src="{{image_host}}{% static 'website/images/voda-logo.png' %}" alt="">
            </div>
        </div>
    </header>

    <div class="news-details" style="background-image: url({{image_host}}{% static 'website/images/demo/news-details.jpg' %})">
        <div>
            <h2>صور محمد صلاح</h2>
            <h3>{{ gallery_object.title }}</h3>
            <span class="time">{{ gallery_object.created_at }}</span>

            <div class="body" style="text-align: center">
                		<img width="80%" src="{{gallery_object.imgid.url}}">
            </div>
        </div>
    </div>
{% endblock %}
