{% extends 'website/base.html' %}

{% load static %}
{% block content %}

{% include 'website/views/partial/header.html' %}

<div class="header-caption">
	<img class="big" src="{{image_host}}{% static 'website/images/header/salah-1.png' %}" alt="">
</div>

<section class="page-content">

	<div class="home-page page">
		<div class="main-slider">

			<div class="container">
				<h3>اخبار مميزة</h3>
				<div class="owl-carousel owl-theme">
					{% for item in items %}
					<div class="item">
							<a href="{% if item.url %} {{item.url}} {% else %} # {% endif %} ">
{#								<img src="{{image_host}}{% static 'website/images/demo/demo-slider.jpg' %}" alt="">#}
                                <img src="{{ item.imgid.url }}" alt="">
								<div class="caption has-video">
									<h5>{{ item.title }}</h5>
								</div>
							</a>
						</div>
					{% endfor %}

				</div>
			</div>

		</div>

		<div class="home-sections">
			<div class="container">
				<div class="row m-0">
					<div class="col-6 p-0 pr-2">
						<a href="{% url 'video-details' video.id %}">
							<div class="home-section">
								<h4>احدث الفيديوهات</h4>
								<div class="image-container">
									<img src="{{video.imgid.url}}" alt="">
								</div>
								<p>{{video.title}}</p>
								<span class="time">{{video.created_at}}</span>
							</div>
						</a>
					</div>
					<div class="col-6 p-0 pl-2">
						<a href="{% url 'news-details' news.id %}">
							<div class="home-section">
								<h4>احدث الأخبار</h4>
								<div class="image-container">
									<img src="{{news.imgid.url}}" alt="">
								</div>
								<p>{{news.title}}</p>
								<span class="time">{{news.created_at}}</span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>

	</div>

</section>

{% endblock %}