{% extends 'website/base.html' %}
{% load static %}
{% load mod_filter %}
{% block content %}

    {% include 'website/views/partial/header.html' %}
    <div class="header-caption container">
        <img class="big" src="{{image_host}}{% static 'website/images/header/salah-6.png' %}" alt="">
    </div>
    {% if messages %}
        {% for message in messages %}
            {% if forloop.last %}
		        {{message}}
            {% endif %}
        {% endfor %}
		{% endif %}
    <section class="page-content home-page">
        <div class="main-slider">
            <div class="container">
				<h3>اخبار مميزة</h3>
                <div class="owl-carousel owl-theme">
                    {% for item in items %}
                        <div class="item">
                            <a href="{% if item.url %} {{ item.url }} {% else %} # {% endif %} ">
                                {#								<img src="{{image_host}}{% static 'website/images/demo/demo-slider.jpg' %}" alt="">#}
                                <img class="img-responsive" src="{{image_host}}{{ item.imgid.url }}" alt="">
                                <div class="caption {% if item.video_id %} has-video {% endif %}">
                                    <h5>{{ item.title }}</h5>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="home-sections">
            <div class="container">
                <div class="row m-0">
                    <div class="col-6 p-0 pr-2">
{#                        <a href="{% if video.video_type == 'view1' %} {% url 'video-details' video.id %} {% else %} {% url 'liverpool-video-details' video.id %} {% endif %}">#}
                          <a href="{% if video.video_type == 'view1' %} {% url 'video-details' video.id %} {% else %}  https://www.liverpoolfc.com/vodafone/{{ video.id  }} {% endif %}">
                            <div class="home-section">
                                <h4>احدث الفيديوهات</h4>
                                <div class="image-container">
                                    <img src="{{image_host}}{{ video.imgid.url }}" alt="">
                                </div>
                                <p>{{ video.title }}</p>
                                <span class="time">{{ video.created_at }}</span>
                            </div>
                        </a>
                    </div>


                    {% with news|first as new %}

                        <div class="col-6 p-0 pl-2">
                        <a href="{% url 'news-details' new.id %}">
                            <div class="home-section">
                                <h4>احدث الأخبار</h4>
                                <div class="image-container">
                                    <img src="{{image_host}}{{ new.imgid.url }}" alt="">
                                </div>
                                <p>{{ new.title }}</p>
                                <span class="time">{{ new.created_at }}</span>
                            </div>
                        </a>
                    {% endwith %}

                    </div>

                </div>
            </div>
        </div>


        <div class="home-sections news">
            <div class="container">
                <h3 class="section-title">اخر الاخبار</h3>
                <ul class="news-list">
                    {% for new in news %}
                        <li>
                            <a href="{% url 'news-details' new.id %}">
                                <div class="image-container">
                                    <img src="{{image_host}}{{ new.imgid.url }}" alt="">
                                </div>

                                <div>
                                    <p>{{ new.title }}</p>
                                    <span class="time"> {{new.created_at}}  </span>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>

                <div class="row">
                    <div class="next-match">
					<div class="d-flex align-items-center justify-content-center text-center">
                            <div class="time">
                                <label> {% if next_match.status == 'In-Progress' %} الآن {% else %} المباراة القادمة <span>{{ next_match_date }}</span> {% endif %}</label>

                            </div>

            <div style="font-size:0.9em" class="match-team">
               {{ next_match_teams.0 }}
              {% if next_match.status == 'In-Progress' %}<div class="match-team_score"> {{ next_match_teams.1.score }}</div> {% endif %}
            </div>
            <div class="live-match_center">
              -

            </div>
            <div style="font-size:0.9em" class="match-team">
             {{ next_match_teams.2 }}
              {% if next_match.status == 'In-Progress' %} <div class="match-team_score">{{ next_match_teams.3.score }}</div> {% endif %}
		</div>
                        {% comment %}
                         <div class="ch-logo">
                                <img src="{{image_host}}{{next_match_league.image.url}}" alt="">
                            </div>
                        {% endcomment %}
					</div>



                        </div>
                    </div>


                    <div class="countdown" data-time="">
                        {% if next_match.status == 'In-Progress' %}
                        <span>مباشر</span>
                        <div class="row">
        <div class="live-timeline">

          <div class="live-timeline_team">
                {% for timeline in last_match_timeline %}
              {% if timeline.team == next_match_teams.0 and timeline.type == 'GOAL'  %}

            <div class="live-timeline_event">
              <i class="far fa-futbol"></i>
              <span>{{timeline.player}}</span>
              <span>{{timeline.minute}}</span>
            </div>


              {% endif %}

            {% endfor %}
          </div>

                      <div style="border-right: 2px" class="live-timeline_team">
                {% for timeline in last_match_timeline %}
              {% if timeline.team == next_match_teams.2  and timeline.type == 'GOAL' %}

            <div class="live-timeline_event">
              <i class="far fa-futbol"></i>
              <span>{{timeline.player}}</span>
              <span>{{timeline.minute}}</span>
            </div>


              {% endif %}

            {% endfor %}
          </div>



          <div class="live-timeline_full">
            <a href="{% url 'match-stats' %}">تفاصيل المباراة</a>
          </div>
        </div>
      </div>
                        {% else %}
                        <span class="s"><span id="timeSeconds">{{ count_down.seconds }}</span> ثانيه</span>
                        <span class="m"><span id="timeMinutes">{{ count_down.minutes }}</span> دقيقة</span>
                        <span class="h"><span id="timeHours">{{ count_down.hours }}</span> ساعة</span>
                        <span><span id="timeDay">{{ count_down.days }}</span> يوم</span>
                    {% endif %}
                    </div>

		<script type="text/javascript">
                        $(document).ready(function () {
                            setInterval(function () {
                                var s = $('#timeSeconds');
                                var m = $('#timeMinutes');
                                var h = $('#timeHours');
                                var d = $('#timeDay');

                                var seconds = parseInt(s.html());
                                var mintues = parseInt(m.html());
                                var hours = parseInt(h.html());
                                var days = parseInt(d.html());

                                if (seconds > 0) {
                                    seconds--;
                                } else if (seconds == 0) {
                                    seconds = 59;

                                    if (mintues > 0) {
                                        mintues--;
                                    } else if (mintues == 0) {
                                        mintues = 59;

                                        if (hours > 0) {
                                            hours--;
                                        } else if (hours == 0) {
                                            hours = 23;
                                        }

                                        h.text(hours);
                                    }

                                    m.text(mintues);
                                }


                                s.text(seconds);
                            }, 1000);
                        });
                    </script>
                </div>
            </div>

        <div class="salah-numbers">
            <div class="container">
                <div class="in-row row">
                    <div class="numbers-content">
                       <a style="color:black" href="{% url 'numbers-list' %}">  <h4>أرقام محمد صلاح</h4></a>

                <table class="table table-bordered">
                    <tbody>
                                         <tr>
                                {% for number in salah_numbers|slice:":3" %}
								<td>
                                    {{number.val|floatformat}}
                                    <span>{{number.key}}</span>
                                </td>
								{% endfor %}
                            </tr>
                        <tr>

                                {% for number in salah_numbers|slice:"3:6" %}
								<td>
                                    {{number.val|floatformat}}
                                    <span>{{number.key}}</span>
                                </td>
								{% endfor %}
                        </tr>

                    </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    {% if ask_success %}
    <script>
        swal("تم حفظ سؤالك بنجاح", "شكراً لك", "success");
    </script>
    {% endif %}
    </section>
{% endblock %}
