{% extends 'website/base.html' %}

{% load static %}
{% block content %}

{% include 'website/views/partial/header.html' %}
<div class="header-caption container">
	<img class="big" src="{{image_host}}{% static 'website/images/header/salah-1.png' %}" alt="">
</div>

<section class="page-content">

	<div class="home-page page">
		<div class="main-slider">
			<div class="container">
				<h3>اخبار مميزة</h3>
				<div class="owl-carousel owl-theme">
					{% for item in items %}
					<div class="item">
							<a href="{% if item.url %} {{item.url}} {% else %} # {% endif %} ">
{#								<img src="{{image_host}}{% static 'website/images/demo/demo-slider.jpg' %}" alt="">#}
                                <img src="{{ item.imgid.url }}" alt="">
								<div class="caption has-video">
									<h5>{{ item.title }}</h5>
								</div>
							</a>
						</div>
					{% endfor %}

				</div>
			</div>
		</div>

				<div class="home-sections">
			<div class="container">
				<div class="row m-0">
					<div class="col-6 p-0 pr-2">
						<a href="{% url 'video-details' video.id %}">
							<div class="home-section">
								<h4>احدث الفيديوهات</h4>
								<div class="image-container">
									<img src="{{video.imgid.url}}" alt="">
								</div>
								<p>{{video.title}}</p>
								<span class="time">{{video.created_at}}</span>
							</div>
						</a>
					</div>


					{% with news|first as new %}

					<div class="col-6 p-0 pl-2">
						<a href="{% url 'news-details' new.id %}">
							<div class="home-section">
								<h4>احدث الأخبار</h4>
								<div class="image-container">
									<img src="{{new.imgid.url}}" alt="">
								</div>
								<p>{{new.title}}</p>
								<span class="time">{{new.created_at}}</span>
							</div>
						</a>
						{% endwith %}

					</div>

				</div>
			</div>
		</div>


			<div class="news-page">
				<h3 class="news-header">احدث الأخبار</h3>
				<ul class="news-list">
					{% for new in news %}
						<li>
							<a href="{% url 'news-details' new.id %}">
							<div class="home-section">
								<div class="image-container">
									<img src="{{new.imgid.url}}" alt="">
								</div>
								<p>{{new.title}}</p>
								<span class="time">{{new.created_at}}</span>
							</div>
						</a>
						</li>
				{% endfor %}
				</ul>
			</div>




		<div class="next-match">
			<div class="next-match_info" style="text-align:center">
				<div class="teams">

					<span>{{next_match_teams|first}}</span>

					<span class="slash">/</span>
					<span>{{next_match_teams|last}}</span>
				</div>
				<div>
					<h4>المباراة القادمة</h4>
					<time datetime="2018-05-26T19:00">{{next_match_date}}</time>
				</div>
			</div>
			<div class="next-match_date">
				<time datetime="2018-05-26T19:00">{{next_match_date}}</time>
			</div>
		</div>

	</div>
	<div class="salah-stats">
		<h3>أرقام محمد صلاح</h3>
			<div class="col-9">
				<div class="row">

					{% for number in salah_numbers %}
					<div class="col-4">
						<span>{{number.val}}</span>
						<p>{{number.key}}</p>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
</section>
{% endblock %}