{% extends 'website/base.html' %}
{% load static %}
{% block content %}
    <div class="login-page d-flex align-items-center">
        <div class="container">
            <div class="logo-container">
                <img src="{{ image_host }}{% static 'website/images/voda-mark.png' %}" alt="Vodafone">
                <span>
				عالم
				<br>
				محمد صلاح
			</span>
            </div>
            {#            {{ form.errors }}#}
            {% if messages %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert">
                                 {% for message in messages %}
            {% if forloop.last %}
		        <p>{{ message }}</p>
            {% endif %}
        {% endfor %}

                            </div>
                        </div>
                    </div>
            {% endif %}

            <div class="login-form">
                <form class="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" autocomplete="off" class="form-control" name="username"
                               placeholder="أدخل رقمك" value="">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" value=""
                               placeholder="ادخل كلمة مرور">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-red" name="" value="تسجيل الدخول">
                    </div>
                    <a href="{% url 'signup' %}" class="create-account">انشاء حساب</a><br>
                    <a href="{% url 'forget-password' %}" class="create-account">نسيت كلمة السر</a>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
