{% extends 'website/base.html' %}
{% load static %}
{% block title %} Match Numbers {% endblock %}
{% block content %}
 {% include 'website/views/partial/header.html' %}
<div class="header-caption container">
	<img class="small" src="{{image_host}}{% static 'website/images/header/salah-3.png' %}" alt="">
	<div class="status-board with-bg">
		<div class="d-flex justify-content-center align-items-center">
          <span>{{team1.name}}</span> <span class="result"><span>{{team1.score}}</span> - </span>
          <span class="result">{{team2.score}}</span> <span><span>{{team2.name}}</span> </span>
		</div>
	</div>
</div>
<br>
<div class="match-live page-content">
	<div class="container">
    <nav class="nav nav-pills nav-justified">
      <a class="nav-item nav-link active" data-toggle="pill" href="#tab-2">تفاصيل</a>

      <a class="nav-item nav-link" data-toggle="pill" href="#tab-1">التشكيل</a>
        <a class="nav-item nav-link" data-toggle="pill" href="#tab-3">مباشر</a>
      <a class="nav-item nav-link" data-toggle="pill" href="#tab-4">إحصائيات</a>
      <a class="nav-item nav-link" data-toggle="pill" href="#tab-5">أحداث</a>
    </nav>
    <div class="tab-content">

      <div class="tab-pane fade show active" id="tab-2">
        <!-- <h4 class="tab-title">تفاصيل المباراة</h4> -->
        <div class="match-details">
          <div class="container">
            <img src="{{image_host}}{{match_details.image.url}}" class="img-fluid mb-3" alt="">
            <div class="en">
              <p class="font-weight-bold">{{match_details.details|safe}}</p>
            </div>
          </div>
        </div>

      </div>



              <div class="tab-pane fade" id="tab-1">
        <!-- <h4 class="tab-title">تشكيل الفريق</h4> -->
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="pitch">
                <img src="{{image_host}}{% static 'website/images/pitch.svg' %}" alt="">
                <div class="formation">

                  <div class="formation-row">
                    <div class="player">
                      <div class="player-num">{{match_pitch.keeper_number}}</div>
                      <div class="player-name">{{match_pitch.keeper_name}}</div>
                    </div>
                  </div>

                  <div class="formation-row">
                    {% for key, value in match_pitch.defenders.items %}
                    <div class="player">
                      <div class="player-num">{{value}}</div>
                      <div class="player-name">{{key}}</div>
                    </div>
                    {% endfor %}
                  </div>


                  <div class="formation-row">
                    {% for key, value in match_pitch.mid.items %}
                    <div class="player">
                      <div class="player-num">{{value}}</div>
                      <div class="player-name">{{key}}</div>
                    </div>
                    {% endfor %}
                  </div>

                  <div class="formation-row">
                    {% for key, value in match_pitch.attack.items %}
                    <div class="player">
                      <div class="player-num">{{value}}</div>
                      <div class="player-name">{{key}}</div>
                    </div>
                    {% endfor %}
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>




      <div class="tab-pane fade" id="tab-3">
        <!-- <h4 class="tab-title">مباريات دوري أبطال أوروبا</h4> -->
        <div class="match-live">
          <div class="container">
            <ul class="details-list">

              {% for live in match_live %}
              <li>
                <div class="row">
                  <div class="col-2 p-0 per-minute">
                    <span>{{live.minute}}'</span>
                    <span class="icon {% if live.type == 'GOAL' %} goal {% elif live.type == 'Penalty' %} penalty {% elif live.type == 'Yellow Card' %} yellow-card {% elif  live.type == 'Red Card' %} red-card {% elif live.type == 'substitution' %} in-out {% endif %}"></span>
                  </div>
                  <div class="col-10 pl-0">
                    <p>{{live.text}}</p>
                  </div>
                </div>
              </li>

              {% endfor %}



              <!--<li>-->
                <!--<div class="row">-->
                  <!--<div class="col-2 p-0 per-minute">-->
                    <!--<span>71'</span>-->
                    <!--<span class="icon penalty"></span>-->
                  <!--</div>-->
                  <!--<div class="col-10 pl-0">-->
                    <!--<p>He's missed a sitter! Oh my, you can't make that up. Lucas plays Ronaldo clean through on goal, and he has half the goal to aim at with Szczesny scrambling to get into position, but somehow rolls his finish beyond the far post!</p>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</li>-->
              <!--<li>-->
                <!--<div class="row">-->
                  <!--<div class="col-2 p-0 per-minute">-->
                    <!--<span>71'</span>-->
                    <!--<span class="icon yellow-card"></span>-->
                  <!--</div>-->
                  <!--<div class="col-10 pl-0">-->
                    <!--<p class="font-weight-bold">He's missed a sitter! Oh my, you can't make that up. Lucas plays Ronaldo clean through on goal, and he has half the goal to aim at with Szczesny scrambling to get into position, but somehow rolls his finish beyond the far post!</p>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</li>-->
              <!--<li>-->
                <!--<div class="row">-->
                  <!--<div class="col-2 p-0 per-minute">-->
                    <!--<span>66'</span>-->
                    <!--<span class="icon in-out"></span>-->
                  <!--</div>-->
                  <!--<div class="col-10 pl-0">-->
                    <!--<p>A standing ovation at the Santiago Bernabeu - a wonderful sign of respect from these Madrid fans - as <span class="text-success">Francesco Totti</span> comes on for what is likely his Champions League swansong. It's not how he'll have envisioned going out, but it's a deserved cameo for the long-time Giallorossi forward. <span class="text-danger">El Shaarawy</span> gives way.</p>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</li>-->
              <!--<li>-->
                <!--<div class="row">-->
                  <!--<div class="col-2 p-0 per-minute">-->
                    <!--<span>68</span>-->
                    <!--<span class="icon red-card"></span>-->
                  <!--</div>-->
                  <!--<div class="col-10 pl-0">-->
                    <!--<p>He's missed a sitter! Oh my, you can't make that up. Lucas plays Ronaldo clean through on goal, and he has half the goal to aim at with Szczesny scrambling to get into position, but somehow rolls his finish beyond the far post!</p>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</li>-->


            </ul>




          </div>
        </div>
      </div>


      <div class="tab-pane fade" id="tab-4">
        <table class="progress-status">
				<tr>
					<td><span class="progress right blue" style="width: 30%">{{team1.assists}}</span></td>
					<td class="text-center">ASSISTS</td>
					<td><span class="progress left" style="width: 0%">{{team2.assists}}</span></td>
				</tr>
				<tr>
					<td><span class="progress right blue" style="width: 80%">{{team1.free_kicks}}</span></td>
					<td class="text-center">FREE KICKS</td>
					<td><span class="progress left green" style="width: 30%">{{team2.free_kicks}}</span></td>
				</tr>
				<tr>
					<td><span class="progress right blue" style="width: 10%">{{team1.penalties}}</span></td>
					<td class="text-center">PENALTIES</td>
					<td><span class="progress left green" style="width: 10%">{{team2.penalties}}</span></td>
				</tr>
			</table>

			<table class="progress-status">
				<tr>
					<td><span class="progress right blue" style="width: 90%">{{team1.total_shots}}</span></td>
					<td class="text-center">TOTAL SHOTS</td>
					<td><span class="progress left green" style="width: 50%">{{team2.total_shots}}</span></td>
				</tr>
				<tr>
					<td><span class="progress right blue" style="width: 60%">{{team1.shots_on_target}}</span></td>
					<td class="text-center">SHOTS ON TARGET</td>
					<td><span class="progress left green" style="width: 30%">{{team2.shots_on_target}}</span></td>
				</tr>
				<tr>
					<td><span class="progress right blue" style="width: 50%">{{team1.shots_off_target}}</span></td>
					<td class="text-center">SHOTS OFF TARGET</td>
					<td><span class="progress left green" style="width: 40%">{{team2.shots_off_target}}</span></td>
				</tr>
				<tr>
					<td><span class="progress right blue" style="width: 30%">{{team1.corners}}</span></td>
					<td class="text-center">CORNERS</td>
					<td><span class="progress left green" style="width: 30%">{{team2.corners}}</span></td>
				</tr>
				<tr>
					<td><span class="progress right blue" style="width: 30%">{{team1.saves}}</span></td>
					<td class="text-center">SAVES</td>
					<td><span class="progress left green" style="width: 80%">{{team2.saves}}</span></td>
				</tr>
				<tr>
					<td><span class="progress right blue" style="width: 30%">{{team1.offsides}}</span></td>
					<td class="text-center">OFFSIDES</td>
					<td><span class="progress left green" style="width: 10%">{{team2.offsides}}</span></td>
				</tr>
				<tr>
					<td><span class="progress right blue" style="width: 30%">{{team1.fouls}}</span></td>
					<td class="text-center">FOULS</td>
					<td><span class="progress left green" style="width: 30%">{{team2.fouls}}</span></td>
				</tr>
				<tr>
					<td><span class="progress right" style="">{{team1.yellow_cards}}</span></td>
					<td class="text-center">YELLOW CARDS</td>
					<td><span class="progress left green" style="width: 30%">{{team2.yellow_cards}}</span></td>
				</tr>
				<tr>
					<td><span class="progress right" style="">{{team1.red_cards}}</span></td>
					<td class="text-center">RED CARDS</td>
					<td><span class="progress left green" style="width: 10%">{{team2.red_cards}}</span></td>
				</tr>
			</table>
      </div>




      <div class="tab-pane fade" id="tab-5">
        <div class="match-timeline">
          <div class="container">
            <ul class="timeline">


              {% for timeline in match_timeline %}
              <li class="{% if timeline.team.id == team1.team_id %}left{% else %}right{% endif %}"> <!-- Goal -->
                <div class="line-icon">
                  <span class="icon {% if timeline.type == 'GOAL' %} goal {% elif timeline.type == 'Penalty' %} penalty {% elif timeline.type == 'Yellow Card' %} yellow-card {% elif  timeline.type == 'Red Card' %} red-card {% elif timeline.type == 'substitution' %} in-out {% endif %}"></span>
                </div>
                <div class="line-content d-flex justify-content-center align-items-center">

                  {% if timeline.team.id == team1.team_id %}

                  <div class="caption">
                    <span class="text-success">{{timeline.goal}}</span>
                    <label>{{timeline.player}}</label>
                  </div>
                  <div class="time">
                    <span class="text-primary">{{timeline.minute}}'</span>
                  </div>

                  {% else %}
                   <div class="time">
                    <span class="text-primary">{{timeline.minute}}'</span>
                  </div>
                   <div class="caption">
                    <span class="text-success">{{timeline.goal}}</span>
                    <label>{{timeline.player}}</label>
                  </div>
                  {% endif %}
                </div>
              </li>
              {% endfor %}


            </ul>
          </div>
        </div>
      </div>
    </div>
	</div>
</div>

{% endblock %}