{% extends 'website/base.html' %}
{% load static %}
{% load range %}
{% load cool_paginate %}
{% block title %} News {% endblock %}
{% block content %}

    {% include 'website/views/partial/header.html' %}
<div class="header-caption container">

	<img class="big" src="{{image_host}}{% static 'website/images/header/salah-2.png' %}" alt="">

	<h2>اخبار <br> محمد صلاح</h2>
</div>

<section class="page-content news-page">
	<div class="container">
		<ul class="news-list">
			{% for new in news_list %}
				<li>
					<a href="{{new.id}}">
						<div class="image-container">
							<img src="{{image_host}}{{new.imgid.url}}" alt="">
						</div>
						<div>
							<p>{{new.title}}</p>
							<span class="time"> {{new.created_at}} </span>
						</div>
					</a>
				</li>
			{% endfor %}
				{% cool_paginate %}
		</ul>

	</div>
</section>
{% endblock %}
