{% extends 'website/base.html' %}
{% load static %}
{% block title %} {{ news_object.title }} {% endblock %}
{% block content %}

    <header class="fixed-top">
        <div class="clearfix">
                <a class="return" href="{% url 'news-list' %}"></a>

            <div class="v-logo">
                <img src="{{image_host}}{% static 'website/images/voda-logo.png' %}" alt="">
            </div>
        </div>
    </header>

    <div class="news-details" style="background-image: url({{image_host}}{% static 'website/images/demo/news-details.jpg' %})">
        <div>
            <h2>اخبار محمد صلاح</h2>
            <h3>{{ news_object.title }}</h3>
            <span class="time">{{ news_object.created_at }}</span>

            <div class="body">
                {#			<img src="{{image_host}}{{news_object.imgid.url}}">#}
                <p> {{ news_object.descr|safe }}</p>
            </div>
        </div>
    </div>
{% endblock %}
