{% extends 'website/base.html' %}
{% load static %}
{% block content %}
    <header class="fixed-top">
        <div class="container clearfix">
                <a class="return" href="{% url 'home' %}"></a>

            <div class="v-logo">
                <img src="{{image_host}}{% static 'website/images/voda-logo.png' %}" alt="">
            </div>
        </div>
    </header>

<div class="header-caption container with-content">
	<img class="small" src="{{image_host}}{% static 'website/images/header/salah-4_.png' %}" alt="">
</div>
<section class="page-content social-page">
	<div class="container text-center"  style="direction: rtl;">
		<h3>عفواً لا يمكنك تصفح المحتوى اليوم.
            <br>
برجاء التأكد من وجود 1ج غداً للإستمتاع بالخدمة        </h3>
	</div>
</section>
{% endblock %}
