{% extends '../base.html' %}
{% load static %}
{% block title %} Numbers {% endblock %}
{% block content %}
    {% include 'website/views/partial/header.html' %}

    <div class="header-caption container with-content">
        <img class="small" src="{{image_host}}{% static 'website/images/header/salah-4_.png' %}" alt="">
        <h3>ارقام محمد صلاح</h3>

        <nav class="nav nav-pills nav-justified">

            <a class="nav-item nav-link active" data-toggle="pill"
               href="#tab-{{ first_league.id }}">{{ first_league.title }}</a>

            {% for league in leagues %}
                <a class="nav-item nav-link" data-toggle="pill" href="#tab-{{ league.id }}">{{ league }}</a>
            {% endfor %}

        </nav>
    </div>

    <section class="page-content numbers-page">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="tab-{{ first_league.id }}">
                <table class="table">
                	<tr>
						<th class="text-center" colspan="2">المباريات</th>
					</tr>
                    {% for number in numbers_objects %}
                        {% if number.league.id == first_league.id %}
                            <tr>
                                <td class="text-right">{{ number.val|floatformat }} : </td>
                                <td class="text-center">{{ number.key }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>

            {% for id in leagues %}

                <div class="tab-pane fade" id="tab-{{ id.id }}">
                    <table class="table">
	                	<tr>
							<th class="text-center" colspan="2">المباريات</th>
						</tr>
                        {% for number in numbers_objects %}
                            {% if number.league.id == id.id %}
                                <tr>
                                    <td class="text-right">{{ number.val|floatformat }} : </td>
                                    <td class="text-center">{{ number.key }}</td>
                                </tr>

                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            {% endfor %}
        </div>

    </section>
{% endblock %}
