{% extends 'website/base.html' %}
{% load static %}
{% block title %} Videos {% endblock %}
{% block content %}

    {% include 'website/views/partial/header.html' %}
<div class="header-caption container">
	<img class="big" src="{{image_host}}{% static 'website/images/header/salah-3.png' %}" alt="">
</div>

<section class="page-content prediction-page">
	<div class="container">
		<h3 class="title">التوقعات</h3>
		{% if messages %}
{% for message in messages %}
		{{message}}
		{% endfor %}
		{% endif %}
		<form class="" action="{% url 'predict-add' %}" method="post">
			{% csrf_token %}
			<div class="row">
				<div class="col">
					<h4>{{team1}}</h4>
					<div class="form-group">
						<input type="number" name="score1" class="form-control" name="" value="">
					</div>
				</div>
				<div class="col">
					<h4>{{team2}}</h4>
					<div class="form-group">
						<input type="number" name="score2" class="form-control" name="" value="">
					</div>
				</div>
			</div>
			<div class="form-group m-0 text-center">
				<button type="submit" class="btn btn-red" name="button">ارسل توقعك</button>
			</div>
		</form>
	</div>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    {% if messages %}
    <script>
        swal("تم حفظ توقعك بنجاح", "شكراً لك", "success");
    </script>
    {% endif %}
</section>
{% endblock %}