{% extends 'website/base.html' %}
{% load static %}
{% block title %} حساب جديد {% endblock %}
{% block content %}

<div class="login-page d-flex align-items-center">
	<div class="container">
		<div class="logo-container">
			<img src="{{image_host}}{% static 'website/images/voda-mark.png' %}" alt="Vodafone">
			<span>
				عالم
				<br>
				محمد صلاح
			</span>
		</div>

		  {% if messages %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
                                {% for message in messages %}
            {% if forloop.last %}
		        <p>{{ message }}</p>
            {% endif %}
        {% endfor %}
                            </div>
                        </div>
                    </div>
            {% endif %}
		<div class="login-form">
			<form class="" method="post">
				{% csrf_token %}
				<div class="form-group">
					<input type="text" autocomplete="off" class="form-control" name="{{form.username.html_name}}" placeholder="أدخل رقمك" value="010000000">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" name="{{form.password1.html_name}}" value="" placeholder="ادخل كلمة المرور">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" name="{{form.password2.html_name}}" value="" placeholder="أعد كلمة المرور">
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-red" name="" value="انشاء الحساب">
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}