{% extends 'website/base.html' %}
{% load static %}
{% block title %} تأكيد حسابك  {% endblock %}
{% block content %}
<div class="login-page d-flex align-items-center">
	<div class="container">
		<div class="logo-container">
			<img src="{{image_host}}{% static 'website/images/voda-mark.png' %}" alt="Vodafone">
			<span>
				عالم
				<br>
				محمد صلاح
			</span>
		</div>
		{% for field in form %}
		{{field.errors}}
		{% endfor %}
		<div class="login-form">
			<form class="" method="post">
				{% csrf_token %}
				<div class="form-group">
					<input type="text" autocomplete="off" class="form-control" name="{{form.code.html_name}}" placeholder="أدخل الكود المرسل لموبايلك" value="">
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-red" name="" value="تأكيد الحساب">
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}