{% extends 'website/base.html' %}
{% load static %}
{% block title %} Videos {% endblock %}
{% block content %}

    {% include 'website/views/partial/header.html' %}
<div class="header-caption container with-content">
	<img class="small" src="{{image_host}}{% static 'website/images/header/salah-4_.png' %}" alt="">
	<h3>سوشيال ميديا</h3>
</div>
<section class="page-content social-page">
	<div class="container">
		<ul class="social-feeds">
				<li class="facebook">
					<p>محمد صلاح بعد آخر يوم تصوير لإعلان فودافون</p>
				</li>
				<li class="twitter">
					<p>محمد صلاح بعد آخر يوم تصوير لإعلان فودافون</p>
				</li>
		</ul>
	</div>
</section>
{% endblock %}