{% extends 'website/base.html' %}
{% load static %}
{% block title %} Awards {% endblock %}
{% block content %}
{% include 'website/views/partial/header.html' %}

<div class="header-caption container">
	<img class="big" src="{{image_host}}{% static 'website/images/header/salah-1.png' %}" alt="">

</div>
<section class="page-content with-bg trophies-page">
	<div class="container">
		<h2 class="title">جوائز محمد صلاح</h2>
		<div class="trophies-list row">

			{% for trophy in trophy_list %}
			<div class="col-6">
					<div class="">
						<div class="img-container">
							<img src="{{image_host}}{{trophy.image.url}}" alt="">
						</div>
						<h4>{{trophy.year}}</h4>
						<h4 class="en font-weight-bold">{{trophy.title}}</h4>
					</div>
				</div>

{% endfor %}
		</div>
	</div>
</section>
{% endblock %}