{% extends 'website/base.html' %}
{% load static %}
{% block title %} Videos - {{video_object.title}} {% endblock %}
{% block content %}

    {% include 'website/views/partial/header.html' %}
<div class="header-caption container">
	<img class="big" src="{{image_host}}{% static 'website/images/header/salah-2.png' %}" alt="">

</div>

<!-- <div class="news-details" style="background-image: url({{image_host}}{% static 'website/images/demo/news-details.jpg' %})">
	 <div style="text-align:center">
            <h2>فيديوهات محمد صلاح</h2>
            <h3>{{ video_object.title }}</h3>
            <span class="time">{{ video_object.created_at }}</span>

            <div class="body">
				<video width="100%" height=auto controls poster="{{image_host}}{{video_object.imgid.url}}">
  <source src="{{video_host}}/{{video_object.ftp_name}}" type="video/mp4">

Your browser does not support the video tag.
</video>
            </div>
        </div>
</div> -->

<link href="https://vjs.zencdn.net/7.0.3/video-js.css" rel="stylesheet">
<!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
<script src="http://vjs.zencdn.net/ie8/ie8-version/videojs-ie8.min.js"></script>


<div class="video-player">
	<video controlsList="nodownload" webkit-playsinline="true" playsinline="true" id="video-player" class="video-js" controls preload="auto" width="100vw" height="100vh" poster="{{image_host}}{{video_object.imgid.url}}" data-setup="{}">
		<source src="{{video_host}}/{{video_object.ftp_name}}" type="video/mp4"></source>
			To view this video please enable JavaScript, and consider upgrading to a web browser that
			<!-- <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a> -->
	</video>
	<script src="https://vjs.zencdn.net/7.0.3/video.js"></script>
</div>

<script type="text/javascript">
	// var options = {
	//
	// };
	// var player = videojs('video-player', options);
</script>

{% endblock %}
