{% extends 'website/base.html' %}
{% load static %}
{% load cool_paginate %}
{% block title %} Videos {% endblock %}
{% block content %}

    {% include 'website/views/partial/header.html' %}
    <div class="header-caption container">
        <img class="big" src="{{ image_host }}{% static 'website/images/header/salah-1.png' %}" alt="">

        <h2>فيديوهات <br> محمد صلاح</h2>
    </div>

    <section class="page-content videos-page">
        <div class="container">
            <nav class="nav nav-pills nav-justified">
                <a class="nav-item nav-link active" data-toggle="pill" href="#tab-1">فيديوهات</a>
                <a class="nav-item nav-link" data-toggle="pill" href="#tab-2">ليفربول</a>
            </nav>
            <div class="tab-content">


                <div class="tab-pane fade show active" id="tab-1">
                    <h4 class="tab-title">فيديوهات محمد صلاح</h4>
                    <div class="videos-list">
                        <div class="row">
                            {% for video in videos_list %}
                                <div class="col-6">
                                    <a href="{% url 'video-details' video.id %}">
                                        <div class="image-container">
                                            <img src="{{ image_host }}{{ video.imgid.url }}" alt="">
                                        </div>

                                        <div class="caption">
                                            <p>{{ video.title }}</p>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>


                <div class="tab-pane fade" id="tab-2">
                    <h4 class="tab-title">فيديوهات محمد صلاح فى ليفربول</h4>
                    <div class="videos-list">
                        <div class="row">
                              <div class="col-md-12" style="text-align: center">
                                <a>
 زور LFCTV Go لآخر فيديوهات نادى ليفربول                                    <br>
                                    <br>
                                    <img width="30%" src="{% static 'lfctv/images/LFCTV.png' %}"> </a>
                            </div>
                            {% for video in liverpool_videos %}
                                <div class="col-6">
                                    <a href="{% url 'liverpool-video-details' video.id %}">
                                        <div class="image-container">
                                            <img src="{{ image_host }}{{ video.imgid.url }}" alt="">
                                        </div>

                                        <div class="caption">
                                            <p>{{ video.title }}</p>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% cool_paginate %}
        </div>
    </section>

{% endblock %}