{% extends 'website/base.html' %}
{% load static %}
{% block title %} Videos {% endblock %}
{% block content %}

    {% include 'website/views/partial/header.html' %}
<div class="header-caption container">
	<img class="big" src="{{image_host}}{% static 'website/images/header/salah-2.png' %}" alt="">

	<h2>فيديوهات <br> محمد صلاح</h2>
</div>

<section class="page-content videos-page">
	<div class="container">
		<div class="videos-list">
			<div class="row">

				{% for video in videos_list %}
				<div class="col-6">
						<a href="{% url 'video-details' video.id %}">
							<div class="image-container">
								<img src="{{image_host}}{{video.imgid.url}}" alt="">
							</div>

							<div class="caption">
								<p>{{video.title}}</p>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
		</ul>
	</div>
</section>

{% endblock %}