{% extends 'website/base.html' %}
{% load static %}
{% block title %} Welcome {% endblock %}
{% block content %}
    {% include 'website/views/partial/header.html' %}

    <div class="news-details"
         style="background-image: url({{ image_host }}{% static 'website/images/demo/news-details.jpg' %})">
        <div style="text-align:center">
            <h2>مرحباً بك فى عالم محمد صلاح</h2>
            <span class="time">{{ video_object.created_at }}</span>

            <div class="body">
                <video controlsList="nodownload" webkit-playsinline="true" playsinline="true" width="80%" height=auto controls poster="{{ image_host }}{% static 'website/demo/salah.png' %}">
                    <source src="http://41.187.101.100:81/Salah/Videos/Mo_Salah_PV.mp4" type="video/mp4">

                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
{% endblock %}