{% extends 'salah_admin/base.html' %}
{% load staticfiles %}
{% load html_tags %}

{% block title %}
    Question
{% endblock %}

{% block braed %}
    <div class="breadcrumb-label text-light-gray">You are here:</div>
    <li><a href="{% url 'admin-questions-list' %}">Questions</a></li>
    <li class="active"><a href="#">Edit</a></li>
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
                        <p>{{ message }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

 <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" role="form" enctype="multipart/form-data"
                          method="POST" action="">
                        {% csrf_token %}

                        <!--Title-->

                        <div class="form-group {% if form.title.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.title.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="text" placeholder="{{ form.title.label }}"
                                       class="form-control" name="{{form.title.html_name}}" value="{{form.title.value}}">

                                {% if form.title.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.title.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.title.help_text %}
                                            <li class="help">{{ form.title.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.title.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.title.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                        <!--User-->

                        <div class="form-group {% if form.user.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.user.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">


                                <select name="{{form.user.html_name}}">
          {% for user in form.user %}
               {{user}}
         {% endfor %}
    </select>

                                {% if form.user.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.user.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.user.help_text %}
                                            <li class="help">{{ form.user.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.user.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.user.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>





                        <!--Question-->

                        <div class="form-group {% if form.question.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.question.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="text" placeholder="{{ form.question.label }}"
                                       class="form-control" name="{{form.question.html_name}}" value="{{form.question.value}}">

                                {% if form.question.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.question.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.question.help_text %}
                                            <li class="help">{{ form.question.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.question.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.question.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>




                        <!--Answered-->

                        <div class="form-group {% if form.answered.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.answered.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="checkbox" placeholder="{{ form.answered.label }}"
                                       class="form-control" name="{{form.answered.html_name}}" {% if form.answered.value == True %} checked {% endif %}>

                                {% if form.answered.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.answered.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.answered.help_text %}
                                            <li class="help">{{ form.answered.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.answered.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.answered.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>




                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-btn fa-check"></i>Update
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}