{% load static %}
{% load range %}
<footer class="d-flex align-items-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6 col-md-4">
                <span class="copyrights">All Rights Reserved</span>
            </div>
            <div class="col-6 col-md-4">
                <div class="social">
                    <a href="#"><i class="fab fa-facebook-f fa-xs"></i></a>
                    <a href="#"><i class="fab fa-twitter fa-xs"></i></a>
                    <a href="#"><i class="fab fa-instagram fa-xs"></i></a>
                    <a href="#"><i class="fab fa-pinterest fa-xs"></i></a>
                    <a href="#"><i class="fab fa-vk fa-xs"></i></a>
                </div>
            </div>
            <div class="col-12 col-md-4 d-flex justify-content-end">
               {% comment %}
                <a href="{% url 'desktop-liverpool' 15 %} " style="margin-left:  10px;">
                    {# <img src="{% static 'lfctv/images/logo.svg' %}"style="width: 100px;height: auto;margin-top:  20px;float: right;"> #}
                    <img src="{% static 'lfctv/images/logo.svg' %}" style="width: 65px; height: 90%;float: right;">

                </a>
                {% endcomment %}
                <a href="#"><img src="{% static 'desktop/images/vodafone-logo.png' %}" alt="Vodafone"></a>
            </div>
        </div>
    </div>
</footer>