{% load static %}

<div class="container">
      <div class="row flex-row-reverse align-items-center">
          {% if request.user.is_authenticated %}
        <a class="btn login" href="{% url 'desktop-logout' %}">{{request.user.username}} - تسجيل خروج</a>
          {% else %}
        <a class="btn login" href="{% url 'desktop-login' %}">دخول الأعضاء</a>
          {% endif %}
        <i class="fab fa-twitter"></i>
        <i class="fab fa-facebook-f"></i>
      </div>
    </div>