{% load static %}
<nav>
      <div class="container">
        <div class="row">
          <div class="col d-flex justify-content-between">
            <ul>
              <li>
                <img src="{% static 'desktop/images/vodafone-logo.png' %}" alt="Vodafone Egypt">
              </li>

              <li class="{% if request.resolver_match.url_name == 'desktop-home' %} active {% endif %}">
                <a href="{% url 'desktop-home' %}">الرئيسية</a>
              </li>
              <li class="{% if 'video' in request.resolver_match.url_name %} active {% endif %}">
                <a href="{% url 'desktop-videos' %}">الفيديوهات</a>
              </li>
               {# <li> <a href="{% url 'liverpool-videos-list' %}">صلاح فى ليفربول</a> </li> #}
              <li class ="{% if 'news' in request.resolver_match.url_name %} active {% endif %}">
                <a href="{% url 'desktop-news' %}">الأخبار</a>
              </li>
              <li class ="{% if 'desktop-career' in request.resolver_match.url_name %} active {% endif %}">
                <a href="{% url 'desktop-career' %}">مشوار صلاح</a>
              </li>
              <li class="{% if 'desktop-salah-numbers' in request.resolver_match.url_name %} active {% endif %}">
                <a href="{% url 'desktop-salah-numbers' %}">أرقام صلاح</a>
              </li>

                <li class="{% if 'question-add' in request.resolver_match.url_name %} active {% endif %}">
                    <a href="{% url 'question-add' %}">شجع محمد صلاح</a>
                </li>


              <li class="{% if 'desktop-terms' in request.resolver_match.url_name %} active {% endif %}">
                <a href="{% url 'desktop-terms' %}">الشروط و الأحكام</a>
              </li>
            </ul>
            <form action="#" method="get">
              <fieldset>
                <legend class="sr-only">Search this website:</legend>
                <label for="searchInput">
                  <input type="search" name="searchInput" placeholder="بحث" maxlength="200">
                </label>
                <button type="submit" title="بحث">
                  <i class="fas fa-search"></i>
                </button>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </nav>
