{% extends 'salah_admin/base.html' %}
{% load staticfiles %}
{% load html_tags %}

{% block title %}
Match Article
{% endblock %}

{% block braed %}
    <div class="breadcrumb-label text-light-gray">You are here:</div>
    <li><a href="{% url 'admin-matches-list' %}">Match Pitch</a></li>
    <li class="active"><a href="#">Create</a></li>
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
                        <p>{{ message }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" role="form" enctype="multipart/form-data"
                          method="POST" action="">
                        {% csrf_token %}

                        <!--keeper name-->
                        <div class="form-group {% if form.goal_keeper_name.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.goal_keeper_name.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <textarea placeholder="{{ form.goal_keeper_name.label }}"
                                          class="form-control" name="{{form.goal_keeper_name.html_name}}">{{goal_keeper_name_value.goal_keeper_name}}
</textarea>

                                {% if form.goal_keeper_name.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.goal_keeper_name.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.goal_keeper_name.help_text %}
                                            <li class="help">{{ form.goal_keeper_name.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.goal_keeper_name.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.goal_keeper_name.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                        <!--keeper number-->
                        <div class="form-group {% if form.goal_keeper_number.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.goal_keeper_number.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <textarea placeholder="{{ form.goal_keeper_number.label }}"
                                          class="form-control" name="{{form.goal_keeper_number.html_name}}">{{goal_keeper_number_value.goal_keeper_number}}
</textarea>

                                {% if form.goal_keeper_number.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.goal_keeper_number.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.goal_keeper_number.help_text %}
                                            <li class="help">{{ form.goal_keeper_number.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.goal_keeper_number.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.goal_keeper_number.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                        <!--defenders names-->
                        <div class="form-group {% if form.defenders_names.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.defenders_names.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <textarea placeholder="{{ form.defenders_names.label }}"
                                          class="form-control" name="{{form.defenders_names.html_name}}">{{defenders_names_value.defenders_names}}
</textarea>

                                {% if form.defenders_names.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.defenders_names.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.defenders_names.help_text %}
                                            <li class="help">{{ form.defenders_names.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.defenders_names.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.defenders_names.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>



                        <!--defenders numbers-->
                        <div class="form-group {% if form.defenders_numbers.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.defenders_numbers.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <textarea placeholder="{{ form.defenders_numbers.label }}"
                                          class="form-control" name="{{form.defenders_numbers.html_name}}">{{defenders_numbers_value.defenders_numbers}}
</textarea>

                                {% if form.defenders_numbers.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.defenders_numbers.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.defenders_numbers.help_text %}
                                            <li class="help">{{ form.defenders_numbers.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.defenders_numbers.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.defenders_numbers.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>



                        <!--mid names-->
                        <div class="form-group {% if form.mid_names.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.mid_names.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <textarea placeholder="{{ form.mid_names.label }}"
                                          class="form-control" name="{{form.mid_names.html_name}}">{{mid_names_value.mid_names}}
</textarea>

                                {% if form.mid_names.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.mid_names.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.mid_names.help_text %}
                                            <li class="help">{{ form.mid_names.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.mid_names.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.mid_names.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>



                        <!--mid numbers-->
                        <div class="form-group {% if form.mid_numbers.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.mid_numbers.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <textarea placeholder="{{ form.mid_numbers.label }}"
                                          class="form-control" name="{{form.mid_numbers.html_name}}">{{mid_numbers_value.mid_numbers}}
</textarea>

                                {% if form.mid_numbers.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.mid_numbers.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.mid_numbers.help_text %}
                                            <li class="help">{{ form.mid_numbers.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.mid_numbers.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.mid_numbers.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                        <!--attack names-->
                        <div class="form-group {% if form.attack_names.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.attack_names.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <textarea placeholder="{{ form.attack_names.label }}"
                                          class="form-control" name="{{form.attack_names.html_name}}">{{attack_names_value.attack_names}}
</textarea>

                                {% if form.attack_names.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.attack_names.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.attack_names.help_text %}
                                            <li class="help">{{ form.attack_names.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.attack_names.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.attack_names.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>



                        <!--attack numbers-->
                        <div class="form-group {% if form.attack_numbers.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.attack_numbers.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <textarea placeholder="{{ form.attack_numbers.label }}"
                                          class="form-control" name="{{form.attack_numbers.html_name}}">{{attack_numbers_value.attack_numbers}}
</textarea>

                                {% if form.attack_numbers.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.attack_numbers.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.attack_numbers.help_text %}
                                            <li class="help">{{ form.attack_numbers.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.attack_numbers.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.attack_numbers.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-btn fa-check"></i>Add
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}