@import "compass";
@import url('https://fonts.googleapis.com/css?family=Lato:300,700');
@import "../css/bootstrap.min.css";
@import "../css/OwlCarousel/owl.carousel.min.css";
// @import "../fonts/font-awesome/scss/font-awesome";

$ar-light: 'GE-UltraLight';
$ar-bold: 'GE-Bold';

$en-font: 'Lato';
$en-light: 300;
$en-bold: 700;

$white: #FFFFFF;
$black: #150c0c;
$v-red: #a61417;
$dark-red: #360000;
$red: #f02c3e;
$green: #00d062;
$blue: #06a4ff;

@font-face {
	font-family: 'GE-UltraLight';
	src: url(../fonts/GE_SS_Text_UltraLight.otf);
}
@font-face {
	font-family: 'GE-Bold';
	src: url(../fonts/GE_SS_Two_Bold.otf);
}
@font-face {
	font-family: 'Lato', sans-serif;
}
@font-face {
	font-family: 'Atletico';
	src: url(../fonts/Atletico_Light.otf);
}
.en {font-family: $en-font;}
.ar {font-family: $ar-light;}
/***
Custom Scrollbars
***/
// ::-webkit-scrollbar {
// 	width: 4px;
// }
// ::-webkit-scrollbar-track {
// 	// background-color: #eaeaea;
// 	// border-right: 1px solid #cecece;
// 	background-color: rgba(#FFFFFF , 0.5);
// }
// ::-webkit-scrollbar-thumb {
// 	// background-color: #cecece;
// 	background-color: $red;
// }
// ::-webkit-scrollbar-thumb:hover {
// 	background-color: $red;
// }
// ::-webkit-scrollbar-track {
// 	border-radius: 0;
// 	box-shadow: none;
// 	border: 0;
// }
// ::-webkit-scrollbar-thumb {
// 	border-radius: 0;
// 	box-shadow: none;
// 	border: 0;
// }

body {
	font-family: $ar-light;
	color: $white;
	overflow: hidden;

	.wrapper {
		@include perspective(1000);
		overflow: visible !important;
	}

	.main-container {
		position: relative;
		z-index: 1;
		min-height: 100vh;
		background: {
			image: url(../images/main-bg.jpg);
			position: center;
			size: cover;
			color: $black;
		}
		@include transition(0.4s);
		@include backface-visibility(hidden);
		@include transform-style(preserve-3d);
		@include transform(translateX(0) rotateY(0deg) scale(1));
	}

	&.menu-open {
		.main-container {
			@include border-radius(10px);
			@include transform(translateX(-50%) rotateY(40deg) scale(0.9));
		}
	}
}
a, button {
	outline: none !important;
	text-decoration: none !important;
}
.btn-red {
	color: $white;
	background-color: $v-red;
	&:hover {
		background-color: $dark-red;
	}
}
.container {
	max-width: 767px;
	padding: 0 10px;
}
.form-control {
	&:focus {
		box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.25);
	}
}
header {
	padding: 40px 15px;
	.container {
		padding: 0;
	}
	.v-logo {
		float: left;
		img {
			width: 32px;
		}
	}

	.menu-btn, .return {
		float: right;
		background: none;
		border: 0;
		padding: 2px 5px;
		cursor: pointer;
	}
	.menu-btn {
		div {
			width: 32px;
			height: 2px;
			background-color: $white;
			margin: 6px 0;
			@include border-radius(5px);
			@include transition(0.2s);
		}
	}
	.return {
		width: 40px;
		height: 40px;
		background: {
			image: url(../images/icons/return.png);
			position: center;
			repeat: no-repeat;
			size: 38px;
		}
	}
	.return-title {
		display: inline-block;
		margin: 5px;
		font-size: 20px;
	}
}
.header-caption {
	text-align: center;
	position: relative;
	&:not(.with-content) {
		height: 180px;
		padding: 10px 0 0;
	}
	&.with-content {
		padding: 15px 12px;
		h3 {
			font-size: 22px;
			margin: 10px 0;
		}
	}
	&.with-bg {
		background-color: rgba(#400203, 0.9);
	}
	&.no-image {
		padding-top: 80px;
	}
	img {
		max-height: 170px;
		&.big {
			margin-right: -20px;
			height: 100%;
		}
		&.small {
			height: 100px;
		}
	}
	h2 {
		text-align: left;
		font-size: 22px;
		position: absolute;
		bottom: 20px;
		left: 15px;
		line-height: 25px;
		margin: 0;
		&.center {
			font-size: 22px;
			font-weight: bold;
			right: 15px;
			bottom: 40px;
			text-align: center;
		}
	}
}
.menu-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: $black;
	padding: 40px 15px;
	z-index: -1;
	overflow: hidden;
	color: $white;
	-webkit-overflow-scrolling: touch;
	> div {
		height: 100%;
		.user {
			font-family: $en-font;
			text-align: right;
			h3 {
				font-size: 18px;
				margin: 0 0 2px;
				font-weight: $en-bold;
			}
			a {
				font-size: 14px;
				color: $white;
				font-weight: $en-light;
				opacity: 0.8;
				&:hover {
					color: $red;
				}
			}
		}
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}
		.menu {
			ul {
				li {
					margin: 10px 0;
					text-align: right;
					a {
						color: $white;
						font-size: 18px;
						&:hover {
							color: $red;
						}
					}
				}
			}
		}
		.social {
			ul {
				text-align: right;
				li {
					display: inline-block;
					&+li {
						margin-left: 20px;
					}
					a {
						display: block;
						width: 25px;
						height: 25px;
						background: {
							repeat: no-repeat;
							position: center;
							size: contain;
						}
						&.facebook {background-image: url(../images/icons/facebook.png);}
						&.twitter {background-image: url(../images/icons/twitter.png);}
						&.google {background-image: url(../images/icons/google.png);}
					}
				}
			}
		}
	}
}

.page-content {
	background-color: rgba(0, 0, 0, 0.42);
	padding: 30px 10px;
	height: calc(100vh - 180px);
	overflow: auto;
	&.with-bg {
		background-color: rgba(0, 0, 0, 0.8);
		padding: 20px 10px;
	}
	form {
		margin: 0;
		.form-control {
			background-color: $black;
			border: 1px solid #2d2d2d;
			@include border-radius(5px);
			width: 100%;
			font-size: 20px;
			padding: 8px 12px;
			color: $white;
		}
		textarea.form-control {
			height: 240px;
			max-width: 100%;
			resize: none;
		}
		.btn {
			font-size: 20px;
			padding: 10px 30px;
		}
	}
}
/*********************
***** LOGIN PAGE *****
*********************/
.login-page {
	min-height: 100vh;
	text-align: center;
	> div {
		position: relative;
		z-index: 1;
	}
	&:after {
		content: "";
		height: 25vh;
		position: absolute;
		z-index: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		// Needs latest Compass, add '@import "compass"' to your scss
		// Permalink - use to edit and share this gradient:
		// http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.66+100
		@include filter-gradient(#000, #a80000, vertical); // IE6-9
		@include background-image(linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.80) 100%));
	}
	.logo-container {
		margin-bottom: 50px;
		margin-right: -10px;
		position: relative;
		display: inline-block;
		img {
			max-width: 100%;
			max-width: 180px;
		}
		span {
			font-size: 30px;
			line-height: 35px;
			position: absolute;
			top: 115px;
			left: -30px;
			font-family: $ar-bold;
			text-align: right;
		}
	}
	.login-form {
		text-align: center;
		color: #FFF;
	}
	.form-control {
		background-color: transparent;
		border: none;
		border-radius: 0;
		border-bottom: 1px solid $white;
		font-size: 20px;
		box-shadow: none;
		text-align: center;
		color: $white;
		padding: 12px;
	}
	.btn {
		margin: 10px 0;
		padding: 10px 60px;
		@include border-radius(30px);
	}
	.create-account {
		color: $white;
	}
}
/*********************
***** HOME PAGE *****
*********************/
.home-page {
	padding: 0;
	.home-sections.news {
		background-color: #6a0d0f;
		padding: 10px 0 0;
		@include border-radius(0 0 10px 10px);
		.row {
			margin: 0 -10px;
		}
	}
}
.section-title {
	padding: 10px 20px;
	background-color: #280000;
	@include border-radius(5px);
	margin: 0;
	font-size: 20px;
	text-align: right;
}
.next-match {
	padding: 20px 7px;
	direction: rtl;
	@include border-radius(10px);
	width: 100%;
	background: {
		image: url(../images/demo/next-match.jpg);
		repeat: no-repeat;
		size: cover;
	}
	.time {
		text-align: right;
		label {
			font-size: 14px;
			display: block;
			margin: 0;
		}
		span {
			color: $red;
			font-size: 12px;
		}
	}
	.teams {
		font-size: 20px;
		font-weight: bold;
		text-align: center;
	}
	.ch-logo {
		img {
			max-width: 60px;
			max-height: 60px;
		}
	}
}
.in-row {margin: 0 -10px;}
.countdown {
	width: 100%;
	padding: 10px;
	text-align: center;
	direction: rtl;
	span {margin: 0 5px;}
}
.salah-numbers {
	background-color: $white;
	color: $black;
	.numbers-content {
		text-align: center;
		width: 100%;
		padding-right: 100px;
		background: {
			image: url(../images/demo/salah.png);
			repeat: no-repeat;
			size: contain;
			position: center right -100px;
		}
		h4 {
			margin: 15px 0;
		}
		table {
			border: 0;
			td {
				text-align: center;
				padding: 30px;
				font-size: 20px;
				font-family: $ar-bold;
				span {
					display: block;
					color: $red;
					font-size: 12px;
					font-family: $ar-light;
				}
			}
			tr {
				&:first-child td {padding-top: 0; border-top: 0;}
				&:last-child td {padding-bottom: 0; border-bottom: 0;}

				td:last-child {border-right: 0;}
				td:first-child {border-left: 0;}
			}
		}
	}
}
.main-slider {
	padding: 20px 0;
	background-color: rgba(#000000, 0.7);
	h3 {
		text-align: right;
		margin: 0 0 12px;
		font-size: 22px;
	}
	.caption {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 100%;
		z-index: 1;
		padding: 12px;
		color: #fff;
		background-color: rgba(#170000, 0.7);
		&.has-video {
			padding-right: 60px;
			background: {
				image: url(../images/icons/play-red.png);
				position: center right 12px;
				size: 38px;
				repeat: no-repeat;
			}
		}
		h5 {
			text-align: right;
			margin: 0;
			font-size: 20px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			direction: rtl;
		}
	}
	.owl-dots {
		position: absolute;
		top: -30px;
		left: 0;
		z-index: 1;
		> div {
			float: left;
			width: 7px;
			height: 7px;
			@include border-radius(50%);
			margin: 0 2px;
			background-color: $red;
			&.active {
				background-color: $white;
			}
		}
	}
}
.home-sections {
	background-color: $v-red;
	.home-section {
		background-color: #280000;
		padding: 12px;
		margin: 10px 0;
		color: $white;
		text-align: right;
		@include border-radius(5px);
		h4 {
			font-size: 16px;
			margin: 0;
		}
		.image-container {
			margin: 12px -12px;
			height: 12vh;
			overflow: hidden;
			img {
				width: 100%;
			}
		}
		p {
			font-size: 12px;
			margin: 0;
			height: 30px;
			line-height: 15px;
		}
		span {
			display: block;
			color: $v-red;
			font-size: 10px;
		}
	}
}
/*********************
***** NEWS PAGE *****
*********************/
.news-page {
	background-color: rgba(#000000, 0.8);
	padding: 20px 10px;
}
.news-list {
	list-style: none;
	padding: 0;
	margin: 0;
	> li {
		direction: rtl;
		text-align: right;
		margin: 20px 0;
		a {
			display: table;
			width: 100%;
			color: $white;
			&:hover {
				color: $v-red;
			}
		}
		.image-container {
			float: right;
			width: 90px;
			height: 70px;
			padding: 0;
			@include border-radius(7px);
			img {
				width: 100%;
				height: 100%;
			}
		}
		div {
			overflow: hidden;
			padding: 8px 20px;
		}
		p {
			font-size: 15px;
			margin: 0;
			height: 35px;
			line-height: 18px;
		}
		span {
			display: block;
			color: $red;
			font-size: 12px;
		}
	}
}
/*********************
***** VIDEOS PAGE *****
*********************/
.videos-page {
	background-color: rgba(#000000, 0.8);
	padding: 20px 10px;
	.videos-list {
		list-style: none;
		padding: 0;
		margin: 0;
		direction: rtl;
		display: table;
		width: 100%;
		.col-6 {
			float: right;
			text-align: right;
			margin: 10px 0;
			a {
				display: table;
				width: 100%;
				color: $white;
				position: relative;
				overflow: hidden;
				@include border-radius(7px);
				&:hover {
					color: $v-red;
				}
			}
			.image-container {
				height: 120px;
				img {
					width: 100%;
					height: 100%;
				}
			}
			.caption {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				overflow: hidden;
				padding: 5px 12px;
				padding-left: 35px;
				background: {
					color: rgba(#6c0000, 0.65);
					image: url(../images/icons/play.png);
					position: center left 14px;
					repeat: no-repeat;
					size: 15px;
				}
				p {
					font-size: 11px;
					margin: 0;
					height: 28px;
					line-height: 15px;
				}
			}
		}
	}
}

.video-player {
	// @extend .news-details;
	.vjs-poster {background-size: cover;}
	.video-js {
		width: 100%;
		height: 100vh;
		.vjs-big-play-button {

		}
		.vjs-control-bar {
			background-color: transparent;
			> *:not(.vjs-progress-control) {display: none;}
		}
	}
	.vjs-loading-spinner:before, .vjs-loading-spinner:after {

	}
}
/*********************
***** NEWS DETAILS PAGE *****
*********************/
.news-details {
	height: 100vh;
	background: {
		repeat: no-repeat;
		size: cover;
		position: top center;
	}
	&:after {
		content: "";
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@include background-image(linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 60%,rgba(0,0,0,0.9) 100%));
	}
	> div {
		position: absolute;
		bottom: 20px;
		left: 0;
		right: 0;
		width: 100%;
		color: $white;
		z-index: 1;
		text-align: right;
		padding: 20px;
		h2 {
			margin: 0 0 10px;
			font-size: 20px;
			font-weight: bold;
		}
		h3 {
			font-weight: bold;
			margin: 0;
			font-size: 18px;
		}
		span.time {
			color: $red;
			font-size: 14px;
		}
		.body {
			font-size: 18px;
			overflow: auto;
			max-height: 60vh;
			margin: 25px -10px 0;
			padding: 0 10px;
			p {
				margin-bottom: 20px;
			}
		}
	}
}
/*********************
***** CHAMPION PAGE *****
*********************/
.main-container {
	.nav-pills {
		background-color: #360000;
		@include border-radius(30px);
		a {
			color: $white;
			font-size: 14px;
			padding: 12px;
			@include border-radius(30px);
			&.active {
				background-color: $v-red;
			}
		}
	}
	.tab-pane {
		padding: 20px 0 0;
		.tab-title {
			text-align: center;
			font-size: 18px;
			margin: 0;
			padding-bottom: 10px;
			margin-bottom: 10px;
			border-bottom: 1px solid #3c3c3c;
		}
		table {
			margin: 0;
		}
	}
}
.champion-page {
	background-color: rgba($black, 0.8);
	padding: 25px 10px;
	.league-table {
		border: 0;
		color: $white;
		font-family: $en-font;
		tbody tr:first-child {color: $green;}
		th, td {
			border: 0;
			padding: 5px;
			vertical-align: middle;
			&:last-child {text-align: right;}
			&:first-child {width: 35px;}
		}
		th {
			font-weight: $en-bold;
		}
		.stable {
			margin: auto;
			display: block;
			width: 7px;
			height: 7px;
			background-color: $green;
			@include border-radius(50%);
		}
		.up, .down {
			margin: auto;
			display: block;
			width: 15px;
			height: 15px;
			background: {
				position: center;
				repeat: no-repeat;
				size: contain;
			}
		}
		.up {background-image: url(../images/icons/up.png);}
		.down {background-image: url(../images/icons/down.png);}
	}
	.teams-table {
		overflow: auto;
		.table {
			border: 0;
			color: $white;
			font-family: $en-font;
			th, td {
				border: 0;
				padding: 5px;
				vertical-align: middle;
			}
			th {padding: 20px 20px 20px 0;}
			span {
				width: 28px;
				line-height: 28px;
				height: 28px;
				text-align: center;
				text-transform: uppercase;
				display: block;
				font-size: 10px;
				@include border-radius(50%);
				&.win {background-color: $green;}
				&.lose {background-color: $red;}
				&.draw {background-color: $black;}
			}
		}
	}

	.league-matches {
		color: $white;
		font-family: $en-font;
		tr:first-child {
			th, td {border: 0;}
		}
		tr, td {
			padding: 8px;
		}
	}
}

/*********************
***** NUMBERS PAGE *****
*********************/
.numbers-page {
	background-color: #1f272d;
	height: calc(100vh - 220px);
	table {
		th {
			background-color: $red;
		}
		th, td {
			border: 0;
			padding: 2px;
		}
	}
	.tab-content {
		.tab-pane {
			padding: 0;
		}
	}
}

/*********************
***** ASK PAGE *****
*********************/
.title {
	font-size: 25px;
	margin: 0 0 20px;
	text-align: center;
}
.ask-page {
	background-color: rgba(0, 0, 0, 0.42);
	padding: 30px 10px;
}
/*********************
***** SOCAIL PAGE *****
*********************/
.social-page {
	background-color: #242c32;
	padding: 15px 0;
	.social-feeds {
		padding: 0;
		margin: 0;
		list-style: none;
		li {
			background-color: $white;
			@include border-radius(5px);
			padding: 20px 20px 20px 70px;
			margin: 5px 0;
			direction: rtl;
			color: $black;
			background: {
				position: center left 20px;
				repeat: no-repeat;
				size: 27px;
			}
			&.facebook {background-image: url(../images/icons/s-facebook.png);}
			&.twitter {background-image: url(../images/icons/s-twitter.png);}
			p {
				margin: 0;
				font-size: 13px;
				text-align: right;
			}
		}
	}
}

/*********************
***** Prediction PAGE *****
*********************/
.prediction-page {
	form {
		text-align: center;
		margin-top: 50px;
		h4 {
			font-weight: bold;
		}
		.form-control {
			font-size: 100px;
			font-weight: bold;
			margin: 10px 0 60px;
			text-align: center;
		}
		.form-group {
			position: relative;
		}
		.row {
			.col:first-child .form-group:after {
				content: ":";
				font-size: 100px;
				font-weight: bold;
				position: absolute;
				right: -25px;
				top: 50%;
				margin-top: -90px;
			}
		}
	}
}


/*********************
***** MATCH STATUS PAGE *****
*********************/
.match-status {
	padding-top: 120px;
	padding-bottom: 30px;
	background-color: $black;
	height: 100vh;
	> div {
		height: calc(100vh - 120px);
		overflow: auto;
	}
	.status-board {
		padding: 0 15px 50px;
		font-size: 15px;
		font-family: $ar-bold;
		span {margin: 0;}
		.text-center {
			font-family: $en-font;
			font-weight: bold;
			font-size: 45px;
			line-height: 40px;
		}
	}
}
.status-board {
	padding: 15px;
	font-size: 22px;
	// font-family: $ar-bold;
	font-weight: bold;
	&.with-bg {background-color: rgba($black, 0.82);}
	span {margin: 0 7px;}
	.result {
		font-family: $en-font;
		font-size: 45px;
		line-height: 40px;
	}
}
.progress-status {
	width: 100%;
	text-transform: uppercase;
	font-family: $en-font;
	font-weight: $en-light;
	margin: 0 0 35px;
	&:last-child {
		margin-bottom: 0;
	}
	td {
		width: 30%;
		&.text-center {
			white-space: nowrap;
			width: auto;
		}
	}
	th, td {
		border: 0;
		padding: 5px;
		font-size: 14px;
	}
	.progress {
		padding: 1px 4px;
		height: auto;
		display: block;
		font-size: 10px;
		line-height: 14px;
		min-width: 20px;
		background-color: $black;
		&.green {background-color: $green;}
		&.blue {background-color: $blue;}
		&.right {
			float: right;
			text-align: right;
			@include border-radius(5px 0 0 5px);
		}
		&.left {
			float: left;
			text-align: left;
			@include border-radius(0 5px 5px 0);
		}
	}
}

.salah-status {
	padding: 0 0 30px;
	background-color: #3e0203;
	.progress {
		background-color: #2b0102;
	}
}

.match-details {
	height: calc(100vh - 165px);
	line-height: 16px;
	font-size: 13px;
	&.page-content{ padding: 20px 0; }
	img {width: 100%;}
}

.match-live {
	padding: 20px 5px;
	.details-list {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			font-size: 13px;
			font-family: $en-font;
			margin-bottom: 10px;
		}
		.per-minute {
			text-align: center;
			font-size: 16px;
			font-weight: $en-bold;
			> span {
				display: block;
				margin-bottom: 10px;
			}
		}
	}
}
.icon {
	width: 20px;
	height: 18px;
	margin: auto;
	display: inline-block;
	background: {
		repeat: no-repeat;
		size: contain;
		position: center;
	}
	&.goal {background-image: url(../images/icons/goal-icon.png);}
	&.penalty {background-image: url(../images/icons/penalty-icon.png);}
	&.yellow-card {background-image: url(../images/icons/yellow-card.png);}
	&.red-card {background-image: url(../images/icons/red-card.png);}
	&.in-out {background-image: url(../images/icons/in-out.png);}
}
.match-timeline {
	height: calc(100vh - 165px);
	padding: 0 10px !important;
	.timeline {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			position: relative;
			font-family: $en-font;
			.line-content {
				> div {
					width: 50%;
					padding: 18px;
					&:first-child {
						text-align: right;
						padding-left: 0;
					}
					&:last-child {
						text-align: left;
						padding-right: 0;
					}
				}
			}
			.line-icon {
				position: absolute;
				right: 50%;
				top: 50%;
				z-index: 1;
				margin: -12px;
				padding: 4px;
				min-width: 22px;
				min-height: 22px;
				@include border-radius(50%);
				background-color: #202930;
				display: flex;
				> * {margin: auto;}
				.icon {
					width: 16px;
					height: 16px;

				}
				span:not(.icon) {
					width: 15px;
					height: 15px;
					background-color: #f8f8f8;
					@include border-radius(50%);
				}
			}
			.time {
				font-size: 18px;
				font-weight: $en-bold;
			}
			.caption {
				span {
					display: block;
					font-weight: bold;
					font-size: 13px;
					margin: 0 0 2px;
				}
				label {
					display: block;
					font-size: 18px;
					margin: 0;
				}
			}
			&.left .caption {
				padding-right: 25px;
				border-right: 1px solid $white;
			}
			&.right .caption {
				padding-left: 25px;
				border-left: 1px solid $white;
				margin-left: -1px;
			}
		}
	}
}

.match-pitch {
	height: calc(100vh - 165px);
	img {
		width: 100%;
	}
}

.trophies-page {
	.title {
		font-family: $ar-bold;
		margin: 15px 0;
		font-size: 20px;
	}
	.trophies-list {
		margin: 0 -7px;
		> div {
			padding: 0 7px;
			margin: 20px 0;
			> div {
				@include border-radius(10px);
				overflow: hidden;
				background-color: $white;
			}
			.img-container {
				height: 145px;
				overflow: hidden;
				@include border-radius(10px);
				img {
					width: 100%;
					min-height: 100%;
				}
			}
			h4 {
				font-size: 10px;
				text-align: center;
				color: $v-red;
				font-family: $ar-bold;
				padding: 10px;
				margin: 0;
			}
		}
	}
}

.career-page {
	.title {
		font-family: $ar-bold;
		margin: 15px 0 20px;
		font-size: 20px;
	}
	.time-line {
		padding: 0;
		margin: 0;
		list-style: none;
		li {
			padding: 10px 0;
			position: relative;
			&:not(:last-child):after {
				content: "";
				width: 2px;
				height: calc(100% - 40px);
				position: absolute;
				bottom: -5px;
				left: 38px;
				background-color: $white;
			}
			label {
				float: left;
				margin: 0 30px 5px 0;
				font-size: 30px;
				line-height: 30px;
				font-family: 'Atletico';
				position: relative;
				&:after {
					content: "";
					width: 25px;
					height: 2px;
					position: absolute;
					top: 50%;
					left: 100%;
					margin-left: 5px;
					background-color: #400100;
				}
				&:before {
					content: "";
					width: 25px;
					height: 2px;
					position: absolute;
					top: 50%;
					right: 100%;
					margin-right: 5px;
					background-color: #400100;
				}
			}
			div {
				background-color: #400100;
				color: $white;
				padding: 15px;
				text-align: right;
				@include border-radius(10px);
				overflow: auto;
				font-size: 12px;
				line-height: 1.7;
			}
		}
	}
}
