{% extends 'salah_admin/base.html' %}
{% load staticfiles %}
{% load html_tags %}

{% block title %}
Match Article
{% endblock %}

{% block braed %}
    <div class="breadcrumb-label text-light-gray">You are here:</div>
    <li><a href="{% url 'admin-matches-list' %}">Match Details</a></li>
    <li class="active"><a href="#">Create</a></li>
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
                        <p>{{ message }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" role="form" enctype="multipart/form-data"
                          method="POST" action="">
                        {% csrf_token %}

                        <!--text-->

                        <div class="form-group {% if form.text.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.text.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <textarea placeholder="{{ form.text.label }}"
                                          class="form-control" name="{{form.text.html_name}}"></textarea>

                                {% if form.text.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.text.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.text.help_text %}
                                            <li class="help">{{ form.text.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.text.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.text.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>

     <!--Minute-->

                        <div class="form-group {% if form.minute.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.minute.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form.minute.label }}"
                                          class="form-control" name="{{form.minute.html_name}}">

                                {% if form.minute.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.minute.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.minute.help_minute %}
                                            <li class="help">{{ form.minute.help_minute|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.minute.help_minute %}
                                        <span class="help-block">
                                            <p class="help">{{ form.minute.help_minute|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>

                        <!--Type-->

                        <div class="form-group {% if form.type.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.type.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                              {{form.type}}

                                {% if form.type.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.type.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.type.help_type %}
                                            <li class="help">{{ form.type.help_type|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.type.help_type %}
                                        <span class="help-block">
                                            <p class="help">{{ form.type.help_type|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-btn fa-check"></i>Add
                                </button>
                            </div>
                        </div>

                    </form>
                    <table class="table table-bordered table-responsive">
                <thead>
                <th>Minute</th>
                <th>Type</th>
                <th>Text</th>
                <th>Actions</th>

                </thead>
                <tbody>
                {% for match_item in match_live_items %}
                    <tr>
                        <td>{{ match_item.minute }}</td>
                        <td>{{ match_item.type }}</td>
                        <td>{{ match_item.text }}</td>
                     <td>
                         <a data-id="{{ match_item.id }}" class="delete btn btn-danger" href="{% url 'admin-match-live-delete' match_item.id %}">Delete</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3">No Data</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    $(document).ready(function() {

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        // This function must be customized
        var onDelete = function(){
{#            console.log(this);#}
            var id = $(this).attr('data-id');

            var conf = confirm('Are You Sure?');
            if (conf == true){
            $.post(this.href, function(data) {
                if (data.result == "ok"){
                    alert("data deleted successfully");
                    $('#tr_'+id).remove();
                } else {
                    // handle error processed by server here
                    alert("smth goes wrong");
                }
            }).fail(function() {
                // handle unexpected error here
                alert("error");
            });
            }


            return false;
        }

        $(".delete").click(onDelete);
    });
</script>
{% endblock %}