{% extends 'salah_admin/base.html' %}
{% load staticfiles %}
{% load html_tags %}

{% block title %}
Teams
{% endblock %}

{% block braed %}
    <div class="breadcrumb-label text-light-gray">You are here:</div>
    <li><a href="{% url 'admin-teams-list' %}">Teams</a></li>
    <li class="active"><a href="#">Create</a></li>
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
                        <p>{{ message }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" role="form" enctype="multipart/form-data"
                          method="POST" action="">
                        {% csrf_token %}
                        <!--Title-->

                        <div class="form-group {% if form.title.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.title.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="text" placeholder="{{ form.title.label }}"
                                       class="form-control" name="{{form.title.html_name}}" value="">

                                {% if form.title.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.title.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.title.help_text %}
                                            <li class="help">{{ form.title.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.title.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.title.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>

                        <!--Logo-->

                         <div class="form-group {% if form.logo.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.logo.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="file" placeholder="{{ form.logo.label }}"
                                       class="form-control" name="{{form.logo.html_name}}" value="">

                                {% if form.logo.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.logo.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.logo.help_text %}
                                            <li class="help">{{ form.logo.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.logo.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.logo.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                        <!--League-->

                         <div class="form-group {% if form.leagues.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.leagues.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">

                                <select multiple name="{{form.leagues.html_name}}">
          {% for league in form.leagues %}
               {{league}}
         {% endfor %}
    </select>

                                {% if form.leagues.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.leagues.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.leagues.help_text %}
                                            <li class="help">{{ form.leagues.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.leagues.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.leagues.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        
                        






                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-btn fa-check"></i>Add
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}