{% extends 'salah_admin/base.html' %}
{% load staticfiles %}
{% load html_tags %}

{% block title %}
    Teams
{% endblock %}

{% block braed %}
    <div class="breadcrumb-label text-light-gray">You are here:</div>
    <li><a href="#">Users</a></li>
    <li class="active"><a href="#">Edit</a></li>
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
                        <p>{{ message }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

 <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" role="form" enctype="multipart/form-data"
                          method="POST" action="">
                        {% csrf_token %}

                                {% if form.leagues.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.leagues.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.leagues.help_text %}
                                            <li class="help">{{ form.leagues.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.leagues.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.leagues.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>



                        <!--Game Played-->

                         <div class="form-group {% if form.game_played.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.game_played.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form.game_played.label }}"
                                       class="form-control" name="{{form.game_played.html_name}}" value="{{form.game_played.value}}">

                                {% if form.game_played.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.game_played.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.game_played.help_text %}
                                            <li class="help">{{ form.game_played.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.game_played.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.game_played.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                        <!-- Wins -->

                         <div class="form-group {% if form.wins.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.wins.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form.wins.label }}"
                                       class="form-control" name="{{form.wins.html_name}}" value="{{form.wins.value}}">

                                {% if form.wins.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.wins.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.wins.help_text %}
                                            <li class="help">{{ form.wins.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.wins.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.wins.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                        <!-- Losses -->

                         <div class="form-group {% if form.losses.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.losses.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form.losses.label }}"
                                       class="form-control" name="{{form.losses.html_name}}" value="{{form.losses.value}}">

                                {% if form.losses.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.losses.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.losses.help_text %}
                                            <li class="help">{{ form.losses.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.losses.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.losses.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                         <!-- Ties -->

                         <div class="form-group {% if form.ties.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.ties.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form.ties.label }}"
                                       class="form-control" name="{{form.ties.html_name}}" value="{{form.ties.value}}">

                                {% if form.ties.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.ties.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.ties.help_text %}
                                            <li class="help">{{ form.ties.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.ties.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.ties.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>




                         <!-- Points -->

                         <div class="form-group {% if form.points.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.points.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form.points.label }}"
                                       class="form-control" name="{{form.points.html_name}}" value="{{form.points.value}}">

                                {% if form.points.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.points.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.points.help_text %}
                                            <li class="help">{{ form.points.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.points.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.points.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>






                         <!-- Status -->

                         <div class="form-group {% if form.status.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.status.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">

                                {{form.status}}

                                {% if form.status.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.status.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.status.help_text %}
                                            <li class="help">{{ form.status.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.status.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.status.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>






                          <!-- Rank -->

                         <div class="form-group {% if form.rank.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.rank.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form.rank.label }}"
                                       class="form-control" name="{{form.rank.html_name}}" value="{{form.rank.value}}">

                                {% if form.rank.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.rank.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.rank.help_text %}
                                            <li class="help">{{ form.rank.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.rank.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.rank.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                        <!-- Goals For -->

                         <div class="form-group {% if form.goals_for.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.goals_for.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form.goals_for.label }}"
                                       class="form-control" name="{{form.goals_for.html_name}}" value="{{form.goals_for.value}}">

                                {% if form.goals_for.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.goals_for.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.goals_for.help_text %}
                                            <li class="help">{{ form.goals_for.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.goals_for.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.goals_for.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                     <!-- Goals Against -->

                         <div class="form-group {% if form.goals_against.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.goals_against.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form.goals_against.label }}"
                                       class="form-control" name="{{form.goals_against.html_name}}" value={{form.goals_against.value}}>

                                {% if form.goals_against.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.goals_against.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.goals_against.help_text %}
                                            <li class="help">{{ form.goals_against.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.goals_against.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.goals_against.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-btn fa-check"></i>Update
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}