{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141782798-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-141782798-1');
    </script>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MO SALAH {% block title %}{% endblock %}</title>

    <link rel="icon" href="{{image_host}}{% static 'website/images/voda-logo.png' %}">
<!--
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' https://mohamedsalahvodafone.com https://use.fontawesome.com https://fonts.googleapis.com 'unsafe-inline'; font-src * data:; script-src 'self' https://mohamedsalahvodafone.com blob: 'unsafe-inline' 'unsafe-eval';worker-src blob: ; img-src 'self' https://mohamedsalahvodafone.com 'unsafe-eval'">

    <meta http-equiv="Content-Security-Policy" content="default-src * 'unsafe-inline' 'unsafe-eval' data:; script-src * 'unsafe-inline' 'unsafe-eval'; connect-src * 'unsafe-inline'; img-src * data: blob: 'unsafe-inline'; frame-src *; style-src * 'unsafe-inline'; worker-src blob: data:">
 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <meta name="mobile-web-app-title" content="MO SALAH">
    <meta name="apple-mobile-web-app-title" content="MO SALAH">
    <link rel="shortcut icon" href="{{image_host}}{% static 'website/images/voda-logo.png' %}">
    <link rel="apple-touch-icon" href="{{image_host}}{% static 'website/images/voda-logo.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{{image_host}}{% static 'website/images/voda-logo.png' %}">

    <!-- Style Links -->
    <link href="{% static 'website/css/video-js.min.css' %}" rel="stylesheet">
    <link href="{% static 'website/css/videojs.record.min.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{{image_host}}{% static 'website/stylesheets/style.css' %}?n=2" media="all" type="text/css"/>
       <link rel="stylesheet" href="{{image_host}}{% static 'website/css/custom.css' %}?n=3" media="all" type="text/css"/>

    <!-- End Style Links -->

    <!-- JS Scripts -->
    <script type="text/javascript" src="{{image_host}}{% static 'website/js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{{image_host}}{% static 'website/js/OwlCarousel/owl.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{{image_host}}{% static 'website/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{{image_host}}{% static 'website/js/app.js' %}"></script>
    <!-- End JS Scripts -->
</head>
<body>

<div class="wrapper">
    {% include 'website/views/partial/menu.html' %}
{% if 'question' in request.resolver_match.view_name %}
    <div style="background-image: url({% static 'website/images/bg.jpg' %});" id="content" class="main-container">
    {% else %}
    <div style="background-image: url({% static 'website/images/main-bg.jpg' %});" id="content" class="main-container">
    {% endif %}
        <!-- CONTENT -->
        {% block content %}

        {% endblock %}
    </div>
</div>



{% block extra_js %}

{% endblock %}


</body>
</html>
