{% extends 'salah_admin/base.html' %}
{% load staticfiles %}
{% load html_tags %}

{% block title %}
    Create Match
{% endblock %}

{% block braed %}
    <div class="breadcrumb-label text-light-gray">You are here:</div>
    <li><a href="{% url 'admin-news-list' %}">News</a></li>
    <li class="active"><a href="#">Create</a></li>
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
                        <p>{{ message }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" role="form" enctype="multipart/form-data"
                          method="POST" action="">
                        {% csrf_token %}

                        <!--Title-->

                        <div class="form-group {% if form.title.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.title.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="text" placeholder="{{ form.title.label }}"
                                       class="form-control" name="{{ form.title.html_name }}" value="" required>

                                {% if form.title.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.title.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.title.help_text %}
                                            <li class="help">{{ form.title.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.title.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.title.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>

                        <!--League-->

                        <div class="form-group {% if form.league.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.league.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <select name="{{ form.league.html_name }}">
                                    {% for league in form.league %}
                                        {{ league }}
                                    {% endfor %}
                                </select>


                                {% if form.league.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.league.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.league.help_text %}
                                            <li class="help">{{ form.league.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.league.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.league.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                        <!--Venue-->

                        <div class="form-group {% if form.venue.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.venue.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="text" placeholder="{{ form.venue.label }}"
                                       class="form-control" name="{{ form.venue.html_name }}" value="" required>

                                {% if form.venue.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.venue.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.venue.help_text %}
                                            <li class="help">{{ form.venue.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.venue.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.venue.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                        <!--Start Date-->

                        <div class="form-group {% if form.start_date.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.start_date.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="text" placeholder="{{ form.start_date.label }}"
                                       class="form-control" name="{{ form.start_date.html_name }}" data-date="{{ form.start_date|date:'Y-m-d H:i' }}" value="2018-12-31 00:00" required>

                                {% if form.start_date.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.start_date.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.start_date.help_text %}
                                            <li class="help">{{ form.start_date.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.start_date.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.start_date.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                        <!--Week-->

                        <div class="form-group {% if form.week.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.week.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form.week.label }}"
                                       class="form-control" name="{{ form.week.html_name }}" value="" required>

                                {% if form.week.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.week.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.week.help_text %}
                                            <li class="help">{{ form.week.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.week.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.week.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                        <!--Status-->

                        <div class="form-group {% if form.status.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.status.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <select name="{{ form.status.html_name }}">
                                    {% for status in form.status %}
                                        {{ status }}
                                    {% endfor %}
                                </select>


                                {% if form.status.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.status.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.status.help_text %}
                                            <li class="help">{{ form.status.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.status.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.status.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                        =======================Team1================
                        <!--Team-->

                        <div class="form-group {% if form2.team.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.team.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <select name="{{ form2.team.html_name }}" required="required">
                                    {% for team in form2.team %}
                                        {{ team }}
                                    {% endfor %}
                                </select>


                                {% if form2.team.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.team.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.team.help_text %}
                                            <li class="help">{{ form2.team.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.team.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.team.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                        <!--Score-->

                        <div class="form-group {% if form2.score.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.score.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form2.score.label }}"
                                       class="form-control" name="{{ form2.score.html_name }}" value="" required>

                                {% if form2.score.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.score.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.score.help_text %}
                                            <li class="help">{{ form2.score.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.score.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.score.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                        <!--Assists-->

                        <div class="form-group {% if form2.assists.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.assists.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form2.assists.label }}"
                                       class="form-control" name="{{ form2.assists.html_name }}" value="" required>

                                {% if form2.assists.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.assists.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.assists.help_text %}
                                            <li class="help">{{ form2.assists.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.assists.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.assists.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                        <!--Free Kicks-->

                        <div class="form-group {% if form2.free_kicks.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.free_kicks.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form2.free_kicks.label }}"
                                       class="form-control" name="{{ form2.free_kicks.html_name }}" value="" required>

                                {% if form2.free_kicks.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.free_kicks.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.free_kicks.help_text %}
                                            <li class="help">{{ form2.free_kicks.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.free_kicks.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.free_kicks.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                        <!--Penalties-->

                        <div class="form-group {% if form2.penalties.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.penalties.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form2.penalties.label }}"
                                       class="form-control" name="{{ form2.penalties.html_name }}" value="" required>

                                {% if form2.penalties.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.penalties.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.penalties.help_text %}
                                            <li class="help">{{ form2.penalties.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.penalties.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.penalties.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                        <!--Total Shots-->

                        <div class="form-group {% if form2.total_shots.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.total_shots.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form2.total_shots.label }}"
                                       class="form-control" name="{{ form2.total_shots.html_name }}" value="" required>

                                {% if form2.total_shots.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.total_shots.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.total_shots.help_text %}
                                            <li class="help">{{ form2.total_shots.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.total_shots.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.total_shots.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>





                        <!--corners-->

                        <div class="form-group {% if form2.corners.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.corners.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form2.corners.label }}"
                                       class="form-control" name="{{ form2.corners.html_name }}" value="" required>

                                {% if form2.corners.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.corners.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.corners.help_text %}
                                            <li class="help">{{ form2.corners.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.corners.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.corners.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                        <!--fouls-->

                        <div class="form-group {% if form2.fouls.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.fouls.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form2.fouls.label }}"
                                       class="form-control" name="{{ form2.fouls.html_name }}" value="" required>

                                {% if form2.fouls.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.fouls.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.fouls.help_text %}
                                            <li class="help">{{ form2.fouls.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.fouls.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.fouls.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                        
                          <!--offsides-->

                        <div class="form-group {% if form2.offsides.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.offsides.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form2.offsides.label }}"
                                       class="form-control" name="{{ form2.offsides.html_name }}" value="" required>

                                {% if form2.offsides.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.offsides.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.offsides.help_text %}
                                            <li class="help">{{ form2.offsides.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.offsides.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.offsides.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        
                        
                        
                        
                        
                          <!--red_cards-->

                        <div class="form-group {% if form2.red_cards.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.red_cards.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form2.red_cards.label }}"
                                       class="form-control" name="{{ form2.red_cards.html_name }}" value="" required>

                                {% if form2.red_cards.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.red_cards.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.red_cards.help_text %}
                                            <li class="help">{{ form2.red_cards.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.red_cards.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.red_cards.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        
                        
                        
                        
                         <!--yellow_cards-->

                        <div class="form-group {% if form2.yellow_cards.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.yellow_cards.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form2.yellow_cards.label }}"
                                       class="form-control" name="{{ form2.yellow_cards.html_name }}" value="" required>

                                {% if form2.yellow_cards.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.yellow_cards.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.yellow_cards.help_text %}
                                            <li class="help">{{ form2.yellow_cards.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.yellow_cards.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.yellow_cards.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        
                        
                        
                        
                        
                          <!--saves-->

                        <div class="form-group {% if form2.saves.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.saves.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form2.saves.label }}"
                                       class="form-control" name="{{ form2.saves.html_name }}" value="" required>

                                {% if form2.saves.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.saves.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.saves.help_text %}
                                            <li class="help">{{ form2.saves.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.saves.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.saves.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        
                        
                        
                        
                         <!--shots_off_target-->

                        <div class="form-group {% if form2.shots_off_target.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.shots_off_target.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form2.shots_off_target.label }}"
                                       class="form-control" name="{{ form2.shots_off_target.html_name }}" value="" required>

                                {% if form2.shots_off_target.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.shots_off_target.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.shots_off_target.help_text %}
                                            <li class="help">{{ form2.shots_off_target.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.shots_off_target.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.shots_off_target.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        

                        
                        
                         <!--shots_on_target-->

                        <div class="form-group {% if form2.shots_on_target.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.shots_on_target.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form2.shots_on_target.label }}"
                                       class="form-control" name="{{ form2.shots_on_target.html_name }}" value="" required>

                                {% if form2.shots_on_target.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.shots_on_target.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.shots_on_target.help_text %}
                                            <li class="help">{{ form2.shots_on_target.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.shots_on_target.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.shots_on_target.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        
                        
                        
                        <!--pred_num_of_users-->

                        <div class="form-group {% if form2.pred_num_of_users.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.pred_num_of_users.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form2.pred_num_of_users.label }}"
                                       class="form-control" name="{{ form2.pred_num_of_users.html_name }}" value="">

                                {% if form2.pred_num_of_users.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.pred_num_of_users.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.pred_num_of_users.help_text %}
                                            <li class="help">{{ form2.pred_num_of_users.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.pred_num_of_users.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.pred_num_of_users.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                        <!--pred_wins-->

                        <div class="form-group {% if form2.pred_wins.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.pred_wins.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form2.pred_wins.label }}"
                                       class="form-control" name="{{ form2.pred_wins.html_name }}" value="">

                                {% if form2.pred_wins.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.pred_wins.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.pred_wins.help_text %}
                                            <li class="help">{{ form2.pred_wins.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.pred_wins.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.pred_wins.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                        <!--pred_loses-->

                        <div class="form-group {% if form2.pred_loses.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.pred_loses.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form2.pred_loses.label }}"
                                       class="form-control" name="{{ form2.pred_loses.html_name }}" value="">

                                {% if form2.pred_loses.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.pred_loses.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.pred_loses.help_text %}
                                            <li class="help">{{ form2.pred_loses.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.pred_loses.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.pred_loses.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                        <!--pred_ties-->

                        <div class="form-group {% if form2.pred_ties.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.pred_ties.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form2.pred_ties.label }}"
                                       class="form-control" name="{{ form2.pred_ties.html_name }}" value="">

                                {% if form2.pred_ties.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.pred_ties.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.pred_ties.help_text %}
                                            <li class="help">{{ form2.pred_ties.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.pred_ties.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.pred_ties.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                        =======================Team2================
                        <!--Team-->

                        <div class="form-group {% if form2.team.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.team.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <select name="team2" required="required">
                                    {% for team in form2.team %}
                                        {{ team }}
                                    {% endfor %}
                                </select>


                                {% if form2.team.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.team.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.team.help_text %}
                                            <li class="help">{{ form2.team.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.team.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.team.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                        <!--Score-->

                        <div class="form-group {% if form2.score.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.score.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form2.score.label }}"
                                       class="form-control" name="score2" value="">

                                {% if form2.score.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.score.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.score.help_text %}
                                            <li class="help">{{ form2.score.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.score.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.score.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                        <!--Assists-->

                        <div class="form-group {% if form2.assists.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.assists.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form2.assists.label }}"
                                       class="form-control" name="assists2" value="">

                                {% if form2.assists.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.assists.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.assists.help_text %}
                                            <li class="help">{{ form2.assists.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.assists.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.assists.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                        <!--Free Kicks-->

                        <div class="form-group {% if form2.free_kicks.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.free_kicks.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form2.free_kicks.label }}"
                                       class="form-control" name="free_kicks2" value="">

                                {% if form2.free_kicks.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.free_kicks.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.free_kicks.help_text %}
                                            <li class="help">{{ form2.free_kicks.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.free_kicks.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.free_kicks.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                        <!--Penalties-->

                        <div class="form-group {% if form2.penalties.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.penalties.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form2.penalties.label }}"
                                       class="form-control" name="penalties2" value="">

                                {% if form2.penalties.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.penalties.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.penalties.help_text %}
                                            <li class="help">{{ form2.penalties.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.penalties.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.penalties.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                        <!--Total Shots-->

                        <div class="form-group {% if form2.total_shots.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.total_shots.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form2.total_shots.label }}"
                                       class="form-control" name="total_shots2" value="">

                                {% if form2.total_shots.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.total_shots.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.total_shots.help_text %}
                                            <li class="help">{{ form2.total_shots.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.total_shots.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.total_shots.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>




                                                <!--corners-->

                        <div class="form-group {% if form2.corners.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.corners.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form2.corners.label }}"
                                       class="form-control" name="corners2" value="" required>

                                {% if form2.corners.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.corners.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.corners.help_text %}
                                            <li class="help">{{ form2.corners.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.corners.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.corners.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                        <!--fouls-->

                        <div class="form-group {% if form2.fouls.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.fouls.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form2.fouls.label }}"
                                       class="form-control" name="fouls2" value="" required>

                                {% if form2.fouls.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.fouls.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.fouls.help_text %}
                                            <li class="help">{{ form2.fouls.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.fouls.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.fouls.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>



                          <!--offsides-->

                        <div class="form-group {% if form2.offsides.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.offsides.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form2.offsides.label }}"
                                       class="form-control" name="offsides2" value="" required>

                                {% if form2.offsides.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.offsides.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.offsides.help_text %}
                                            <li class="help">{{ form2.offsides.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.offsides.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.offsides.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>





                          <!--red_cards-->

                        <div class="form-group {% if form2.red_cards.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.red_cards.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form2.red_cards.label }}"
                                       class="form-control" name="red_cards2" value="" required>

                                {% if form2.red_cards.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.red_cards.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.red_cards.help_text %}
                                            <li class="help">{{ form2.red_cards.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.red_cards.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.red_cards.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>




                         <!--yellow_cards-->

                        <div class="form-group {% if form2.yellow_cards.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.yellow_cards.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form2.yellow_cards.label }}"
                                       class="form-control" name="yellow_cards2" value="" required>

                                {% if form2.yellow_cards.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.yellow_cards.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.yellow_cards.help_text %}
                                            <li class="help">{{ form2.yellow_cards.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.yellow_cards.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.yellow_cards.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>





                          <!--saves-->

                        <div class="form-group {% if form2.saves.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.saves.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form2.saves.label }}"
                                       class="form-control" name="saves2" value="" required>

                                {% if form2.saves.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.saves.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.saves.help_text %}
                                            <li class="help">{{ form2.saves.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.saves.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.saves.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>




                         <!--shots_off_target-->

                        <div class="form-group {% if form2.shots_off_target.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.shots_off_target.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form2.shots_off_target.label }}"
                                       class="form-control" name="shots_off_target2" value="" required>

                                {% if form2.shots_off_target.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.shots_off_target.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.shots_off_target.help_text %}
                                            <li class="help">{{ form2.shots_off_target.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.shots_off_target.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.shots_off_target.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>




                         <!--shots_on_target-->

                        <div class="form-group {% if form2.shots_on_target.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.shots_on_target.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form2.shots_on_target.label }}"
                                       class="form-control" name="shots_on_target2" value="" required>

                                {% if form2.shots_on_target.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.shots_on_target.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.shots_on_target.help_text %}
                                            <li class="help">{{ form2.shots_on_target.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.shots_on_target.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.shots_on_target.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>




                        <!--pred_num_of_users-->

                        <div class="form-group {% if form2.pred_num_of_users.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.pred_num_of_users.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form2.pred_num_of_users.label }}"
                                       class="form-control" name="pred_num_of_users2" value="">

                                {% if form2.pred_num_of_users.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.pred_num_of_users.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.pred_num_of_users.help_text %}
                                            <li class="help">{{ form2.pred_num_of_users.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.pred_num_of_users.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.pred_num_of_users.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                        <!--pred_wins-->

                        <div class="form-group {% if form2.pred_wins.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.pred_wins.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form2.pred_wins.label }}"
                                       class="form-control" name="pred_wins2" value="">

                                {% if form2.pred_wins.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.pred_wins.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.pred_wins.help_text %}
                                            <li class="help">{{ form2.pred_wins.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.pred_wins.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.pred_wins.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                        <!--pred_loses-->

                        <div class="form-group {% if form2.pred_loses.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.pred_loses.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form2.pred_loses.label }}"
                                       class="form-control" name="pred_loses2" value="">

                                {% if form2.pred_loses.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.pred_loses.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.pred_loses.help_text %}
                                            <li class="help">{{ form2.pred_loses.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.pred_loses.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.pred_loses.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                        <!--pred_ties-->

                        <div class="form-group {% if form2.pred_ties.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.pred_ties.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form2.pred_ties.label }}"
                                       class="form-control" name="pred_ties2" value="">

                                {% if form2.pred_ties.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.pred_ties.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.pred_ties.help_text %}
                                            <li class="help">{{ form2.pred_ties.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.pred_ties.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.pred_ties.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-btn fa-check"></i>Add
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}