{% extends 'salah_admin/base.html' %}
{% load staticfiles %}
{% load html_tags %}

{% block title %}
    Match
{% endblock %}

{% block braed %}
    <div class="breadcrumb-label text-light-gray">You are here:</div>
    <li><a href="{% url 'admin-matches-list' %}">Match</a></li>
    <li class="active"><a href="#">Edit</a></li>
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
                        <p>{{ message }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" role="form" enctype="multipart/form-data"
                          method="POST" action="">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-md-12">
                                <!--Title-->

                                <div class="form-group {% if form.title.errors %} has-error {% endif %}">
                                    <label class="col-md-4 control-label">
                                        {% autoescape off %}
                                            {{ form.title.label }}
                                        {% endautoescape %}
                                    </label>

                                    <div class="col-md-6">
                                        <input type="text" placeholder="{{ form.title.label }}"
                                               class="form-control" name="{{ form.title.html_name }}"
                                               value="{{ form.title.value }}" required>

                                        {% if form.title.errors %}
                                            <span class="help-block">
                                    <ol>
                                        {% for error in form.title.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.title.help_text %}
                                            <li class="help">{{ form.title.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                        {% else %}
                                            {% if form.title.help_text %}
                                                <span class="help-block">
                                            <p class="help">{{ form.title.help_text|safe }}</p>
                                        </span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>

                                <!--League-->
                                <div class="form-group {% if form.league.errors %} has-error {% endif %}">
                                    <label class="col-md-4 control-label">
                                        {% autoescape off %}
                                            {{ form.league.label }}
                                        {% endautoescape %}
                                    </label>

                                    <div class="col-md-6">
                                        <select name="{{ form.league.html_name }}">
                                            {% for league in form.league %}
                                                {{ league }}
                                            {% endfor %}
                                        </select>


                                        {% if form.league.errors %}
                                            <span class="help-block">
                                    <ol>
                                        {% for error in form.league.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.league.help_text %}
                                            <li class="help">{{ form.league.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                        {% else %}
                                            {% if form.league.help_text %}
                                                <span class="help-block">
                                            <p class="help">{{ form.league.help_text|safe }}</p>
                                        </span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>


                                <!--Venue-->

                                <div class="form-group {% if form.venue.errors %} has-error {% endif %}">
                                    <label class="col-md-4 control-label">
                                        {% autoescape off %}
                                            {{ form.venue.label }}
                                        {% endautoescape %}
                                    </label>

                                    <div class="col-md-6">
                                        <input type="text" placeholder="{{ form.venue.label }}"
                                               class="form-control" name="{{ form.venue.html_name }}"
                                               value="{{ form.venue.value }}" required>

                                        {% if form.venue.errors %}
                                            <span class="help-block">
                                    <ol>
                                        {% for error in form.venue.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.venue.help_text %}
                                            <li class="help">{{ form.venue.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                        {% else %}
                                            {% if form.venue.help_text %}
                                                <span class="help-block">
                                            <p class="help">{{ form.venue.help_text|safe }}</p>
                                        </span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>


                                <!--Start Date-->

                                <div class="form-group {% if form.start_date.errors %} has-error {% endif %}">
                                    <label class="col-md-4 control-label">
                                        {% autoescape off %}
                                            {{ form.start_date.label }}
                                        {% endautoescape %}
                                    </label>

                                    <div class="col-md-6">
                                        <input type="text" placeholder="{{ form.start_date.label }}"
                                               class="form-control" name="{{ form.start_date.html_name }}"
                                               data-date="{{ form.start_date.value|date:'Y-m-d H:i' }}"
                                               value="{{ form.start_date.value|date:'Y-m-d H:i' }}" required>

                                        {% if form.start_date.errors %}
                                            <span class="help-block">
                                    <ol>
                                        {% for error in form.start_date.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.start_date.help_text %}
                                            <li class="help">{{ form.start_date.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                        {% else %}
                                            {% if form.start_date.help_text %}
                                                <span class="help-block">
                                            <p class="help">{{ form.start_date.help_text|safe }}</p>
                                        </span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>


                                <!--Week-->

                                <div class="form-group {% if form.week.errors %} has-error {% endif %}">
                                    <label class="col-md-4 control-label">
                                        {% autoescape off %}
                                            {{ form.week.label }}
                                        {% endautoescape %}
                                    </label>

                                    <div class="col-md-6">
                                        <input type="number" placeholder="{{ form.week.label }}"
                                               class="form-control" name="{{ form.week.html_name }}"
                                               value="{{ form.week.value }}" required>

                                        {% if form.week.errors %}
                                            <span class="help-block">
                                    <ol>
                                        {% for error in form.week.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.week.help_text %}
                                            <li class="help">{{ form.week.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                        {% else %}
                                            {% if form.week.help_text %}
                                                <span class="help-block">
                                            <p class="help">{{ form.week.help_text|safe }}</p>
                                        </span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>


                                <!--Status-->

                                <div class="form-group {% if form.status.errors %} has-error {% endif %}">
                                    <label class="col-md-4 control-label">
                                        {% autoescape off %}
                                            {{ form.status.label }}
                                        {% endautoescape %}
                                    </label>

                                    <div class="col-md-6">
                                        <select name="{{ form.status.html_name }}">
                                            {% for status in form.status %}
                                                {{ status }}
                                            {% endfor %}
                                        </select>


                                        {% if form.status.errors %}
                                            <span class="help-block">
                                    <ol>
                                        {% for error in form.status.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.status.help_text %}
                                            <li class="help">{{ form.status.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                        {% else %}
                                            {% if form.status.help_text %}
                                                <span class="help-block">
                                            <p class="help">{{ form.status.help_text|safe }}</p>
                                        </span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                        <div style="text-align:center">
                             <a href="{% url 'admin-match-details-create' %}?id={{match_id}}">Add Match Details Article</a> <br>
                             <a href="{% url 'admin-match-live-create' %}?id={{match_id}}">Add Match Live Events</a><br>
                             <a href="{% url 'admin-match-pitch-create' %}?id={{match_id}}">Add Match Pitch Create</a>

                        </div>


                            </div>
                            
                            
                            
                            
                            
                            <!-- Team 1 -->
                            <div class="col-md-6">
                                <!--Team-->

                                <div class="form-group {% if form1.team.errors %} has-error {% endif %}">
                                    <label class="col-md-4 control-label">
                                        {% autoescape off %}
                                            {{ form1.team.label }}
                                        {% endautoescape %}
                                    </label>

                                    <div class="col-md-6">
                                        <select name="{{ form1.team.html_name }}">
                                            {% for team in form1.team %}
                                                {{ team }}
                                            {% endfor %}
                                        </select>


                                        {% if form1.team.errors %}
                                            <span class="help-block">
                                    <ol>
                                        {% for error in form1.team.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form1.team.help_text %}
                                            <li class="help">{{ form1.team.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                        {% else %}
                                            {% if form1.team.help_text %}
                                                <span class="help-block">
                                            <p class="help">{{ form1.team.help_text|safe }}</p>
                                        </span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>


                                <!--Score-->

                                <div class="form-group {% if form1.score.errors %} has-error {% endif %}">
                                    <label class="col-md-4 control-label">
                                        {% autoescape off %}
                                            {{ form1.score.label }}
                                        {% endautoescape %}
                                    </label>

                                    <div class="col-md-6">
                                        <input type="number" placeholder="{{ form1.score.label }}"
                                               class="form-control" name="{{ form1.score.html_name }}"
                                               value="{{ form1.score.value }}" required>

                                        {% if form1.score.errors %}
                                            <span class="help-block">
                                    <ol>
                                        {% for error in form1.score.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form1.score.help_text %}
                                            <li class="help">{{ form1.score.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                        {% else %}
                                            {% if form1.score.help_text %}
                                                <span class="help-block">
                                            <p class="help">{{ form1.score.help_text|safe }}</p>
                                        </span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>


                                <!--Assists-->

                                <div class="form-group {% if form1.assists.errors %} has-error {% endif %}">
                                    <label class="col-md-4 control-label">
                                        {% autoescape off %}
                                            {{ form1.assists.label }}
                                        {% endautoescape %}
                                    </label>

                                    <div class="col-md-6">
                                        <input type="number" placeholder="{{ form1.assists.label }}"
                                               class="form-control" name="{{ form1.assists.html_name }}"
                                               value="{{ form1.assists.value }}" required>

                                        {% if form1.assists.errors %}
                                            <span class="help-block">
                                    <ol>
                                        {% for error in form1.assists.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form1.assists.help_text %}
                                            <li class="help">{{ form1.assists.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                        {% else %}
                                            {% if form1.assists.help_text %}
                                                <span class="help-block">
                                            <p class="help">{{ form1.assists.help_text|safe }}</p>
                                        </span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>


                                <!--Free Kicks-->

                                <div class="form-group {% if form1.free_kicks.errors %} has-error {% endif %}">
                                    <label class="col-md-4 control-label">
                                        {% autoescape off %}
                                            {{ form1.free_kicks.label }}
                                        {% endautoescape %}
                                    </label>

                                    <div class="col-md-6">
                                        <input type="number" placeholder="{{ form1.free_kicks.label }}"
                                               class="form-control" name="{{ form1.free_kicks.html_name }}"
                                               value="{{ form1.free_kicks.value }}" required>

                                        {% if form1.free_kicks.errors %}
                                            <span class="help-block">
                                    <ol>
                                        {% for error in form1.free_kicks.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form1.free_kicks.help_text %}
                                            <li class="help">{{ form1.free_kicks.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                        {% else %}
                                            {% if form1.free_kicks.help_text %}
                                                <span class="help-block">
                                            <p class="help">{{ form1.free_kicks.help_text|safe }}</p>
                                        </span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>


                                <!--Penalties-->

                                <div class="form-group {% if form1.penalties.errors %} has-error {% endif %}">
                                    <label class="col-md-4 control-label">
                                        {% autoescape off %}
                                            {{ form1.penalties.label }}
                                        {% endautoescape %}
                                    </label>

                                    <div class="col-md-6">
                                        <input type="number" placeholder="{{ form1.penalties.label }}"
                                               class="form-control" name="{{ form1.penalties.html_name }}"
                                               value="{{ form1.penalties.value }}" required>

                                        {% if form1.penalties.errors %}
                                            <span class="help-block">
                                    <ol>
                                        {% for error in form1.penalties.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form1.penalties.help_text %}
                                            <li class="help">{{ form1.penalties.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                        {% else %}
                                            {% if form1.penalties.help_text %}
                                                <span class="help-block">
                                            <p class="help">{{ form1.penalties.help_text|safe }}</p>
                                        </span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>


                                <!--Total Shots-->

                                <div class="form-group {% if form1.total_shots.errors %} has-error {% endif %}">
                                    <label class="col-md-4 control-label">
                                        {% autoescape off %}
                                            {{ form1.total_shots.label }}
                                        {% endautoescape %}
                                    </label>

                                    <div class="col-md-6">
                                        <input type="number" placeholder="{{ form1.total_shots.label }}"
                                               class="form-control" name="{{ form1.total_shots.html_name }}"
                                               value="{{ form1.total_shots.value }}" required>

                                        {% if form1.total_shots.errors %}
                                            <span class="help-block">
                                    <ol>
                                        {% for error in form1.total_shots.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form1.total_shots.help_text %}
                                            <li class="help">{{ form1.total_shots.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                        {% else %}
                                            {% if form1.total_shots.help_text %}
                                                <span class="help-block">
                                            <p class="help">{{ form1.total_shots.help_text|safe }}</p>
                                        </span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>

                                
                                
                                
                                              <!--corners-->

                        <div class="form-group {% if form1.corners.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form1.corners.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form1.corners.label }}"
                                       class="form-control" name="{{ form1.corners.html_name }}" value="{{form1.corners.value}}" required>

                                {% if form1.corners.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form1.corners.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form1.corners.help_text %}
                                            <li class="help">{{ form1.corners.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form1.corners.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form1.corners.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                        <!--fouls-->

                        <div class="form-group {% if form1.fouls.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form1.fouls.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form1.fouls.label }}"
                                       class="form-control" name="{{ form1.fouls.html_name }}" value="{{form1.fouls.value}}" required>

                                {% if form1.fouls.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form1.fouls.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form1.fouls.help_text %}
                                            <li class="help">{{ form1.fouls.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form1.fouls.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form1.fouls.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                        
                          <!--offsides-->

                        <div class="form-group {% if form1.offsides.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form1.offsides.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form1.offsides.label }}"
                                       class="form-control" name="{{ form1.offsides.html_name }}" value="{{form1.offsides.value}}" required>

                                {% if form1.offsides.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form1.offsides.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form1.offsides.help_text %}
                                            <li class="help">{{ form1.offsides.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form1.offsides.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form1.offsides.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        
                        
                        
                        
                        
                          <!--red_cards-->

                        <div class="form-group {% if form1.red_cards.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form1.red_cards.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form1.red_cards.label }}"
                                       class="form-control" name="{{ form1.red_cards.html_name }}" value="{{form1.red_cards.value}}" required>

                                {% if form1.red_cards.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form1.red_cards.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form1.red_cards.help_text %}
                                            <li class="help">{{ form1.red_cards.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form1.red_cards.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form1.red_cards.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        
                        
                        
                        
                         <!--yellow_cards-->

                        <div class="form-group {% if form1.yellow_cards.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form1.yellow_cards.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form1.yellow_cards.label }}"
                                       class="form-control" name="{{ form1.yellow_cards.html_name }}" value="{{form1.yellow_cards.value}}" required>

                                {% if form1.yellow_cards.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form1.yellow_cards.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form1.yellow_cards.help_text %}
                                            <li class="help">{{ form1.yellow_cards.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form1.yellow_cards.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form1.yellow_cards.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        
                        
                        
                        
                        
                          <!--saves-->

                        <div class="form-group {% if form1.saves.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form1.saves.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form1.saves.label }}"
                                       class="form-control" name="{{ form1.saves.html_name }}" value="{{form1.saves.value}}" required>

                                {% if form1.saves.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form1.saves.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form1.saves.help_text %}
                                            <li class="help">{{ form1.saves.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form1.saves.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form1.saves.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        
                        
                        
                        
                         <!--shots_off_target-->

                        <div class="form-group {% if form1.shots_off_target.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form1.shots_off_target.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form1.shots_off_target.label }}"
                                       class="form-control" name="{{ form1.shots_off_target.html_name }}" value="{{form1.shots_off_target.value}}" required>

                                {% if form1.shots_off_target.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form1.shots_off_target.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form1.shots_off_target.help_text %}
                                            <li class="help">{{ form1.shots_off_target.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form1.shots_off_target.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form1.shots_off_target.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        

                        
                        
                         <!--shots_on_target-->

                        <div class="form-group {% if form1.shots_on_target.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form1.shots_on_target.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form1.shots_on_target.label }}"
                                       class="form-control" name="{{ form1.shots_on_target.html_name }}" value="{{form1.shots_on_target.value}}" required>

                                {% if form1.shots_on_target.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form1.shots_on_target.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form1.shots_on_target.help_text %}
                                            <li class="help">{{ form1.shots_on_target.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form1.shots_on_target.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form1.shots_on_target.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        
                                <div style="text-align:center">
                             <a href="{% url 'admin-match-timeline-create' %}?match_id={{match_id}}&team_id={{form1.team.value}}">Add Team Event</a>

                        </div>

                                
                                
                            </div>
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            <!-- Team 2 -->
                            <div class="col-md-6">
                                <!--Team-->

                                <div class="form-group {% if form2.team.errors %} has-error {% endif %}">
                                    <label class="col-md-4 control-label">
                                        {% autoescape off %}
                                            {{ form2.team.label }}
                                        {% endautoescape %}
                                    </label>

                                    <div class="col-md-6">
                                        <select name="team2">
                                            {% for team in form2.team %}
                                                {{ team }}
                                            {% endfor %}
                                        </select>


                                        {% if form2.team.errors %}
                                            <span class="help-block">
                                    <ol>
                                        {% for error in form2.team.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.team.help_text %}
                                            <li class="help">{{ form2.team.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                        {% else %}
                                            {% if form2.team.help_text %}
                                                <span class="help-block">
                                            <p class="help">{{ form2.team.help_text|safe }}</p>
                                        </span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>


                                <!--Score-->

                                <div class="form-group {% if form2.score.errors %} has-error {% endif %}">
                                    <label class="col-md-4 control-label">
                                        {% autoescape off %}
                                            {{ form2.score.label }}
                                        {% endautoescape %}
                                    </label>

                                    <div class="col-md-6">
                                        <input type="number" placeholder="{{ form2.score.label }}"
                                               class="form-control" name="score2" value="{{ form2.score.value }}">

                                        {% if form2.score.errors %}
                                            <span class="help-block">
                                    <ol>
                                        {% for error in form2.score.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.score.help_text %}
                                            <li class="help">{{ form2.score.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                        {% else %}
                                            {% if form2.score.help_text %}
                                                <span class="help-block">
                                            <p class="help">{{ form2.score.help_text|safe }}</p>
                                        </span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>


                                <!--Assists-->

                                <div class="form-group {% if form2.assists.errors %} has-error {% endif %}">
                                    <label class="col-md-4 control-label">
                                        {% autoescape off %}
                                            {{ form2.assists.label }}
                                        {% endautoescape %}
                                    </label>

                                    <div class="col-md-6">
                                        <input type="number" placeholder="{{ form2.assists.label }}"
                                               class="form-control" name="assists2" value="{{ form2.assists.value }}">

                                        {% if form2.assists.errors %}
                                            <span class="help-block">
                                    <ol>
                                        {% for error in form2.assists.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.assists.help_text %}
                                            <li class="help">{{ form2.assists.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                        {% else %}
                                            {% if form2.assists.help_text %}
                                                <span class="help-block">
                                            <p class="help">{{ form2.assists.help_text|safe }}</p>
                                        </span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>


                                <!--Free Kicks-->

                                <div class="form-group {% if form2.free_kicks.errors %} has-error {% endif %}">
                                    <label class="col-md-4 control-label">
                                        {% autoescape off %}
                                            {{ form2.free_kicks.label }}
                                        {% endautoescape %}
                                    </label>

                                    <div class="col-md-6">
                                        <input type="number" placeholder="{{ form2.free_kicks.label }}"
                                               class="form-control" name="free_kicks2"
                                               value="{{ form2.free_kicks.value }}">

                                        {% if form2.free_kicks.errors %}
                                            <span class="help-block">
                                    <ol>
                                        {% for error in form2.free_kicks.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.free_kicks.help_text %}
                                            <li class="help">{{ form2.free_kicks.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                        {% else %}
                                            {% if form2.free_kicks.help_text %}
                                                <span class="help-block">
                                            <p class="help">{{ form2.free_kicks.help_text|safe }}</p>
                                        </span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>


                                <!--Penalties-->

                                <div class="form-group {% if form2.penalties.errors %} has-error {% endif %}">
                                    <label class="col-md-4 control-label">
                                        {% autoescape off %}
                                            {{ form2.penalties.label }}
                                        {% endautoescape %}
                                    </label>

                                    <div class="col-md-6">
                                        <input type="number" placeholder="{{ form2.penalties.label }}"
                                               class="form-control" name="penalties2"
                                               value="{{ form2.penalties.value }}">

                                        {% if form2.penalties.errors %}
                                            <span class="help-block">
                                    <ol>
                                        {% for error in form2.penalties.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.penalties.help_text %}
                                            <li class="help">{{ form2.penalties.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                        {% else %}
                                            {% if form2.penalties.help_text %}
                                                <span class="help-block">
                                            <p class="help">{{ form2.penalties.help_text|safe }}</p>
                                        </span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>


                                <!--Total Shots-->

                                <div class="form-group {% if form2.total_shots.errors %} has-error {% endif %}">
                                    <label class="col-md-4 control-label">
                                        {% autoescape off %}
                                            {{ form2.total_shots.label }}
                                        {% endautoescape %}
                                    </label>

                                    <div class="col-md-6">
                                        <input type="number" placeholder="{{ form2.total_shots.label }}"
                                               class="form-control" name="total_shots2"
                                               value="{{ form2.total_shots.value }}">

                                        {% if form2.total_shots.errors %}
                                            <span class="help-block">
                                    <ol>
                                        {% for error in form2.total_shots.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.total_shots.help_text %}
                                            <li class="help">{{ form2.total_shots.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                        {% else %}
                                            {% if form2.total_shots.help_text %}
                                                <span class="help-block">
                                            <p class="help">{{ form2.total_shots.help_text|safe }}</p>
                                        </span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                                

                                              <!--corners-->

                        <div class="form-group {% if form2.corners.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.corners.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form2.corners.label }}"
                                       class="form-control" name="corners2" value="{{form2.corners.value}}" required>

                                {% if form2.corners.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.corners.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.corners.help_text %}
                                            <li class="help">{{ form2.corners.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.corners.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.corners.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>


                        <!--fouls-->

                        <div class="form-group {% if form2.fouls.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.fouls.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form2.fouls.label }}"
                                       class="form-control" name="fouls2" value="{{form2.fouls.value}}" required>

                                {% if form2.fouls.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.fouls.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.fouls.help_text %}
                                            <li class="help">{{ form2.fouls.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.fouls.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.fouls.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>



                          <!--offsides-->

                        <div class="form-group {% if form2.offsides.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.offsides.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form2.offsides.label }}"
                                       class="form-control" name="offsides2" value="{{form2.offsides.value}}" required>

                                {% if form2.offsides.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.offsides.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.offsides.help_text %}
                                            <li class="help">{{ form2.offsides.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.offsides.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.offsides.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>





                          <!--red_cards-->

                        <div class="form-group {% if form2.red_cards.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.red_cards.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form2.red_cards.label }}"
                                       class="form-control" name="red_cards2" value="{{form2.red_cards.value}}" required>

                                {% if form2.red_cards.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.red_cards.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.red_cards.help_text %}
                                            <li class="help">{{ form2.red_cards.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.red_cards.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.red_cards.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>




                         <!--yellow_cards-->

                        <div class="form-group {% if form2.yellow_cards.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.yellow_cards.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form2.yellow_cards.label }}"
                                       class="form-control" name="yellow_cards2" value="{{form2.yellow_cards.value}}" required>

                                {% if form2.yellow_cards.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.yellow_cards.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.yellow_cards.help_text %}
                                            <li class="help">{{ form2.yellow_cards.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.yellow_cards.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.yellow_cards.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>





                          <!--saves-->

                        <div class="form-group {% if form2.saves.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.saves.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form2.saves.label }}"
                                       class="form-control" name="saves2" value="{{form2.saves.value}}" required>

                                {% if form2.saves.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.saves.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.saves.help_text %}
                                            <li class="help">{{ form2.saves.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.saves.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.saves.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>




                         <!--shots_off_target-->

                        <div class="form-group {% if form2.shots_off_target.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.shots_off_target.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form2.shots_off_target.label }}"
                                       class="form-control" name="shots_off_target2" value="{{form2.shots_off_target.value}}" required>

                                {% if form2.shots_off_target.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.shots_off_target.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.shots_off_target.help_text %}
                                            <li class="help">{{ form2.shots_off_target.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.shots_off_target.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.shots_off_target.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>




                         <!--shots_on_target-->

                        <div class="form-group {% if form2.shots_on_target.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form2.shots_on_target.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                <input type="number" placeholder="{{ form2.shots_on_target.label }}"
                                       class="form-control" name="shots_on_target2" value="{{form2.shots_on_target.value}}" required>

                                {% if form2.shots_on_target.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form2.shots_on_target.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form2.shots_on_target.help_text %}
                                            <li class="help">{{ form2.shots_on_target.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form2.shots_on_target.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form2.shots_on_target.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                                
                                
                            </div>
                               <div style="text-align:center">
                             <a href="{% url 'admin-match-timeline-create' %}?match_id={{match_id}}&team_id={{form2.team.value}}">Add Team Event</a>

                        </div>
                        </div>



                        <div class="form-group">
                            <div class="col-md-12 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-btn fa-check"></i>Update
                                </button>
                            </div>
                        </div>

                    </form>

                </div>

            </div>
        </div>
    </div>
{% endblock %}