{% load static %}
<!-- 4. $MAIN_MENU =================================================================================

            Main menu

            Notes:
            * to make the menu item active, add a class 'active' to the <li>
              example: <li class="active">...</li>
            * multilevel submenu example:
                <li class="mm-dropdown">
                  <a href="#"><span class="mm-text">Submenu item text 1</span></a>
                  <ul>
                    <li>...</li>
                    <li class="mm-dropdown">
                      <a href="#"><span class="mm-text">Submenu item text 2</span></a>
                      <ul>
                        <li>...</li>
                        ...
                      </ul>
                    </li>
                    ...
                  </ul>
                </li>
    -->
    <div id="main-menu" role="navigation">
        <div id="main-menu-inner">
            <div class="menu-content top" id="menu-content-demo">
                <!-- Menu custom content demo
                     Javascript: html/assets/demo/demo.js
                 -->
                <div>
                    <div class="text-bg"><span class="text-slim"></span> <span class="text-semibold">{{ request.user.fname }}</span>
                    </div>

                    <img src="{{image_host}}{% static 'salah_admin/demo/avatars/1.png' %}" alt="" class="">

                    <div class="btn-group">
{#                        <a href="#" class="btn btn-xs btn-primary btn-outline dark"><i class="fa fa-envelope"></i></a>#}
{#                        <a href="#" class="btn btn-xs btn-primary btn-outline dark"><i class="fa fa-user"></i></a>#}
{#                        <a href="#" class="btn btn-xs btn-primary btn-outline dark"><i class="fa fa-cog"></i></a>#}
                        <a href="{% url 'admin-logout' %}" class="btn btn-xs btn-danger btn-outline dark"><i class="fa fa-power-off"></i></a>
                    </div>
                    <a href="#" class="close">&times;</a>
                </div>
            </div>
            <ul class="navigation">
                <li class="active">
                    <a href="{% url 'admin-index' %}"><i class="menu-icon fa fa-dashboard"></i><span class="mm-text">Dashboard</span></a>
                </li>

                <!-- Users -->
                <li class="mm-dropdown">
                    <a href="#"><i class="menu-icon fa fa-th"></i><span class="mm-text">Users</span></a>
                    <ul>
                        <li>
                            <a tabindex="-1" href="{% url 'admin-users-add' %}"><span class="mm-text">Create</span></a>
                        </li>
                        <li>
                            <a tabindex="-1" href="{% url 'admin-users-list' %}"><i class="menu-icon fa fa-th-list"></i><span
                                    class="mm-text">List</span></a>
                        </li>
                    </ul>
                </li>

                <li class="hide">
                    <a href=""><i class="menu-icon fa fa-tasks"></i><span
                            class="mm-text">Genres</span></a>
                </li>



            <!-- Teams -->

                <li class="mm-dropdown">
                    <a href="#"><i class="menu-icon fa fa-th"></i><span class="mm-text">Teams</span></a>
                    <ul>
                        <li>
                            <a tabindex="-1" href="{% url 'admin-teams-create' %}"><span class="mm-text">Create</span></a>
                        </li>
                        <li>
                            <a tabindex="-1" href="{% url 'admin-teams-list' %}"><i class="menu-icon fa fa-th-list"></i><span
                                    class="mm-text">List</span></a>
                        </li>
                    </ul>
                </li>

                <li class="hide">
                    <a href=""><i class="menu-icon fa fa-tasks"></i><span
                            class="mm-text">Genres</span></a>
                </li>




                 <!-- Slider -->

                <li class="mm-dropdown">
                    <a href="#"><i class="menu-icon fa fa-th"></i><span class="mm-text">Slider</span></a>
                    <ul>
                        <li>
                            <a tabindex="-1" href="{% url 'admin-sliders-create' %}"><span class="mm-text">Create</span></a>
                        </li>
                        <li>
                            <a tabindex="-1" href="{% url 'admin-sliders-list' %}"><i class="menu-icon fa fa-th-list"></i><span
                                    class="mm-text">List</span></a>
                        </li>
                    </ul>
                </li>

                <li class="hide">
                    <a href=""><i class="menu-icon fa fa-tasks"></i><span
                            class="mm-text">Genres</span></a>
                </li>




                 <!-- News -->

                <li class="mm-dropdown">
                    <a href="#"><i class="menu-icon fa fa-th"></i><span class="mm-text">News</span></a>
                    <ul>
                        <li>
                            <a tabindex="-1" href="{% url 'admin-news-create' %}"><span class="mm-text">Create</span></a>
                        </li>
                        <li>
                            <a tabindex="-1" href="{% url 'admin-news-list' %}"><i class="menu-icon fa fa-th-list"></i><span
                                    class="mm-text">List</span></a>
                        </li>
                    </ul>
                </li>

                <li class="hide">
                    <a href=""><i class="menu-icon fa fa-tasks"></i><span
                            class="mm-text">Genres</span></a>
                </li>


            <!-- Videos -->

                <li class="mm-dropdown">
                    <a href="#"><i class="menu-icon fa fa-th"></i><span class="mm-text">Videos</span></a>
                    <ul>
                        <li>
                            <a tabindex="-1" href="{% url 'admin-video-create' %}"><span class="mm-text">Create</span></a>
                        </li>
                        <li>
                            <a tabindex="-1" href="{% url 'admin-videos-list' %}"><i class="menu-icon fa fa-th-list"></i><span
                                    class="mm-text">List</span></a>
                        </li>
                    </ul>
                </li>
<!-- Gallery -->

                <li class="mm-dropdown">
                    <a href="#"><i class="menu-icon fa fa-th"></i><span class="mm-text">Gallery</span></a>
                    <ul>
                        <li>
                            <a tabindex="-1" href="{% url 'admin-gallery-create' %}"><span class="mm-text">Create</span></a>
                        </li>
                        <li>
                            <a tabindex="-1" href="{% url 'admin-gallery-list' %}"><i class="menu-icon fa fa-th-list"></i><span
                                    class="mm-text">List</span></a>
                        </li>
                    </ul>
                </li>



                <!-- League -->

                <li class="mm-dropdown">
                    <a href="#"><i class="menu-icon fa fa-th"></i><span class="mm-text">Leagues</span></a>
                    <ul>
                        <li>
                            <a tabindex="-1" href="{% url 'admin-league-create' %}"><span class="mm-text">Create</span></a>
                        </li>
                        <li>
                            <a tabindex="-1" href="{% url 'admin-leagues-list' %}"><i class="menu-icon fa fa-th-list"></i><span
                                    class="mm-text">List</span></a>
                        </li>
                    </ul>
                </li>


                 <!-- Awards -->
                <li class="mm-dropdown">
                    <a href="#"><i class="menu-icon fa fa-th"></i><span class="mm-text">Awards</span></a>
                    <ul>
                        <li>
                            <a tabindex="-1" href="{% url 'admin-award-create' %}"><span class="mm-text">Create</span></a>
                        </li>
                        <li>
                            <a tabindex="-1" href="{% url 'admin-awards-list' %}"><i class="menu-icon fa fa-th-list"></i><span
                                    class="mm-text">List</span></a>
                        </li>
                    </ul>
                </li>




                 <!-- Career -->
                <li class="mm-dropdown">
                    <a href="#"><i class="menu-icon fa fa-th"></i><span class="mm-text">Career</span></a>
                    <ul>
                        <li>
                            <a tabindex="-1" href="{% url 'admin-career-create' %}"><span class="mm-text">Create</span></a>
                        </li>
                        <li>
                            <a tabindex="-1" href="{% url 'admin-careers-list' %}"><i class="menu-icon fa fa-th-list"></i><span
                                    class="mm-text">List</span></a>
                        </li>
                    </ul>
                </li>



                <!-- Questions -->

                <li class="mm-dropdown">
                    <a href="#"><i class="menu-icon fa fa-th"></i><span class="mm-text">Questions</span></a>
                    <ul>
                        <li>
                            <a tabindex="-1" href="{% url 'admin-question-create' %}"><span class="mm-text">Create</span></a>
                        </li>
                        <li>
                            <a tabindex="-1" href="{% url 'admin-questions-list' %}"><i class="menu-icon fa fa-th-list"></i><span
                                    class="mm-text">List</span></a>
                        </li>
                    </ul>
                </li>


                <!-- Answers -->

                <li class="mm-dropdown">
                    <a href="#"><i class="menu-icon fa fa-th"></i><span class="mm-text">Answers</span></a>
                    <ul>
                        <li>
                            <a tabindex="-1" href="{% url 'admin-answer-create' %}"><span class="mm-text">Create</span></a>
                        </li>
                        <li>
                            <a tabindex="-1" href="{% url 'admin-answers-list' %}"><i class="menu-icon fa fa-th-list"></i><span
                                    class="mm-text">List</span></a>
                        </li>
                    </ul>
                </li>

                <!-- Salah Numbers -->

                <li class="mm-dropdown">
                    <a href="#"><i class="menu-icon fa fa-th"></i><span class="mm-text">Salah-Numbers</span></a>
                    <ul>
                        <li>
                            <a tabindex="-1" href="{% url 'admin-salah-numbers-edit' %}"><span class="mm-text">Edit</span></a>
                        </li>
                    </ul>
                </li>


                <li class="hide">
                    <a href=""><i class="menu-icon fa fa-tasks"></i><span
                            class="mm-text">Genres</span></a>
                </li>



                <!-- Matches -->

                <li class="mm-dropdown">
                    <a href="#"><i class="menu-icon fa fa-th"></i><span class="mm-text">Matches</span></a>
                    <ul>
                        <li>
                            <a tabindex="-1" href="{% url 'admin-match-create' %}"><span class="mm-text">Create</span></a>
                        </li>
                        <li>
                            <a tabindex="-1" href="{% url 'admin-matches-list' %}"><i class="menu-icon fa fa-th-list"></i><span
                                    class="mm-text">List</span></a>
                        </li>
                    </ul>
                </li>

 <!-- Terms -->

                <li class="mm-dropdown">
                    <a href="#"><i class="menu-icon fa fa-th"></i><span class="mm-text">Terms</span></a>
                    <ul>
                        <li>
                            <a tabindex="-1" href="{% url 'admin-terms-edit' %}"><span class="mm-text">Edit</span></a>
                        </li>
                    </ul>
                </li>


                <li class="hide">
                    <a href=""><i class="menu-icon fa fa-tasks"></i><span
                            class="mm-text">Genres</span></a>
                </li>




            </ul>

            <!-- / .navigation -->
            <div class="menu-content hide">
                <a href="pages-invoice.html" class="btn btn-primary btn-block btn-outline dark">Create Invoice</a>
            </div>
        </div>
        <!-- / #main-menu-inner -->
    </div>
    <!-- / #main-menu -->
    <!-- /4. $MAIN_MENU -->