<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
{% csrf_token %}
<label>Key</label> <br>
    <input name="key"> <br>
    <label>Value</label> <br>
    <input name="value"> <br>
    <select name="type">
        <option value="enc">
            Encrypt
        </option>
        <option value="dec">
            Descrypt
        </option>
    </select>
    <br> <br>
<button type="submit">Submit</button>
</form>
</body>
</html>