{% load static %}

<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="{% static 'lfctv/images/vodafone-logo.png' %}">
  <link rel="shortcut icon" href="{% static 'lfctv/images/vodafone-logo.png' %}">
  <link rel="apple-touch-icon" href="{% static 'lfctv/images/vodafone-logo.png' %}">
  <link rel="apple-touch-icon-precomposed" href="{% static 'lfctv/images/vodafone-logo.png' %}">
  <title>Mohamed Salah - Videos in Liverpool</title>
  <link href="https://vjs.zencdn.net/7.1.0/video-js.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'lfctv/css/liverpool.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>

<body>
  
  <header>
    <a class="liverpool-logo" href="#"><img src="{% static 'lfctv/images/liverpool.png' %}" alt="Liverpool"></a>
    <a class="lfctv-logo" href="{% url 'liverpool-videos-list' %}"><img src="{% static 'lfctv/images/LFCTV.png' %}" alt="LFCTV-GO"></a>
  </header>

  <section class="v-player">
    <div class="video">
      <video oncontextmenu="return false;" controlsList="nodownload" webkit-playsinline="true" playsinline="true" class="video-js" controls preload="auto" width="640" height="264" poster="{{video.imgid.url}}" data-setup="{}">
        <source src="{{ video_host }}/{{ video.ftp_name }}" type="video/mp4"></source>
        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a web browser that
          <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
      </video>
    </div>



    <article>
      <h1 class="video-header">{{video.title}}</h1>
      <!--<p class="video-p">Watch as the players and staff celebrate the birthdays of Virgil van Dijk and John Achterberg ahead of training</p>-->
    
      <!--<div class="half-flex">-->


        <!---->
        <!--<a href="#" class="video-obj">-->
          <!--<div class="video-obj_cover">-->
            <!--<div class="play-icon"><i class="fas fa-play"></i></div>-->
            <!--<img src="{% static 'lfctv/images/video-sample.jpg' %}" alt="Cover">-->
          <!--</div>-->
          <!--<div class="video-obj_body">-->
            <!--<h2 class="video-obj_header">Van Dijk gets the birthday celebrations on his return to training</h2>-->
            <!--<time class="video-obj_time" datetime="2018-07-07">8th Jul 2018</time>-->
          <!--</div>-->
        <!--</a>-->



        <!--<a href="#" class="video-obj">-->
          <!--<div class="video-obj_cover">-->
            <!--<div class="play-icon"><i class="fas fa-play"></i></div>-->
            <!--<img src="{% static 'lfctv/images/video-sample.jpg' %}" alt="Cover">-->
          <!--</div>-->
          <!--<div class="video-obj_body">-->
            <!--<h2 class="video-obj_header">Van Dijk gets the birthday celebrations on his return to training</h2>-->
            <!--<time class="video-obj_time" datetime="2018-07-07">8th Jul 2018</time>-->
          <!--</div>-->
        <!--</a>-->
        <!--<a href="#" class="video-obj">-->
          <!--<div class="video-obj_cover">-->
            <!--<div class="play-icon"><i class="fas fa-play"></i></div>-->
            <!--<img src="{% static 'lfctv/images/video-sample.jpg' %}" alt="Cover">-->
          <!--</div>-->
          <!--<div class="video-obj_body">-->
            <!--<h2 class="video-obj_header">Van Dijk gets the birthday celebrations on his return to training</h2>-->
            <!--<time class="video-obj_time" datetime="2018-07-07">8th Jul 2018</time>-->
          <!--</div>-->
        <!--</a>-->
      <!--</div>-->
    </article>






  {% comment %}
    <section class="clients">
      <div class="flex-row-wrap justify-content-center">
        <a class="client-logo" href="#"><img src="{% static 'lfctv/images/clients/logo-1.png' %}" alt="Client"></a>
        <a class="client-logo" href="#"><img src="{% static 'lfctv/images/clients/logo-1.png' %}" alt="Client"></a>
        <a class="client-logo" href="#"><img src="{% static 'lfctv/images/clients/logo-1.png' %}" alt="Client"></a>
      </div>
      <div class="flex-row-wrap justify-content-center">
        <a class="client-logo" href="#"><img src="{% static 'lfctv/images/clients/logo-1.png' %}" alt="Client"></a>
        <a class="client-logo" href="#"><img src="{% static 'lfctv/images/clients/logo-1.png' %}" alt="Client"></a>
        <a class="client-logo" href="#"><img src="{% static 'lfctv/images/clients/logo-1.png' %}" alt="Client"></a>
        <a class="client-logo" href="#"><img src="{% static 'lfctv/images/clients/logo-1.png' %}" alt="Client"></a>
        <a class="client-logo" href="#"><img src="{% static 'lfctv/images/clients/logo-1.png' %}" alt="Client"></a>
        <a class="client-logo" href="#"><img src="{% static 'lfctv/images/clients/logo-1.png' %}" alt="Client"></a>
        <a class="client-logo" href="#"><img src="{% static 'lfctv/images/clients/logo-1.png' %}" alt="Client"></a>
        <a class="client-logo" href="#"><img src="{% static 'lfctv/images/clients/logo-1.png' %}" alt="Client"></a>
        <a class="client-logo" href="#"><img src="{% static 'lfctv/images/clients/logo-1.png' %}" alt="Client"></a>
        <a class="client-logo" href="#"><img src="{% static 'lfctv/images/clients/logo-1.png' %}" alt="Client"></a>
        <a class="client-logo" href="#"><img src="{% static 'lfctv/images/clients/logo-1.png' %}" alt="Client"></a>
        <a class="client-logo" href="#"><img src="{% static 'lfctv/images/clients/logo-1.png' %}" alt="Client"></a>
      </div>
    </section>
    {% endcomment %}
    <footer>
      <span>Powered By Vodafone</span>
      <span>&copy; Copyright 2018 Liverpool FC. All rights reserved</span>
    </footer>
    
    
    
    <aside data-simplebar>
      {% for vid in videos_list %}
      <a href="{% url 'desktop-liverpool' vid.id %}" class="video-obj">
        <div class="video-obj_cover">
          <div class="play-icon"><i class="fas fa-play"></i></div>
          <img src="{{image_host}}{{vid.imgid.url}}" alt="Cover">
        </div>
        <div class="video-obj_body">
          <h2 class="video-obj_header">{{vid.title}}</h2>
          <time class="video-obj_time" datetime="2018-07-07">{{vid.created_at}}</time>
        </div>
      </a>
      {% endfor %}


    </aside>
  </section>
  <!-- Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/simplebar/2.6.1/simplebar.min.js"></script>
  <script src="https://vjs.zencdn.net/7.1.0/video.js"></script>
</body>

</html>
