{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>LFCTv</title>
		<meta charset="UTF-8">
    <!-- <script src="https://use.fontawesome.com/6fc3592642.js"></script> -->
	  <link href="{{image_host}}{% static 'lfctv/stylesheets/screen.css' %}" media="screen, projection" rel="stylesheet" type="text/css" />
	  <link href="{{image_host}}{% static 'lfctv/stylesheets/print.css' %}" media="print" rel="stylesheet" type="text/css" />
	  <!--[if IE]>
	      <link href="{{image_host}}{% static 'lfctv/stylesheets/ie.css' %}" media="screen, projection" rel="stylesheet" type="text/css" />
	  <![endif]-->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
	</head>
<body>
	<header data-aos="fade-up">
		<div class="container">
			<div class="row">
				<a href="#" class="logo"><img src="{{image_host}}{% static 'lfctv/images/logo.svg' %}" alt=""></a>
				<a href="" class="menu">&#9776;</a>
			</div> <!-- .row -->
		</div> <!-- .container -->
	</header>
	<section id="highlight" class="mb-60" data-aos="fade-up">
		<div class="container">
			<div class="post row" data-aos="fade-left" data-aos-delay="100">
				<a href="" class="thumb mb-10"><img src="images/highlight.png" alt=""></a>
				<p class="nmb">MATCH ACTION 2nd May 2018</p>
				<h2 class="mb-10"><a href="">Highlights: Roma v LFC</a></h2>
				<p class="desc">Watch extended highlights from Rome as Liverpool secured their place in the Champions League final in Kiev</p>
			</div> <!-- .post -->
		</div> <!-- .container -->
	</section> <!-- #highlight -->
	<section id="main" class="mb-60">
		<div class="container">
			<div class="grid">





				{% for video in liverpool_videos_list %}
				<div class="post half mb-20" data-aos="fade-left">
					<a href="" class="thumb" value="{{video.video_id.url}}">
						<img src="{{video.imgid.url}}" alt="">
					</a>
					<div class="body">
						<p class="red nmb">{{video.title}}</p>
						<h3><a href="">Klopp's pre-Chelsea pressconference</a></h3>
						<datetime>{{video.created_at}}</datetime>
					</div> <!-- .body -->
				</div> <!-- .post.half -->
				{% endfor %}





				<div class="post half mb-20" data-aos="fade-left" data-aos-delay="100">
					<a href="" class="thumb">
						<img src="images/klopp.png" alt="">
					</a>
					<div class="body">
						<p class="red nmb">PRESS CONFERENCE</p>
						<h3><a href="">Klopp's pre-Chelsea pressconference</a></h3>
						<datetime>4th May 2018</datetime>
					</div> <!-- .body -->
				</div> <!-- .post.half -->
				<div class="post half mb-20" data-aos="fade-left" data-aos-delay="200">
					<a href="" class="thumb">
						<img src="images/klopp.png" alt="">
					</a>
					<div class="body">
						<p class="red nmb">PRESS CONFERENCE</p>
						<h3><a href="">Klopp's pre-Chelsea pressconference</a></h3>
						<datetime>4th May 2018</datetime>
					</div> <!-- .body -->
				</div> <!-- .post.half -->
				<div class="post half mb-20" data-aos="fade-left" data-aos-delay="300">
					<a href="" class="thumb">
						<img src="images/klopp.png" alt="">
					</a>
					<div class="body">
						<p class="red nmb">PRESS CONFERENCE</p>
						<h3><a href="">Klopp's pre-Chelsea pressconference</a></h3>
						<datetime>4th May 2018</datetime>
					</div> <!-- .body -->
				</div> <!-- .post.half -->
			</div> <!-- .grid -->
			<div class="grid">
				<div class="post oneFourth" data-aos="fade-left" data-aos-delay="100">
					<a href="" class="thumb">
						<img src="images/small.png" alt="">
					</a>
					<div class="body">
						<p class="red nmb">PRESS CONFERENCE</p>
						<h5><a href="">Klopp's pre-Chelsea press conference</a></h5>
					</div> <!-- .body -->
				</div> <!-- .post.oneFourth -->
				<div class="post oneFourth" data-aos="fade-left" data-aos-delay="200">
					<a href="" class="thumb">
						<img src="images/small.png" alt="">
					</a>
					<div class="body">
						<p class="red nmb">PRESS CONFERENCE</p>
						<h5><a href="">Klopp's pre-Chelsea press conference</a></h5>
					</div> <!-- .body -->
				</div> <!-- .post.oneFourth -->
				<div class="post oneFourth" data-aos="fade-left" data-aos-delay="300">
					<a href="" class="thumb">
						<img src="images/small.png" alt="">
					</a>
					<div class="body">
						<div class="body">
							<p class="red nmb">PRESS CONFERENCE</p>
							<h5><a href="">Klopp's pre-Chelsea press conference</a></h5>
						</div> <!-- .body -->
					</div> <!-- .body -->
				</div> <!-- .post.oneFourth -->
				<div class="post oneFourth" data-aos="fade-left" data-aos-delay="400">
					<a href="" class="thumb">
						<img src="images/small.png" alt="">
					</a>
					<div class="body">
						<p class="red nmb">PRESS CONFERENCE</p>
						<h5><a href="">Klopp's pre-Chelsea press conference</a></h5>
					</div> <!-- .body -->
				</div> <!-- .post.oneFourth -->
			</div> <!-- .grid -->
		</div> <!-- .container -->
	</section> <!-- #main -->
	<section id="featured" class="mb-60" data-aos="fade-up">
		<div class="container">
			<h2 class="mb-15">Featured Videos</h2>
			<div class="grid">
				<div class="post half" data-aos="fade-left" data-aos-delay="100">
					<a href="" class="thumb">
						<img src="images/klopp.png" alt="">
					</a>
					<div class="body">
						<p class="red nmb">PRESS CONFERENCE</p>
						<h3><a href="">Klopp's pre-Chelsea press conference</a></h3>
						<datetime>4th May 2018</datetime>
					</div> <!-- .body -->
				</div> <!-- .post.half -->
				<div class="post half" data-aos="fade-left" data-aos-delay="200">
					<a href="" class="thumb">
						<img src="images/klopp.png" alt="">
					</a>
					<div class="body">
						<p class="red nmb">PRESS CONFERENCE</p>
						<h3><a href="">Klopp's pre-Chelsea press conference</a></h3>
						<datetime>4th May 2018</datetime>
					</div> <!-- .body -->
				</div> <!-- .post.half -->
			</div> <!-- .grid -->
		</div> <!-- .container -->
	</section> <!-- #featured -->
	<section id="bottom" class="mb-60">
		<div class="container">
			<div class="grid">
				<div class="post oneFourth" data-aos="fade-left" data-aos-delay="100">
					<a href="" class="thumb">
						<img src="images/small.png" alt="">
					</a>
					<div class="body">
						<p class="red nmb">PRESS CONFERENCE</p>
						<h5><a href="">Klopp's pre-Chelsea press conference</a></h5>
					</div> <!-- .body -->
				</div> <!-- .post.oneFourth -->
				<div class="post oneFourth" data-aos="fade-left" data-aos-delay="200">
					<a href="" class="thumb">
						<img src="images/small.png" alt="">
					</a>
					<div class="body">
						<p class="red nmb">PRESS CONFERENCE</p>
						<h5><a href="">Klopp's pre-Chelsea press conference</a></h5>
					</div> <!-- .body -->
				</div> <!-- .post.oneFourth -->
				<div class="post oneFourth" data-aos="fade-left" data-aos-delay="300">
					<a href="" class="thumb">
						<img src="images/small.png" alt="">
					</a>
					<div class="body">
						<div class="body">
							<p class="red nmb">PRESS CONFERENCE</p>
							<h5><a href="">Klopp's pre-Chelsea press conference</a></h5>
						</div> <!-- .body -->
					</div> <!-- .body -->
				</div> <!-- .post.oneFourth -->
				<div class="post oneFourth" data-aos="fade-left" data-aos-delay="400">
					<a href="" class="thumb">
						<img src="images/small.png" alt="">
					</a>
					<div class="body">
						<p class="red nmb">PRESS CONFERENCE</p>
						<h5><a href="">Klopp's pre-Chelsea press conference</a></h5>
					</div> <!-- .body -->
				</div> <!-- .post.oneFourth -->
			</div> <!-- .grid -->
		</div> <!-- .container -->
	</section> <!-- #bottom -->
	<footer>
		<div class="container">
			<center><img src="images/footlogos.png" alt=""></center>
		</div> <!-- .container -->
	</footer>
	<div id="popup">
		<a href="" class="popupClose">&#10006; Close</a>
		<div class="content">
			<video oncontextmenu="return false;" controls controlsList="nodownload" webkit-playsinline="true" playsinline="true" >
			  <source src="{{image_host}}{% static 'lfctv/small.mp4' %}" type="video/mp4">
			  <source src="{{image_host}}{% static 'lfctv/small.ogv' %}" type="video/ogg">
			Your browser does not support the video tag.
			</video>
			<h3>Klopp's pre-Chelsea press conference</h3>
		</div>
	</div> <!-- .popup -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
			AOS.init();
			$('.post a').click(function(e){
				e.preventDefault();
				$('#popup .content video source').attr('src', $(this).attr('value'));
				$('#popup .content video')[0].load();
				$('#popup').fadeIn(500, function() {
					$('#popup .popupClose').click(function(e){
						$('#popup .content video').pause();
						e.preventDefault();
						$('#popup').fadeOut(500);
					});
				})
			});
		});
	</script>
</body>
</html>
