{% load static %}
{% load cool_paginate %}
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LFCTv</title>
    <meta charset="UTF-8">
    <!-- <script src="https://use.fontawesome.com/6fc3592642.js"></script> -->
    <link href="{{ image_host }}{% static 'lfctv/stylesheets/screen.css' %}" media="screen, projection" rel="stylesheet"
          type="text/css"/>
    <link href="{{ image_host }}{% static 'lfctv/stylesheets/rtl.css' %}?n=1" media="screen, projection" rel="stylesheet"
          type="text/css"/>
    <link href="{{ image_host }}{% static 'lfctv/stylesheets/print.css' %}" media="print" rel="stylesheet"
          type="text/css"/>
           <link rel="stylesheet" href="{{image_host}}{% static 'website/css/custom.css' %}?n=3" media="all" type="text/css"/>

    <!--[if IE]>
	      <link href="stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />

	  <![endif]-->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <script type="text/javascript" src="{{image_host}}{% static 'website/js/bootstrap.min.js' %}"></script>

    <![endif]-->
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
</head>
<body>
<header data-aos="fade-up">
    <div class="container">
        <div class="row">
            <a style="white-space:nowrap; color:white; font-size:10px" href="{% url 'liverpool-videos-list' %}" class="logo"><img style="width:140px !important" src="{{ image_host }}{% static 'lfctv/images/LFCTV.png' %}" alt="">&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp عرض جميع الفيديوهات</a>

            {% if request.GET.desktop %}
                <a href="{% url 'desktop-videos' %}" class="menu">
                    <img width="50px" height="50px" style="margin-top:10px"
                         src="{{ image_host }}{% static 'website/images/icons/return.png' %}">
                </a>
            {% else %}
                <a href="{% url 'videos-list' %}" class="menu">
                    {# <img width="50px" height="50px" style="margin-top:10px" src="{{ image_host }}{% static 'website/images/icons/return.png' %}"> #}
                </a>
            {% endif %}
        </div> <!-- .row -->
    </div> <!-- .container -->
</header>
<section id="highlight" class="mb-60" data-aos="fade-up">
    {% with liverpool_videos_list|first as vid %}
        <div class="container">
        <div class="post row" data-aos="fade-right" data-aos-delay="100">
        <a href="{% url 'liverpool-video-details' vid.id %}" href_="{{ redirect_video }}/{{ vid.id }}" class="thumb mb-10" value="{{ video_host }}/{{ vid.ftp_name }}"><img
                src="{{ vid.imgid.url }}"
                alt=""></a>
        <p class="nmb">{{ vid.created_at }}</p>
        <h2 class="mb-10">
            <a value="{{ video_host }}/{{ vid.ftp_name }}" href="">مميز: </a></h2>
        <p class="desc">{{ vid.title }}</p>
    {% endwith %}

    </div> <!-- .post -->
    </div> <!-- .container -->
</section> <!-- #highlight -->
<section id="main" class="mb-60">
    <div class="container">
        <div class="grid">


            {% for video in liverpool_videos_list %}
                <div class="post half mb-20" data-aos="fade-left">
                    <a href="{% url 'liverpool-video-details' video.id %}" href_="{{ redirect_video }}/{{ vid.id }}" class="thumb"
                       value="{{ video_host }}/{{ video.ftp_name }}">
                        <img src="{{ video.imgid.url }}" alt="">
                    </a>
                    <div class="body">
                        <p class="red nmb"></p>
                        <h3><a href="">{{ video.title }}</a></h3>
                        <datetime>{{ video.created_at }}</datetime>
                    </div> <!-- .body -->
                </div> <!-- .post.half -->
            {% endfor %}

            <!--<div class="post half mb-20" data-aos="fade-right" data-aos-delay="100">-->
            <!--<a href="" class="thumb">-->
            <!--<img src="images/klopp.png" alt="">-->
            <!--<time><span class="red">&#9656;</span> 19:42</time>-->
            <!--</a>-->
            <!--<div class="body">-->
            <!--<p class="red nmb">مؤتمر صحفي</p>-->
            <!--<h3><a href="">مؤتمر كلوب في الصحافة قبل تشيلسي</a></h3>-->
            <!--<datetime>٤ مايو ٢٠١٨</datetime>-->
            <!--</div> &lt;!&ndash; .body &ndash;&gt;-->
            <!--</div> &lt;!&ndash; .post.half &ndash;&gt;-->
            <!--<div class="post half mb-20" data-aos="fade-right" data-aos-delay="200">-->
            <!--<a href="" class="thumb">-->
            <!--<img src="images/klopp.png" alt="">-->
            <!--<time><span class="red">&#9656;</span> 19:42</time>-->
            <!--</a>-->
            <!--<div class="body">-->
            <!--<p class="red nmb">مؤتمر صحفي</p>-->
            <!--<h3><a href="">مؤتمر كلوب في الصحافة قبل تشيلسي</a></h3>-->
            <!--<datetime>٤ مايو ٢٠١٨</datetime>-->
            <!--</div> &lt;!&ndash; .body &ndash;&gt;-->
            <!--</div> &lt;!&ndash; .post.half &ndash;&gt;-->
            <!--<div class="post half mb-20" data-aos="fade-right" data-aos-delay="300">-->
            <!--<a href="" class="thumb">-->
            <!--<img src="images/klopp.png" alt="">-->
            <!--<time><span class="red">&#9656;</span> 19:42</time>-->
            <!--</a>-->
            <!--<div class="body">-->
            <!--<p class="red nmb">مؤتمر صحفي</p>-->
            <!--<h3><a href="">مؤتمر كلوب في الصحافة قبل تشيلسي</a></h3>-->
            <!--<datetime>٤ مايو ٢٠١٨</datetime>-->
            <!--</div> &lt;!&ndash; .body &ndash;&gt;-->
            <!--</div> &lt;!&ndash; .post.half &ndash;&gt;-->
            <!---->
            <!---->
            <!---->

        </div>

        {% cool_paginate %}
        <!-- .grid -->
        <!--<div class="grid">-->
        <!--<div class="post oneFourth" data-aos="fade-right" data-aos-delay="100">-->
        <!--<a href="" class="thumb">-->
        <!--<img src="images/small.png" alt="">-->
        <!--<time><span class="red">&#9656;</span> 19:42</time>-->
        <!--</a>-->
        <!--<div class="body">-->
        <!--<p class="red nmb">مؤتمر صحفي</p>-->
        <!--<h5><a href="">مؤتمر كلوب في الصحافة قبل تشيلسي</a></h5>-->
        <!--</div> &lt;!&ndash; .body &ndash;&gt;-->
        <!--</div> &lt;!&ndash; .post.oneFourth &ndash;&gt;-->
        <!--<div class="post oneFourth" data-aos="fade-right" data-aos-delay="200">-->
        <!--<a href="" class="thumb">-->
        <!--<img src="images/small.png" alt="">-->
        <!--<time><span class="red">&#9656;</span> 19:42</time>-->
        <!--</a>-->
        <!--<div class="body">-->
        <!--<p class="red nmb">مؤتمر صحفي</p>-->
        <!--<h5><a href="">مؤتمر كلوب في الصحافة قبل تشيلسي</a></h5>-->
        <!--</div> &lt;!&ndash; .body &ndash;&gt;-->
        <!--</div> &lt;!&ndash; .post.oneFourth &ndash;&gt;-->
        <!--<div class="post oneFourth" data-aos="fade-right" data-aos-delay="300">-->
        <!--<a href="" class="thumb">-->
        <!--<img src="images/small.png" alt="">-->
        <!--<time><span class="red">&#9656;</span> 19:42</time>-->
        <!--</a>-->
        <!--<div class="body">-->
        <!--<div class="body">-->
        <!--<p class="red nmb">مؤتمر صحفي</p>-->
        <!--<h5><a href="">مؤتمر كلوب في الصحافة قبل تشيلسي</a></h5>-->
        <!--</div> &lt;!&ndash; .body &ndash;&gt;-->
        <!--</div> &lt;!&ndash; .body &ndash;&gt;-->
        <!--</div> &lt;!&ndash; .post.oneFourth &ndash;&gt;-->
        <!--<div class="post oneFourth" data-aos="fade-right" data-aos-delay="400">-->
        <!--<a href="" class="thumb">-->
        <!--<img src="images/small.png" alt="">-->
        <!--<time><span class="red">&#9656;</span> 19:42</time>-->
        <!--</a>-->
        <!--<div class="body">-->
        <!--<p class="red nmb">مؤتمر صحفي</p>-->
        <!--<h5><a href="">مؤتمر كلوب في الصحافة قبل تشيلسي</a></h5>-->
        <!--</div> &lt;!&ndash; .body &ndash;&gt;-->
        <!--</div> &lt;!&ndash; .post.oneFourth &ndash;&gt;-->
        <!--</div> &lt;!&ndash; .grid &ndash;&gt;-->

    </div> <!-- .container -->
</section> <!-- #main -->


<section id="featured" class="mb-60" data-aos="fade-up">
    <div class="container">
        <h2 class="mb-15">مقاطع فيديو مميزه</h2>
        <div class="grid">

            {% for video in liverpool_videos_list|slice:":2" %}

                <div class="post half" data-aos="fade-right" data-aos-delay="100">
                    <a href="{{ redirect_video }}/{{ vid.id }}" value="{{ video_host }}/{{ video.ftp_name }}"
                       class="thumb">
                        <img src="{{ image_host }}/{{ video.imgid.url }}" alt="">
                    </a>
                    <div class="body">
                        <p class="red nmb">مؤتمر صحفي</p>
                        <h3><a href="">{{ video.title }}</a></h3>
                        <datetime>{{ video.created_at }}</datetime>
                    </div> <!-- .body -->
                </div> <!-- .post.half -->
            {% endfor %}


        </div> <!-- .grid -->
    </div> <!-- .container -->
</section> <!-- #featured -->

<footer>
    {% comment %}
    <div class="container">
        <center><img src="{{ image_host }}{% static 'lfctv/images/footlogos.png' %}" alt=""></center>
    </div> <!-- .container -->
    {% endcomment %}
    <div style="text-align: center">Powered By Vodafone</div>

</footer>
<div id="popup">
    <a href="" class="popupClose">&#10006; Close</a>
    <div class="content">
        <video oncontextmenu="return false;" controlsList="nodownload" webkit-playsinline="true" playsinline="true" id="videoPlayer" controls>
            <source id="videoPlayerSource" src="small.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <h3>مؤتمر كلوب في الصحافة قبل تشيلسي</h3>
    </div>
</div> <!-- .popup -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        AOS.init();
        {#        $('.post a').click(function (e) {#}
        {#            e.preventDefault();#}
        {#            console.log($(this).attr('class'));#}
        {#            $('#videoPlayerSource').attr('src', $(this).attr('value'));#}
        {#            $('#videoPlayer').load();#}
        {#            $('#popup').fadeIn(500, function () {#}
        {#                $('#popup .popupClose').click(function (e) {#}
        {#                    $('#popup .content video').pause();#}
        {#                    e.preventDefault();#}
        {#                    $('#popup').fadeOut(500);#}
        {#                });#}
        {#            })#}
        {#        });#}
        {##}
        {##}
        {#        $('.mb-10 a').click(function (e) {#}
        {#            e.preventDefault();#}
        {#            console.log($(this).attr('class'));#}
        {#            $('#videoPlayerSource').attr('src', $(this).attr('value'));#}
        {#            $('#videoPlayer').load();#}
        {#            $('#popup').fadeIn(500, function () {#}
        {#                $('#popup .popupClose').click(function (e) {#}
        {#                    $('#popup .content video').pause();#}
        {#                    e.preventDefault();#}
        {#                    $('#popup').fadeOut(500);#}
        {#                });#}
        {#            })#}
        {#        });#}


    });
</script>
</body>
</html>
