{% load static %}
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LFCTv</title>
    <meta charset="UTF-8">
    <!-- <script src="https://use.fontawesome.com/6fc3592642.js"></script> -->
    <link href="{{ image_host }}{% static 'lfctv/stylesheets/screen.css' %}" media="screen, projection" rel="stylesheet"
          type="text/css"/>
    <link href="{{ image_host }}{% static 'lfctv/stylesheets/rtl.css' %}" media="screen, projection" rel="stylesheet"
          type="text/css"/>
    <link href="{{ image_host }}{% static 'lfctv/stylesheets/print.css' %}" media="print" rel="stylesheet"
          type="text/css"/>
    <!--[if IE]>
	      <link href="stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
	  <![endif]-->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
</head>
<body>
<header data-aos="fade-up">
    <div class="container">
        <div class="row">
            <a href="{% url 'liverpool-videos-list' %}" class="logo"><img src="{{ image_host }}{% static 'lfctv/images/LFCTV.png' %}" alt="" style="width:140px !important"></a><a href="{% url 'liverpool-videos-list' %}" style="white-space:nowrap;color:white; font-size:10px">&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp عرض جميع الفيديوهات </a>
            {% if request.GET.desktop %}
                <a href="{% url 'desktop-videos' %}" class="menu">
                    <img width="50px" height="50px" style="margin-top:10px"
                         src="{{ image_host }}{% static 'website/images/icons/return.png' %}">
                </a>
            {% elif request.GET.lfctv %}
                <a href="{% url 'liverpool-videos-list' %}?desktop=1" class="menu">
                    <img width="50px" height="50px" style="margin-top:10px"
                         src="{{ image_host }}{% static 'website/images/icons/return.png' %}">
                </a>
            {% else %}
                <a href="{% url 'videos-list' %}" class="menu">
                    {# <img width="50px" height="50px" style="margin-top:10px" src="{{ image_host }}{% static 'website/images/icons/return.png' %}"> #}
                </a>
            {% endif %}
        </div> <!-- .row -->
    </div> <!-- .container -->
</header>
<section id="highlight" class="mb-60" data-aos="fade-up">
    <div style="text-align:center" class="body">
        <video oncontextmenu="return false;" controlsList="nodownload" webkit-playsinline="true" playsinline="true" width="80%" height=auto controls poster="{{ image_host }}{{ video.imgid.url }}">
            <source src="{{ video_host }}/{{ video.ftp_name }}" type="video/mp4">

            Your browser does not support the video tag.
        </video>
    </div>

    </div> <!-- .post -->
    </div> <!-- .container -->
</section> <!-- #highlight -->

<section id="featured" class="mb-60" data-aos="fade-up">
    <div class="container">
        <h2 class="mb-15">مقاطع فيديو مميزه</h2>
        <div class="grid">

            {% for vid in liverpool_videos_list %}

                <div class="post half" data-aos="fade-right" data-aos-delay="100">
                    <a target="_self" href="{% url 'liverpool-video-details' vid.id %}" class="thumb">
                        <img src="{{ image_host }}/{{ vid.imgid.url }}" alt="">
                    </a>
                    <div class="body">
                        <p class="red nmb">{{vid.title}}</p>
                        <h3><a href="">{{ vid.title }}</a></h3>
                        <datetime>{{ vid.created_at }}</datetime>
                    </div> <!-- .body -->
                </div> <!-- .post.half -->
            {% endfor %}


        </div> <!-- .grid -->
    </div> <!-- .container -->
</section> <!-- #featured -->

<footer>
    {% comment %}
    <div class="container">
        <center><img src="{{ image_host }}{% static 'lfctv/images/footlogos.png' %}" alt=""></center>
    </div> <!-- .container -->
    {% endcomment %}
    <div style="text-align: center">Powered By Vodafone</div>

</footer>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        AOS.init();

        });





</script>
</body>
</html>
