{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Salah{% endblock %}</title>
    <link rel="stylesheet" href="{{image_host}}{% static 'accounts/css/foundation.css' %}" />
    <script src="{{image_host}}{% static 'accounts/js/vendor/modernizr.js' %}"></script>
  </head>
  <body>  
  
  <div class="row">
  <div class="medium-12  columns">
  	{% if user.is_authenticated %}
  		<p>Welcome, {{ user.username }}. Thanks for logging in.</p>
	{% else %}
	  	<p>Welcome, new user. Please log in.</p>
	{% endif %}
  </div>
  </div>
  
    <div class="row">
    <div class="medium-12">
    {% if messages %}	
	    {% for msg in messages %}       	    
	        <div class="alert-box rounded {{msg.level_tag}}" data-alert role="alert">
	 	{{msg.message}}
	 	<a href="#" class="close">&times;</a>
		</div>	    
	    {% endfor %}	
	{% endif %}    
    </div>
    </div>
          
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    
    <script src="{{image_host}}{% static 'accounts/js/vendor/jquery.js' %}"></script>
    <script src="{{image_host}}{% static 'accounts/js/foundation.min.js' %}"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
