{% load static %}
<!DOCTYPE html>
<!--

TABLE OF CONTENTS.

Use search to find needed section.

===================================================================

|  1. $BODY                        |  Body                        |
|  2. $MAIN_NAVIGATION             |  Main navigation             |
|  3. $NAVBAR_ICON_BUTTONS         |  Navbar Icon Buttons         |
|  4. $MAIN_MENU                   |  Main menu                   |
|  5. $UPLOADS_CHART               |  Uploads chart               |
|  6. $EASY_PIE_CHARTS             |  Easy Pie charts             |
|  7. $EARNED_TODAY_STAT_PANEL     |  Earned today stat panel     |
|  8. $RETWEETS_GRAPH_STAT_PANEL   |  Retweets graph stat panel   |
|  9. $UNIQUE_VISITORS_STAT_PANEL  |  Unique visitors stat panel  |
|  10. $SUPPORT_TICKETS            |  Support tickets             |
|  11. $RECENT_ACTIVITY            |  Recent activity             |
|  12. $NEW_USERS_TABLE            |  New users table             |
|  13. $RECENT_TASKS               |  Recent tasks                |

===================================================================

-->


<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="gt-ie8 gt-ie9 not-ie"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}Salah{% endblock %}</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <!-- Open Sans font from Google CDN -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&amp;subset=latin"
          rel="stylesheet" type="text/css">

    <!-- LanderApp's stylesheets -->
    <link href="{{image_host}}{% static 'salah_admin/stylesheets/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{{image_host}}{% static 'salah_admin/stylesheets/landerapp.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{{image_host}}{% static 'salah_admin/stylesheets/widgets.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{{image_host}}{% static 'salah_admin/stylesheets/rtl.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{{image_host}}{% static 'salah_admin/stylesheets/themes.min.css' %}" rel="stylesheet" type="text/css">
    <!-- TAGS -->
    <link href="{{image_host}}{% static 'salah_admin/stylesheets/tags/jquery.tagsinput.min.css' %}" rel="stylesheet" type="text/css">

    <!--[if lt IE 9]>
		<script src="{{image_host}}{% static 'salah_admin/javascripts/ie.min.js' %}"></script>

	<![endif]-->
</head>


<!-- 1. $BODY ======================================================================================
	
	Body

	Classes:
	* 'theme-{THEME NAME}'
	* 'right-to-left'      - Sets text direction to right-to-left
	* 'main-menu-right'    - Places the main menu on the right side
	* 'no-main-menu'       - Hides the main menu
	* 'main-navbar-fixed'  - Fixes the main navigation
	* 'main-menu-fixed'    - Fixes the main menu
	* 'main-menu-animated' - Animate main menu
-->
<body class="theme-default main-menu-animated">

<script>var init = [];</script>
<!-- Demo script -->
<script src="{{image_host}}{% static 'salah_admin/demo/demo.js' %}"></script>
<!-- / Demo script -->

<div id="main-wrapper">


    {% include 'salah_admin/tiles/nav.html' %}

    {% include 'salah_admin/tiles/side_nav.html' %}

    <div id="content-wrapper">
        <ul class="breadcrumb breadcrumb-page">
            {% block braed %}
                <div class="breadcrumb-label text-light-gray">You are here:</div>
                <li><a href="#">Home</a></li>
                <li class="active"><a href="#">Dashboard</a></li>
            {% endblock %}
        </ul>

        {% block content %}{% endblock %}
    </div>
    <!-- / #content-wrapper -->
    <div id="main-menu-bg"></div>
</div>
<!-- / #main-wrapper -->

<!-- Get jQuery from Google CDN -->
<!--[if !IE]> -->
<script type="text/javascript"> window.jQuery || document.write('<script src="{{image_host}}{% static 'salah_admin/javascripts/jquery.min.js' %}">' + "<" + "/script>"); </script>
<!-- <![endif]-->
<!--[if lte IE 9]>
	<script type="text/javascript"> window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">'+"<"+"/script>"); </script>
<![endif]-->


<!-- LanderApp's javascripts -->
<script src="{{image_host}}{% static 'salah_admin/javascripts/bootstrap.min.js' %}"></script>
<script src="{{image_host}}{% static 'salah_admin/javascripts/landerapp.min.js' %}"></script>
<script src="{{image_host}}{% static 'salah_admin/javascripts/tags/jquery.tagsinput.min.js' %}"></script>


<script type="text/javascript">
    init.push(function () {
        // Javascript code here
        $( ".mydate" ).datepicker({
            todayBtn: "linked",
            'format':'dd-mm-yyyy'
        });
    });
    $(document).ready(function(){
        $('.mytags').tagsInput({
            'height':'100%',
            'width':'100%',
            'defaultText':'',
            //'delimiter': [',',';'],   // Or a string with a single delimiter. Ex: ';'
            //'removeWithBackspace' : true,
            //'autocomplete_url': url_to_autocomplete_api,
            //'autocomplete': { option: value, option: value},
        });
    });
    window.LanderApp.start(init);
</script>
{% block scripts %}{% endblock %}

</body>
</html>