@import "compass";
@import url('https://fonts.googleapis.com/css?family=Lato:300,700');
@import "../css/bootstrap.min.css";
@import "../css/OwlCarousel/owl.carousel.min.css";
// @import "../fonts/font-awesome/scss/font-awesome";

$ar-light: 'GE-UltraLight';
$ar-bold: 'GE-Bold';

$en-font: 'Lato';
$en-light: 300;
$en-bold: 700;

$white: #FFFFFF;
$black: #150c0c;
$v-red: #a61417;
$dark-red: #360000;
$red: #f02c3e;
$green: #00d062;

@font-face {
	font-family: 'GE-UltraLight';
	src: url(../fonts/GE_SS_Text_UltraLight.otf);
}
@font-face {
	font-family: 'GE-Bold';
	src: url(../fonts/GE_SS_Two_Bold.otf);
}
@font-face {
	font-family: 'Lato', sans-serif;
}

/***
Custom Scrollbars
***/
::-webkit-scrollbar {
	width: 4px;
}
::-webkit-scrollbar-track {
	// background-color: #eaeaea;
	// border-right: 1px solid #cecece;
	background-color: rgba(#FFFFFF , 0.5);
}
::-webkit-scrollbar-thumb {
	// background-color: #cecece;
	background-color: $red;
}
::-webkit-scrollbar-thumb:hover {
	background-color: $red;
}
::-webkit-scrollbar-track {
	border-radius: 0;
	box-shadow: none;
	border: 0;
}
::-webkit-scrollbar-thumb {
	border-radius: 0;
	box-shadow: none;
	border: 0;
}

body {
	font-family: $ar-light;
	color: $white;
	overflow: hidden;

	.wrapper {
		@include perspective(1000);
	}

	.main-container {
		position: relative;
		z-index: 1;
		min-height: 100vh;
		background: {
			image: url(../images/main-bg.jpg);
			position: center;
			size: cover;
		}
		@include transition(0.4s);
		@include backface-visibility(hidden);
		@include transform-style(preserve-3d);
		@include transform(translateX(0) rotateY(0deg) scale(1));

	}

	&.menu-open {
		.main-container {
			@include border-radius(10px);
			@include transform(translateX(50%) rotateY(-40deg) scale(0.9));
		}
	}
}
a, button {
	outline: none !important;
	text-decoration: none !important;
}
.btn-red {
	color: $white;
	background-color: $v-red;
	&:hover {
		background-color: $dark-red;
	}
}
.container {
	max-width: 580px;
	padding: 0 10px;
}
header {
	padding: 40px 15px;
	.v-logo {
		float: right;
		img {
			width: 32px;
		}
	}

	.menu-btn, .return {
		float: left;
		background: none;
		border: 0;
		padding: 2px 5px;
		cursor: pointer;
	}
	.menu-btn {
		div {
			width: 32px;
			height: 2px;
			background-color: $white;
			margin: 6px 0;
			@include border-radius(5px);
			@include transition(0.2s);
		}
	}
	.return {
		width: 45px;
		height: 45px;
		background: {
			image: url(../images/icons/return.png);
			position: center;
			repeat: no-repeat;
			size: 40px;
		}
	}
}
.header-caption {
	text-align: center;
	position: relative;
	&:not(.with-content) {
		height: 180px;
		padding: 10px 0 0;
	}
	img {
		max-height: 170px;
		.big {
			margin-right: -20px;
			height: 100%;
		}
	}
	h2 {
		text-align: left;
		font-size: 22px;
		position: absolute;
		bottom: 20px;
		left: 15px;
		line-height: 25px;
		margin: 0;
	}
}
.page-content {
	height: calc(100vh - 180px);
	overflow: auto;
}
.menu-container {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	background-color: $black;
	padding: 40px 15px;
	z-index: 0;
	width: 100%;
	color: $white;
	> div {
		height: 100%;
		.user {
			font-family: $en-font;
			h3 {
				font-size: 18px;
				margin: 0 0 2px;
				font-weight: $en-bold;
			}
			a {
				font-size: 14px;
				color: $white;
				font-weight: $en-light;
				opacity: 0.8;
				&:hover {
					color: $red;
				}
			}
		}
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}
		.menu {
			ul {
				li {
					margin: 10px 0;
					a {
						color: $white;
						font-size: 18px;
						&:hover {
							color: $red;
						}
					}
				}
			}
		}
		.social {
			ul {
				li {
					display: inline-block;
					&+li {
						margin-left: 20px;
					}
					a {
						display: block;
						width: 25px;
						height: 25px;
						background: {
							repeat: no-repeat;
							position: center;
							size: contain;
						}
						&.facebook {background-image: url(../images/icons/facebook.png);}
						&.twitter {background-image: url(../images/icons/twitter.png);}
						&.google {background-image: url(../images/icons/google.png);}
					}
				}
			}
		}
	}
}
/*********************
***** LOGIN PAGE *****
*********************/
.login-page {
	min-height: 100vh;
	text-align: center;
	> div {
		position: relative;
		z-index: 1;
	}
	&:after {
		content: "";
		height: 25vh;
		position: absolute;
		z-index: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		// Needs latest Compass, add '@import "compass"' to your scss
		// Permalink - use to edit and share this gradient:
		// http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.66+100
		@include filter-gradient(#000, #a80000, vertical); // IE6-9
		@include background-image(linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.80) 100%));
	}
	.logo-container {
		margin-bottom: 50px;
		margin-right: -10px;
		position: relative;
		display: inline-block;
		img {
			max-width: 100%;
			max-width: 180px;
		}
		span {
			font-size: 30px;
			line-height: 35px;
			position: absolute;
			top: 115px;
			left: -30px;
			font-family: $ar-bold;
			text-align: right;
		}
	}
	.login-form {
		text-align: center;
		color: #FFF;
	}
	.form-control {
		background-color: transparent;
		border: none;
		border-radius: 0;
		border-bottom: 1px solid $white;
		font-size: 20px;
		box-shadow: none;
		text-align: center;
		color: $white;
		padding: 12px;
	}
	.btn {
		margin: 10px 0;
		padding: 10px 60px;
		@include border-radius(30px);
	}
	.create-account {
		color: $white;
	}
}
/*********************
***** HOME PAGE *****
*********************/
.main-slider {
	padding: 20px 0;
	background-color: rgba(#000000, 0.7);
	h3 {
		text-align: right;
		margin: 0 0 12px;
		font-size: 22px;
	}
	.caption {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 100%;
		z-index: 1;
		padding: 12px;
		color: #fff;
		background-color: rgba(#170000, 0.7);
		&.has-video {
			padding-right: 60px;
			background: {
				image: url(../images/icons/play-red.png);
				position: center right 12px;
				size: 38px;
				repeat: no-repeat;
			}
		}
		h5 {
			text-align: right;
			margin: 0;
			font-size: 20px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			direction: rtl;
		}
	}
	.owl-dots {
		position: absolute;
		top: -30px;
		left: 0;
		z-index: 1;
		> div {
			float: left;
			width: 7px;
			height: 7px;
			@include border-radius(50%);
			margin: 0 2px;
			background-color: $red;
			&.active {
				background-color: $white;
			}
		}
	}
}
.home-sections {
	background-color: $v-red;
	.home-section {
		background-color: #280000;
		padding: 12px;
		margin: 10px 0;
		color: $white;
		text-align: right;
		@include border-radius(5px);
		h4 {
			font-size: 16px;
			margin: 0;
		}
		.image-container {
			margin: 12px -12px;
			height: 12vh;
			overflow: hidden;
			img {
				width: 100%;
			}
		}
		p {
			font-size: 12px;
			margin: 0;
			height: 30px;
			line-height: 15px;
		}
		span {
			display: block;
			color: $v-red;
			font-size: 10px;
		}
	}
}
/*********************
***** NEWS PAGE *****
*********************/
.news-page {
	background-color: rgba(#000000, 0.8);
	padding: 20px 10px;
	.news-list {
		list-style: none;
		padding: 0;
		margin: 0;
		> li {
			direction: rtl;
			text-align: right;
			margin: 20px 0;
			a {
				display: table;
				width: 100%;
				color: $white;
				&:hover {
					color: $v-red;
				}
			}
			.image-container {
				float: right;
				width: 90px;
				height: 70px;
				padding: 0;
				@include border-radius(7px);
				img {
					width: 100%;
					height: 100%;
				}
			}
			div {
				overflow: hidden;
				padding: 8px 20px;
			}
			p {
				font-size: 15px;
				margin: 0;
				height: 35px;
				line-height: 18px;
			}
			span {
				display: block;
				color: $red;
				font-size: 12px;
			}
		}
	}
}
/*********************
***** VIDEOS PAGE *****
*********************/
.videos-page {
	background-color: rgba(#000000, 0.8);
	padding: 20px 10px;
	.videos-list {
		list-style: none;
		padding: 0;
		margin: 0;
		direction: rtl;
		display: table;
		width: 100%;
		.col-6 {
			float: right;
			text-align: right;
			margin: 10px 0;
			a {
				display: table;
				width: 100%;
				color: $white;
				position: relative;
				overflow: hidden;
				@include border-radius(7px);
				&:hover {
					color: $v-red;
				}
			}
			.image-container {
				height: 120px;
				img {
					width: 100%;
					height: 100%;
				}
			}
			.caption {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				overflow: hidden;
				padding: 5px 12px;
				padding-left: 35px;
				background: {
					color: rgba(#6c0000, 0.65);
					image: url(../images/icons/play.png);
					position: center left 14px;
					repeat: no-repeat;
					size: 15px;
				}
				p {
					font-size: 11px;
					margin: 0;
					height: 28px;
					line-height: 15px;
				}
			}
		}
	}
}
/*********************
***** NEWS DETAILS PAGE *****
*********************/
.news-details {
	height: 100vh;
	background: {
		repeat: no-repeat;
		size: cover;
		position: center;
	}
	&:after {
		content: "";
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@include background-image(linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 60%,rgba(0,0,0,0.9) 100%));
	}
	> div {
		position: absolute;
		bottom: 20px;
		left: 0;
		width: 100%;
		color: $white;
		z-index: 1;
		text-align: right;
		padding: 20px;
		h2 {
			margin: 0 0 10px;
			font-size: 20px;
			font-weight: bold;
		}
		h3 {
			font-weight: bold;
			margin: 0;
			font-size: 18px;
		}
		span.time {
			color: $red;
			font-size: 14px;
		}
		.body {
			font-size: 18px;
			overflow: auto;
			max-height: 60vh;
			margin: 25px -10px 0;
			padding: 0 10px;
			p {
				margin-bottom: 20px;
			}
		}
	}
}
/*********************
***** CHAMPION PAGE *****
*********************/
.main-container {
	.nav-pills {
		background-color: #360000;
		@include border-radius(30px);
		a {
			color: $white;
			font-size: 14px;
			padding: 12px;
			@include border-radius(30px);
			&.active {
				background-color: $v-red;
			}
		}
	}
	.tab-pane {
		padding: 20px 0 0;
		.tab-title {
			text-align: center;
			font-size: 18px;
			margin: 0;
			padding-bottom: 10px;
			margin-bottom: 10px;
			border-bottom: 1px solid #3c3c3c;
		}
		table {
			margin: 0;
		}
	}
}
.champion-page {
	background-color: rgba($black, 0.8);
	padding: 25px 10px;
	.league-table {
		border: 0;
		color: $white;
		font-family: $en-font;
		tbody tr:first-child {color: $green;}
		th, td {
			border: 0;
			padding: 5px;
			vertical-align: middle;
			&:last-child {text-align: right;}
			&:first-child {width: 35px;}
		}
		th {
			font-weight: $en-bold;
		}
		.stable {
			margin: auto;
			display: block;
			width: 7px;
			height: 7px;
			background-color: $green;
			@include border-radius(50%);
		}
		.up, .down {
			margin: auto;
			display: block;
			width: 15px;
			height: 15px;
			background: {
				position: center;
				repeat: no-repeat;
				size: contain;
			}
		}
		.up {background-image: url(../images/icons/up.png);}
		.down {background-image: url(../images/icons/down.png);}
	}
	.teams-table {
		overflow: auto;
		.table {
			border: 0;
			color: $white;
			font-family: $en-font;
			th, td {
				border: 0;
				padding: 5px;
				vertical-align: middle;
			}
			th {padding: 20px 20px 20px 0;}
			span {
				width: 28px;
				line-height: 28px;
				height: 28px;
				text-align: center;
				text-transform: uppercase;
				display: block;
				font-size: 10px;
				@include border-radius(50%);
				&.win {background-color: $green;}
				&.lose {background-color: $red;}
				&.draw {background-color: $black;}
			}
		}
	}

	.league-matches {
		color: $white;
		font-family: $en-font;
		tr:first-child {
			th, td {border: 0;}
		}
		tr, td {
			padding: 8px;
		}
	}
}
