@import url('https://fonts.googleapis.com/css?family=Cairo:400,700');
$body-font: 'Cairo', sans-serif;

* { direction: rtl; }
body {
  font-family: $body-font;
  text-align: right;
}
header {
 .logo {
   float: right;
 }
 .menu {
   float: left;
 }
}
.post {
  .thumb {
    time {
      left: auto;
      right: 20px;
      right: 2rem;
      padding-right: 0;
      padding-left: 10px;
      span.red {
        margin-right: 0;
        margin-left: 10px;
      }
    }
  }
  &.oneFourth {
    .thumb {
      time {
        left: auto; right: 10px; right: 1rem;
        padding-right: 0;
        padding-left: 5px;
        span.red { margin-right: 0; margin-left: 5px; }
      }
    }
  }
}
#featured {
  h2 {
    margin-left: auto;
    margin-right: 8px;
  }
  .post {
    background-color: #fff;
  }
}
