/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "susy";
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

* { box-sizing: border-box; }
$body-color: #666;
$primary-color: #bc0015;
$header: #ee0012;
$headlines-font: '';
$body-font: 'Lato', sans-serif;
$lightColor: #999;
$section-padding: 10rem 0;

$susy: ( columns: 4, gutters: 1/8, gutter-position: split );

html { font-size: 62.5% }
h1, h2, h3, h4, h5, h6  { font-weight: bold; }
h1 { font-size: 48px; font-size: 4.8rem; line-height: 1.2;}
h2 { font-size: 30px; font-size: 3rem; line-height: 1.2;}
h3 { font-size: 18px; font-size: 1.8rem; }
h4 { font-size: 16px; font-size: 1.6rem; }
h4 { font-size: 14px; font-size: 1.4rem; }
p { margin-bottom: 1rem; }
strong { font-weight: bold; }
a { color: $primary-color; text-decoration: none; }
a:active, button:active, input:active, a:focus, button:focus, input:focus, textarea:focus, textarea:active { outline: none; }
body {
  background: #d9d9d9;
  font-size: 12px;
  font-size: 1.2rem;
  font-family: $body-font;
  font-weight: normal;
  color: $body-color;
  line-height: 1.6 !important;
  position: relative;
  padding-top: 75px;
}
.container { @include container(700px); width: 94%; overflow: hidden; }
header {
 height: 75px;
 line-height: 75px;
 vertical-align: middle;
 background: $header;
 position: fixed;
 top: 0;
 width: 100%;
 z-index: 10;
 .logo {
   float: left;  padding-top: 8px;
   img { width: 175px; height: 31px;}
 }
 .menu {
   color: #fff;
   float: right;
   font-size: 21px;
 }
}
.post {
  .thumb {
    display: block;
    position: relative;
    line-height: 1;
    img {
      width: 100%;
    }
    time {
      position: absolute;
      height: 30px;
      bottom: 20px;
      bottom: 2rem;
      left: 20px;
      left: 2rem;
      background-color: #fff;
      line-height: 30px;
      padding-right: 10px;
      font-size: 16px;
      font-weight: bold;
      color: $primary-color;
      span.red {
        display: inline-block;
        padding: 0 10px;
        height: 30px;
        background: $primary-color;
        color: #fff;
        font-size: 18px;
        margin-right: 10px;
      }
    }
  }
  a { color: #666; }
  datetime { font-weight: bold; }
  &.oneFourth {
    .thumb {
      time {
        font-size: 14px;
        height: 25px;
        bottom: 10px; bottom: 1rem; left: 10px; left: 1rem;
        padding-right: 5px;
        line-height: 25px;
        span.red { height: 25px; margin-right: 5px; padding: 0 5px; }
      }
    }
    .body {
      padding: 5px;
    }
  }
}
#highlight {
  padding: 30px 0;
  padding: 3rem 0;
  background: $primary-color;
  color: #fff;
  a {
    color: #fff;
  }
  p.desc {
    font-size: 18px;
    font-size: 1.8rem;
  }
}
#main {
  .post {
    background-color: #fff;
  }
}
#featured {
  padding: 50px 0;
  padding: 5rem 0;
  background-color: $primary-color;
  h2 {
    color: #fff;
    margin-left: 8px;
  }
  .post {
    background-color: #fff;
  }
}
.half {
  .body {
    padding: 20px;
  }
}
footer {
  background-color: #fff;
  padding: 50px;
  img {
    max-width: 100%;
  }
}
#popup {
  display: none;
  z-index: 100;
  background: rgba(0, 0, 0, .85);
  width: 100%;
  min-height: 100%;
  position: fixed; top: 0; left: 0;
  .popupClose {
    color: #fff;
    font-size: 14px;
    display: block;
    text-align: center;
    padding: 30px 0;
    opacity: 0.75;
    &:hover {
      opacity: 1;
    }
  }
  .content {
    max-width: 700px;
    width: 82%;
    margin: 0 auto;
    vertical-align: middle;
    video {
      vertical-align: middle;
      width: 100%;
      height: auto;
    }
    h3 {
      color: #fff;
      margin-top: 15px;
    }
  }
}
p.red { color: $primary-color; }
.grid { overflow: hidden; display: flex; flex-wrap: wrap; }
.oneFourth { @include span(1); }
.row { @include span(4); }
.half { @include span(2); }

.mb-10 { margin-bottom: 10px; margin-bottom: 1rem; }
.mb-15 { margin-bottom: 10px; margin-bottom: 1.5rem; }
.mb-20 { margin-bottom: 20px; margin-bottom: 2rem; }
.mb-30 { margin-bottom: 30px; margin-bottom: 3rem; }
.mb-60 { margin-bottom: 60px; margin-bottom: 6rem; }
.mb-120 { margin-bottom: 120px; margin-bottom: 12rem; }
.pt { padding-top: 150px; padding-top: 15rem; }
.mt-30 {  margin-top: 30px; margin-top: 3rem; }
.mt-50 {  margin-top: 50px; margin-top: 5rem; }
.mt-60 {  margin-top: 60px; margin-top: 6rem; }
.lightColor { color: $lightColor !important; }
.nmb { margin-bottom: 0; }
