{% load static %}
<header class="fixed-top">
	<div class="container clearfix">
		
		{% if not request.GET.inside %}
			<button class="menu-btn" type="button">
				<div class="bar1"></div> <div class="bar2"></div> <div class="bar3"></div>
			</button>
		{% else %}
			<a class="return" href="{% url 'home' %}"></a>
		{% endif %}

		<div class="v-logo">
			<img src="{{image_host}}{% static 'website/images/voda-logo.png' %}" alt="">
            {# <img src="{{image_host}}{% static 'lfctv/images/logo.png' %}" style="height: 20px;width: 60px;margin-left:  10px;object-fit: contain"> #}
           {# <a href="{% url 'liverpool-videos-list' %}"><img src="{{image_host}}{% static 'lfctv/images/logo.svg' %}" style="height: 40px;width: 60px;object-fit: contain"> </a> #}
		</div>
	</div>

</header>
