<div class="menu-container">
	<div class="d-flex flex-column">
		<div class="user mb-auto">
			<h3>{% if request.user %} {{request.user.username}} {% else %} 010-xxxxxxxx {% endif %}</h3>
			<a href="{% url 'logout' %}">Log Out</a>
		</div>
		<div class="menu">
			<ul>
				<li><a href="{% url 'home' %}">الرئيسية</a></li>
				<li><a href="{% url 'videos-list' %}">الفيديوهات</a></li>
				{# <li><a href="{% url 'liverpool-videos-list' %}">صلاح فى ليفربول</a></li> #}
				<li><a href="{% url 'news-list' %}">أخر الاخبار</a></li>
				{# <li><a href="{% url 'gallery-list' %}">معرض الصور</a></li> #}
				<li><a href="{% url 'numbers-list' %}">ارقام محمد صلاح</a></li>


				<li><a href="{% url 'career-list' %}">مشوار صلاح</a></li>
				{# <li><a href="{% url 'awards-list' %}">جوائر صلاح</a></li> #}


				<li style="display: none;"><a href="{% url 'champions-list' %}">المسابقات</a></li>
				<li><a href="{% url 'question-add' %}">شجع محمد صلاح</a></li>
				<li style="display: none;"><a href="{% url 'predict-add' %}">توقع نتيجة المباراة</a></li>
				<li style="display: none;"><a href="{% url 'status-show' %}">محمد صلاح مباشر</a></li>
				<li style="display: none;"><a href="{% url 'social-show' %}">سوشيال ميديا</a></li>
				<li><a href="{% url 'terms' %}">الشروط والاحكام</a></li>
			</ul>
		</div>

		<div class="social mt-auto">
			<ul>
				<li><a href="#" class="facebook"></a></li>
				<li><a href="#" class="google"></a></li>
				<li><a href="#" class="twitter"></a></li>
			</ul>
		</div>
	</div>
</div>
