@import url("https://fonts.googleapis.com/css?family=Lato:300,700");
@import url(../css/bootstrap.min.css);
@import url(../css/OwlCarousel/owl.carousel.min.css);
@font-face {
  font-family: 'GE-UltraLight';
  src: url(../fonts/GE_SS_Text_UltraLight.otf);
}
@font-face {
  font-family: 'GE-Bold';
  src: url(../fonts/GE_SS_Two_Bold.otf);
}
@font-face {
  font-family: 'Lato', sans-serif;
}
@font-face {
  font-family: 'Atletico';
  src: url(../fonts/Atletico_Light.otf);
}
/* line 37, ../sass/style.scss */
.en {
  font-family: "Lato" !important;
}

/* line 38, ../sass/style.scss */
.ar {
  font-family: "GE-UltraLight" !important;
}

/***
Custom Scrollbars
***/
@media (min-width: 767px) {
  /* line 43, ../sass/style.scss */
  ::-webkit-scrollbar {
    width: 4px;
  }

  /* line 46, ../sass/style.scss */
  ::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.5);
  }

  /* line 51, ../sass/style.scss */
  ::-webkit-scrollbar-thumb {
    background-color: #f02c3e;
  }

  /* line 55, ../sass/style.scss */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #f02c3e;
  }

  /* line 58, ../sass/style.scss */
  ::-webkit-scrollbar-track {
    border-radius: 0;
    box-shadow: none;
    border: 0;
  }

  /* line 63, ../sass/style.scss */
  ::-webkit-scrollbar-thumb {
    border-radius: 0;
    box-shadow: none;
    border: 0;
  }
}
/* line 69, ../sass/style.scss */
body {
  font-family: "GE-UltraLight";
  color: #FFFFFF;
  overflow: hidden;
}
/* line 74, ../sass/style.scss */
body .wrapper {
  -moz-perspective: 1000;
  -webkit-perspective: 1000;
  perspective: 1000;
  overflow: hidden;
}
/* line 79, ../sass/style.scss */
body .main-container {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  background-image: url(../images/main-bg.jpg);
  background-position: center;
  background-size: cover;
  background-color: #150c0c;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-transform: translateX(0) rotateY(0deg) scale(1);
  -ms-transform: translateX(0) rotateY(0deg) scale(1);
  -webkit-transform: translateX(0) rotateY(0deg) scale(1);
  transform: translateX(0) rotateY(0deg) scale(1);
}
/* line 96, ../sass/style.scss */
body.menu-open .main-container {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-transform: translateX(50%) rotateY(-40deg) scale(0.9);
  -ms-transform: translateX(50%) rotateY(-40deg) scale(0.9);
  -webkit-transform: translateX(50%) rotateY(-40deg) scale(0.9);
  transform: translateX(50%) rotateY(-40deg) scale(0.9);
}

/* line 102, ../sass/style.scss */
a, button {
  outline: none !important;
  text-decoration: none !important;
}

/* line 106, ../sass/style.scss */
.btn-red {
  color: #FFFFFF;
  background-color: #a61417;
}
/* line 109, ../sass/style.scss */
.btn-red:hover {
  background-color: #360000;
}

/* line 113, ../sass/style.scss */
.container {
  max-width: 767px;
  padding: 0 10px;
}

/* line 118, ../sass/style.scss */
.form-control:focus {
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.25);
}

/* line 122, ../sass/style.scss */
header {
  padding: 40px 15px;
}
/* line 124, ../sass/style.scss */
header .container {
  padding: 0;
}
/* line 127, ../sass/style.scss */
header .v-logo {
  float: right;
}
/* line 129, ../sass/style.scss */
header .v-logo img {
  width: 32px;
}
/* line 134, ../sass/style.scss */
header .menu-btn, header .return {
  float: left;
  background: none;
  border: 0;
  padding: 2px 5px;
  cursor: pointer;
}
/* line 142, ../sass/style.scss */
header .menu-btn div {
  width: 32px;
  height: 2px;
  background-color: #FFFFFF;
  margin: 6px 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/* line 151, ../sass/style.scss */
header .return {
  width: 40px;
  height: 40px;
  background-image: url(../images/icons/return.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 38px;
}
/* line 161, ../sass/style.scss */
header .return-title {
  display: inline-block;
  margin: 5px;
  font-size: 20px;
}

/* line 167, ../sass/style.scss */
.header-caption {
  text-align: center;
  position: relative;
}
/* line 170, ../sass/style.scss */
.header-caption:not(.with-content) {
  height: 180px;
  padding: 10px 0 0;
}
/* line 174, ../sass/style.scss */
.header-caption.with-content {
  padding: 15px 12px;
}
/* line 176, ../sass/style.scss */
.header-caption.with-content h3 {
  font-size: 22px;
  margin: 10px 0;
}
/* line 181, ../sass/style.scss */
.header-caption.with-bg {
  background-color: rgba(64, 2, 3, 0.9);
}
/* line 184, ../sass/style.scss */
.header-caption.no-image {
  padding-top: 80px;
}
/* line 187, ../sass/style.scss */
.header-caption img {
  max-height: 170px;
}
/* line 189, ../sass/style.scss */
.header-caption img.big {
  margin-right: -20px;
  height: 100%;
}
/* line 193, ../sass/style.scss */
.header-caption img.small {
  height: 100px;
}
/* line 197, ../sass/style.scss */
.header-caption h2 {
  text-align: left;
  font-size: 22px;
  position: absolute;
  bottom: 20px;
  left: 15px;
  line-height: 25px;
  margin: 0;
}
/* line 205, ../sass/style.scss */
.header-caption h2.center {
  font-size: 22px;
  font-weight: bold;
  right: 15px;
  bottom: 40px;
  text-align: center;
}

/* line 214, ../sass/style.scss */
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #150c0c;
  padding: 40px 15px 20px;
  z-index: 0;
  color: #FFFFFF;
}
/* line 224, ../sass/style.scss */
.menu-container > div {
  height: 100%;
}
/* line 226, ../sass/style.scss */
.menu-container > div .user {
  font-family: "Lato";
}
/* line 228, ../sass/style.scss */
.menu-container > div .user h3 {
  font-size: 18px;
  margin: 0 0 2px;
  font-weight: 700;
}
/* line 233, ../sass/style.scss */
.menu-container > div .user a {
  font-size: 14px;
  color: #FFFFFF;
  font-weight: 300;
  opacity: 0.8;
}
/* line 238, ../sass/style.scss */
.menu-container > div .user a:hover {
  color: #f02c3e;
}
/* line 243, ../sass/style.scss */
.menu-container > div ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 250, ../sass/style.scss */
.menu-container > div .menu ul li {
  margin: 5px 0;
}
/* line 252, ../sass/style.scss */
.menu-container > div .menu ul li a {
  color: #FFFFFF;
  font-size: 18px;
}
/* line 255, ../sass/style.scss */
.menu-container > div .menu ul li a:hover {
  color: #f02c3e;
}
/* line 264, ../sass/style.scss */
.menu-container > div .social ul li {
  display: inline-block;
}
/* line 266, ../sass/style.scss */
.menu-container > div .social ul li + li {
  margin-left: 20px;
}
/* line 269, ../sass/style.scss */
.menu-container > div .social ul li a {
  display: block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
/* line 278, ../sass/style.scss */
.menu-container > div .social ul li a.facebook {
  background-image: url(../images/icons/facebook.png);
}
/* line 279, ../sass/style.scss */
.menu-container > div .social ul li a.twitter {
  background-image: url(../images/icons/twitter.png);
}
/* line 280, ../sass/style.scss */
.menu-container > div .social ul li a.google {
  background-image: url(../images/icons/google.png);
}

/* line 288, ../sass/style.scss */
.page-content {
  background-color: rgba(0, 0, 0, 0.42);
  padding: 30px 10px;
  height: calc(100vh - 180px);
  overflow: auto;
}
/* line 293, ../sass/style.scss */
.page-content.with-bg {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px 10px;
}
/* line 297, ../sass/style.scss */
.page-content form {
  margin: 0;
}
/* line 299, ../sass/style.scss */
.page-content form .form-control {
  background-color: #150c0c;
  border: 1px solid #2d2d2d;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  font-size: 20px;
  padding: 8px 12px;
  color: #FFFFFF;
}
/* line 308, ../sass/style.scss */
.page-content form textarea.form-control {
  height: 240px;
  max-width: 100%;
  resize: none;
}
/* line 313, ../sass/style.scss */
.page-content form .btn {
  font-size: 20px;
  padding: 10px 30px;
}

/*********************
***** LOGIN PAGE *****
*********************/
/* line 322, ../sass/style.scss */
.login-page {
  min-height: 100vh;
  text-align: center;
}
/* line 325, ../sass/style.scss */
.login-page > div {
  position: relative;
  z-index: 1;
}
/* line 329, ../sass/style.scss */
.login-page:after {
  content: "";
  height: 25vh;
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF000000', endColorstr='#FFA80000');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC44Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.8)));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}
/* line 343, ../sass/style.scss */
.login-page .logo-container {
  margin-bottom: 50px;
  margin-right: -10px;
  position: relative;
  display: inline-block;
}
/* line 348, ../sass/style.scss */
.login-page .logo-container img {
  max-width: 100%;
  max-width: 180px;
}
/* line 352, ../sass/style.scss */
.login-page .logo-container span {
  font-size: 30px;
  line-height: 35px;
  position: absolute;
  top: 115px;
  left: -30px;
  font-family: "GE-Bold";
  text-align: right;
}
/* line 362, ../sass/style.scss */
.login-page .login-form {
  text-align: center;
  color: #FFF;
}
/* line 366, ../sass/style.scss */
.login-page .form-control {
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #FFFFFF;
  font-size: 20px;
  box-shadow: none;
  text-align: center;
  color: #FFFFFF;
  padding: 12px;
}
/* line 377, ../sass/style.scss */
.login-page .btn {
  margin: 10px 0;
  padding: 10px 60px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
/* line 382, ../sass/style.scss */
.login-page .create-account {
  color: #FFFFFF;
}

/*********************
***** HOME PAGE *****
*********************/
/* line 389, ../sass/style.scss */
.home-page {
  padding: 0;
}
/* line 391, ../sass/style.scss */
.home-page .home-sections.news {
  background-color: #6a0d0f;
  padding: 10px 0 0;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0;
  border-radius: 0 0 10px 10px;
}
/* line 395, ../sass/style.scss */
.home-page .home-sections.news .row {
  margin: 0 -10px;
}

/* line 400, ../sass/style.scss */
.section-title {
  padding: 10px 20px;
  background-color: #280000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 0;
  font-size: 20px;
  text-align: right;
}

/* line 408, ../sass/style.scss */
.next-match {
  padding: 20px 7px;
  direction: rtl;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  width: 100%;
  background-image: url(../images/demo/next-match.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 418, ../sass/style.scss */
.next-match .time {
  text-align: right;
}
/* line 420, ../sass/style.scss */
.next-match .time label {
  font-size: 14px;
  display: block;
  margin: 0;
}
/* line 425, ../sass/style.scss */
.next-match .time span {
  color: #f02c3e;
  font-size: 12px;
}
/* line 430, ../sass/style.scss */
.next-match .teams {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
/* line 436, ../sass/style.scss */
.next-match .ch-logo img {
  max-width: 60px;
  max-height: 60px;
}

/* line 442, ../sass/style.scss */
.in-row {
  margin: 0 -10px;
}

/* line 443, ../sass/style.scss */
.countdown {
  width: 100%;
  padding: 10px;
  text-align: center;
  direction: rtl;
}
/* line 448, ../sass/style.scss */
.countdown span {
  margin: 0 5px;
}

/* line 450, ../sass/style.scss */
.salah-numbers {
  background-color: #FFFFFF;
  color: #150c0c;
}
/* line 453, ../sass/style.scss */
.salah-numbers .numbers-content {
  text-align: center;
  width: 100%;
  padding-right: 100px;
  background-image: url(../images/demo/salah.png);
  background-repeat: no-repeat;
  background-size: 190px;
  background-position: bottom right -80px;
}
/* line 463, ../sass/style.scss */
.salah-numbers .numbers-content h4 {
  margin: 15px 0;
}
/* line 466, ../sass/style.scss */
.salah-numbers .numbers-content table {
  border: 0;
}
/* line 468, ../sass/style.scss */
.salah-numbers .numbers-content table td {
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-family: "GE-Bold";
}
/* line 473, ../sass/style.scss */
.salah-numbers .numbers-content table td span {
  display: block;
  color: #f02c3e;
  font-size: 12px;
  font-family: "GE-UltraLight";
}
/* line 481, ../sass/style.scss */
.salah-numbers .numbers-content table tr:first-child td {
  padding-top: 0;
  border-top: 0;
}
/* line 482, ../sass/style.scss */
.salah-numbers .numbers-content table tr:last-child td {
  padding-bottom: 0;
  border-bottom: 0;
}
/* line 484, ../sass/style.scss */
.salah-numbers .numbers-content table tr td:last-child {
  border-right: 0;
}
/* line 485, ../sass/style.scss */
.salah-numbers .numbers-content table tr td:first-child {
  border-left: 0;
}

/* line 490, ../sass/style.scss */
.main-slider {
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.7);
}
/* line 493, ../sass/style.scss */
.main-slider h3 {
  text-align: right;
  margin: 0 0 12px;
  font-size: 22px;
}
/* line 498, ../sass/style.scss */
.main-slider .caption {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  padding: 12px;
  color: #fff;
  background-color: rgba(23, 0, 0, 0.7);
}
/* line 507, ../sass/style.scss */
.main-slider .caption.has-video {
  padding-right: 60px;
  background-image: url(../images/icons/play-red.png);
  background-position: center right 12px;
  background-size: 38px;
  background-repeat: no-repeat;
}
/* line 516, ../sass/style.scss */
.main-slider .caption h5 {
  text-align: right;
  margin: 0;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  direction: rtl;
}
/* line 526, ../sass/style.scss */
.main-slider .owl-item {
  height: 200px;
  overflow: hidden;
}
/* line 529, ../sass/style.scss */
.main-slider .owl-item > div, .main-slider .owl-item > div > a {
  height: 100%;
  display: block;
}
/* line 533, ../sass/style.scss */
.main-slider .owl-item img {
  width: 100%;
  height: auto;
  min-height: 100%;
}
/* line 539, ../sass/style.scss */
.main-slider .owl-dots {
  position: absolute;
  top: -30px;
  left: 0;
  z-index: 1;
}
/* line 544, ../sass/style.scss */
.main-slider .owl-dots > div {
  float: left;
  width: 7px;
  height: 7px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 0 2px;
  background-color: #f02c3e;
}
/* line 551, ../sass/style.scss */
.main-slider .owl-dots > div.active {
  background-color: #FFFFFF;
}
/* line 557, ../sass/style.scss */
.main-slider .owl-nav > div {
  position: absolute;
  top: 50%;
  color: #f02c3e;
  font-size: 25px;
  font-weight: bold;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
/* line 566, ../sass/style.scss */
.main-slider .owl-nav > div.owl-prev {
  left: 0;
}
/* line 567, ../sass/style.scss */
.main-slider .owl-nav > div.owl-next {
  right: 0;
}

/* line 571, ../sass/style.scss */
.home-sections {
  background-color: #a61417;
}
/* line 573, ../sass/style.scss */
.home-sections .home-section {
  background-color: #280000;
  padding: 12px;
  margin: 10px 0;
  color: #FFFFFF;
  text-align: right;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 580, ../sass/style.scss */
.home-sections .home-section h4 {
  font-size: 16px;
  margin: 0;
}
/* line 584, ../sass/style.scss */
.home-sections .home-section .image-container {
  margin: 12px -12px;
  height: 12vh;
  overflow: hidden;
}
/* line 588, ../sass/style.scss */
.home-sections .home-section .image-container img {
  width: 100%;
}
/* line 592, ../sass/style.scss */
.home-sections .home-section p {
  font-size: 12px;
  margin: 0;
  height: 30px;
  line-height: 15px;
}
/* line 598, ../sass/style.scss */
.home-sections .home-section span {
  display: block;
  color: #a61417;
  font-size: 10px;
}

/*********************
***** NEWS PAGE *****
*********************/
/* line 608, ../sass/style.scss */
.news-page {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px 10px;
}

/* line 612, ../sass/style.scss */
.news-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 616, ../sass/style.scss */
.news-list > li {
  direction: rtl;
  text-align: right;
  margin: 20px 0;
}
/* line 620, ../sass/style.scss */
.news-list > li a {
  display: table;
  width: 100%;
  color: #FFFFFF;
}
/* line 624, ../sass/style.scss */
.news-list > li a:hover {
  color: #a61417;
}
/* line 628, ../sass/style.scss */
.news-list > li .image-container {
  float: right;
  width: 90px;
  height: 70px;
  padding: 0;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
/* line 634, ../sass/style.scss */
.news-list > li .image-container img {
  width: 100%;
  height: 100%;
}
/* line 639, ../sass/style.scss */
.news-list > li div {
  overflow: hidden;
  padding: 8px 20px;
}
/* line 643, ../sass/style.scss */
.news-list > li p {
  font-size: 15px;
  margin: 0;
  height: 35px;
  line-height: 18px;
}
/* line 649, ../sass/style.scss */
.news-list > li span {
  display: block;
  color: #f02c3e;
  font-size: 12px;
}

/*********************
***** VIDEOS PAGE *****
*********************/
/* line 659, ../sass/style.scss */
.videos-page {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px 10px;
}
/* line 662, ../sass/style.scss */
.videos-page .videos-list {
  list-style: none;
  padding: 0;
  margin: 0;
  direction: rtl;
  display: table;
  width: 100%;
}
/* line 669, ../sass/style.scss */
.videos-page .videos-list .col-6 {
  float: right;
  text-align: right;
  margin: 10px 0;
}
/* line 673, ../sass/style.scss */
.videos-page .videos-list .col-6 a {
  display: table;
  width: 100%;
  color: #FFFFFF;
  position: relative;
  overflow: hidden;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
/* line 680, ../sass/style.scss */
.videos-page .videos-list .col-6 a:hover {
  color: #a61417;
}
/* line 684, ../sass/style.scss */
.videos-page .videos-list .col-6 .image-container {
  height: 120px;
}
/* line 686, ../sass/style.scss */
.videos-page .videos-list .col-6 .image-container img {
  width: 100%;
  height: 100%;
}
/* line 691, ../sass/style.scss */
.videos-page .videos-list .col-6 .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  padding: 5px 12px;
  padding-left: 35px;
  background-color: rgba(108, 0, 0, 0.65);
  background-image: url(../images/icons/play.png);
  background-position: center left 14px;
  background-repeat: no-repeat;
  background-size: 15px;
}
/* line 706, ../sass/style.scss */
.videos-page .videos-list .col-6 .caption p {
  font-size: 11px;
  margin: 0;
  height: 28px;
  line-height: 15px;
}

/* line 719, ../sass/style.scss */
.video-player .vjs-poster {
  background-size: cover;
}
/* line 720, ../sass/style.scss */
.video-player .video-js {
  width: 100%;
  height: 100vh;
}
/* line 723, ../sass/style.scss */
.video-player .video-js .vjs-big-play-button {
  width: 65px;
  height: 65px;
  line-height: 65px;
  top: 50%;
  left: 50%;
  background-color: #8b0b16;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 0;
}
/* line 734, ../sass/style.scss */
.video-player .video-js .vjs-control-bar {
  bottom: 20px;
  background-color: transparent;
}
/* line 738, ../sass/style.scss */
.video-player .video-js .vjs-control-bar .vjs-remaining-time {
  position: absolute;
  bottom: -10px;
  right: 0;
}
/* line 743, ../sass/style.scss */
.video-player .video-js .vjs-control-bar .vjs-fullscreen-control, .video-player .video-js .vjs-control-bar .vjs-volume-panel {
  display: none;
}
/* line 744, ../sass/style.scss */
.video-player .video-js .vjs-control-bar .vjs-slider {
  background-color: #FFFFFF;
}
/* line 747, ../sass/style.scss */
.video-player .video-js .vjs-control-bar .vjs-progress-holder {
  height: 2px;
}
/* line 750, ../sass/style.scss */
.video-player .video-js .vjs-control-bar .vjs-play-progress {
  background-color: #ff3555;
  bottom: 0;
  height: 5px;
}
/* line 754, ../sass/style.scss */
.video-player .video-js .vjs-control-bar .vjs-play-progress:before {
  display: none;
}
/* line 756, ../sass/style.scss */
.video-player .video-js .vjs-control-bar .vjs-load-progress {
  background-color: #FFFFFF;
}
/* line 758, ../sass/style.scss */
.video-player .video-js .vjs-control-bar .vjs-load-progress div {
  background-color: rgba(255, 53, 85, 0.5);
}
/* line 762, ../sass/style.scss */
.video-player .video-js .vjs-control-bar .loader-active {
  display: block;
  animation: 0s linear 0.3s forwards vjs-spinner-show;
}
/* line 769, ../sass/style.scss */
.video-player .vjs-loading-spinner {
  width: 100px;
  height: 100px;
  border: 8px solid rgba(21, 12, 12, 0.7);
  margin: 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 776, ../sass/style.scss */
.video-player .vjs-loading-spinner:after, .video-player .vjs-loading-spinner:before {
  margin: -8px;
}

/* line 783, ../sass/style.scss */
.vjs-seeking .vjs-loading-spinner:before,
.vjs-seeking .vjs-loading-spinner:after,
.vjs-waiting .vjs-loading-spinner:before,
.vjs-waiting .vjs-loading-spinner:after {
  -webkit-animation: vjs-spinner-spin 1.1s cubic-bezier(0.6, 0.2, 0, 0.8) infinite, vjs-spinner-cm-fade 1.1s linear infinite !important;
  animation: vjs-spinner-spin 1.1s cubic-bezier(0.6, 0.2, 0, 0.8) infinite, vjs-spinner-cm-fade 1.1s linear infinite !important;
}

@keyframes vjs-spinner-cm-fade {
  0% {
    border-top-color: #ff3555;
  }
  20% {
    border-top-color: #ff3555;
  }
  35% {
    border-top-color: white;
  }
  60% {
    border-top-color: #ff3555;
  }
  100% {
    border-top-color: #ff3555;
  }
}
@-webkit-keyframes vjs-spinner-cm-fade {
  0% {
    border-top-color: #ff3555;
  }
  20% {
    border-top-color: #ff3555;
  }
  35% {
    border-top-color: white;
  }
  60% {
    border-top-color: #ff3555;
  }
  100% {
    border-top-color: #ff3555;
  }
}
/*********************
***** NEWS DETAILS PAGE *****
*********************/
/* line 817, ../sass/style.scss */
.news-details {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
/* line 824, ../sass/style.scss */
.news-details:after {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjc1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(60%, rgba(0, 0, 0, 0.75)), color-stop(100%, rgba(0, 0, 0, 0.9)));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 60%, rgba(0, 0, 0, 0.9) 100%);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 60%, rgba(0, 0, 0, 0.9) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 60%, rgba(0, 0, 0, 0.9) 100%);
}
/* line 834, ../sass/style.scss */
.news-details > div {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  width: 100%;
  color: #FFFFFF;
  z-index: 1;
  text-align: right;
  padding: 20px;
}
/* line 844, ../sass/style.scss */
.news-details > div h2 {
  margin: 0 0 10px;
  font-size: 20px;
  font-weight: bold;
}
/* line 849, ../sass/style.scss */
.news-details > div h3 {
  font-weight: bold;
  margin: 0;
  font-size: 18px;
}
/* line 854, ../sass/style.scss */
.news-details > div span.time {
  color: #f02c3e;
  font-size: 14px;
}
/* line 858, ../sass/style.scss */
.news-details > div .body {
  font-size: 18px;
  overflow: auto;
  max-height: 60vh;
  margin: 25px -10px 0;
  padding: 0 10px;
}
/* line 864, ../sass/style.scss */
.news-details > div .body p {
  margin-bottom: 20px;
}

/*********************
***** CHAMPION PAGE *****
*********************/
/* line 874, ../sass/style.scss */
.main-container .nav-pills {
  background-color: #360000;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
/* line 877, ../sass/style.scss */
.main-container .nav-pills a {
  color: #FFFFFF;
  font-size: 14px;
  padding: 12px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
/* line 882, ../sass/style.scss */
.main-container .nav-pills a.active {
  background-color: #a61417;
}
/* line 887, ../sass/style.scss */
.main-container .tab-pane {
  padding: 20px 0 0;
}
/* line 889, ../sass/style.scss */
.main-container .tab-pane .tab-title {
  text-align: center;
  font-size: 18px;
  margin: 0;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #3c3c3c;
}
/* line 897, ../sass/style.scss */
.main-container .tab-pane table {
  margin: 0;
}

/* line 902, ../sass/style.scss */
.champion-page {
  background-color: rgba(21, 12, 12, 0.8);
  padding: 25px 10px;
}
/* line 905, ../sass/style.scss */
.champion-page .league-table {
  border: 0;
  color: #FFFFFF;
  font-family: "Lato";
}
/* line 909, ../sass/style.scss */
.champion-page .league-table tbody tr:first-child {
  color: #00d062;
}
/* line 910, ../sass/style.scss */
.champion-page .league-table th, .champion-page .league-table td {
  border: 0;
  padding: 5px;
  vertical-align: middle;
}
/* line 914, ../sass/style.scss */
.champion-page .league-table th:last-child, .champion-page .league-table td:last-child {
  text-align: right;
}
/* line 915, ../sass/style.scss */
.champion-page .league-table th:first-child, .champion-page .league-table td:first-child {
  width: 35px;
}
/* line 917, ../sass/style.scss */
.champion-page .league-table th {
  font-weight: 700;
}
/* line 920, ../sass/style.scss */
.champion-page .league-table .stable {
  margin: auto;
  display: block;
  width: 7px;
  height: 7px;
  background-color: #00d062;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 928, ../sass/style.scss */
.champion-page .league-table .up, .champion-page .league-table .down {
  margin: auto;
  display: block;
  width: 15px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
/* line 939, ../sass/style.scss */
.champion-page .league-table .up {
  background-image: url(../images/icons/up.png);
}
/* line 940, ../sass/style.scss */
.champion-page .league-table .down {
  background-image: url(../images/icons/down.png);
}
/* line 942, ../sass/style.scss */
.champion-page .teams-table {
  overflow: auto;
}
/* line 944, ../sass/style.scss */
.champion-page .teams-table .table {
  border: 0;
  color: #FFFFFF;
  font-family: "Lato";
}
/* line 948, ../sass/style.scss */
.champion-page .teams-table .table th, .champion-page .teams-table .table td {
  border: 0;
  padding: 5px;
  vertical-align: middle;
}
/* line 953, ../sass/style.scss */
.champion-page .teams-table .table th {
  padding: 20px 20px 20px 0;
}
/* line 954, ../sass/style.scss */
.champion-page .teams-table .table span {
  width: 28px;
  line-height: 28px;
  height: 28px;
  text-align: center;
  text-transform: uppercase;
  display: block;
  font-size: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 963, ../sass/style.scss */
.champion-page .teams-table .table span.win {
  background-color: #00d062;
}
/* line 964, ../sass/style.scss */
.champion-page .teams-table .table span.lose {
  background-color: #f02c3e;
}
/* line 965, ../sass/style.scss */
.champion-page .teams-table .table span.draw {
  background-color: #150c0c;
}
/* line 970, ../sass/style.scss */
.champion-page .league-matches {
  color: #FFFFFF;
  font-family: "Lato";
}
/* line 974, ../sass/style.scss */
.champion-page .league-matches tr:first-child th, .champion-page .league-matches tr:first-child td {
  border: 0;
}
/* line 976, ../sass/style.scss */
.champion-page .league-matches tr, .champion-page .league-matches td {
  padding: 8px;
}

/*********************
***** NUMBERS PAGE *****
*********************/
/* line 985, ../sass/style.scss */
.numbers-page {
  background-color: #1f272d;
  height: calc(100vh - 220px);
}
/* line 989, ../sass/style.scss */
.numbers-page table th {
  background-color: #f02c3e;
}
/* line 992, ../sass/style.scss */
.numbers-page table th, .numbers-page table td {
  border: 0;
  padding: 2px;
  width: 50%;
}
/* line 999, ../sass/style.scss */
.numbers-page .tab-content .tab-pane {
  padding: 0;
}

/*********************
***** ASK PAGE *****
*********************/
/* line 1008, ../sass/style.scss */
.title {
  font-size: 25px;
  margin: 0 0 20px;
  text-align: center;
}

/* line 1013, ../sass/style.scss */
.ask-page {
  background-color: rgba(0, 0, 0, 0.42);
  padding: 30px 10px;
}

/*********************
***** SOCAIL PAGE *****
*********************/
/* line 1020, ../sass/style.scss */
.social-page {
  background-color: #242c32;
  padding: 15px 0;
}
/* line 1023, ../sass/style.scss */
.social-page .social-feeds {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 1027, ../sass/style.scss */
.social-page .social-feeds li {
  background-color: #FFFFFF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 20px 20px 20px 70px;
  margin: 5px 0;
  direction: rtl;
  color: #150c0c;
  background-position: center left 20px;
  background-repeat: no-repeat;
  background-size: 27px;
}
/* line 1039, ../sass/style.scss */
.social-page .social-feeds li.facebook {
  background-image: url(../images/icons/s-facebook.png);
}
/* line 1040, ../sass/style.scss */
.social-page .social-feeds li.twitter {
  background-image: url(../images/icons/s-twitter.png);
}
/* line 1041, ../sass/style.scss */
.social-page .social-feeds li p {
  margin: 0;
  font-size: 13px;
  text-align: right;
}

/*********************
***** Prediction PAGE *****
*********************/
/* line 1054, ../sass/style.scss */
.prediction-page form {
  text-align: center;
  margin-top: 50px;
}
/* line 1057, ../sass/style.scss */
.prediction-page form h4 {
  font-weight: bold;
}
/* line 1060, ../sass/style.scss */
.prediction-page form .form-control {
  font-size: 100px;
  font-weight: bold;
  margin: 10px 0 60px;
  text-align: center;
}
/* line 1066, ../sass/style.scss */
.prediction-page form .form-group {
  position: relative;
}
/* line 1070, ../sass/style.scss */
.prediction-page form .row .col:first-child .form-group:after {
  content: ":";
  font-size: 100px;
  font-weight: bold;
  position: absolute;
  right: -25px;
  top: 50%;
  margin-top: -90px;
}

/*********************
***** MATCH STATUS PAGE *****
*********************/
/* line 1087, ../sass/style.scss */
.match-status {
  padding-top: 120px;
  padding-bottom: 30px;
  background-color: #150c0c;
  height: 100vh;
}
/* line 1092, ../sass/style.scss */
.match-status > div {
  height: calc(100vh - 120px);
  overflow: auto;
}
/* line 1096, ../sass/style.scss */
.match-status .status-board {
  padding: 0 15px 50px;
  font-size: 15px;
  font-family: "GE-Bold";
}
/* line 1100, ../sass/style.scss */
.match-status .status-board span {
  margin: 0;
}
/* line 1101, ../sass/style.scss */
.match-status .status-board .text-center {
  font-family: "Lato";
  font-weight: bold;
  font-size: 45px;
  line-height: 40px;
}

/* line 1109, ../sass/style.scss */
.status-board {
  padding: 15px;
  font-size: 22px;
  font-weight: bold;
}
/* line 1114, ../sass/style.scss */
.status-board.with-bg {
  background-color: rgba(21, 12, 12, 0.82);
}
/* line 1115, ../sass/style.scss */
.status-board span {
  margin: 0 7px;
}
/* line 1116, ../sass/style.scss */
.status-board .result {
  font-family: "Lato";
  font-size: 45px;
  line-height: 40px;
}

/* line 1122, ../sass/style.scss */
.progress-status {
  width: 100%;
  text-transform: uppercase;
  font-family: "Lato";
  font-weight: 300;
  margin: 0 0 35px;
}
/* line 1128, ../sass/style.scss */
.progress-status:last-child {
  margin-bottom: 0;
}
/* line 1131, ../sass/style.scss */
.progress-status td {
  width: 30%;
}
/* line 1133, ../sass/style.scss */
.progress-status td.text-center {
  white-space: nowrap;
  width: auto;
}
/* line 1138, ../sass/style.scss */
.progress-status th, .progress-status td {
  border: 0;
  padding: 5px;
  font-size: 14px;
}
/* line 1143, ../sass/style.scss */
.progress-status .progress {
  padding: 1px 4px;
  height: auto;
  display: block;
  font-size: 10px;
  line-height: 14px;
  min-width: 20px;
  background-color: #150c0c;
}
/* line 1151, ../sass/style.scss */
.progress-status .progress.green {
  background-color: #00d062;
}
/* line 1152, ../sass/style.scss */
.progress-status .progress.blue {
  background-color: #06a4ff;
}
/* line 1153, ../sass/style.scss */
.progress-status .progress.right {
  float: right;
  text-align: right;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px 0 0 5px;
}
/* line 1158, ../sass/style.scss */
.progress-status .progress.left {
  float: left;
  text-align: left;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0;
  border-radius: 0 5px 5px 0;
}

/* line 1166, ../sass/style.scss */
.salah-status {
  padding: 0 0 30px;
  background-color: #3e0203;
}
/* line 1169, ../sass/style.scss */
.salah-status .progress {
  background-color: #2b0102;
}

/* line 1174, ../sass/style.scss */
.match-details {
  height: calc(100vh - 165px);
  line-height: 16px;
  font-size: 13px;
}
/* line 1178, ../sass/style.scss */
.match-details.page-content {
  padding: 20px 0;
}
/* line 1179, ../sass/style.scss */
.match-details img {
  width: 100%;
}

/* line 1182, ../sass/style.scss */
.match-live {
  padding: 20px 5px;
}
/* line 1184, ../sass/style.scss */
.match-live .details-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 1188, ../sass/style.scss */
.match-live .details-list li {
  font-size: 13px;
  font-family: "Lato";
  margin-bottom: 10px;
}
/* line 1193, ../sass/style.scss */
.match-live .details-list .per-minute {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
/* line 1197, ../sass/style.scss */
.match-live .details-list .per-minute > span {
  display: block;
  margin-bottom: 10px;
}

/* line 1204, ../sass/style.scss */
.icon {
  width: 20px;
  height: 18px;
  margin: auto;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
/* line 1214, ../sass/style.scss */
.icon.goal {
  background-image: url(../images/icons/goal-icon.png);
}
/* line 1215, ../sass/style.scss */
.icon.penalty {
  background-image: url(../images/icons/penalty-icon.png);
}
/* line 1216, ../sass/style.scss */
.icon.yellow-card {
  background-image: url(../images/icons/yellow-card.png);
}
/* line 1217, ../sass/style.scss */
.icon.red-card {
  background-image: url(../images/icons/red-card.png);
}
/* line 1218, ../sass/style.scss */
.icon.in-out {
  background-image: url(../images/icons/in-out.png);
}

/* line 1220, ../sass/style.scss */
.match-timeline {
  height: calc(100vh - 165px);
  padding: 0 10px !important;
}
/* line 1223, ../sass/style.scss */
.match-timeline .timeline {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 1227, ../sass/style.scss */
.match-timeline .timeline li {
  position: relative;
  font-family: "Lato";
}
/* line 1231, ../sass/style.scss */
.match-timeline .timeline li .line-content > div {
  width: 50%;
  padding: 18px;
}
/* line 1234, ../sass/style.scss */
.match-timeline .timeline li .line-content > div:first-child {
  text-align: right;
  padding-left: 0;
}
/* line 1238, ../sass/style.scss */
.match-timeline .timeline li .line-content > div:last-child {
  text-align: left;
  padding-right: 0;
}
/* line 1244, ../sass/style.scss */
.match-timeline .timeline li .line-icon {
  position: absolute;
  right: 50%;
  top: 50%;
  z-index: 1;
  margin: -12px;
  padding: 4px;
  min-width: 22px;
  min-height: 22px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #202930;
  display: flex;
}
/* line 1256, ../sass/style.scss */
.match-timeline .timeline li .line-icon > * {
  margin: auto;
}
/* line 1257, ../sass/style.scss */
.match-timeline .timeline li .line-icon .icon {
  width: 16px;
  height: 16px;
}
/* line 1262, ../sass/style.scss */
.match-timeline .timeline li .line-icon span:not(.icon) {
  width: 15px;
  height: 15px;
  background-color: #f8f8f8;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 1269, ../sass/style.scss */
.match-timeline .timeline li .time {
  font-size: 18px;
  font-weight: 700;
}
/* line 1274, ../sass/style.scss */
.match-timeline .timeline li .caption span {
  display: block;
  font-weight: bold;
  font-size: 13px;
  margin: 0 0 2px;
}
/* line 1280, ../sass/style.scss */
.match-timeline .timeline li .caption label {
  display: block;
  font-size: 18px;
  margin: 0;
}
/* line 1286, ../sass/style.scss */
.match-timeline .timeline li.left .caption {
  padding-right: 25px;
  border-right: 1px solid #FFFFFF;
}
/* line 1290, ../sass/style.scss */
.match-timeline .timeline li.right .caption {
  padding-left: 25px;
  border-left: 1px solid #FFFFFF;
  margin-left: -1px;
}

/* line 1299, ../sass/style.scss */
.match-pitch {
  height: calc(100vh - 165px);
}
/* line 1301, ../sass/style.scss */
.match-pitch img {
  width: 100%;
}

/* line 1307, ../sass/style.scss */
.trophies-page .title {
  font-family: "GE-Bold";
  margin: 15px 0;
  font-size: 20px;
}
/* line 1312, ../sass/style.scss */
.trophies-page .trophies-list {
  margin: 0 -7px;
}
/* line 1314, ../sass/style.scss */
.trophies-page .trophies-list > div {
  padding: 0 7px;
  margin: 20px 0;
}
/* line 1317, ../sass/style.scss */
.trophies-page .trophies-list > div > div {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #FFFFFF;
  min-height: 100%;
}
/* line 1323, ../sass/style.scss */
.trophies-page .trophies-list > div .img-container {
  height: 145px;
  overflow: hidden;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 1327, ../sass/style.scss */
.trophies-page .trophies-list > div .img-container img {
  width: 100%;
  min-height: 100%;
}
/* line 1332, ../sass/style.scss */
.trophies-page .trophies-list > div h4 {
  font-size: 10px;
  text-align: center;
  color: #a61417;
  font-family: "GE-Bold";
  padding: 10px;
  margin: 0;
}

/* line 1345, ../sass/style.scss */
.career-page .title {
  font-family: "GE-Bold";
  margin: 15px 0 20px;
  font-size: 20px;
}
/* line 1350, ../sass/style.scss */
.career-page .time-line {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 1354, ../sass/style.scss */
.career-page .time-line li {
  padding: 10px 0;
  position: relative;
}
/* line 1357, ../sass/style.scss */
.career-page .time-line li:not(:last-child):after {
  content: "";
  width: 2px;
  height: calc(100% - 40px);
  position: absolute;
  bottom: -5px;
  left: 38px;
  background-color: #FFFFFF;
}
/* line 1366, ../sass/style.scss */
.career-page .time-line li label {
  float: left;
  margin: 0 30px 5px 0;
  font-size: 30px;
  line-height: 30px;
  font-family: 'Atletico';
  position: relative;
}
/* line 1373, ../sass/style.scss */
.career-page .time-line li label:after {
  content: "";
  width: 25px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 100%;
  margin-left: 5px;
  background-color: #400100;
}
/* line 1383, ../sass/style.scss */
.career-page .time-line li label:before {
  content: "";
  width: 25px;
  height: 2px;
  position: absolute;
  top: 50%;
  right: 100%;
  margin-right: 5px;
  background-color: #400100;
}
/* line 1394, ../sass/style.scss */
.career-page .time-line li div {
  background-color: #400100;
  color: #FFFFFF;
  padding: 15px;
  text-align: right;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  overflow: auto;
  font-size: 12px;
  line-height: 1.7;
}
