/**
 * @Project        mohamed-salah
 * @Author         Maged Mohamed
 * @Job Title      MEAN Stack Developer
 * @Build          Tue, Aug 7, 2018 6:25 PM ET
 **/
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");@font-face{font-family:GESS Light;src:url(../fonts/GE-SS-Light.otf) format("opentype")}@font-face{font-family:GESS Bold;src:url(../fonts/GE-SS-Bold.otf) format("opentype")}@font-face{font-family:GESS UltraLight;src:url(../fonts/GE-SS-Light.otf) format("opentype")}@font-face{font-family:GESS Two Light;src:url(../fonts/GE-SS-Two-Light.otf) format("opentype")}@font-face{font-family:Atletico RegularDemo;src:url(../fonts/Atletico-RegularDemo.otf) format("opentype")}.en-num_thin{font-weight:400!important}.en-num_bold,.en-num_thin{font-family:Lato,sans-serif!important}.en-num_bold{font-weight:700!important}

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */button,hr,input{overflow:visible}progress,sub,sup{vertical-align:baseline}[type=checkbox],[type=radio],legend{box-sizing:border-box;padding:0}html{-webkit-text-size-adjust:100%;line-height:1.15}body{margin:0}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{-webkit-text-decoration:underline dotted;border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{color:inherit;display:table;max-width:100%;white-space:normal}textarea{overflow:auto}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}[hidden],template{display:none}

/*!
 * 
 *         SimpleBar.js - v2.6.1
 *         Scrollbars, simpler.
 *         https://grsmto.github.io/simplebar/
 *         
 *         Made by Adrien Grsmto from a fork by Jonathan Nicol
 *         Under MIT License
 *       
 */[data-simplebar]{-webkit-overflow-scrolling:touch;max-height:inherit;overflow:hidden!important;position:relative;z-index:0}[data-simplebar=init]{display:flex}.simplebar-scroll-content{box-sizing:content-box!important;max-height:inherit!important;min-width:100%!important;overflow-x:hidden!important;overflow-y:scroll}.simplebar-content{box-sizing:border-box!important;min-height:100%!important;overflow-x:scroll;overflow-y:hidden!important}.simplebar-track{bottom:0;left:0;position:absolute;width:11px;z-index:1}.simplebar-scrollbar{left:2px;min-height:10px;opacity:.65;position:absolute;width:5px}.simplebar-scrollbar:before{background:#000;border-radius:7px;content:"";left:0;opacity:0;position:absolute;right:0;transition:opacity .2s linear}.simplebar-track .simplebar-scrollbar.visible:before,.simplebar-track:hover .simplebar-scrollbar:before{opacity:.5;transition:opacity 0 linear}.simplebar-track.vertical{top:0}.simplebar-track.vertical .simplebar-scrollbar:before{bottom:2px;top:2px}.simplebar-track.horizontal{height:0;right:0;width:auto}.simplebar-track.horizontal .simplebar-scrollbar:before{height:100%;left:2px;right:2px}.horizontal.simplebar-track .simplebar-scrollbar{height:7px;left:auto;min-height:0;min-width:10px;top:2px;width:auto}@font-face{font-family:Helvetica Regular;src:url(../fonts/Helvetica-Neue-Regular.otf) format("opentype")}@font-face{font-family:Helvetica Bold;src:url(../fonts/Helvetica-Neue-Bold.otf) format("opentype")}*,:after,:before{box-sizing:border-box;margin:0;padding:0}html{font-size:62.5%;font-size:10px}body{color:#fff;cursor:default;font-size:1.6rem;line-height:1.6;overflow-x:hidden;position:relative}ol,ul{list-style:none}a,a:active,a:hover,a:link,a:visited{color:inherit;text-decoration:none}header{align-items:center;background-color:#cb2c26;display:flex;height:75px;line-height:75px;margin-top:35px;padding-right:45px}header .liverpool-logo{height:129px;margin-left:25px;width:95px;z-index:999}header .lfctv-logo{height:32px;width:185px}header img{-o-object-fit:contain;display:block;height:100%;object-fit:contain;width:100%}.v-player{background-color:#262626;position:relative}.v-player .video{background-color:#404040;padding-left:15px;width:70%}.v-player .video .video-js{height:565px;width:100%}.v-player .video .vjs-big-play-button{-webkit-transform:translate(50%,-50%);position:absolute;right:50%;top:50%;transform:translate(50%,-50%)}.v-player article{background-color:#404040;padding:50px;width:70%}.v-player article .video-header{font-family:Helvetica Bold,Arial,sans-serif;font-size:3.8rem;line-height:1.4;width:80%}.v-player article .video-p{color:#9c9c9c;font-family:Helvetica Regular,Arial,sans-serif;font-size:2.1rem;line-height:1.2;margin-bottom:60px;width:80%}.v-player aside{background-color:#262626;display:flex;flex-direction:column;height:100%;left:0;position:absolute;top:0;transition:all .3s ease;width:30%}.v-player aside .video-obj{border-bottom:1px solid #404040;transition:all .3s ease}.v-player aside .video-obj:hover{background-color:#333}.v-player aside .video-obj.active{background-color:#000}.v-player aside .video-obj:last-of-type{border-bottom:0}.half-flex{display:flex;flex-wrap:wrap}.half-flex .video-obj{margin-bottom:20px;margin-left:20px;transition:all .3s ease;width:calc(50% - 20px)}.half-flex .video-obj:nth-child(2n){margin-left:0}.half-flex .video-obj:hover{background-color:#333}.video-obj{background:#262626;display:flex;padding:30px}.video-obj:hover .play-icon{background-color:rgba(51,51,51,.7)}.video-obj .video-obj_cover{height:100px;margin-left:13px;position:relative;width:300px}.video-obj .video-obj_cover img{-o-object-fit:cover;height:100%;object-fit:cover;width:100%}.video-obj .video-obj_cover .play-icon{-webkit-transform:translate(50%,-50%);border:1px solid #fff;border-radius:50%;color:#fff;height:40px;line-height:40px;position:absolute;right:50%;text-align:center;top:50%;transform:translate(50%,-50%);transition:all .3s ease;width:40px}.video-obj .video-obj_cover .play-icon i{margin-right:3px}.video-obj .video-obj_header{font-family:Helvetica Bold,Arial,sans-serif;font-size:1.8rem;line-height:1;margin-bottom:5px}.video-obj .video-obj_time{color:#828282;font-family:Helvetica Regular,Arial,sans-serif;font-size:1.5rem}.flex-row-wrap{align-items:center;display:flex;flex-wrap:wrap;justify-content:center}.clients{background-color:#fff;padding:30px 50px;width:70%}.clients .client-logo{height:100px;margin-bottom:20px;margin-left:20px;width:100px}.clients .client-logo:last-of-type{margin-left:0}.clients .client-logo img{-o-object-fit:contain;display:block;height:100%;object-fit:contain;width:100%}footer{align-items:center;background-color:#242424;display:flex;font-family:Helvetica Regular,Arial,sans-serif;font-size:1.4rem;justify-content:space-between;padding:10px 50px;width:70%}@media (max-width:1024px){.v-player .video{padding-left:0;width:100%}.v-player article{width:60%}.v-player article .video-header{font-size:2.8rem;width:100%}.v-player article .video-p{font-size:1.9rem;width:90%}.v-player .clients{width:60%}.v-player footer{flex-wrap:wrap;width:60%}.v-player footer span{margin-bottom:10px}.v-player footer span:last-of-type{margin-bottom:0}.v-player aside{height:calc(100% - 565px);top:565px;width:40%}.half-flex{flex-wrap:wrap}.half-flex .video-obj{margin-left:0;width:100%}.video-obj .video-obj_header{font-size:1.6rem}}
/*# sourceMappingURL=liverpool-rtl.css.map */
