{% load static %}
<!DOCTYPE html>
<html dir="rtl" lang="ar">
<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141782798-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-141782798-1');
    </script>



    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{{image_host}}{% static 'desktop/images/vodafone-logo.png' %}">
    <link rel="shortcut icon" href="{{image_host}}{% static 'desktop/images/vodafone-logo.png' %}">
    <link rel="apple-touch-icon" href="{{image_host}}{% static 'desktop/images/vodafone-logo.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{{image_host}}{% static 'desktop/images/vodafone-logo.png' %}">
    <title>{% block title %} {% endblock %}</title>
    <style>
    @import url(https://fonts.googleapis.com/css?family=Roboto);@font-face{font-family:'GESS Light';src:url({% static 'desktop/fonts/GE-SS-Light.otf' %}) format("opentype")}@font-face{font-family:'GESS Two Light';src:url({% static 'desktop/fonts/GE-SS-Two-Light.otf' %}) format("opentype")}button,hr,input{overflow:visible}legend{box-sizing:border-box;padding:0}html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0}a{background-color:transparent}img{border-style:none}button,input{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button{text-transform:none}[type=submit],button{-webkit-appearance:button}[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{padding:.35em .75em .625em}legend{color:inherit;display:table;max-width:100%;white-space:normal}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}.container{padding-left:15px;padding-right:15px;margin-left:auto;margin-right:auto;width:100%}@-ms-viewport{width:device-width}html{box-sizing:border-box;-ms-overflow-style:scrollbar}*,::after,::before{box-sizing:inherit}@media (min-width:576px){.container{max-width:540px}}@media (min-width:768px){.container{max-width:720px}}@media (min-width:992px){.container{max-width:960px}}@media (min-width:1200px){.container{max-width:1140px}}.row{display:flex;flex-wrap:wrap;margin-left:-15px;margin-right:-15px}.col,.col-6,.col-lg-6,.col-xl-5,.col-xl-7{position:relative;width:100%;min-height:1px;padding-left:15px;padding-right:15px}.col{flex-basis:0;flex-grow:1;max-width:100%}.col-6{flex:0 0 50%;max-width:50%}.d-flex{display:flex!important}@media (min-width:992px){.col-lg-6{flex:0 0 50%;max-width:50%}}@media (min-width:1200px){.col-xl-5{flex:0 0 41.666667%;max-width:41.666667%}.col-xl-7{flex:0 0 58.333333%;max-width:58.333333%}}.flex-row-reverse{flex-direction:row-reverse!important}.justify-content-between{justify-content:space-between!important}.align-items-center{align-items:center!important}*,:after,:before{box-sizing:border-box;padding:0;margin:0}html{font-size:62.5%;font-size:10px}body{font-size:1.6rem;line-height:1.6;position:relative;overflow-x:hidden;font-family:"GESS Two Light",Arial,Helvetica,sans-serif;background:url({% static 'desktop/images/hero-area.jpg' %}) no-repeat,#410100;background-size:100%;color:#fff}ul{list-style:none}a,a:link,a:visited{text-decoration:none;color:inherit}h1,h2{font-family:"GESS Light",Arial,Helvetica,sans-serif;word-spacing:normal;font-weight:400;text-shadow:rgba(0,0,0,.1) 0 0 1px}.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}.btn{background-color:#fa0000;padding:6px 26px;border-radius:3px;box-shadow:-1.753px 3.595px 40px 0 rgba(0,0,0,.23)}.section-header{font-size:3.3rem;line-height:34.5px;font-family:"GESS Light",Arial,Helvetica,sans-serif}hr{opacity:.06;border:0;height:0;border-top:2px solid #fff;border-bottom:2px solid #fff;margin:15px auto 27px}.heroArea{margin-top:20px}.heroArea .login{font-size:1.5rem;box-shadow:-1.753px 3.595px 40px 0 rgba(0,0,0,.23);text-shadow:0 2px 0 rgba(0,0,0,.57);margin-right:20px}.heroArea i{width:24px;height:24px;border-radius:50%;background-color:#fff;color:#410100;text-align:center;line-height:24px;margin-right:12px}.heroArea i:last-of-type{margin-right:0}.heroArea nav{height:60px;line-height:60px;background-color:#fff;margin-top:17px;color:#000;box-shadow:-19.799px 19.799px 60px 0 rgba(0,0,0,.4)}.heroArea nav ul{display:block}.heroArea nav li{display:inline-block;margin-left:27px}.heroArea nav li a{text-shadow:rgba(0,0,0,.1) 0 0 1px}.heroArea nav li:last-of-type{margin-left:0}.heroArea nav li.active{color:#fa0000}.heroArea nav img{vertical-align:top;width:93px;height:93px;-webkit-transform:translateY(-16px);transform:translateY(-16px)}.heroArea nav form{width:215px;height:60px;position:relative}.heroArea nav input{width:100%;border:0;padding:10px;background-color:transparent}.heroArea nav input::-webkit-input-placeholder{font-size:1.2rem;color:#8e8e8e;text-shadow:rgba(0,0,0,.1) 0 0 1px}.heroArea nav input:-ms-input-placeholder{font-size:1.2rem;color:#8e8e8e;text-shadow:rgba(0,0,0,.1) 0 0 1px}.heroArea nav input::-ms-input-placeholder{font-size:1.2rem;color:#8e8e8e;text-shadow:rgba(0,0,0,.1) 0 0 1px}.heroArea nav fieldset{padding:0;border:0}.heroArea nav button{padding:0;border:0;background:0 0;position:absolute;left:0;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);opacity:.6}.heroArea nav button i{color:#8e8e8e;width:19px;height:19px;background:0 0}.heroArea .heroArea-content{margin:100px auto}.heroArea .heroArea-content .heroArea-header{font-size:5.2rem;line-height:55px;font-family:"GESS Light",Arial,Helvetica,sans-serif;margin-bottom:50px}.heroArea .heroArea-content .heroArea-p{font-size:1.7rem;line-height:24px;padding-left:50px}.heroArea .heroArea-content .heroArea-video{width:100%;height:100%;max-width:606px;max-height:393px;box-shadow:-19.799px 19.799px 60px 0 rgba(0,0,0,.55);border-radius:10px;background-color:#000;overflow:hidden;margin-right:auto}.heroArea .heroArea-content .heroArea-video iframe{line-height:0;width:100%;height:100%}.lfctv-logo{width:116px;height:21px;margin-left:20px;margin-right:auto}.lfctv-logo img{-o-object-fit:cover;object-fit:cover;vertical-align:middle}.owl-videos{color:#fff}.news{background-color:#fff;border-radius:10px;box-shadow:-19.799px 19.799px 60px 0 rgba(0,0,0,.24);width:100%;height:594px;padding:35px 24px 0 50px;margin-bottom:100px}.news .section-header{color:#000;margin-bottom:40px}.news .btn{margin-bottom:40px}.fab,.fas{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1}.fa-facebook-f:before{content:"\f39e"}.fa-play:before{content:"\f04b"}.fa-search:before{content:"\f002"}.fa-twitter:before{content:"\f099"}.sr-only{border:0;clip:rect(0,0,0,0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}@font-face{font-family:"Font Awesome 5 Brands";font-style:normal;font-weight:400;src:url(../build/C:/Users/MAGEDM~1/AppData/Local/webfonts/fa-brands-400.eot);src:url(../build/C:/Users/MAGEDM~1/AppData/Local/webfonts/fa-brands-400.eot?#iefix) format("embedded-opentype"),url({% static 'desktop/fonts/fa-brands-400.woff2' %}) format("woff2"),url({% static 'desktop/fonts/fa-brands-400.woff' %}) format("woff"),url(../build/C:/Users/MAGEDM~1/AppData/Local/webfonts/fa-brands-400.ttf) format("truetype"),url(../build/C:/Users/MAGEDM~1/AppData/Local/webfonts/fa-brands-400.svg#fontawesome) format("svg")}.fab{font-family:"Font Awesome 5 Brands"}@font-face{font-family:"Font Awesome 5 Free";font-style:normal;font-weight:400;src:url(../build/C:/Users/MAGEDM~1/AppData/Local/webfonts/fa-regular-400.eot);src:url(../build/C:/Users/MAGEDM~1/AppData/Local/webfonts/fa-regular-400.eot?#iefix) format("embedded-opentype"),url({% static 'desktop/fonts/fa-solid-900.woff2' %}) format("woff2"),url(../build/C:/Users/MAGEDM~1/AppData/Local/webfonts/fa-regular-400.woff) format("woff"),url(../build/C:/Users/MAGEDM~1/AppData/Local/webfonts/fa-regular-400.ttf) format("truetype"),url(../build/C:/Users/MAGEDM~1/AppData/Local/webfonts/fa-regular-400.svg#fontawesome) format("svg")}@font-face{font-family:"Font Awesome 5 Free";font-style:normal;font-weight:900;src:url(../build/C:/Users/MAGEDM~1/AppData/Local/webfonts/fa-solid-900.eot);src:url(../build/C:/Users/MAGEDM~1/AppData/Local/webfonts/fa-solid-900.eot?#iefix) format("embedded-opentype"),url({% static 'desktop/fonts/fa-solid-900.woff2' %}) format("woff2"),url(.{% static 'desktop/fonts/fa-solid-900.woff' %}) format("woff"),url(../build/C:/Users/MAGEDM~1/AppData/Local/webfonts/fa-solid-900.ttf) format("truetype"),url(../build/C:/Users/MAGEDM~1/AppData/Local/webfonts/fa-solid-900.svg#fontawesome) format("svg")}.fas{font-family:"Font Awesome 5 Free"}.fas{font-weight:900}.owl-carousel{position:relative}.owl-carousel{display:none;width:100%;z-index:1}

    </style>
    <link rel="preload" href="{% static 'desktop/css/main-rtl.css' %}" as="style"
          onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="{% static 'desktop/css/main-rtl.css' %}">
    </noscript>
    <link rel="preload" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous"
          as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
              integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
              crossorigin="anonymous">
    </noscript>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
          as="style" onload="this.onload=null;this.rel='stylesheet'">

    <script>
        !function(n){"use strict";n.loadCSS||(n.loadCSS=function(){});var o=loadCSS.relpreload={};if(o.support=function(){var e;try{e=n.document.createElement("link").relList.supports("preload")}catch(t){e=!1}return function(){return e}}(),o.bindMediaToggle=function(t){var e=t.media||"all";function a(){t.media=e}t.addEventListener?t.addEventListener("load",a):t.attachEvent&&t.attachEvent("onload",a),setTimeout(function(){t.rel="stylesheet",t.media="only x"}),setTimeout(a,3e3)},o.poly=function(){if(!o.support())for(var t=n.document.getElementsByTagName("link"),e=0;e<t.length;e++){var a=t[e];"preload"!==a.rel||"style"!==a.getAttribute("as")||a.getAttribute("data-loadcss")||(a.setAttribute("data-loadcss",!0),o.bindMediaToggle(a))}},!o.support()){o.poly();var t=n.setInterval(o.poly,500);n.addEventListener?n.addEventListener("load",function(){o.poly(),n.clearInterval(t)}):n.attachEvent&&n.attachEvent("onload",function(){o.poly(),n.clearInterval(t)})}"undefined"!=typeof exports?exports.loadCSS=loadCSS:n.loadCSS=loadCSS}("undefined"!=typeof global?global:this);
    </script>
    <!-- <link rel="stylesheet" href=""> -->

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>-->
    <link href="https://vjs.zencdn.net/7.1.0/video-js.css" rel="stylesheet">
</head>

<body>
<section class="heroArea">
    {% include 'desktop/views/partial/header.html' %}
    <!-- .end login-btn -->
    {% include 'desktop/views/partial/navbar.html' %}
    <!-- .end Navbar -->
    {% block content %} {% endblock %}
    {% include 'desktop/views/partial/footer.html' %}

    <!-- Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <script>
    $('.owl-videos').owlCarousel({
      rtl: true,
      loop: true,
      items: 4,
      margin: 37,
      center: false,
      nav: true,
      dots: true,
      autoplay: true,
      autoplayTimeout: 3000,
      autoplayHoverPause: true,
      stagePadding: 0,
      responsive:{
        0:{
          items:2,
        },
        768:{
          items:3,
        },
        992:{
          items:4,
        }
    }
    })

    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/simplebar/2.6.1/simplebar.min.js"></script>
  <script src="https://vjs.zencdn.net/7.1.0/video.js"></script>
  <script src="{% static 'desktop/js/main.js' %}"></script>
{% block extra_js %}
{% endblock %}
</body>

</html>