{% extends 'salah_admin/base.html' %}
{% load staticfiles %}
{% load html_tags %}

{% block title %}
Match Article
{% endblock %}

{% block braed %}
    <div class="breadcrumb-label text-light-gray">You are here:</div>
    <li><a href="{% url 'admin-matches-list' %}">Match Details</a></li>
    <li class="active"><a href="#">Create</a></li>
{% endblock %}

{% block content %}


{% if form.errors %}
  <ul>
    {% for error in form.errors %}
      <li>{{ error }}</li>
    {% endfor %}
  </ul>
{% endif %}




    {% if messages %}
        {% for message in messages %}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
                        <p>{{ message }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" role="form" enctype="multipart/form-data"
                          method="POST" action="">
                        {% csrf_token %}

                        <!--details-->
                        <div class="form-group {% if form.details.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    {{ form.details.label }}
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                {{form.media}}
                                {{form.details}}

                                {% if form.details.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.details.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.details.help_text %}
                                            <li class="help">{{ form.details.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.details.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.details.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>

                         <!--image-->

                         <div class="form-group {% if form.image.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label">
                                {% autoescape off %}
                                    Image
                                {% endautoescape %}
                            </label>

                            <div class="col-md-6">
                                {% if object.image %}
                                <img width="50px" height="50px" src="{{form.image.url}}">
                                {% endif %}

                                {{form.image}}

                                {% if form.image.errors %}
                                    <span class="help-block">
                                    <ol>
                                        {% for error in form.image.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.image.help_text %}
                                            <li class="help">{{ form.image.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                                {% else %}
                                    {% if form.image.help_text %}
                                        <span class="help-block">
                                            <p class="help">{{ form.image.help_text|safe }}</p>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-btn fa-check"></i>Add
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}