{% extends 'salah_admin/base.html' %}
{% load static %}

{% block title %}
News
{% endblock %}

{% block braed %}
    <div class="breadcrumb-label text-light-gray">You are here:</div>
    <li><a href="#">News</a></li>
    <li class="active"><a href="#">List</a></li>
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
                        <p>{{ message }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-md-12 text-right">
            <a href="{% url 'admin-news-create' %}" class="btn btn-primary">Add</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-responsive">
                <thead>
                <th>ID</th>
                <th>Title</th>
                <th>Image</th>
                <th>Description</th>
                <th>Featured</th>
                <th>Actions</th>
                </thead>
                <tbody>
                {% for object in object_list %}
                    <tr id="tr_{{ object.id }}">
                        <td>{{ object.id }}</td>
                        <td>{{ object.title|truncatewords:7 }}</td>
                        <td>
                                                    {% if object.imgid %}

                            <img width="50px" height="50px" src ="{{ object.imgid.url }}">
                        {% endif %}
                        </td>
                        <td>{{ object.descr|truncatewords:7 }}</td>
                        <td>{{ object.featured|truncatewords:7 }}</td>
                        <td>
                            <a class="btn btn-primary" href="{% url 'admin-news-update' object.id %}">Edit</a>
                            <a data-id="{{ object.id }}" class="delete btn btn-danger" href="{% url 'admin-news-delete' object.id %}">Delete</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3">No Data</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

<div class="row">
        <div class="col-md-12 text-center">
            <nav>
                <ul class="pagination">

                    {% if page_obj.previous_page_number > 0 %}
                        <li>
                            <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">Previous</span>
                            </a>
                        </li>
                    {% endif %}

                    <li>
                        <span class="current">
                         <form class="form-inline" action="" method="get">
                             Page <input value="{{ page_obj.number }}" type="text" name="page" style="width: 40px;"/>
                             of {{ page_obj.paginator.num_pages }}.
                         </form>
                    </span>
                    </li>
                    {% if page_obj.number < page_obj.paginator.num_pages %}
                        <li>
                            <a href="?page={{ page_obj.next_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">Next</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    $(document).ready(function() {

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        // This function must be customized
        var onDelete = function(){
{#            console.log(this);#}
            var id = $(this).attr('data-id');

            var conf = confirm('Are You Sure?');
            if (conf == true){
            $.post(this.href, function(data) {
                if (data.result == "ok"){
                    alert("data deleted successfully");
                    $('#tr_'+id).remove();
                } else {
                    // handle error processed by server here
                    alert("smth goes wrong");
                }
            }).fail(function() {
                // handle unexpected error here
                alert("error");
            });
            }


            return false;
        }

        $(".delete").click(onDelete);
    });
</script>
{% endblock %}