{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="gt-ie8 gt-ie9 not-ie"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Rattle Login Form</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <!-- Open Sans font from Google CDN -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&amp;subset=latin"
          rel="stylesheet" type="text/css">

    <!-- LanderApp's stylesheets -->
    <link href="{{image_host}}{% static 'salah_admin/stylesheets/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{{image_host}}{% static 'salah_admin/stylesheets/landerapp.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{{image_host}}{% static 'salah_admin/stylesheets/pages.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{{image_host}}{% static 'salah_admin/stylesheets/widgets.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{{image_host}}{% static 'salah_admin/stylesheets/rtl.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{{image_host}}{% static 'salah_admin/stylesheets/themes.min.css' %}" rel="stylesheet" type="text/css">
</head>

<body class="theme-default page-signin">

<script>
    var init = [];
</script>

<div id="page-signin-bg">
    <!-- Background overlay -->
    <div class="overlay"></div>
    <!-- Replace this with your bg image -->
    <img src="{{image_host}}{% static 'salah_admin/demo/signin-bg-1.jpg' %}" alt="">
</div>

<div class="signin-container">


    <!-- Right side -->
    <div class="signin-form">

        <!-- Form -->
        <form method="POST" action="{% url 'admin-login' %}" id="signin-form_id">
            {% csrf_token %}

            <div class="signin-text">
                <span>Sign In to your account</span>
            </div>

            <!-- / .signin-text -->
            {% if messages %}
            <ul class="alert alert-{% if message.tags %} {{ message.tags }} {% endif %}">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <div class="form-group w-icon">
                <input type="text" name="email" value="" id="username_id"
                       class="form-control input-lg" placeholder="{%  trans "Email" %}">
                <span class="fa fa-user signin-form-icon"></span>
            </div>
            <!-- / Username -->

            <div class="form-group w-icon">
                <input type="password" name="password" id="password_id" class="form-control input-lg"
                       placeholder="Password">
                <span class="fa fa-lock signin-form-icon"></span>
            </div>
            <!-- / Password -->

            <div class="form-actions">
                <input type="submit" value="SIGN IN" class="signin-btn bg-primary">
            </div>
            <!-- / .form-actions -->
        </form>
        <!-- / Form -->
    </div>
    <!-- Right side -->
</div>

<!-- Get jQuery from Google CDN -->
<!--[if !IE]> -->
<script type="text/javascript"> window.jQuery || document.write('<script src="{{image_host}}{% static 'salah_admin/javascripts/jquery.min.js' %}">' + "<" + "/script>"); </script>
<!-- <![endif]-->
<!--[if lte IE 9]>
	<script type="text/javascript"> window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">'+"<"+"/script>"); </script>
<![endif]-->


<!-- LanderApp's javascripts -->
<script src="{{image_host}}{% static 'salah_admin/javascripts/bootstrap.min.js' %}"></script>
<script src="{{image_host}}{% static 'salah_admin/javascripts/landerapp.min.js' %}"></script>


</body>
</html>
