{% extends 'desktop/base.html' %}
{% load static %}
{% block title %} MO Salah - Home {% endblock %}
{% block content %}
    <!-- .end Navbar --><br>

    <div class="heroArea-banner">
       <img class="heroArea-banner_img" src="{% static 'desktop/images/salah-banner-6.png' %}" alt="">
      <div class="container">
        <div class="row">
          <div class="col d-flex flex-column justify-content-center">
            <h1 class="section-header">
              مشوار محمد صلاح
            </h1>
          </div>
        </div>
      </div>
    </div>
    <div class="breadcrumb">
      <div class="container">
        <div class="row">
          <div class="col col-md-5">
            <ol>
              <li><a href="{% url 'desktop-home' %}">الرئيسية</a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- .end HeroArea content -->
  </section>
  <!-- .end HeroArea -->

  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="collapsable-container">

            {% for career in career_list %}
            <div class="accordion">
              <div style="margin-bottom:20px" class="accordion-head" id="selectDefault" onclick="toggleAccordion(this)">
                <div class="accordion-head_title">
                  <h3>
                      {{career.title}}
                  </h3>
                  <i class="fas fa-angle-down fa-2x"></i>
                </div>
                <div class="accordion-head_year">{{career.year}}</div>
              </div>
              <div class="accordion-panel"">
               {% for award in awards_list %}
                  {% if award.career.id == career.id %}
                <div class="accordion-panel_content">

                  <i class="fas fa-trophy"></i>
                  {{award.title}}
                </div>
              {% endif %}
              {% endfor %}
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}