{% extends 'desktop/base.html' %}
{% load static %}
{% block title %} MO Salah - Home {% endblock %}
{% block content %}
<div class="container heroArea-content">
      <div class="row">
        <div class="col-lg-6 col-xl-5">
          <h1 class="heroArea-header">
            أهلاً بيك في
            <br> عالم محمد صلاح
          </h1>
          <p class="heroArea-p">
            أول 3 أيام من الاشتراك ببلاش بدون اى رسوم و في حالة الخروج من الخدمة و الرجوع مجددا لا يمكنك الاستمتاع بعرض ال3 ايام المجانية
            مرة اخرى. السعر: 1جنية في اليوم و تجدد تلقائيا كل يوم . تتوقف الخدمة في حالة عدم وجود رصيد كافى وبمجرد الشحن
            تستطيع الاستمتاع بالخدمة مرة أخرى. يتم المحاسبة لمشاهدة الفيديوهات من باقة الانترنت او الواي الفاي الخاص بك،
            والاشتراك لا يتضمن اي انترنت مجاني. الخروج من الخدمة: #0*11*
          </p>
        </div>
        <div class="col-lg-6 col-xl-7">
          <div class="heroArea-video">
            <iframe src="https://www.youtube.com/embed/AtMnUV7v_Lg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <!-- .end HeroArea content -->
  </section>
  <!-- .end HeroArea -->

  <section>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h2 class="section-header">
            أحدث
            <br> فيديوهات محمد صلاح
          </h2>
        </div>
        <div class="col-6 d-flex align-items-center">

            <a class="lfctv-logo" href="https://video.liverpoolfc.com/">
            {# <img style="margin-top:-24px; float:left; max-width:40%" src="{% static 'desktop/images/LFCTV.png' %}" alt="LFCTV GO"> #}
          </a>
          <a class="btn noWrap" href="{% url 'desktop-videos' %}">شاهد جميع الفيديوهات</a>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col">
          <div class="owl-carousel owl-videos">
            {% for video in videos %}

              <a href="{% if video.video_type == 'view2' %} {% url 'desktop-liverpool' video.id %} {% else %} # {% endif %}" {% if video.video_type == 'view1' %}   data-cover="{{image_host}}{{video.imgid.url}}" data-video-urls="{{video_host}}/{{video.ftp_name}}" onclick="popUpVideo(event, this)"  class="item" {% endif %}>
              <img src="{{image_host}}{{video.imgid.url}}" alt="محمد صلاح بعد آخر يوم تصوير لإعلان فودافون">
              <p>
                {{video.title}}
                <i class="fas fa-play"></i>
              </p>
            </a>

      {% endfor %}


                      </div>
        </div>
      </div>

    </div>
  </section>
  <!-- .end Videos -->
<div class="container">
    <section class="container news">
    <div class="row">
      <div class="col d-flex justify-content-between align-items-center">
        <h2 class="section-header">احدث اخبار محمد صلاح</h2>
        <a class="btn noWrap" href="{% url 'desktop-news' %}">شاهد جميع الأخبار</a>
      </div>
    </div>

    <div class="d-flex res-column">
      {% for new in news %}
      {% if forloop.first %}

      <div class="news-hot">
        <img src="{{image_host}}{{new.imgid.url}}" alt="صلاح يختار هدفه الأفضل في الموسم">
        <div class="news-hot_content">
          <time class="btn" datetime="2008-02-14 20:00">
            {{new.created_at}}
          </time>
          <a href="{% url 'desktop-news-single' new.id %}"> <h3>{{new.title}}</h3></a>
          {{new.description|safe}}
        </div>
      </div>
       <div class="news-scroll" data-simplebar="">
      {% else %}



        <div class="news-object d-flex">
          <img src="{{image_host}}{{new.imgid.url}}" alt="جيرارد يتحدث عن حظوظ صلاح بالكرة الذهبية">
          <div class="d-flex flex-column">
          <a href="{% url 'desktop-news-single' new.id %}"> <h3>{{new.title}}</h3></a>
            <time datetime="2008-02-14 20:00">
              {{new.created_at}}
            </time>
            {{new.description|safe|truncatewords:20}}
          </div>
        </div> <!-- .end single news -->
        {% endif %}
        {% endfor %}
      </div><!-- .end news container -->
    </div>
  </section><!-- .end news -->
</div>

  <section class="next-match container">
    <div class="row">
      <div class="col next-match_content d-flex justify-content-between align-items-center">
        <div class="next-match_date d-flex flex-column">
           <span> {% if next_match.status == 'In-Progress' %} الآن {% else %} المباراة القادمة {% endif %}</span>
          <time datetime="2008-02-14 20:00">
{{ next_match_date }}
          </time>
        </div>
        <div class="next-match_teams d-flex align-items-center">
          <span>{{ next_match_teams.0 }} {% if next_match.status == 'In-Progress' %}<br>  {{ next_match_teams.1.score }} {% endif %}</span>

          <span>-</span>

          <span>{{ next_match_teams.2 }}  {% if next_match.status == 'In-Progress' %} <br> {{ next_match_teams.3.score }} {% endif %}</span>

        </div>
        <div class="next-match_league">
          <img src="{{image_host}}{{next_match_league.image.url}}" alt="Champions League">
        </div>


      </div>
    </div> <!-- .end next match teams -->






      <div class="row">
      <div class="next-match_timeline">
         <div class="countdown" data-time="">
                        {% if next_match.status == 'In-Progress' %}
                        <span>مباشر</span>
                        <div class="row">
        <div class="match-timeline">

            {% for team in next_match_teams %}
            <div class="match-timeline_team">
            {% for timeline in last_match_timeline %}
              {% if timeline.team == team and timeline.type == 'GOAL' %}
                <div class="match-timeline_event">
              <i class="far fa-futbol"></i>
             <span>{{timeline.player}}</span>
              <span>{{timeline.minute}}</span>
            </div>
                {% endif %}
            {% endfor %}
                </div>

            {% endfor %}
          <div class="match-timeline_full">
            <a href="{% url 'desktop-match-stats' %}">تفاصيل المباراة</a>
          </div>
        </div>
      </div>
    </div>
                        {% else %}
                        <span class="s"><span id="timeSeconds">{{ count_down.seconds }}</span> ثانيه</span>
                        <span class="m"><span id="timeMinutes">{{ count_down.minutes }}</span> دقيقة</span>
                        <span class="h"><span id="timeHours">{{ count_down.hours }}</span> ساعة</span>
                        <span><span id="timeDay">{{ count_down.days }}</span> يوم</span>
                    {% endif %}
                    </div>

		<script type="text/javascript">
                        $(document).ready(function () {
                            setInterval(function () {
                                var s = $('#timeSeconds');
                                var m = $('#timeMinutes');
                                var h = $('#timeHours');
                                var d = $('#timeDay');

                                var seconds = parseInt(s.html());
                                var mintues = parseInt(m.html());
                                var hours = parseInt(h.html());
                                var days = parseInt(d.html());

                                if (seconds > 0) {
                                    seconds--;
                                } else if (seconds == 0) {
                                    seconds = 59;

                                    if (mintues > 0) {
                                        mintues--;
                                    } else if (mintues == 0) {
                                        mintues = 59;

                                        if (hours > 0) {
                                            hours--;
                                        } else if (hours == 0) {
                                            hours = 23;
                                        }

                                        h.text(hours);
                                    }

                                    m.text(mintues);
                                }


                                s.text(seconds);
                            }, 1000);
                        });
                    </script>
      </div>
    </div> <!-- .end next match time -->



  </section> <!-- .end next match -->


  <div class="container">
    <div class="row">
      <div class="col">
        <div class="stats">
          <div class="row flex-row-reverse">
            <div class="col col-md-8">
                                       <a style="color:black" href="{% url 'desktop-salah-numbers' %}">  <h2>أرقام محمد صلاح</h2></a>

              <div class="stats-content">







                <table class="table table-bordered">
                            <tr>
                                {% for number in salah_numbers|slice:":3" %}
								<td>
                                    {{number.val|floatformat}}
                                    <div>{{number.key}}</div>
                                </td>
								{% endfor %}
                            </tr>
                        <tr>

                                {% for number in salah_numbers|slice:"3:6" %}
								<td>
                                    {{number.val|floatformat}}
                                    <div>{{number.key}}</div>
                                </td>
								{% endfor %}
                        </tr>
                        </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- .end Stats -->


{% endblock %}
{% block extra_js %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if ask_success %}
    <script>
        swal("تم حفظ سؤالك بنجاح", "شكراً لك", "success");
    </script>
{% endif %}
{% endblock %}