{% load static %}

<!DOCTYPE html>
<html dir="rtl" lang="ar">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="{% static 'desktop/images/vodafone-logo.png' %}">
  <link rel="shortcut icon" href="{% static 'desktop/images/vodafone-logo.png' %}">
  <link rel="apple-touch-icon" href="{% static 'desktop/images/vodafone-logo.png' %}">
  <link rel="apple-touch-icon-precomposed" href="{% static 'desktop/images/vodafone-logo.png' %}">
  <title>Mohamed Salah - Login</title>
  <link rel="stylesheet" href="{% static 'desktop/css/main-rtl.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <!-- <link rel="stylesheet" href=""> -->
</head>

<body>





  <section class="login">
    <div class="container">
      <div class="row">
        <div class="col d-flex flex-column align-items-center">
          <img src="{% static 'desktop/images/login-logo.png' %}" alt="Mohamed Salah">
          {% if messages %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert">
                                {% for message in messages %}
            {% if forloop.last %}
		        <p>{{ message }}</p>
            {% endif %}
        {% endfor %}
                            </div>
                        </div>
                    </div>
            {% endif %}
          <form method="post" class="d-flex flex-column" action="">
            {% csrf_token %}
            <input type="tel" name="username" placeholder="ادخل رقمك" maxlength="11">
            <input type="password" name="password" placeholder="كلمة المرور">
            <button type="submit">تسجيل الدخول</button>
          </form>
          <a class="register" href="{% url 'desktop-signup' %}">إنشاء حساب</a>
        </div>
      </div>
    </div>
  </section>
  

  <footer class="d-flex align-items-center">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-6 col-md-4">
          <span class="copyrights">All Rights Reserved</span>
        </div>
        <div class="col-6 col-md-4">
          <div class="social">
              <a href="#"><i class="fab fa-facebook-f fa-xs"></i></a>
              <a href="#"><i class="fab fa-twitter fa-xs"></i></a>
              <a href="#"><i class="fab fa-instagram fa-xs"></i></a>
              <a href="#"><i class="fab fa-pinterest fa-xs"></i></a>
              <a href="#"><i class="fab fa-vk fa-xs"></i></a>
          </div>
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-end">
          <a href="#"><img src="{% static 'desktop/images/vodafone-logo.png' %}" alt="Vodafone"></a>
        </div>
      </div>
    </div>
  </footer>
  <!-- Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="js/main.js"></script>
</body>

</html>