{% extends 'desktop/base.html' %}
{% load static %}
{% block title %} MO Salah - Match Details {% endblock %}
{% block content %}

    <div class="heroArea-banner">
       <img class="heroArea-banner_img" src="{% static 'desktop/images/salah-banner-4.jpg' %}" alt="">
      <div class="container">
        <div class="row">
          <div class="col-6 d-flex flex-column justify-content-center">
            <h1 class="section-header">
              نتيجة مباراة
            </h1>

            <div class="match-result justify-content-center align-items-center">
              <span>{{team1.name}}</span> <span class="result"><span>{{team1.score}}</span> - </span>
          <span class="result">{{team2.score}}</span> <span><span>{{team2.name}}</span> </span>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="breadcrumb">
      <div class="container">
        <div class="row">
          <div class="col col-md-5">
            <ol>
              <li><a href="{% url 'desktop-home' %}">الرئيسية</a></li>
              <li><a href="#">نتيجة المباراة</a></li>
            </ol>
          </div>
          <div class="col col-md-7 d-flex justify-content-end">
                        <button class="tablinks" id="selectDefault" onclick="openTab(event, 'details')">تفاصيل</button>
            <button class="tablinks"  onclick="openTab(event, 'formation')">التشكيل</button>
            <button class="tablinks" onclick="openTab(event, 'live')">مباشر</button>
            <button class="tablinks" onclick="openTab(event, 'stats')">إحصائيات</button>
            <button class="tablinks" onclick="openTab(event, 'events')">أحداث</button>
          </div>
        </div>
      </div>
    </div>
    <!-- .end HeroArea content -->
  </section>
  <!-- .end HeroArea -->

  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">

          
          <div id="details" class="tabcontent">
            <div class="match-details">
             <img src="{{image_host}}{{match_details.image.url}}" class="img-fluid" alt="">

              <p class="t-en">{{match_details.details|safe}} </p>
            </div>
          </div>


          <div id="formation" class="tabcontent">
              <div class="pitch">
                <img src="{% static 'desktop/images/pitch.svg' %}" alt="">
                <div class="formation">

                  <div class="formation-row">
                    <div class="player">
                      <div class="player-num">{{match_pitch.keeper_number}}</div>
                      <div class="player-name">{{match_pitch.keeper_name}}</div>
                    </div>
                  </div>

                  <div class="formation-row">
                    {% for key, value in match_pitch.defenders.items %}
                    <div class="player">
                      <div class="player-num">{{value}}</div>
                      <div class="player-name">{{key}}</div>
                    </div>
                    {% endfor %}
                  </div>


                  <div class="formation-row">
                    {% for key, value in match_pitch.mid.items %}
                    <div class="player">
                      <div class="player-num">{{value}}</div>
                      <div class="player-name">{{key}}</div>
                    </div>
                    {% endfor %}
                  </div>

                  <div class="formation-row">
                    {% for key, value in match_pitch.attack.items %}
                    <div class="player">
                      <div class="player-num">{{value}}</div>
                      <div class="player-name">{{key}}</div>
                    </div>
                    {% endfor %}
                  </div>



                </div>
              </div>
          </div>



          <div id="live" class="tabcontent">
            <div class="match-live">
              <div class="container">
                <ul class="details-list">
                  {% for live in match_live %}
              <li>
                <div class="row">
                  <div class="col-12 d-flex justify-content-between">
                        <div class="per-minute en-num_bold">
                    <span>{{live.minute}}'</span>

                    <span class="icon {% if live.type == 'GOAL' %} goal {% elif live.type == 'Penalty' %} penalty {% elif live.type == 'Yellow Card' %} yellow-card {% elif  live.type == 'Red Card' %} red-card {% elif live.type == 'substitution' %} in-out {% endif %}"></span>
                  </div>
                    <p>{{live.text}}</p>
                  </div>
                </div>
              </li>

              {% endfor %}

                </ul>
              </div>
            </div>
          </div>

          <div id="stats" class="tabcontent">
            
            <div class="progress-status">
              <div class="progress-row">
                <div><span class="progress right blue" style="width: 30%">{{team1.assists}}</span></div>
                <div class="text-center">ASSISTS</div>
                <div><span class="progress left" style="width: 0%">{{team2.assists}}</span></div>
              </div>

              <div class="progress-row">
                <div><span class="progress right blue" style="width: 80%">{{team1.free_kicks}}</span></div>
                <div class="text-center">FREE KICKS</div>
                <div><span class="progress left green" style="width: 30%">{{team2.free_kicks}}</span></div>
              </div>
              <div class="progress-row">
                <div><span class="progress right blue" style="width: 10%">{{team1.penalties}}</span></div>
                <div class="text-center">PENALTIES</div>
                <div><span class="progress left green" style="width: 10%">{{team2.penalties}}</span></div>
              </div>

            <div class="progress-row">
                <div><span class="progress right blue" style="width: 30%">{{team1.total_shots}}</span></div>
                <div class="text-center">TOTAL SHOTS</div>
                <div><span class="progress left" style="width: 0%">{{team2.total_shots}}</span></div>
              </div>

                        <div class="progress-row">
                <div><span class="progress right blue" style="width: 30%">{{team1.shots_on_target}}</span></div>
                <div class="text-center">SHOTS ON TARGET</div>
                <div><span class="progress left" style="width: 0%">{{team2.shots_on_target}}</span></div>
              </div>

                          <div class="progress-row">
                <div><span class="progress right blue" style="width: 30%">{{team1.shots_off_target}}</span></div>
                <div class="text-center">SHOTS OFF TARGET</div>
                <div><span class="progress left" style="width: 0%">{{team2.shots_off_target}}</span></div>
              </div>

                          <div class="progress-row">
                <div><span class="progress right blue" style="width: 30%">{{team1.yellow_cards}}</span></div>
                <div class="text-center">YELLOW CARDS</div>
                <div><span class="progress left" style="width: 0%">{{team2.yellow_cards}}</span></div>
              </div>

               <div class="progress-row">
                <div><span class="progress right blue" style="width: 30%">{{team1.red_cards}}</span></div>
                <div class="text-center">RED CARDS</div>
                <div><span class="progress left" style="width: 0%">{{team2.red_cards}}</span></div>
              </div>

               <div class="progress-row">
                <div><span class="progress right blue" style="width: 30%">{{team1.corners}}</span></div>
                <div class="text-center">CORNERS</div>
                <div><span class="progress left" style="width: 0%">{{team2.corners}}</span></div>
              </div>

               <div class="progress-row">
                <div><span class="progress right blue" style="width: 30%">{{team1.fouls}}</span></div>
                <div class="text-center">FOULS</div>
                <div><span class="progress left" style="width: 0%">{{team2.fouls}}</span></div>
              </div>


              <div class="progress-row">
                <div><span class="progress right blue" style="width: 30%">{{team1.saves}}</span></div>
                <div class="text-center">SAVES</div>
                <div><span class="progress left" style="width: 0%">{{team2.saves}}</span></div>
              </div>

              <div class="progress-row">
                <div><span class="progress right blue" style="width: 30%">{{team1.offsides}}</span></div>
                <div class="text-center">OFFSIDES</div>
                <div><span class="progress left" style="width: 0%">{{team2.offsides}}</span></div>
              </div>


            </div>

          </div>
          
          <div id="events" class="tabcontent">
              <div class="match_timeline">
                  <div class="container">
                    <ul class="timeline">
                      {% for timeline in match_timeline %}
              <li class="{% if timeline.team.id == team1.team_id %}left{% else %}right{% endif %}"> <!-- Goal -->
                <div class="line-icon">
                  <span class="icon {% if timeline.type == 'GOAL' %} goal {% elif timeline.type == 'Penalty' %} penalty {% elif timeline.type == 'Yellow Card' %} yellow-card {% elif  timeline.type == 'Red Card' %} red-card {% elif timeline.type == 'substitution' %} in-out {% endif %}"></span>
                </div>
                <div class="line-content d-flex justify-content-center align-items-center">

                  {% if timeline.team.id == team1.team_id %}

                  <div class="caption">
                    <span class="text-success">{{timeline.goal}}</span>
                    <label>{{timeline.player}}</label>
                  </div>
                  <div class="time">
                    <span class="text-primary">{{timeline.minute}}'</span>
                  </div>

                  {% else %}
                   <div class="time">
                    <span class="text-primary">{{timeline.minute}}'</span>
                  </div>
                   <div class="caption">
                    <span class="text-success">{{timeline.goal}}</span>
                    <label>{{timeline.player}}</label>
                  </div>
                  {% endif %}
                </div>
              </li>
              {% endfor %}
                    </ul>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}