{% extends 'desktop/base.html' %}
{% load static %}
{% block title %} MO Salah - News {% endblock %}
{% load range %}
{% block content %}
<br>
        <div class="heroArea-banner">
            <img class="heroArea-banner_img" src="{% static 'desktop/images/salah-banner-2.png' %}" alt="">
            <div class="container">
                <div class="row">
                    <div class="col d-flex flex-column justify-content-center">
                        <h1 class="section-header">
                            أحدث
                            <br/>
                            أخبار محمد صلاح
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col col-md-5">
                        <ol>
                            <li><a href="{% url 'desktop-home' %}">الرئيسية</a></li>
                            <li><a href="{% url 'desktop-news' %}">الأخبار</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- .end HeroArea content -->
    </section>
    <!-- .end HeroArea -->

    <div class="container">
        <section class="news news-layout">
            <div class="d-flex res-column">
                {% for new in latest %}
                    {% if forloop.counter == 1 %}
                    <a href="{% url 'desktop-news-single' new.id %}" class="news-hot">
                        <img src="{{ image_host }}{{ new.imgid.url }}" alt="{{ new.title }}">
                        <div class="news-hot_content">
                            <time class="btn" datetime="2008-02-14 20:00">
                                {{ new.created_at }}
                            </time>
                            <h3>{{ new.title }}</h3>
                        </div>
                    </a>
                    {% endif %}
                {% endfor %}
                <div class="news-scroll">
                    {% for new in news_list %}
                        {% if forloop.counter > 1 and forloop.counter > 1 %}
                            <a href="{% url 'desktop-news-single' new.id %}" class="news-object d-flex">
                                <img src="{{ image_host }}{{ new.imgid.url }}" alt="{{ new.title }}">
                                <div class="d-flex flex-column">
                                    <h3>{{ new.title }}</h3>
                                    <time datetime="2008-02-14 20:00">
          {{ new.created_at }}
                                    </time>
                                    <p>{{ new.descr|safe|truncatewords:20 }}</p>
                                </div>
                            </a> <!-- .end single news -->
                        {% endif %}
                    {% endfor %}
                </div>

            </div>
        </section>
    </div>



    <section class="all-news">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="news-container">

                        {% for new in news_list %}
                            <a href="{% url 'desktop-news-single' new.id %}" class="news-object d-flex">
                                <img src="{{ image_host }}{{ new.imgid.url }}"
                                     alt="{{ new.title }}">
                                <div class="d-flex flex-column">
                                    <h3>{{ new.title }}</h3>
                                    <time datetime="2008-02-14 20:00">
                                        {{ new.created_at }}
                                    </time>
                                    <p>
                                        {{ new.descr|safe|truncatewords:20 }}
                                    </p>
                                </div>
                            </a> <!-- .end single news -->
                        {% endfor %}

                        <!--<a href="#" class="news-object d-flex">-->
                        <!--<img src="images/news-2.jpg" alt="جيرارد يتحدث عن حظوظ صلاح بالكرة الذهبية">-->
                        <!--<div class="d-flex flex-column">-->
                        <!--<h3>جيرارد يتحدث عن حظوظ صلاح بالكرة الذهبية</h3>-->
                        <!--<time datetime="2008-02-14 20:00">-->
                        <!--15 مايو 2018-->
                        <!--</time>-->
                        <!--<p>-->
                        <!--محمد صلاحمحمد صلاح نجم الفريق قائلاً أنه قادر على التألق لمزيد التألق لمزيد التألق لمزيد التألق لمزيد التألق لمزيد التألق لمزيد من السنوات مع من السنوات مع من السنوات مع من السنوات مع من السنوات مع من السنواتمع من السنوات مع من السنواتمع من السنوات مع من السنواتمع من السنوات مع من السنواتمع من السنوات مع من السنواتمع من السنوات مع من السنواتمع من السنوات مع من السنواتمع من السنوات مع من السنواتمع من السنوات مع من السنوات مع الريد-->
                        <!--</p>-->
                        <!--</div>-->
                        <!--</a> &lt;!&ndash; .end single news &ndash;&gt;-->


                        <nav class="pagination">
                            <ul>
                                <li><a href="{% url 'desktop-news' %}?page=1">First<i
                                        class="fas fa-angle-double-left"></i></a></li>
                                {% if page_obj.has_previous %}
                                    <li><a href="{% url 'desktop-news' %}?page={{ page_obj.previous_page_number }}"><i
                                            class="fas fa-angle-left"></i></a></li>
                                {% endif %}

                                {% for i in 5|times %}

                                    <li class="{% if request.GET.page == i|stringformat:'i' %} active {% endif %}"><a
                                            href="{% url 'desktop-news' %}?page={{ i }}">{{ i }}</a></li>
                                {% endfor %}

                                {% if page_obj.has_next %}
                                    <li><a href="{% url 'desktop-news' %}?page={{ page_obj.next_page_number }}"><i
                                            class="fas fa-angle-right"></i></a></li>
                                {% endif %}

                                <li><a href="{% url 'desktop-news' %}?page={{ page_obj.paginator.num_pages }}"><i
                                        class="fas fa-angle-double-right"></i>Last</a></li>
                            </ul>
                        </nav>


                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-12">
                            <div style="background:url({% static 'desktop/images/salah-2.png' %}) no-repeat"
                                 class="stats-box d-flex flex-column justify-content-between">
                                <div>
                                    <h3 class="text-head">عدد الأهداف</h3>
                                    <div class="text-stats">{{ goals.val|floatformat}}</div>
                                    <div class="text-stats-type">هدف</div>
                                </div>
                                <a class="stats-all" href="{% url 'desktop-news' %}">أرقام محمد صلاح</a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-12">
                            <div class="match-box d-flex flex-column justify-content-between">
                                <h3 class="match-head">المباراة السابقة</h3>
                                <div class="d-flex justify-content-center">
                                    <div class="match-team">
                                        {{ last_match.teams.all.0 }}
                                        <div class="match-team-score">{{ team1.score }}</div>
                                    </div>
                                    <div class="match-team">
                                        {{ last_match.teams.all.1 }}
                                        <div class="match-team-score">{{ team2.score }}</div>
                                    </div>
                                </div>
                                <a class="match-detail" href="{% url 'desktop-match-stats' %}?match_id={{last_match.id}}">تفاصيل المباراة</a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-12">
                            <div class="match-box d-flex flex-column justify-content-between">
                                <h3 class="match-head">المباراة القادمة</h3>
                                <div class="d-flex justify-content-center">
                                    <div class="match-team">
                                        {{ next_match.teams.all.0 }}
                                    </div>
                                    <div class="match-team">
                                        {{ next_match.teams.all.1 }}
                                    </div>
                                </div>
                                <div class="match-detail next" href="#">
                                    {{ next_match.start_date }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}