{% extends 'desktop/base.html' %}
{% load static %}
{% block title %} MO Salah - News {% endblock %}
{% load range %}
{% block content %}

  <section style="margin-top:50px" class="single-news">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8">
          <article>
            <h2 class="article-header">{{news_object.title}}</h2>
            <time class="article-time" datetime="2008-02-14 20:00">
{{news_object.created_at}}
            </time>
            <img class="article-img" src="{{image_host}}{{news_object.imgid.url}}" alt="أسطورة ليفربول: بقاء صلاح معنا أمر رائع">
            <p class="article-p">{{news_object.descr|safe}}
            </p>
          </article>
          
          <div class="related-news">
            <div class="row">
              <div class="col-12">
                <h2 class="related-news_header">أخبار أخرى</h2>
              </div>
            </div>
            <div class="row">
              {% for other in other_news %}
              <div class="col-12 col-md-6 col-lg-4">
                <a href="{% url 'desktop-news-single' other.id %}" class="news-object mini d-flex">
                  <img src="{{image_host}}{{other.imgid.url}}" alt="جيرارد يتحدث عن حظوظ صلاح بالكرة الذهبية">
                  <div class="d-flex flex-column">
                    <h3>{{other.title}}</h3>
                    <time datetime="2008-02-14 20:00">
                     {{other.created_at}}
                    </time>
                  </div>
                </a> <!-- .end single news -->
              </div>
{% endfor %}



            </div>
          </div>
        </div>


        <div class="col-12 col-lg-4">
          <div class="related-news invert">
            <div class="row">
              <div class="col-12">
                <h2 class="related-news_header">أخبار مميزة</h2>
              </div>
            </div>
            {% for item in featured %}
            <a href="{% url 'desktop-news-single' item.id %}" class="news-object mini d-flex">
              <img src="{{image_host}}{{item.imgid.url}}" alt="جيرارد يتحدث عن حظوظ صلاح بالكرة الذهبية">
              <div class="d-flex flex-column">
                <h3>{{item.title}}</h3>
                <time datetime="2008-02-14 20:00">
                    {{item.created_at}}
                </time>
              </div>
            </a> <!-- .end single news -->
          {% endfor %}
          </div>

         <div class="col-12 col-md-6 col-lg-12">
                <div class="match-box d-flex flex-column justify-content-between">
                  <h3 class="match-head">المباراة السابقة</h3>
                  <div class="d-flex justify-content-center">
                    <div class="match-team">
                      {{last_match.teams.all.0}}
                      <div class="match-team-score">{{team1.score}}</div>
                    </div>
                    <div class="match-team">
                      {{last_match.teams.all.1}}
                      <div class="match-team-score">{{team2.score}}</div>
                    </div>
                  </div>
                   <a class="match-detail" href="{% url 'desktop-match-stats' %}?match_id={{last_match.id}}">تفاصيل المباراة</a>
                </div>
              </div>
        </div>



      </div>
    </div>
  </section>

{% endblock %}