{% extends 'desktop/base.html' %}
{% load static %}
{% load mod_filter %}
{% block title %} MO Salah - Numbers {% endblock %}
{% block content %}
<br>
    <div class="heroArea-banner">
       <img class="heroArea-banner_img" src="{% static 'desktop/images/salah-banner-5.png' %}" alt="">
      <div class="container">
        <div class="row">
          <div class="col d-flex flex-column justify-content-center">
            <h1 class="section-header">
              أرقام محمد صلاح
            </h1>
          </div>
        </div>
      </div>
    </div>
    <div class="breadcrumb">
      <div class="container">
        <div class="row">
          <div class="col col-md-5">
            <ol>
              <li><a href="{% url 'desktop-home' %}">الرئيسية</a></li>
              <li><a href="#">أرقام محمد صلاح</a></li>
            </ol>
          </div>
          <div class="col col-md-7 d-flex justify-content-end">
            <button class="tablinks" id="selectDefault" onclick="openTab(event, 'premier-league')">البريميرليج</button>
            <button class="tablinks" onclick="openTab(event, 'champions-league')">أبطال أوروبا</button>
            <button class="tablinks" onclick="openTab(event, 'egypt')">منتخب مصر</button>
          </div>
        </div>
      </div>
    </div>
    <!-- .end HeroArea content -->
  </section>
  <!-- .end HeroArea -->

  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div id="premier-league" class="tabcontent">
            <div class="row">

              {% if numbers_objects|length > 1 %}
              <div class="col-md-6 col-lg-4">
                <table class="stats-table">
                  <tbody>
                  {% for number in numbers_objects %}
                    <tr>
                     <td style="width:65% !important">{{number.key}}</td>
                      <td style="width:35% !important">{{number.val|floatformat}}</td>
                    </tr>
                   {% if forloop.counter|divisibleby:3 and not forloop.last %}
                   </tbody>
                </table>
              </div>
              <div class="col-md-6 col-lg-4">
                <table class="stats-table">
                  <tbody>
                  {% endif %}
                  {% endfor %}

                  </tbody>
                </table>
              </div>
            {% endif %}
            </div>
          </div>
          <div id="champions-league" class="tabcontent">
            <div class="row">
              {% if champions|length > 1 %}
                            <div class="col-md-6 col-lg-4">
                <table class="stats-table">
                  <tbody>
                  {% for number in champions %}
                    <tr>
                      <td style="width:65% !important">{{number.key}}</td>
                      <td style="width:35% !important">{{number.val|floatformat}}</td>
                    </tr>
                   {% if forloop.counter|divisibleby:3 and not forloop.last %}
                   </tbody>
                </table>
              </div>
              <div class="col-md-6 col-lg-4">
                <table class="stats-table">
                  <tbody>
                  {% endif %}
                  {% endfor %}

                  </tbody>
                </table>
              </div>
              {% endif %}
            </div>
          </div>
          <div id="egypt" class="tabcontent">
            <div class="row">
              {% if world_cup|length > 1 %}
              <div class="col-md-6 col-lg-4">
                <table class="stats-table">
                  <tbody>
                  {% for number in world_cup %}
                    <tr>
                      <td style="width:65% !important">{{number.key}}</td>
                      <td style="width:35% !important">{{number.val|floatformat}}</td>
                    </tr>
                   {% if forloop.counter|divisibleby:3 and not forloop.last %}
                   </tbody>
                </table>
              </div>
              <div class="col-md-6 col-lg-4">
                <table class="stats-table">
                  <tbody>
                  {% endif %}
                  {% endfor %}

                  </tbody>
                </table>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}