{% extends 'desktop/base.html' %}
{% load static %}
{% block title %} MO Salah - Home {% endblock %}
{% block content %}
    <br>
    <div class="heroArea-banner">
       <img class="heroArea-banner_img" src="{% static 'desktop/images/salah-banner-3.png' %}" alt="">
      <div class="container">
        <div class="row">
          <div class="col d-flex flex-column justify-content-center">
            <h1 class="section-header">
الشروط والأحكام            </h1>
          </div>
        </div>
      </div>
    </div>
    <div class="breadcrumb">
      <div class="container">
        <div class="row">
          <div class="col col-md-5">
            <ol>
              <li><a href="{% url 'desktop-home' %}">الرئيسية</a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- .end HeroArea content -->
  </section>
  <!-- .end HeroArea -->

  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
         {{terms.text|safe}}
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}