{% extends 'desktop/base.html' %}
{% load static %}
{% block title %} MO Salah - Videos {% endblock %}
{% load range %}
{% block content %}
<br>

    <div class="heroArea-banner">
         <img class="heroArea-banner_img" src="{% static 'desktop/images/salah-banner-1.jpg' %}" alt="">
        <div class="container">
            <div class="row">
                <div class="col d-flex flex-column justify-content-center">
                    <h1 class="section-header">
                        أحدث
                        <br/>
                        فيديوهات محمد صلاح
                    </h1>
                    <a href="https://video.liverpoolfc.com/">
                        <img style="max-width:60%" src="{% static 'desktop/images/LFCTV.png' %}" alt="LFCTV">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col col-md-5">
                    <ol>
{#                        <li><a href="{% url 'desktop-home' %}">الرئيسية</a></li>#}
                        {#              <li><a href="{% url 'desktop-videos' %}">الفيديوهات</a></li>#}
                        {% if last_video %}
                        <li><a href="{% url 'desktop-liverpool' last_video.id %}">فيديوهات ليفربول</a></li>
                        {% endif %}
                        <li><a href="#">فيديوهات ليفربول</a></li>

                    </ol>
                </div>
                <div class="col col-md-7 d-flex justify-content-end">
                    <button class="tablinks active" id="selectDefault" onclick="openTab(event, 'all')">فيديوهات محمد صلاح
                    </button>

                    <button class="tablinks" onclick="window.location.href = `{% url 'desktop-videos-liverpool' %}`">صلاح فى ليفربول</button>
                    <!--<button class="tablinks" onclick="openTab(event, 'defense')">الدفاع</button>-->
                    <!--<button class="tablinks" onclick="openTab(event, 'scenes')">لقطات</button>-->
                </div>
            </div>
        </div>
    </div>
    <!-- .end HeroArea content -->
    </section>
    <!-- .end HeroArea -->

    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div id="all" class="tabcontent">
                        <div class="row">

                            {% for video in videos_list %}
                                <div class="col-lg-4 col-md-6">
                                    <a href="#" class="video-modal" onclick="openVideo(event, this)">
                                        <img src="{{ image_host }}{{ video.imgid.url }}"
                                             alt="محمد صلاح بعد آخر يوم تصوير لإعلان فودافون">
                                        <p>
                                            {{ video.title }}
                                            <i class="fas fa-play"></i>
                                        </p>
                                    </a>
                                    <div class="video-player">
                                        <div class="close-video" onclick="closeVideo(event, this)">
                                            <img src="{% static 'desktop/images/return.png' %}">
                                            الرجوع للفيديوهات
                                        </div>
                                        <video controlsList="nodownload" webkit-playsinline="true" playsinline="true" id="my-video" class="video-js" controls preload="auto" width="640"
                                               height="264" poster="{{ image_host }}{{ video.imgid.url }}"
                                               data-setup="{}">
                                            <source src="{{ video_host }}/{{ video.ftp_name }}"
                                                    type="video/mp4"></source>

                                            <p class="vjs-no-js">
                                                To view this video please enable JavaScript, and consider upgrading to a
                                                web browser that
                                                <a href="https://videojs.com/html5-video-support/" target="_blank">supports
                                                    HTML5 video</a>
                                            </p>
                                        </video>
                                        <a href="#" class="vf-logo">
                                            <img src="{% static 'desktop/images/vodafone-logo.png' %}">
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>

                        <nav class="pagination">
                            <ul>
                                <li><a href="{% url 'desktop-videos' %}?page=1">First<i
                                        class="fas fa-angle-double-left"></i></a></li>
                                {% if page_obj.has_previous %}
                                    <li><a href="{% url 'desktop-news' %}?page={{ page_obj.previous_page_number }}"><i
                                            class="fas fa-angle-left"></i></a></li>
                                {% endif %}

                                {% for i in 2|times %}

                                    <li class="{% if request.GET.page == i|stringformat:'i' %} active {% endif %}"><a
                                            href="{% url 'desktop-videos' %}?page={{ i }}">{{ i }}</a></li>
                                {% endfor %}

                                {% if page_obj.has_next %}
                                    <li><a href="{% url 'desktop-videos' %}?page={{ page_obj.next_page_number }}"><i
                                            class="fas fa-angle-right"></i></a></li>
                                {% endif %}

                                <li><a href="{% url 'desktop-videos' %}?page={{ page_obj.paginator.num_pages }}"><i
                                        class="fas fa-angle-double-right"></i>Last</a></li>
                            </ul>
                        </nav>


                    </div>
                    <!-- GOOOALS TAB -->
                    <div id="goals" class="tabcontent">
                        <div class="row">
                            <div class="col-md-12" style="text-align: center">
                                <a>
                                    زور LFCTV Go لآخر فيديوهات نادى ليفربول
                                    <br>
                                    <br>
                                    <img width="10%"  src="{% static 'lfctv/images/LFCTV.png' %}"> </a>
                            </div>
                            {% for video in liverpool_videos %}
                                <div class="col-lg-4 col-md-6">
                                    <a href="{% url 'desktop-liverpool' video.id %}" class="video-modal"
                                       onclick_="openVideo(event, this)">
                                        <img src="{{ image_host }}{{ video.imgid.url }}"
                                             alt="محمد صلاح بعد آخر يوم تصوير لإعلان فودافون">
                                        <p>
                                            {{ video.title }}
                                            <i class="fas fa-play"></i>
                                        </p>
                                    </a>
                                    <div class="video-player">
                                        <div class="close-video" onclick="closeVideo(event, this)">
                                            <img src="{% static 'desktop/images/return.png' %}">
                                            الرجوع للفيديوهات
                                        </div>
                                        <video controlsList="nodownload" webkit-playsinline="true" playsinline="true" id="my-video" class="video-js" controls preload="auto" width="640"
                                               height="264" poster="{{ image_host }}{{ video.imgid.url }}"
                                               data-setup="{}">
                                            <source src="{{ video_host }}/{{ video.ftp_name }}"
                                                    type="video/mp4"></source>

                                            <p class="vjs-no-js">
                                                To view this video please enable JavaScript, and consider upgrading to a
                                                web browser that
                                                <a href="https://videojs.com/html5-video-support/" target="_blank">supports
                                                    HTML5 video</a>
                                            </p>
                                        </video>
                                        <a href="#" class="vf-logo">
                                            <img src="{% static 'desktop/images/vodafone-logo.png' %}">
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>

                    <!-- DEFENSE TAB -->
                    <!--<div id="defense" class="tabcontent">-->
                    <!--<div class="row">-->
                    <!--<div class="col-lg-4 col-md-6">-->
                    <!--<a href="#" class="video-modal">-->
                    <!--<img src="images/videos-1.jpg" alt="محمد صلاح بعد آخر يوم تصوير لإعلان فودافون">-->
                    <!--<p>-->
                    <!--محمد صلاح بعد آخر يوم تصوير لإعلان فودافون-->
                    <!--<i class="fas fa-play"></i>-->
                    <!--</p>-->
                    <!--</a>-->
                    <!--</div>-->
                    <!--<div class="col-lg-4 col-md-6">-->
                    <!--<a href="#" class="video-modal">-->
                    <!--<img src="images/videos-1.jpg" alt="محمد صلاح بعد آخر يوم تصوير لإعلان فودافون">-->
                    <!--<p>-->
                    <!--محمد صلاح بعد آخر يوم تصوير لإعلان فودافون-->
                    <!--<i class="fas fa-play"></i>-->
                    <!--</p>-->
                    <!--</a>-->
                    <!--</div>-->
                    <!--<div class="col-lg-4 col-md-6">-->
                    <!--<a href="#" class="video-modal">-->
                    <!--<img src="images/videos-1.jpg" alt="محمد صلاح بعد آخر يوم تصوير لإعلان فودافون">-->
                    <!--<p>-->
                    <!--محمد صلاح بعد آخر يوم تصوير لإعلان فودافون-->
                    <!--<i class="fas fa-play"></i>-->
                    <!--</p>-->
                    <!--</a>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!-- SCENES TAB -->
                    <!--<div id="scenes" class="tabcontent">-->
                    <!--<div class="row">-->
                    <!--<div class="col-lg-4 col-md-6">-->
                    <!--<a href="#" class="video-modal">-->
                    <!--<img src="images/videos-1.jpg" alt="محمد صلاح بعد آخر يوم تصوير لإعلان فودافون">-->
                    <!--<p>-->
                    <!--محمد صلاح بعد آخر يوم تصوير لإعلان فودافون-->
                    <!--<i class="fas fa-play"></i>-->
                    <!--</p>-->
                    <!--</a>-->
                    <!--</div>-->
                    <!--<div class="col-lg-4 col-md-6">-->
                    <!--<a href="#" class="video-modal">-->
                    <!--<img src="images/videos-1.jpg" alt="محمد صلاح بعد آخر يوم تصوير لإعلان فودافون">-->
                    <!--<p>-->
                    <!--محمد صلاح بعد آخر يوم تصوير لإعلان فودافون-->
                    <!--<i class="fas fa-play"></i>-->
                    <!--</p>-->
                    <!--</a>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->

                </div>
            </div>
        </div>
    </section>

{% endblock %}