@import url("https://fonts.googleapis.com/css?family=Lato:300,700");
@import url(../css/bootstrap.min.css);
@import "https://use.fontawesome.com/releases/v5.2.0/css/all.css";
@import url(../css/OwlCarousel/owl.carousel.min.css);
@font-face {
  font-family: 'GE-UltraLight';
  src: url(../fonts/GE_SS_Text_UltraLight.otf);
}
@font-face {
  font-family: 'GE-Bold';
  src: url(../fonts/GE_SS_Two_Bold.otf);
}
@font-face {
  font-family: 'Lato', sans-serif;
}
@font-face {
  font-family: 'Atletico';
  src: url(../fonts/Atletico_Light.otf);
}
/* line 40, ../sass/style.scss */
.en {
  font-family: "Lato";
}

/* line 41, ../sass/style.scss */
.ar {
  font-family: "GE-UltraLight";
}

/***
Custom Scrollbars
***/
/* line 71, ../sass/style.scss */
body {
  font-family: "GE-UltraLight";
  color: #FFFFFF;
  overflow: hidden;
}
/* line 76, ../sass/style.scss */
body .wrapper {
  -moz-perspective: 1000;
  -webkit-perspective: 1000;
  perspective: 1000;
  overflow: visible !important;
}
/* line 81, ../sass/style.scss */
body .main-container {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  background-image: url(../images/main-bg.jpg);
  background-position: center;
  background-size: cover;
  background-color: #150c0c;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-transform: translateX(0) rotateY(0deg) scale(1);
  -ms-transform: translateX(0) rotateY(0deg) scale(1);
  -webkit-transform: translateX(0) rotateY(0deg) scale(1);
  transform: translateX(0) rotateY(0deg) scale(1);
}
/* line 98, ../sass/style.scss */
body.menu-open .main-container {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-transform: translateX(-50%) rotateY(40deg) scale(0.9);
  -ms-transform: translateX(-50%) rotateY(40deg) scale(0.9);
  -webkit-transform: translateX(-50%) rotateY(40deg) scale(0.9);
  transform: translateX(-50%) rotateY(40deg) scale(0.9);
}

/* line 104, ../sass/style.scss */
a, button {
  outline: none !important;
  text-decoration: none !important;
}

/* line 108, ../sass/style.scss */
.btn-red {
  color: #FFFFFF;
  background-color: #a61417;
}
/* line 111, ../sass/style.scss */
.btn-red:hover {
  background-color: #360000;
}

/* line 115, ../sass/style.scss */
.container {
  max-width: 767px;
  padding: 0 10px;
}

/* line 120, ../sass/style.scss */
.form-control:focus {
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.25);
}

/* line 124, ../sass/style.scss */
header {
  padding: 40px 15px;
}
/* line 126, ../sass/style.scss */
header .container {
  padding: 0;
}
/* line 129, ../sass/style.scss */
header .v-logo {
  float: left;
}
/* line 131, ../sass/style.scss */
header .v-logo img {
  width: 32px;
}
/* line 136, ../sass/style.scss */
header .menu-btn, header .return {
  float: right;
  background: none;
  border: 0;
  padding: 2px 5px;
  cursor: pointer;
}
/* line 144, ../sass/style.scss */
header .menu-btn div {
  width: 32px;
  height: 2px;
  background-color: #FFFFFF;
  margin: 6px 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/* line 153, ../sass/style.scss */
header .return {
  width: 40px;
  height: 40px;
  background-image: url(../images/icons/return.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 38px;
}
/* line 163, ../sass/style.scss */
header .return-title {
  display: inline-block;
  margin: 5px;
  font-size: 20px;
}

/* line 169, ../sass/style.scss */
.header-caption {
  text-align: center;
  position: relative;
}
/* line 172, ../sass/style.scss */
.header-caption:not(.with-content) {
  height: 180px;
  padding: 10px 0 0;
}
/* line 176, ../sass/style.scss */
.header-caption.with-content {
  padding: 15px 12px;
}
/* line 178, ../sass/style.scss */
.header-caption.with-content h3 {
  font-size: 22px;
  margin: 10px 0;
}
/* line 183, ../sass/style.scss */
.header-caption.with-bg {
  background-color: rgba(64, 2, 3, 0.9);
}
/* line 186, ../sass/style.scss */
.header-caption.no-image {
  padding-top: 80px;
}
/* line 189, ../sass/style.scss */
.header-caption img {
  max-height: 170px;
}
/* line 191, ../sass/style.scss */
.header-caption img.big {
  margin-right: -20px;
  height: 100%;
}
/* line 195, ../sass/style.scss */
.header-caption img.small {
  height: 100px;
}
/* line 199, ../sass/style.scss */
.header-caption h2 {
  text-align: left;
  font-size: 22px;
  position: absolute;
  bottom: 20px;
  left: 15px;
  line-height: 25px;
  margin: 0;
}
/* line 207, ../sass/style.scss */
.header-caption h2.center {
  font-size: 22px;
  font-weight: bold;
  right: 15px;
  bottom: 40px;
  text-align: center;
}

/* line 216, ../sass/style.scss */
.menu-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #150c0c;
  padding: 40px 15px;
  z-index: -1;
  overflow: hidden;
  color: #FFFFFF;
  -webkit-overflow-scrolling: touch;
}
/* line 228, ../sass/style.scss */
.menu-container > div {
  height: 100%;
}
/* line 230, ../sass/style.scss */
.menu-container > div .user {
  font-family: "Lato";
  text-align: right;
}
/* line 233, ../sass/style.scss */
.menu-container > div .user h3 {
  font-size: 18px;
  margin: 0 0 2px;
  font-weight: 700;
}
/* line 238, ../sass/style.scss */
.menu-container > div .user a {
  font-size: 14px;
  color: #FFFFFF;
  font-weight: 300;
  opacity: 0.8;
}
/* line 243, ../sass/style.scss */
.menu-container > div .user a:hover {
  color: #f02c3e;
}
/* line 248, ../sass/style.scss */
.menu-container > div ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 255, ../sass/style.scss */
.menu-container > div .menu ul li {
  margin: 10px 0;
  text-align: right;
}
/* line 258, ../sass/style.scss */
.menu-container > div .menu ul li a {
  color: #FFFFFF;
  font-size: 18px;
}
/* line 261, ../sass/style.scss */
.menu-container > div .menu ul li a:hover {
  color: #f02c3e;
}
/* line 269, ../sass/style.scss */
.menu-container > div .social ul {
  text-align: right;
}
/* line 271, ../sass/style.scss */
.menu-container > div .social ul li {
  display: inline-block;
}
/* line 273, ../sass/style.scss */
.menu-container > div .social ul li + li {
  margin-left: 20px;
}
/* line 276, ../sass/style.scss */
.menu-container > div .social ul li a {
  display: block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
/* line 285, ../sass/style.scss */
.menu-container > div .social ul li a.facebook {
  background-image: url(../images/icons/facebook.png);
}
/* line 286, ../sass/style.scss */
.menu-container > div .social ul li a.twitter {
  background-image: url(../images/icons/twitter.png);
}
/* line 287, ../sass/style.scss */
.menu-container > div .social ul li a.google {
  background-image: url(../images/icons/google.png);
}

/* line 295, ../sass/style.scss */
.page-content {
  background-color: rgba(0, 0, 0, 0.42);
  padding: 30px 10px;
  height: calc(100vh - 180px);
  overflow: auto;
}
/* line 300, ../sass/style.scss */
.page-content.with-bg {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px 10px;
}
/* line 304, ../sass/style.scss */
.page-content form {
  margin: 0;
}
/* line 306, ../sass/style.scss */
.page-content form .form-control {
  background-color: #150c0c;
  border: 1px solid #2d2d2d;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  font-size: 20px;
  padding: 8px 12px;
  color: #FFFFFF;
}
/* line 315, ../sass/style.scss */
.page-content form textarea.form-control {
  height: 240px;
  max-width: 100%;
  resize: none;
}
/* line 320, ../sass/style.scss */
.page-content form .btn {
  font-size: 20px;
  padding: 10px 30px;
}

/*********************
***** LOGIN PAGE *****
*********************/
/* line 329, ../sass/style.scss */
.login-page {
  min-height: 100vh;
  text-align: center;
}
/* line 332, ../sass/style.scss */
.login-page > div {
  position: relative;
  z-index: 1;
}
/* line 336, ../sass/style.scss */
.login-page:after {
  content: "";
  height: 25vh;
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF000000', endColorstr='#FFA80000');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC44Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.8)));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}
/* line 350, ../sass/style.scss */
.login-page .logo-container {
  margin-bottom: 50px;
  margin-right: -10px;
  position: relative;
  display: inline-block;
}
/* line 355, ../sass/style.scss */
.login-page .logo-container img {
  max-width: 100%;
  max-width: 180px;
}
/* line 359, ../sass/style.scss */
.login-page .logo-container span {
  font-size: 30px;
  line-height: 35px;
  position: absolute;
  top: 115px;
  left: -30px;
  font-family: "GE-Bold";
  text-align: right;
}
/* line 369, ../sass/style.scss */
.login-page .login-form {
  text-align: center;
  color: #FFF;
}
/* line 373, ../sass/style.scss */
.login-page .form-control {
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #FFFFFF;
  font-size: 20px;
  box-shadow: none;
  text-align: center;
  color: #FFFFFF;
  padding: 12px;
}
/* line 384, ../sass/style.scss */
.login-page .btn {
  margin: 10px 0;
  padding: 10px 60px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
/* line 389, ../sass/style.scss */
.login-page .create-account {
  color: #FFFFFF;
}

/*********************
***** HOME PAGE *****
*********************/
/* line 396, ../sass/style.scss */
.home-page {
  padding: 0;
}
/* line 398, ../sass/style.scss */
.home-page .home-sections.news {
  background-color: #6a0d0f;
  padding: 10px 0 0;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0;
  border-radius: 0 0 10px 10px;
}
/* line 402, ../sass/style.scss */
.home-page .home-sections.news .row {
  margin: 0 -10px;
}

/* line 407, ../sass/style.scss */
.section-title {
  padding: 10px 20px;
  background-color: #280000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 0;
  font-size: 20px;
  text-align: right;
}

/* line 415, ../sass/style.scss */
.next-match {
  padding: 20px 7px;
  direction: rtl;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  width: 100%;
  background-image: url(../images/demo/next-match.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 425, ../sass/style.scss */
.next-match .time {
  text-align: right;
}
/* line 427, ../sass/style.scss */
.next-match .time label {
  font-size: 14px;
  display: block;
  margin: 0;
}
/* line 432, ../sass/style.scss */
.next-match .time span {
  color: #f02c3e;
  font-size: 12px;
}
/* line 437, ../sass/style.scss */
.next-match .teams {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
/* line 442, ../sass/style.scss */
.next-match .match-team {
  font-size: 22px;
  padding: 0 10px;
}
/* line 446, ../sass/style.scss */
.next-match .match-team_score {
  font-size: 26px;
  color: #9b1316;
  font-weight: bold;
}
/* line 451, ../sass/style.scss */
.next-match .match_status {
  font-size: 22px;
  color: #c22528;
  font-weight: bold;
}
/* line 457, ../sass/style.scss */
.next-match .ch-logo img {
  max-width: 60px;
  max-height: 60px;
}

/* line 463, ../sass/style.scss */
.in-row {
  margin: 0 -10px;
}

/* line 464, ../sass/style.scss */
.countdown {
  width: 100%;
  padding: 10px;
  text-align: center;
  direction: rtl;
}
/* line 469, ../sass/style.scss */
.countdown span {
  margin: 0 5px;
}
/* line 470, ../sass/style.scss */
.countdown.live {
  background-color: #000;
}

/* line 474, ../sass/style.scss */
.salah-numbers {
  background-color: #FFFFFF;
  color: #150c0c;
}
/* line 477, ../sass/style.scss */
.salah-numbers .numbers-content {
  text-align: center;
  width: 100%;
  padding-right: 100px;
  background-image: url(../images/demo/salah.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right -100px;
}
/* line 487, ../sass/style.scss */
.salah-numbers .numbers-content h4 {
  margin: 15px 0;
}
/* line 490, ../sass/style.scss */
.salah-numbers .numbers-content table {
  border: 0;
}
/* line 492, ../sass/style.scss */
.salah-numbers .numbers-content table td {
  text-align: center;
  padding: 30px;
  font-size: 20px;
  font-family: "GE-Bold";
}
/* line 497, ../sass/style.scss */
.salah-numbers .numbers-content table td span {
  display: block;
  color: #f02c3e;
  font-size: 12px;
  font-family: "GE-UltraLight";
}
/* line 505, ../sass/style.scss */
.salah-numbers .numbers-content table tr:first-child td {
  padding-top: 0;
  border-top: 0;
}
/* line 506, ../sass/style.scss */
.salah-numbers .numbers-content table tr:last-child td {
  padding-bottom: 0;
  border-bottom: 0;
}
/* line 508, ../sass/style.scss */
.salah-numbers .numbers-content table tr td:last-child {
  border-right: 0;
}
/* line 509, ../sass/style.scss */
.salah-numbers .numbers-content table tr td:first-child {
  border-left: 0;
}

/* line 514, ../sass/style.scss */
.main-slider {
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.7);
}
/* line 517, ../sass/style.scss */
.main-slider h3 {
  text-align: right;
  margin: 0 0 12px;
  font-size: 22px;
}
/* line 522, ../sass/style.scss */
.main-slider .caption {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  padding: 12px;
  color: #fff;
  background-color: rgba(23, 0, 0, 0.7);
}
/* line 531, ../sass/style.scss */
.main-slider .caption.has-video {
  padding-right: 60px;
  background-image: url(../images/icons/play-red.png);
  background-position: center right 12px;
  background-size: 38px;
  background-repeat: no-repeat;
}
/* line 540, ../sass/style.scss */
.main-slider .caption h5 {
  text-align: right;
  margin: 0;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  direction: rtl;
}
/* line 550, ../sass/style.scss */
.main-slider .owl-dots {
  position: absolute;
  top: -30px;
  left: 0;
  z-index: 1;
}
/* line 555, ../sass/style.scss */
.main-slider .owl-dots > div {
  float: left;
  width: 7px;
  height: 7px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 0 2px;
  background-color: #f02c3e;
}
/* line 562, ../sass/style.scss */
.main-slider .owl-dots > div.active {
  background-color: #FFFFFF;
}

/* line 568, ../sass/style.scss */
.home-sections {
  background-color: #a61417;
}
/* line 570, ../sass/style.scss */
.home-sections .home-section {
  background-color: #280000;
  padding: 12px;
  margin: 10px 0;
  color: #FFFFFF;
  text-align: right;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 577, ../sass/style.scss */
.home-sections .home-section h4 {
  font-size: 16px;
  margin: 0;
}
/* line 581, ../sass/style.scss */
.home-sections .home-section .image-container {
  margin: 12px -12px;
  height: 12vh;
  overflow: hidden;
}
/* line 585, ../sass/style.scss */
.home-sections .home-section .image-container img {
  width: 100%;
}
/* line 589, ../sass/style.scss */
.home-sections .home-section p {
  font-size: 12px;
  margin: 0;
  height: 30px;
  line-height: 15px;
}
/* line 595, ../sass/style.scss */
.home-sections .home-section span {
  display: block;
  color: #a61417;
  font-size: 10px;
}

/*********************
***** NEWS PAGE *****
*********************/
/* line 605, ../sass/style.scss */
.news-page {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px 10px;
}

/* line 609, ../sass/style.scss */
.news-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 613, ../sass/style.scss */
.news-list > li {
  direction: rtl;
  text-align: right;
  margin: 20px 0;
}
/* line 617, ../sass/style.scss */
.news-list > li a {
  display: table;
  width: 100%;
  color: #FFFFFF;
}
/* line 621, ../sass/style.scss */
.news-list > li a:hover {
  color: #a61417;
}
/* line 624, ../sass/style.scss */
.news-list > li a:visited {
  color: #8c8bb5;
}
/* line 628, ../sass/style.scss */
.news-list > li .image-container {
  float: right;
  width: 90px;
  height: 70px;
  padding: 0;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
/* line 634, ../sass/style.scss */
.news-list > li .image-container img {
  width: 100%;
  height: 100%;
}
/* line 639, ../sass/style.scss */
.news-list > li div {
  overflow: hidden;
  padding: 8px 20px;
}
/* line 643, ../sass/style.scss */
.news-list > li p {
  font-size: 15px;
  margin: 0;
  height: 35px;
  line-height: 18px;
}
/* line 649, ../sass/style.scss */
.news-list > li span {
  display: block;
  color: #f02c3e;
  font-size: 12px;
}

/*********************
***** VIDEOS PAGE *****
*********************/
/* line 659, ../sass/style.scss */
.videos-page {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px 10px;
}
/* line 662, ../sass/style.scss */
.videos-page .videos-list {
  list-style: none;
  padding: 0;
  margin: 0;
  direction: rtl;
  display: table;
  width: 100%;
}
/* line 669, ../sass/style.scss */
.videos-page .videos-list .col-6 {
  float: right;
  text-align: right;
  margin: 10px 0;
}
/* line 673, ../sass/style.scss */
.videos-page .videos-list .col-6 a {
  display: table;
  width: 100%;
  color: #FFFFFF;
  position: relative;
  overflow: hidden;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
/* line 680, ../sass/style.scss */
.videos-page .videos-list .col-6 a:hover {
  color: #a61417;
}
/* line 683, ../sass/style.scss */
.videos-page .videos-list .col-6 a:visited {
  color: #8c8bb5;
}
/* line 687, ../sass/style.scss */
.videos-page .videos-list .col-6 .image-container {
  height: 120px;
}
/* line 689, ../sass/style.scss */
.videos-page .videos-list .col-6 .image-container img {
  width: 100%;
  height: 100%;
}
/* line 694, ../sass/style.scss */
.videos-page .videos-list .col-6 .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  padding: 5px 12px;
  padding-left: 35px;
  background-color: rgba(108, 0, 0, 0.65);
  background-image: url(../images/icons/play.png);
  background-position: center left 14px;
  background-repeat: no-repeat;
  background-size: 15px;
}
/* line 709, ../sass/style.scss */
.videos-page .videos-list .col-6 .caption p {
  font-size: 11px;
  margin: 0;
  height: 28px;
  line-height: 15px;
}

/* line 722, ../sass/style.scss */
.video-player .vjs-poster {
  background-size: cover;
}
/* line 723, ../sass/style.scss */
.video-player .video-js {
  width: 100%;
  height: 100vh;
}
/* line 729, ../sass/style.scss */
.video-player .video-js .vjs-control-bar {
  background-color: transparent;
}
/* line 731, ../sass/style.scss */
.video-player .video-js .vjs-control-bar > *:not(.vjs-progress-control) {
  display: none;
}

/*********************
***** NEWS DETAILS PAGE *****
*********************/
/* line 741, ../sass/style.scss */
.news-details {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
/* line 748, ../sass/style.scss */
.news-details:after {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjc1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(60%, rgba(0, 0, 0, 0.75)), color-stop(100%, rgba(0, 0, 0, 0.9)));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 60%, rgba(0, 0, 0, 0.9) 100%);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 60%, rgba(0, 0, 0, 0.9) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 60%, rgba(0, 0, 0, 0.9) 100%);
}
/* line 758, ../sass/style.scss */
.news-details > div {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  width: 100%;
  color: #FFFFFF;
  z-index: 1;
  text-align: right;
  padding: 20px;
}
/* line 768, ../sass/style.scss */
.news-details > div h2 {
  margin: 0 0 10px;
  font-size: 20px;
  font-weight: bold;
}
/* line 773, ../sass/style.scss */
.news-details > div h3 {
  font-weight: bold;
  margin: 0;
  font-size: 18px;
}
/* line 778, ../sass/style.scss */
.news-details > div span.time {
  color: #f02c3e;
  font-size: 14px;
}
/* line 782, ../sass/style.scss */
.news-details > div .body {
  font-size: 18px;
  overflow: auto;
  max-height: 60vh;
  margin: 25px -10px 0;
  padding: 0 10px;
}
/* line 788, ../sass/style.scss */
.news-details > div .body p {
  margin-bottom: 20px;
}

/*********************
***** CHAMPION PAGE *****
*********************/
/* line 798, ../sass/style.scss */
.main-container .nav-pills {
  background-color: #360000;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
/* line 801, ../sass/style.scss */
.main-container .nav-pills a {
  color: #FFFFFF;
  font-size: 14px;
  padding: 12px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
/* line 806, ../sass/style.scss */
.main-container .nav-pills a.active {
  background-color: #a61417;
}
/* line 811, ../sass/style.scss */
.main-container .tab-pane {
  padding: 20px 0 0;
}
/* line 813, ../sass/style.scss */
.main-container .tab-pane .tab-title {
  text-align: center;
  font-size: 18px;
  margin: 0;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #3c3c3c;
}
/* line 821, ../sass/style.scss */
.main-container .tab-pane table {
  margin: 0;
}

/* line 826, ../sass/style.scss */
.champion-page {
  background-color: rgba(21, 12, 12, 0.8);
  padding: 25px 10px;
}
/* line 829, ../sass/style.scss */
.champion-page .league-table {
  border: 0;
  color: #FFFFFF;
  font-family: "Lato";
}
/* line 833, ../sass/style.scss */
.champion-page .league-table tbody tr:first-child {
  color: #00d062;
}
/* line 834, ../sass/style.scss */
.champion-page .league-table th, .champion-page .league-table td {
  border: 0;
  padding: 5px;
  vertical-align: middle;
}
/* line 838, ../sass/style.scss */
.champion-page .league-table th:last-child, .champion-page .league-table td:last-child {
  text-align: right;
}
/* line 839, ../sass/style.scss */
.champion-page .league-table th:first-child, .champion-page .league-table td:first-child {
  width: 35px;
}
/* line 841, ../sass/style.scss */
.champion-page .league-table th {
  font-weight: 700;
}
/* line 844, ../sass/style.scss */
.champion-page .league-table .stable {
  margin: auto;
  display: block;
  width: 7px;
  height: 7px;
  background-color: #00d062;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 852, ../sass/style.scss */
.champion-page .league-table .up, .champion-page .league-table .down {
  margin: auto;
  display: block;
  width: 15px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
/* line 863, ../sass/style.scss */
.champion-page .league-table .up {
  background-image: url(../images/icons/up.png);
}
/* line 864, ../sass/style.scss */
.champion-page .league-table .down {
  background-image: url(../images/icons/down.png);
}
/* line 866, ../sass/style.scss */
.champion-page .teams-table {
  overflow: auto;
}
/* line 868, ../sass/style.scss */
.champion-page .teams-table .table {
  border: 0;
  color: #FFFFFF;
  font-family: "Lato";
}
/* line 872, ../sass/style.scss */
.champion-page .teams-table .table th, .champion-page .teams-table .table td {
  border: 0;
  padding: 5px;
  vertical-align: middle;
}
/* line 877, ../sass/style.scss */
.champion-page .teams-table .table th {
  padding: 20px 20px 20px 0;
}
/* line 878, ../sass/style.scss */
.champion-page .teams-table .table span {
  width: 28px;
  line-height: 28px;
  height: 28px;
  text-align: center;
  text-transform: uppercase;
  display: block;
  font-size: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 887, ../sass/style.scss */
.champion-page .teams-table .table span.win {
  background-color: #00d062;
}
/* line 888, ../sass/style.scss */
.champion-page .teams-table .table span.lose {
  background-color: #f02c3e;
}
/* line 889, ../sass/style.scss */
.champion-page .teams-table .table span.draw {
  background-color: #150c0c;
}
/* line 894, ../sass/style.scss */
.champion-page .league-matches {
  color: #FFFFFF;
  font-family: "Lato";
}
/* line 898, ../sass/style.scss */
.champion-page .league-matches tr:first-child th, .champion-page .league-matches tr:first-child td {
  border: 0;
}
/* line 900, ../sass/style.scss */
.champion-page .league-matches tr, .champion-page .league-matches td {
  padding: 8px;
}

/*********************
***** NUMBERS PAGE *****
*********************/
/* line 909, ../sass/style.scss */
.numbers-page {
  background-color: #1f272d;
  height: calc(100vh - 220px);
}
/* line 913, ../sass/style.scss */
.numbers-page table th {
  background-color: #f02c3e;
}
/* line 916, ../sass/style.scss */
.numbers-page table th, .numbers-page table td {
  border: 0;
  padding: 2px;
}
/* line 922, ../sass/style.scss */
.numbers-page .tab-content .tab-pane {
  padding: 0;
}

/*********************
***** ASK PAGE *****
*********************/
/* line 931, ../sass/style.scss */
.title {
  font-size: 25px;
  margin: 0 0 20px;
  text-align: center;
}

/* line 936, ../sass/style.scss */
.ask-page {
  background-color: rgba(0, 0, 0, 0.42);
  padding: 30px 10px;
}

/*********************
***** SOCAIL PAGE *****
*********************/
/* line 943, ../sass/style.scss */
.social-page {
  background-color: #242c32;
  padding: 15px 0;
}
/* line 946, ../sass/style.scss */
.social-page .social-feeds {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 950, ../sass/style.scss */
.social-page .social-feeds li {
  background-color: #FFFFFF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 20px 20px 20px 70px;
  margin: 5px 0;
  direction: rtl;
  color: #150c0c;
  background-position: center left 20px;
  background-repeat: no-repeat;
  background-size: 27px;
}
/* line 962, ../sass/style.scss */
.social-page .social-feeds li.facebook {
  background-image: url(../images/icons/s-facebook.png);
}
/* line 963, ../sass/style.scss */
.social-page .social-feeds li.twitter {
  background-image: url(../images/icons/s-twitter.png);
}
/* line 964, ../sass/style.scss */
.social-page .social-feeds li p {
  margin: 0;
  font-size: 13px;
  text-align: right;
}

/*********************
***** Prediction PAGE *****
*********************/
/* line 977, ../sass/style.scss */
.prediction-page form {
  text-align: center;
  margin-top: 50px;
}
/* line 980, ../sass/style.scss */
.prediction-page form h4 {
  font-weight: bold;
}
/* line 983, ../sass/style.scss */
.prediction-page form .form-control {
  font-size: 100px;
  font-weight: bold;
  margin: 10px 0 60px;
  text-align: center;
}
/* line 989, ../sass/style.scss */
.prediction-page form .form-group {
  position: relative;
}
/* line 993, ../sass/style.scss */
.prediction-page form .row .col:first-child .form-group:after {
  content: ":";
  font-size: 100px;
  font-weight: bold;
  position: absolute;
  right: -25px;
  top: 50%;
  margin-top: -90px;
}

/*********************
***** MATCH STATUS PAGE *****
*********************/
/* line 1010, ../sass/style.scss */
.match-status {
  padding-top: 120px;
  padding-bottom: 30px;
  background-color: #150c0c;
  height: 100vh;
}
/* line 1015, ../sass/style.scss */
.match-status > div {
  height: calc(100vh - 120px);
  overflow: auto;
}
/* line 1019, ../sass/style.scss */
.match-status .status-board {
  padding: 0 15px 50px;
  font-size: 15px;
  font-family: "GE-Bold";
}
/* line 1023, ../sass/style.scss */
.match-status .status-board span {
  margin: 0;
}
/* line 1024, ../sass/style.scss */
.match-status .status-board .text-center {
  font-family: "Lato";
  font-weight: bold;
  font-size: 45px;
  line-height: 40px;
}

/* line 1032, ../sass/style.scss */
.status-board {
  padding: 15px;
  font-size: 22px;
  font-weight: bold;
}
/* line 1037, ../sass/style.scss */
.status-board.with-bg {
  background-color: rgba(21, 12, 12, 0.82);
}
/* line 1038, ../sass/style.scss */
.status-board span {
  margin: 0 7px;
}
/* line 1039, ../sass/style.scss */
.status-board .result {
  font-family: "Lato";
  font-size: 45px;
  line-height: 40px;
}

/* line 1045, ../sass/style.scss */
.progress-status {
  width: 100%;
  text-transform: uppercase;
  font-family: "Lato";
  font-weight: 700;
  margin: 0 0 35px;
}
/* line 1051, ../sass/style.scss */
.progress-status:last-child {
  margin-bottom: 0;
}
/* line 1054, ../sass/style.scss */
.progress-status td {
  width: 30%;
}
/* line 1056, ../sass/style.scss */
.progress-status td.text-center {
  white-space: nowrap;
  width: auto;
}
/* line 1061, ../sass/style.scss */
.progress-status th, .progress-status td {
  border: 0;
  padding: 5px;
  font-size: 14px;
}
/* line 1066, ../sass/style.scss */
.progress-status .progress {
  padding: 1px 4px;
  height: auto;
  display: block;
  font-size: 11px;
  line-height: 14px;
  min-width: 20px;
  font-weight: bold;
  background-color: #150c0c;
}
/* line 1075, ../sass/style.scss */
.progress-status .progress.green {
  background-color: #00d062;
}
/* line 1076, ../sass/style.scss */
.progress-status .progress.blue {
  background-color: #06a4ff;
}
/* line 1077, ../sass/style.scss */
.progress-status .progress.right {
  float: right;
  text-align: right;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px 0 0 5px;
}
/* line 1082, ../sass/style.scss */
.progress-status .progress.left {
  float: left;
  text-align: left;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0;
  border-radius: 0 5px 5px 0;
}

/* line 1090, ../sass/style.scss */
.salah-status {
  padding: 0 0 30px;
  background-color: #3e0203;
}
/* line 1093, ../sass/style.scss */
.salah-status .progress {
  background-color: #2b0102;
}

/* line 1098, ../sass/style.scss */
.match-details {
  height: calc(100vh - 165px);
  line-height: 16px;
  font-size: 13px;
}
/* line 1102, ../sass/style.scss */
.match-details.page-content {
  padding: 20px 0;
}
/* line 1103, ../sass/style.scss */
.match-details img {
  width: 100%;
}

/* line 1106, ../sass/style.scss */
.match-live {
  padding: 20px 5px;
}
/* line 1108, ../sass/style.scss */
.match-live .details-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 1112, ../sass/style.scss */
.match-live .details-list li {
  font-size: 13px;
  font-family: "Lato";
  margin-bottom: 10px;
}
/* line 1117, ../sass/style.scss */
.match-live .details-list .per-minute {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
/* line 1121, ../sass/style.scss */
.match-live .details-list .per-minute > span {
  display: block;
  margin-bottom: 10px;
}

/* line 1128, ../sass/style.scss */
.icon {
  width: 20px;
  height: 18px;
  margin: auto;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
/* line 1138, ../sass/style.scss */
.icon.goal {
  background-image: url(../images/icons/goal-icon.png);
}
/* line 1139, ../sass/style.scss */
.icon.penalty {
  background-image: url(../images/icons/penalty-icon.png);
}
/* line 1140, ../sass/style.scss */
.icon.yellow-card {
  background-image: url(../images/icons/yellow-card.png);
}
/* line 1141, ../sass/style.scss */
.icon.red-card {
  background-image: url(../images/icons/red-card.png);
}
/* line 1142, ../sass/style.scss */
.icon.in-out {
  background-image: url(../images/icons/in-out.png);
}

/* line 1144, ../sass/style.scss */
.match-timeline {
  height: calc(100vh - 165px);
  padding: 0 10px !important;
}
/* line 1147, ../sass/style.scss */
.match-timeline .timeline {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 1151, ../sass/style.scss */
.match-timeline .timeline li {
  position: relative;
  font-family: "Lato";
}
/* line 1155, ../sass/style.scss */
.match-timeline .timeline li .line-content > div {
  width: 50%;
  padding: 18px;
}
/* line 1158, ../sass/style.scss */
.match-timeline .timeline li .line-content > div:first-child {
  text-align: right;
  padding-left: 0;
}
/* line 1162, ../sass/style.scss */
.match-timeline .timeline li .line-content > div:last-child {
  text-align: left;
  padding-right: 0;
}
/* line 1168, ../sass/style.scss */
.match-timeline .timeline li .line-icon {
  position: absolute;
  right: 50%;
  top: 50%;
  z-index: 1;
  margin: -12px;
  padding: 4px;
  min-width: 22px;
  min-height: 22px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #202930;
  display: flex;
}
/* line 1180, ../sass/style.scss */
.match-timeline .timeline li .line-icon > * {
  margin: auto;
}
/* line 1181, ../sass/style.scss */
.match-timeline .timeline li .line-icon .icon {
  width: 16px;
  height: 16px;
}
/* line 1186, ../sass/style.scss */
.match-timeline .timeline li .line-icon span:not(.icon) {
  width: 15px;
  height: 15px;
  background-color: #f8f8f8;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 1193, ../sass/style.scss */
.match-timeline .timeline li .time {
  font-size: 18px;
  font-weight: 700;
}
/* line 1198, ../sass/style.scss */
.match-timeline .timeline li .caption span {
  display: block;
  font-weight: bold;
  font-size: 13px;
  margin: 0 0 2px;
}
/* line 1204, ../sass/style.scss */
.match-timeline .timeline li .caption label {
  display: block;
  font-size: 18px;
  margin: 0;
}
/* line 1210, ../sass/style.scss */
.match-timeline .timeline li.left .caption {
  padding-right: 25px;
  border-right: 1px solid #FFFFFF;
}
/* line 1214, ../sass/style.scss */
.match-timeline .timeline li.right .caption {
  padding-left: 25px;
  border-left: 1px solid #FFFFFF;
  margin-left: -1px;
}

/* line 1223, ../sass/style.scss */
.match-pitch {
  height: calc(100vh - 165px);
}
/* line 1225, ../sass/style.scss */
.match-pitch img {
  width: 100%;
}

/* line 1231, ../sass/style.scss */
.trophies-page .title {
  font-family: "GE-Bold";
  margin: 15px 0;
  font-size: 20px;
}
/* line 1236, ../sass/style.scss */
.trophies-page .trophies-list {
  margin: 0 -7px;
}
/* line 1238, ../sass/style.scss */
.trophies-page .trophies-list > div {
  padding: 0 7px;
  margin: 20px 0;
}
/* line 1241, ../sass/style.scss */
.trophies-page .trophies-list > div > div {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #FFFFFF;
}
/* line 1246, ../sass/style.scss */
.trophies-page .trophies-list > div .img-container {
  height: 145px;
  overflow: hidden;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 1250, ../sass/style.scss */
.trophies-page .trophies-list > div .img-container img {
  width: 100%;
  min-height: 100%;
}
/* line 1255, ../sass/style.scss */
.trophies-page .trophies-list > div h4 {
  font-size: 10px;
  text-align: center;
  color: #a61417;
  font-family: "GE-Bold";
  padding: 10px;
  margin: 0;
}

/* line 1268, ../sass/style.scss */
.career-page .title {
  font-family: "GE-Bold";
  margin: 15px 0 20px;
  font-size: 20px;
}
/* line 1273, ../sass/style.scss */
.career-page .time-line {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 1277, ../sass/style.scss */
.career-page .time-line li {
  padding: 10px 0;
  position: relative;
}
/* line 1281, ../sass/style.scss */
.career-page .time-line li:not(:last-child):after {
  content: "";
  width: 2px;
  height: calc(100% - 40px);
  position: absolute;
  bottom: -5px;
  left: 38px;
  background-color: #FFFFFF;
}
/* line 1290, ../sass/style.scss */
.career-page .time-line li label {
  float: left;
  margin: 0 30px 5px 0;
  font-size: 30px;
  line-height: 30px;
  font-family: 'Atletico';
  position: relative;
}
/* line 1297, ../sass/style.scss */
.career-page .time-line li label:after {
  content: "";
  width: 25px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 100%;
  margin-left: 5px;
  background-color: #400100;
}
/* line 1307, ../sass/style.scss */
.career-page .time-line li label:before {
  content: "";
  width: 25px;
  height: 2px;
  position: absolute;
  top: 50%;
  right: 100%;
  margin-right: 5px;
  background-color: #400100;
}
/* line 1318, ../sass/style.scss */
.career-page .time-line li .content {
  background-color: #400100;
  color: #FFFFFF;
  padding: 15px;
  text-align: right;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  overflow: auto;
  line-height: 1.7;
  transition: max-height 1s ease;
}
/* line 1329, ../sass/style.scss */
.career-page .time-line li .content.active .content-head i {
  transform: rotate(180deg);
  padding-top: 10px;
}
/* line 1336, ../sass/style.scss */
.career-page .time-line li .content-head {
  font-size: 16px;
  cursor: pointer;
}
/* line 1339, ../sass/style.scss */
.career-page .time-line li .content-head i {
  float: left;
  padding-top: 5px;
  transition: all 0.5s linear;
}
/* line 1348, ../sass/style.scss */
.career-page .content-expand {
  overflow: hidden;
  max-height: 0;
  transition: max-height 3s ease;
}
/* line 1353, ../sass/style.scss */
.career-page .content-expand_row {
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  font-size: 12px;
  font-family: "GE-UltraLight";
  border-bottom: 1px solid #cbcaca;
  margin-top: 8px;
  padding-bottom: 8px;
}
/* line 1362, ../sass/style.scss */
.career-page .content-expand_row p {
  margin-bottom: 0;
}
/* line 1365, ../sass/style.scss */
.career-page .content-expand_row:first-of-type {
  margin-top: 15px;
}
/* line 1368, ../sass/style.scss */
.career-page .content-expand_row:last-of-type {
  border-bottom: 0;
  margin-bottom: 0;
}
/* line 1372, ../sass/style.scss */
.career-page .content-expand_row i {
  margin: 0 10px 0 10px;
}

/* line 1378, ../sass/style.scss */
.vertical-timeline {
  display: flex;
}

/* line 1382, ../sass/style.scss */
.live-timeline {
  box-shadow: -19.799px 19.799px 60px 0px rgba(0, 0, 0, 0.4);
  background-color: #9b1316;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 92%;
  margin: auto;
  padding: 30px 20px 30px;
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* line 1396, ../sass/style.scss */
.live-timeline_team {
  line-height: 1;
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  text-align: left;
}
/* line 1403, ../sass/style.scss */
.live-timeline_team .live-timeline_event {
  padding-left: 25px;
  margin-bottom: 20px;
}
/* line 1406, ../sass/style.scss */
.live-timeline_team .live-timeline_event i {
  vertical-align: middle;
}
/* line 1411, ../sass/style.scss */
.live-timeline_team:first-of-type {
  text-align: right;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
}
/* line 1416, ../sass/style.scss */
.live-timeline_team:first-of-type .live-timeline_event {
  padding-right: 25px;
  padding-left: 0;
}

/* line 1423, ../sass/style.scss */
.live-timeline_full {
  display: inline-block;
  width: 100%;
  border-radius: 10px;
  background-color: #231f20;
  width: 208px;
  height: 43px;
  line-height: 43px;
  white-space: nowrap;
  margin-top: 20px;
}
/* line 1433, ../sass/style.scss */
.live-timeline_full a {
  color: #FFF;
}

/* line 1438, ../sass/style.scss */
.pitch {
  position: relative;
  height: auto;
  border: 1px solid #00d062;
}
/* line 1442, ../sass/style.scss */
.pitch img {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* line 1449, ../sass/style.scss */
.pitch .formation {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}
/* line 1459, ../sass/style.scss */
.pitch .formation-row {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 25%;
  align-items: center;
  justify-content: space-around;
}
/* line 1468, ../sass/style.scss */
.pitch .player {
  text-align: center;
}
/* line 1470, ../sass/style.scss */
.pitch .player .player-num {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #06A4FF;
  color: #FFF;
  font-family: "Lato";
  border-radius: 50%;
  margin: auto;
  margin-bottom: 5px;
}
/* line 1481, ../sass/style.scss */
.pitch .player .player-name {
  font-size: 18px;
  font-family: "Lato";
  font-weight: bold;
  text-shadow: -1px 0px 8px #000;
}

/* line 1491, ../sass/style.scss */
.owl-carousel .owl-stage {
  display: flex;
}

/* line 1495, ../sass/style.scss */
.owl-carousel .owl-item img {
  width: 100%;
  height: 100%;
  max-height: 250px;
  object-fit: cover;
}
